[2021-01-09 18:38] #1100 closed, assigned to nobody

[2021-01-09 18:46] #1102 closed, assigned to nobody

[2021-01-09 18:48] devansh-299 commented on #1103
Solved by #1107

[2021-01-09 18:48] devansh-299 commented on #1103
Solved by #1107

[2021-01-09 18:48] #1103 closed, assigned to nobody

[2021-01-09 19:33] devansh-299 commented on #1131
Not sure if we have the deep link handled for `Scan QR` functionality but in case we have the feature, it would be better to pass the deep link in the text as well.

[2021-01-09 20:22] #1143 closed, assigned to nobody

[2021-01-10 04:43] Harshad09 commented on #1131
Yes, Deep linking functionality should be there, as for now is this feature acceptable or I have some suggested changes @devansh-299

[2021-01-10 04:46] Harshad09 commented on #1131
PhonePe also uses this type of extra text when we share qr code.

[2021-01-11 18:55] #1139 closed, assigned to nobody

[2021-01-11 19:14] devansh-299 commented on #1088
Closing this issue, see [this](https://github.com/openMF/mobile-wallet/pull/1151#issuecomment-758161971) comment

[2021-01-11 19:14] #1088 closed, assigned to nobody

[2021-01-11 19:42] #1104 closed, assigned to nobody

[2021-01-12 13:45] Harshad09 opened #1152 "Feature : No confirmation on adding bank account in Accounts fragment in Finance."
**Summary:**

Toast should be there in the Account fragment on adding a bank account.

**Steps to reproduce:**

1. Go to Accounts fragment in finance.
2. Click on Add Account.
3. Confirm verify mobile number.

**Expected behavior:**

A simple toast should be there "Bank added Successfully" for user understanding.

**Observed behavior:**

No toast leading to confusion.

[2021-01-13 14:02] EGOR-IND opened #1154 "Automate the EditText for date in setup UPI pin debit card section"
**Summary:**

The Edit Text to put the expiry date of debit card is not automated.

**Steps to reproduce:**

 1. Go to Setup UPI Pin activity.
 2. You can see a two EditText in debit card section one for month and another for year
 3. Try to type a date they both.
 4. You will have to fill month and year separately.

**Expected behavior:**

Those two EditText should work as one so that user don't

[2021-01-13 17:37] deepak-prajapatii commented on #1097
@subhav13 @Nayan @siebrand @vorburger @vishwasbabu Can I work on this issue?

[2021-01-13 17:39] deepak-prajapatii commented on #1072
@divyank00 @ritish099 @ReCodee @siebrand @vorburger Can I work on this issue?

[2021-01-13 17:41] deepak-prajapatii commented on #875
@Bhavnaharitsa @devansh-299 @mrudultora @siebrand Can I work on this issue?

[2021-01-13 19:06] divyank00 commented on #1154
Can you please upload a video

[2021-01-14 06:47] EGOR-IND commented on #1154
I uploaded a video in PR which shows the automated solution, actually I made the PR first and then made a issue because devansh told me to do so and now to upload a video i have to remove the solution code from there and then make a video but if you think it's necessary, i'll do it, So now tell me what you think?

[2021-01-14 06:50] divyank00 commented on #1154
U just have to checkout in dev branch and run the code😊

[2021-01-14 07:50] EGOR-IND commented on #1154
😂I know that, I was just trying to procrastinate, okay I'll do it give me some time.

[2021-01-14 11:59] haran2248 opened #1156 "The download button is covering the copy and share button in activity_receipt"
**Summary:**
In certain phones the download button is covering the share button and copy button,which hinders its functionality
Summarize your issue here.

**Steps to reproduce:**
payments->history->view_receipt->share receipt

How can we reproduce again the issue?

**Expected behavior:**

What did you expect the app to do?
The copy and share button must be clickable
**Observed behavior:**

What d

[2021-01-14 14:20] EGOR-IND commented on #1154
Hey @divyank00, man I did what you asked, I think now it's good.

[2021-01-14 18:25] EGOR-IND opened #1158 "Remove Profile Pic edit btn from profile fragment"
**Summary:**

On the profile fragment there is a camera ImageView that is used to edit profile pic which should not be there and occur after user enters edit profile activity.

**Steps to reproduce:**

1. got to the profile fragment ,
2. click on the small camera image on the down right of profile pic circle,
3. it will start the edit profile activity and show a botttomCardView for profile pic opt

[2021-01-14 19:43] EGOR-IND opened #1159 "Back button sequence doesn't work properly in profile fragment"
**Summary:**

when back pressed during the bottom view card is up it directly goes to the home fragment.

**Steps to reproduce:**

1. go to profile fragment.
2. swipe up the user info bottom view card
3. now press back button, it directly exits the fragment and goes to home fragment.

**Expected behavior:**

when back pressed the bottom card should go down first and after that on second back it sh

[2021-01-15 07:48] #1137 closed, assigned to nobody

[2021-01-15 08:04] devansh-299 commented on #1159
Seems valid, @EGOR-IND do you want to work on this issue?

[2021-01-15 08:24] devansh-299 commented on #1119
@haran2248 normal edit text seems more appropriate to me for this screen. I know it is a deviation from our overall application design. @luckyman20 what do you think?

[2021-01-15 08:44] ritish099 opened #1160 "activity_new_si.xml EditText odd alignment"
**Summary:**

activity_new_si.xml EditText odd alignment

**Steps to reproduce:**

Open the App-->Payment-->SI-->Add New

**Expected behavior:**

Proper Alingment

**Observed behavior:**

Improper Alingment

**Device and Android version:**

Any

**Screenshots:**

<img src="https://user-images.githubusercontent.com/54978105/104702387-ee70f800-573b-11eb-9972-241236ce6943.jpg" width="333">

[2021-01-15 08:45] devansh-299 commented on #875
@deepak-prajapatii @mrudultora this issue has already been solved by #1012, we are not merging this pull request right now as adding multi-theme support requires migrating to AndroidX which will make all the open PRs outdated.

[2021-01-15 09:08] EGOR-IND commented on #1159
Yeah @devansh-299  i'll work on this today.

[2021-01-15 09:30] kartikeytyagi15 commented on #1158
@EGOR-IND please review PR
Thanks.

[2021-01-15 09:45] EGOR-IND commented on #1158
Hey @kartikeytyagi15 are you new to this community because you should ask first before working on any issue because I was working on this issue too, so ask first and I admit that I didn't posted a comment saying "I'm working on it", it's my fault too but please always ask first it resolves the conflicts.

[2021-01-15 09:47] EGOR-IND commented on #1158
And i'll review your PR in some minutes so don't it'll get reviewed😊

[2021-01-15 09:59] kartikeytyagi15 commented on #1158
oh sorry, no one was assigned to this issue so I assumed its open for all, will keep that in mind.

[2021-01-15 10:05] EGOR-IND commented on #1158
actually @kartikeytyagi15  the assigning permissions are not given to everyone only the verified contributors have those permissions, so always ask first:).

[2021-01-15 10:12] kartikeytyagi15 commented on #1158
okay

[2021-01-15 17:15] EGOR-IND opened #1164 "Useless top magin in the BottomSheet of activity_merchant_transaction.xml"
**Summary:**

The margin at the top of bottomSheet of activity_merchant_transaction.xml is creating a bad UI, so tit should be removed.

**Steps to reproduce:**

1. go to Merchant fragment in the,
2. tap on any merchant,
3. Merchant Transaction activity will open,
4. scroll the transaction list and you will an extra portion coming out of bottom sheet.

**Expected behavior:**

That margin should no

[2021-01-15 17:18] EGOR-IND commented on #1164
I'm working on this.

[2021-01-15 17:57] EGOR-IND opened #1166 "Two more activity have the same issue just like issue #1159"
**Summary:**

The same issue mentioned in #1159 occurs in HomeFragment.java and MerchantTransferActivity.java.

**Steps to reproduce:**

1. Visit both intents and expand there bottom sheet
2. Now press back button and and you will directly exits the intent without bottom sheet collapsing.

**Expected behavior:**

bottom sheet should collapse first and then on second back press activity should fini

[2021-01-15 17:57] EGOR-IND commented on #1166
I'm working on this one.

[2021-01-17 10:14] deepak-prajapatii commented on #875
Ok

[2021-01-18 06:01] Roshan13046 commented on #880
I am working on this issue.
I will send PR in the next two days.
I Will reach out to you if any help is needed.

[2021-01-18 08:29] divyank00 opened #1169 "Add QR option in Create Standing Instruction Activity"
**Summary:**
Add QR option in Create Standing Instruction Activity

**Steps to reproduce:**
1. Open Payments section
2. Open the SI tab
3. Click on the add FAB button
4. Observe

**Expected behavior:**
Additional option to enter VPA using QR scanner instead of entering manually.

**Observed behavior:**
VPA can only be entered manually.

**Device and Android version:**
OnePlus 6
Android 10

**Scree

[2021-01-18 08:31] divyank00 opened #1170 "Past dates should not be selected in valid till callender in Create Standing Instruction"
**Summary:**
Past dates should not be selected in 'Valid till' Callender in Create Standing Instruction

**Steps to reproduce:**
1. Open Payments section
2. Open the SI tab
3. Click on the add FAB button
4. Click on 'SELECT DATE'
5. Click on any past date
6. Observe

**Expected behavior:**
Only upcoming dates must be selectable

**Observed behavior:**
All dates are selectable

**Device and Android

[2021-01-18 08:58] kartikeytyagi15 commented on #1170
Can I work on this? @divyank00

[2021-01-18 08:58] divyank00 commented on #1170
@kartikeytyagi15 I am already working on it🙂

[2021-01-18 09:14] kartikeytyagi15 commented on #1170
okay

[2021-01-20 07:39] deepak-prajapatii opened #1174 "Missing Registered Class"
**Summary:**

Do not show "Missing Registered Class" Error.

**Steps to reproduce:**

Just go to the "dialog_setup_upi_pin2.xml" and there is the error named "Missing Registered Class".

**Expected behavior:**

No error to show "Missing Registered Class".

**Observed behavior:**

Class referenced in the layout file, org.mifos.mobilewallet.mifospay.utils.WrapContentHeightViewPager, was not found in

[2021-01-20 07:40] deepak-prajapatii commented on #1174
@Nayan @siebrand @vorburger @vishwasbabu @EGOR-IND I have found this issue. Now I am working on it.

[2021-01-20 17:04] EGOR-IND opened #1175 "The circular mask in edit profile picture activity is not visible for dark background."
**Summary:**

The circular mask layer used as a crop layer in edit profile picture activity is not visible for dark background.

**Steps to reproduce:**

1. Go to profile fragment
2. try to edit profile picture and choose a picture with dark background
3. observe the circular crop.

**Expected behavior:**

the cropped section should be properly visible for every type of picture.

**Observed behavi

[2021-01-20 17:05] EGOR-IND commented on #1175
I'm working on this one.

[2021-01-20 20:33] haran2248 opened #1177 "QR code scanner to be added to VPA in Edit Profile"
**Summary:**
The Edit Profile must have a QR Scanner for VPA
Summarize your issue here.

**Steps to reproduce:**

How can we reproduce again the issue?
Profile->EditProfile
**Expected behavior:**
![WhatsApp Image 2021-01-21 at 01 58 05](https://user-images.githubusercontent.com/56928954/105231119-60a66a00-5b8c-11eb-95b5-3e818eb7b78f.jpeg)

What did you expect the app to do?
The App should have
**O

[2021-01-21 13:02] renovate[bot] opened #1179 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:48] Roshan13046 commented on #517
I would like to send a PR for this issue. Can I go ahead?

[2021-01-21 15:14] #1179 closed, assigned to nobody

[2021-01-21 19:56] haran2248 commented on #793
Can I work this issue?Is it still valid?

[2021-01-21 19:58] haran2248 commented on #784
Is this taken up?Can i work on this issue?
@devansh-299

[2021-01-21 20:01] haran2248 commented on #761
@refactor-droidyy @devansh-299  can I take up the issue?

[2021-01-21 20:09] haran2248 commented on #683
Is this issue still valid?

[2021-01-22 10:42] #1174 closed, assigned to nobody

[2021-01-22 14:17] ritish099 opened #1180 "Progress Dialog doesnot closes after operation finished in ReceiptActivity"
**Summary:**

Progress Dialog does not closes after operation finished in ReceiptActivity
**Steps to reproduce:**

Have a fresh installation go to the receipt and click on the download button and give storage permission to the app

**Expected behaviour:**

Progress Dialog should close after the operation is finished

**Observed behavior:**

Progress Dialog is not closing after the operation is fin

[2021-01-27 06:36] #1170 closed, assigned to nobody

[2021-01-27 06:42] #1166 closed, assigned to nobody

[2021-01-27 06:42] #1159 closed, assigned to nobody

[2021-01-27 07:13] devansh-299 commented on #1180
Duplicate of #1116, closing this

[2021-01-27 07:13] #1180 closed, assigned to nobody

[2021-01-27 07:19] #1160 closed, assigned to nobody

[2021-01-27 07:46] #1164 closed, assigned to nobody

[2021-01-27 14:29] EGOR-IND opened #1182 "The SI Details activity is not working in a good manner."
**Summary:**

The SI Details activity is not working in a good manner because when we press edit details and  press back button, it simply exits the activity, nothing extra, there is an absence of that extra transition.

**Steps to reproduce:**

1. Go to SI details,
2. Press edit float button,
3. Try to edit or maybe not,
4. Now press back and if you edited it then it asks you to accept discard ch

[2021-01-27 14:29] EGOR-IND commented on #1182
I'm working on this one.

[2021-01-27 15:55] EGOR-IND opened #1183 "The EditText in edit state of SI details is not looking good."
**Summary:**

The EditText in edit state of SI details is showing the heading same as the text present in box which is not good looking because a heading should be description of what should be entered in the box.

**Steps to reproduce:**

1. Go to SI Details activity,
2. Press edit float button,
3. Observe the EditText.

**Expected behavior:**

The Heading of the EditText should be different.

**

[2021-01-27 15:56] EGOR-IND commented on #1183
I'm working on this one.

[2021-01-28 04:40] divyank00 commented on #1177
Why would profile page have a QR code, can you justify?

[2021-01-28 04:42] divyank00 opened #1184 "Convert codebase to Kotlin"
**Summary:**

Can we start converting the codebase to Kotlin?

[2021-01-28 12:52] divyank00 commented on #1184
@devansh-299 any suggestions?

[2021-01-28 15:11] devansh-299 commented on #1177
Closing this issue, please refer the comments from [here](https://github.com/openMF/mobile-wallet/pull/1178)

[2021-01-28 15:11] #1177 closed, assigned to nobody

[2021-01-28 18:17] divyank00 commented on #1183
The heading is same, to let the user know the previous value if he wishes to update it

[2021-01-28 18:17] divyank00 commented on #1183
I don't think this is an issue :-)

[2021-01-28 18:26] EGOR-IND commented on #1183
But i think user can see the amount in the box too i can show you some articles how these headings are used, and i think this heading is not intentional because it is using the same widget to display the amount. So i think it's a good enhancement by the way i also don't take it as an issue it is an enhancement, but devansh told me to make a issue for every PR.

[2021-01-28 18:28] divyank00 commented on #1183
Assume you are updating values...You change the value in edit text. Now you feel no this value is not corrext i should revert back, so can you do? Thats why the previous value is shown to user.

[2021-01-28 18:30] divyank00 opened #1185 "Issue in downloaded recept"
**Summary:**
Transaction Id is displayed in decimal format and Amount in words is missing

**Steps to reproduce:**
1. Open a transaction
2. Download a receipt
3. Observe

**Expected behavior:**
Amount in words must be visible and transaction id in string format

**Observed behavior:**
Amount in words is missing and transaction id is in number format

**Device and Android version:**
Oneplus 6
Andro

[2021-01-28 18:33] EGOR-IND commented on #1183
If the user feels that the value is not correct then he can simply revert back by pressing back and if you want that the previous amount should be present there then it can be shown there in other widget, i'm just saying that heading is not good place for that. Is it good if we show the previous amount in other widget?

[2021-01-28 18:48] divyank00 commented on #1185
@devansh-299 this is a backend response so should I close this or keep it open?

[2021-01-28 18:51] divyank00 commented on #1185
Closing as its not needed as mentioned in #901

[2021-01-28 18:51] #1185 closed, assigned to nobody

[2021-01-28 19:00] EGOR-IND commented on #1183
Hey @divyank00 did this resolved your doubts about what I want this to look like. Please reply if you still have any doubt because brainstorming is good:).

[2021-01-29 03:10] divyank00 commented on #1183
there are 2 values that can be modiefied by the user, he changes two values then reverts one.

I felt let the mentors decide what UI is expected

[2021-01-29 05:27] divyank00 opened #1187 "Add image cropper for picture taken from camera"
**Summary:**

Theres no image cropper for image taken by camera

**Steps to reproduce:**
1. Open profile
2. Click on the profile picture
3. Select camera
4. Capture image
5. Confirm
6. Observe

**Expected behavior:**
A cropper should appear as it appears for image taken from gallery

**Observed behavior:**
Image directly added to profile

**Device and Android version:**
OnePlus 6
Android 10

**Scr

[2021-01-29 06:27] EGOR-IND commented on #1183
That's what I'm saying we can add another widget for previous amount and give name to the heading like previous and new. @devansh-299  what are your thoughts about this.

[2021-01-30 17:17] ritish099 opened #1193 "Profile and Edit Profile Bugs"
**Summary:**

In Profile fragment clicking on N(name icon) should only open the EditProfile not the camera option too and in EditProfile Activity clicking on N(name icon) should not open camera. The camera should be only open when user click on the camera icon below the name icon in the EditProfile

**Steps to reproduce:**

Open Profile Fragment

**Expected behavior:**

Explained above

**Observed

[2021-01-31 10:37] #1116 closed, assigned to nobody

[2021-01-31 10:43] devansh-299 commented on #1183
I left the heading same as the previous text to let the users know the last value as pointed out by @divyank00.  If you have any suggestions please elaborate so that we can together come with a better design. Let's use this thread only for this discussion!

[2021-01-31 11:09] #1169 closed, assigned to nobody

[2021-01-31 11:36] EGOR-IND commented on #1183
Yeah actually i think that we can show a text view for previous amount or maybe more better that we can make a dialog box for previous and new values, actually If I talk on more broad scale than I must say that I was thinking about changing the structure of SI details activity, I think that you also think that SI details needs some enhancement UI wise. So, It's on you if you say thay we should enh

[2021-01-31 20:43] haran2248 opened #1195 "Problem in moving across fragment and holding in the middle between two tabs"
**Summary:*

Moving across tabs in payment fragment is a problem,Adjacent pages are not visible
Summarize your issue here.

**Steps to reproduce:**

How can we reproduce again the issue?
Payments fragment->Switch across fragments
**Expected behavior:**

What did you expect the app to do?
It should show adjacent tabs while swiping
**Observed behavior:**

What did you see instead?  Describe your iss

[2021-02-01 06:05] divyank00 commented on #1193
This is not what is expected, the current behaviour is normal. For editing profile there's a button "Edit Profile". Clicking on image should edit profile image.

[2021-02-01 06:07] divyank00 commented on #1195
Can you follow the structure to raise new issue 🙂

[2021-02-01 08:34] ArjunW08 commented on #1148
is this issue still open ?

[2021-02-01 18:27] EGOR-IND opened #1197 "Mobile Number field in edit profile is accepting Ph. no. of length less than 10"
**Summary:**

Mobile Number field in edit profile is accepting Ph. no. of length less than 10

**Steps to reproduce:**

1. Go to edit profile activity,
2. change the phone number(it should have length less than 10),
3. try to save it and observe.

**Expected behavior:**

phone number should be of length 10, neither less nor more than 10.

**Observed behavior:**
Right now you can save a phone numbe

[2021-02-01 18:28] EGOR-IND commented on #1197
I'm working on this one.

[2021-02-01 19:22] haran2248 commented on #1197
There might be phone numbers outside india possibly where the phone number is greater than or less than 10.I dont think it is possible to comment on this

[2021-02-01 19:37] EGOR-IND commented on #1197
Hey, you're right actually I was just looking into an article about it, the length is between 4-13, sorry I'm really bad with G.K LOL:).

[2021-02-01 19:44] EGOR-IND commented on #1197
I'm closing this issue but I think we should make a utility that can detect the correctness of phone number according to country, @devansh-299 @haran2248 what your thoughts on this, If you approve I'll be glad to work on it.

[2021-02-01 19:44] #1197 closed, assigned to nobody

[2021-02-04 08:02] devansh-299 commented on #1175
@EGOR-IND this will always be a problem for some colors

[2021-02-04 08:06] EGOR-IND commented on #1175
Yeah but if you see the screenshots in PR, that makes the croping more visible to eyes because of border and grid, user will know the range from that.

[2021-02-04 16:38] deepak-prajapatii commented on #1183
@devansh-299 @EGOR-IND Can I work on this issue?

[2021-02-04 16:44] EGOR-IND commented on #1183
@deepak-prajapatii actually this issue is under discussion, so it is not finalized yet that these changes are needed or not, so at this moment this issue doesn't need any PR, once we finalize that what should be done than you can ask about making a PR😊.

[2021-02-04 16:46] deepak-prajapatii commented on #1183
@EGOR-IND Thanks for your confirmation. I will look for another one.

[2021-02-04 16:48] EGOR-IND commented on #1183
Hey @deepak-prajapatii, you can make a issue by yourself if you see any.

[2021-02-04 16:50] deepak-prajapatii commented on #1183
@EGOR-IND okay, I will try

[2021-02-04 17:07] deepak-prajapatii opened #1198 "Does not show client details"
**Summary:**

The App not showing the client details

**Steps to reproduce:**

Just go to the MainActivity and see here the showclientdetails() function. There is the code that is commented out.

**Expected behavior:**

Show the client details

**Screenshots:**
![image](https://user-images.githubusercontent.com/65127291/106928627-63cb5980-6739-11eb-89e2-ce9a77530ce9.png)

[2021-02-04 17:09] deepak-prajapatii commented on #1198
@devansh-299 @EGOR-IND
There is the issue I found. Please review it.

[2021-02-05 06:41] deepak-prajapatii opened #1199 "MemoryLeakMonitor.jar is not exist"
**Summary:**

MemoryLeakMonitor.jar is not exist

**Steps to reproduce:**

After installing the app, the warning is shown below in the Run Terminal.

**Expected behavior:**

Not showing the warning of MemoryLeakMonitor.jar

**Device and Android version:**

Device: Honor 7X
Android Version: Android 9 (Pie)

**Screenshots:**

![image](https://user-images.githubusercontent.com/65127291/106998701-ee98

[2021-02-05 06:42] deepak-prajapatii commented on #1199
@devansh-299 I raised this issue. Can you review it?

[2021-02-05 08:59] s-ayush2903 opened #1200 "CI: GH-Actions do not fail on incorrect file formatting"
**Summary:**
Our GH-Actions do not fail the CI on poor/weak file formattings

**Steps to reproduce:**
Poorly indent the file via adding needless spaces and commit 'em in a PR, notice that any of the checks does not fail.

**Expected behavior:**
Failure of CI

**Observed behavior:**
Green checks

**Device and Android version:**
CI

**Screenshots:**
NA

[2021-02-05 21:46] haran2248 opened #1202 "Enter amount EditText to be replaced with TextInputLayout"
**Summary:**
Enter amount EditText in ShowQrActivity doesnt match with the layout given in the app.TextInputLayout would look much better
Summarize your issue here.

**Steps to reproduce:**

How can we reproduce again the issue?

Payments->Request->Show Code->Set Amount

**Expected behavior:**

An EditText without any styling is present
What did you expect the app to do?

A TextInputLayout to be p

[2021-02-09 19:54] haran2248 opened #1216 "Valid till dates can be edited to made lass than Valid from"
**Summary:**

Summarize your issue here.

The Valid Till dates in SIDetailsActivity have the option of editing the valid till dates.It is made in such a way that Valid till dates can be chronologically behind Valid from.

**Steps to reproduce:**

How can we reproduce again the issue?
Payments->SI->SIDetails->edit->Pick the date
**Expected behavior:**

What did you expect the app to do?
The Valid t

[2021-02-10 13:42] EGOR-IND opened #1218 "The copy and share icons in activity_receipt.xml are not visible for every screen densities."
**Summary:**

The copy and share icons in activity_receipt.xml are not visible for every screen densities, they're getting covered by float button.

**Steps to reproduce:**

1. go to receipt activity
2. now try to find the copy and share ImageViews added in code
3. In my case it's not visible on my mobile phone because of the float button it covering them

**Expected behavior:**

It should be visi

[2021-02-10 13:43] EGOR-IND commented on #1218
I'm working on it.

[2021-02-10 16:28] EGOR-IND opened #1220 "Add feature to open the receipt link in browser."
**Summary:**

The receipt link given in receipt activity is not doing anything by itself, it even has the color of a link which makes it look like a working link to a user, but it's not clickable.

**Steps to reproduce:**

1. Go to receipt activity
2. click on receipt link

**Expected behavior:**

It should open that link in a browser.

**Observed behavior:**

Right now it's not clickable.

**Devi

[2021-02-10 16:28] EGOR-IND commented on #1220
I'm working on this issue.

[2021-02-10 16:49] EGOR-IND commented on #1218
I'm closing this issue because it's already been raised by one of our contributor.

[2021-02-10 16:49] #1218 closed, assigned to nobody

[2021-02-10 17:17] EGOR-IND commented on #1220
@haran2248 @devansh-299 can you give your views on this issue.

[2021-02-11 08:49] haran2248 commented on #1220
Actually the given link is just a deeplink even if you make it open in the browser it is of no use i guess.Only if the person has the app the deeplink will open.But in this case the share and copy feature has been implemented so i think it is of no use.
@divyank00 @devansh-299 Please confirm

[2021-02-11 09:12] EGOR-IND commented on #1220
Yes it is a deeplink though, but the link is actually there and even if we share or copy it what use will it be, I was actually thinking that if we're copying and sharing the link then there should be a way of accessing that link through app.

[2021-02-11 13:12] haran2248 commented on #1220
Yeah but if you put it in a browser.It will show invalid address.If the user has the app it will open in the app.Opening it through chrome Im not sure if it is a good idea,But you can try making a PR anyway,It might be useful :)

[2021-02-11 14:02] EGOR-IND commented on #1220
No I'm saying we should open it in the app, there is a way I think to open a deeplink in the app. Let me do some research on it and then we'll talk😊.

[2021-02-14 21:13] haran2248 opened #1233 "No verification asked in changing passcode"
**Summary:**

Summarize your issue here.

When the user tries to change the passcode the app should ask the user to enter the  existing passcode to verify.

**Steps to reproduce:**
How can we reproduce again the issue?

Go to EditProfile and click Change Passcode

**Expected behavior:**

What did you expect the app to do?

The app should ask me to enter the existing passcode before changing the pa

[2021-02-16 14:24] harshhks2 opened #1236 "Progress dialog box doesn't disappear if debit card number is invalid"
**Summary:**

When the debit card number is invalid, a progress dialog box keeps on running until back button is pressed, and the focus is not shifted to edit Debit Card Number.

**Steps to reproduce:**

1. Go to Finance.
2. Click on any bank from the list.
3. Click on SETUP UPI.
4. Enter a wrong debit card number and any expiry date.
5. Click on the tick mark and try to go ahead.

**Expected beha

[2021-02-16 14:26] harshhks2 commented on #1236
I am working on it. Since this is my first issue, can somebody please guide me if this is relevant? Any help is appreciated.

[2021-02-16 15:41] divyank00 commented on #1236
Now try fixing the issue and once the issue is fixed at your side, run a gradle check by typing ./gradlew check. If all checks pass raise a pull request and you are good to go.

[2021-02-16 20:11] harshhks2 commented on #1236
Hey divyank, thanks for replying. I have generated a pull request. I know it is a small change but is my PR acceptable?

[2021-02-20 13:12] rutvik-panchal commented on #712
We can close this issue, It's already solved #720

[2021-02-23 04:10] #1236 closed, assigned to nobody

[2021-02-23 04:33] #1105 closed, assigned to nobody

[2021-02-23 04:35] #1108 closed, assigned to nobody

[2021-02-24 18:40] EGOR-IND opened #1238 "Add additional text with the recipt link when sharing"
**Summary:**

The receipt link that can be shared needs some extra message text rather than simple link while sharing.

**Steps to reproduce:**

1. Go to receipt activity,
2. share the receipt link given and observe.

**Expected behavior:**

There should be an extra message with the link it could be a promotional message or a simple sender message.

**Observed behavior:**

Right now there is no ex

[2021-02-24 18:41] EGOR-IND commented on #1238
I'm working on this.

[2021-02-24 18:42] EGOR-IND commented on #1238
Hey @devansh-299 what do you think, should we add a promotional message or a sender message?

[2021-02-24 20:58] #1200 closed, assigned to nobody

[2021-02-24 21:11] devansh-299 commented on #1238
It's a white-labelled application so I don't think we need promotional messages. Although we can have something like `Here's the receipt link for the transaction made using MifosPay from payer XYZ to payee ABC`, try referring to other bank messages etc. to get more idea.

[2021-02-24 21:18] EGOR-IND commented on #1238
Yeah the message you mentioned is good i think, I searched some sender messages too so let me create a message, i'll comment it here tommorow, if you think of some changes then just let me know I'll implement them😊.

[2021-02-24 21:23] devansh-299 commented on #1238
Great, will use this thread only to discuss the messages

[2021-02-25 10:31] EGOR-IND commented on #1238
Hey @devansh-299 I made the changes in code using the message you provided yesterday because I think it is the perfect message but just one question in place of XYZ and ABC, should we use user name or account number, which one is more better?

[2021-03-03 09:30] Supriyo9 opened #1241 "Bottom navigation bar poor visible."
**Observed behavior:**

In Home Activity bottom navigation bar is not visible properly in dark mode.

**Device and Android version:**

Xiaomi Redmi Note 7 pro, android 10

**Screenshots:**

![1614762266584](https://user-images.githubusercontent.com/65856435/109783986-95e4b400-7c30-11eb-8a25-62f185b3f054.jpg)

[2021-03-03 09:31] Supriyo9 commented on #1241
I am  working in this issue.

[2021-03-03 19:45] EGOR-IND commented on #1241
@Supriyo9 actually, it is clearly visible in day mode but you're using dark mode and I can see that the bottom nav color is mixed up with fragment color so you have to do something that makes it visible in dark mode.

[2021-03-04 05:29] Supriyo9 commented on #1241
Yeah @EGOR-IND , will it be better to make whole navigation bar blue and and it's options white colour

[2021-03-04 06:16] EGOR-IND commented on #1241
Actually i don't think it's a good choice because it doesn't go by the material design rules, we can't give a bright color to a big part of the UI because it will ruin the darl theme. How about you explore some options and I'm also going to explore some then we'll discuss them here.

[2021-03-04 06:57] Supriyo9 commented on #1241
Ok It will be better to explore more options.

[2021-03-04 16:58] rdodiya commented on #366
Hey @manddy,  I want to contribute but I am getting error message

"Execution failed for task ':mifospay:packageDebug.

while building code .Please help me to solve this error .

[2021-03-04 18:43] Supriyo9 opened #1250 "Text view is getting overlaped."
**Screenshots:**
![Screenshot_2021-03-01-16-49-58-442_org mifos mobilewallet mifospay](https://user-images.githubusercontent.com/65856435/110012729-d9314680-7d46-11eb-8e1f-52e4fbd8c41f.jpg)
![Screenshot_2021-03-01-18-29-34-477_org mifos mobilewallet mifospay](https://user-images.githubusercontent.com/65856435/110012748-dd5d6400-7d46-11eb-9134-59ed97f2582b.jpg)

**Summary:**

Summarize your issue h

[2021-03-04 18:44] Supriyo9 commented on #1250
I will be working in this.

[2021-03-05 13:56] harshhks2 opened #1252 "No error message is displayed for invalid expiry month and/or year"
**Summary:**

When the user enters invalid expiry month or year for the debit card, it is accepted and no error message is displayed.

**Steps to reproduce:**

1. Go to Finance.
2. Click on any bank from the list.
3. Click on SETUP UPI.
4. Enter a wrong or invalid expiry month and/or year.
5. Click on the tick mark and try to go ahead.

**Expected behavior:**

A toast message indicating the error

[2021-03-05 14:00] harshhks2 commented on #1252
I am working on it. If this issue is not relevant, please let me know.

[2021-03-06 13:39] haran2248 opened #1254 "Alignment in phone number in payments activity is wrong"
**Summary:**

Summarize your issue here.
Alignment in phone number in payments activity is wrong.The phone number is aligned to center
**Steps to reproduce:**

How can we reproduce again the issue?
Payments->send fragment
**Expected behavior:**

What did you expect the app to do?
Phone number should be left aligned
**Observed behavior:**

What did you see instead?  Describe your issue in detail he

[2021-03-06 13:40] haran2248 commented on #1254
@EGOR-IND @devansh-299 Has this issue been solved before?

[2021-03-06 13:40] haran2248 commented on #1254
Im working on this

[2021-03-06 13:45] haran2248 opened #1255 "The Max length in phone no is 10 digits in send fragment"
**Summary:**

Summarize your issue here.
The Max length in phone no is 10 in send fragment.When contacts with +91 are chosen from the contacts book.The phone no is partially taken.There are gaps in the phone no which the editText has not accounted for.There might be countries where phone no is greater than 10 digits.If we include +91 In india we get more than 10 digits
**Steps to reproduce:**

How

[2021-03-06 13:52] haran2248 commented on #1255
@EGOR-IND @devansh-299 Please let me know if the issue is valid

[2021-03-06 15:28] EGOR-IND commented on #1254
@haran2248 I think this issue was raised earlier, look for that issue, maybe PR for that was submitted or not.

[2021-03-06 15:34] EGOR-IND commented on #1255
I think it's a valid issue but there is one problem that we both discussed before that in ph. no. length varies country to country so we can't bound it to size 13(including +91).

[2021-03-06 18:33] haran2248 commented on #1255
im not planning on keeping any maximum size for this @EGOR-IND

[2021-03-06 19:10] EGOR-IND commented on #1255
Okay then it's fine😄.

[2021-03-08 11:37] dubeyaayush07 opened #1258 "Redundant download of receipt in ReceiptActivity"
**Summary:**

Using the download button in ReceiptActivity downloads the receipt without checking if it already exists leading to redundant work of downloading the receipt again

**Screen Recording**

https://user-images.githubusercontent.com/30518564/110316376-a6ca6680-8030-11eb-8cbb-fa4b8e5b3540.mp4

[2021-03-08 11:38] dubeyaayush07 commented on #1258
@naman14 I would like to work on this

[2021-03-09 09:33] dubeyaayush07 opened #1261 "App crashes when integer limit is exceeded in NewSIActivity"
**Summary:**

The amount string is parsed to integer when creating a new standing instruction if the the string is too big it causes an integer overflow crashing the app.

**Screen Recording**

https://user-images.githubusercontent.com/30518564/110449326-194a4d80-80e8-11eb-8c78-4dced2a09316.mp4

[2021-03-09 09:34] dubeyaayush07 commented on #1261
@naman14  I would like to work on this

[2021-03-09 15:35] EGOR-IND commented on #1261
Hey @dubeyaayush07 this issue is not reproducible on my phone, I approved your PR cause I understand what you did but it's not reproducible on my phone.

[2021-03-18 04:46] #949 closed, assigned to nobody

[2021-03-18 04:48] #1258 closed, assigned to nobody

[2021-03-18 04:50] #1254 closed, assigned to nobody

[2021-03-18 04:54] #1261 closed, assigned to nobody

[2021-04-07 16:11] alexanderon commented on #1255
It would be better to keep the country selector to easily prefix related number

[2021-06-06 11:15] MGMSA6 opened #1273 "Able to proceed without entering OTP at mobile number verification."
**Summary:**
At mobile number verification, after entering mobile number ,OTP is generated.
EditText for OTP and FloatingActionButton to verify OTP is made visible,
But user is able to verify OTP without entering OTP and it takes user to next registration screen.

**Steps to reproduce:**
SplashScreenActivity -> LoginActivity -> MobileVerificationActivity

**Expected behavior:**
After entering OTP

[2021-07-26 06:20] mukundpradhan-inndata opened #1275 "Execution failed for task ':mifospay:kaptDebugKotlin'"
**Summary:**

After cloning repository unable to complete the gradle build. It gives error for Execution failed for task ':mifospay:kaptDebugKotlin'.

**Steps to reproduce:**

1. Clone the repository.
2. Wait to complete the indexing.
3. Build-> clean Project.
4. Run or Build-> Rebuild Project.

**Expected behavior:**

Need able to run smoothly.

**Observed behavior:**

Getting below error on buil

[2021-09-03 12:23] thesurajkamble commented on #1275
Hey there @Mukund-Pradhan,
android studio is not showing the actual error here. so please follow this Stackoverflow thread,
[Stack overflow answer](https://stackoverflow.com/questions/62131564/a-failure-occurred-while-executing-org-jetbrains-kotlin-gradle-internal-kaptexec)

[2021-09-03 12:28] thesurajkamble commented on #1275
Im working on this issue.

[2021-09-20 20:17] afk11 commented on #874
It looks like the FINERACT-726 changes first occurred apache/fineract a93a6b848732141494b2f0cc11de346623bc23e6 on 1 April 2020 and with a subsequent check producing "Invalid JSON" exception in June 2020

https://github.com/apache/fineract/blob/db04976f4f32c6252ead264d0d61d95717bc1cdf/fineract-provider/src/main/java/org/apache/fineract/infrastructure/security/api/AuthenticationApiResource.java#L107

[2021-09-20 20:18] afk11 commented on #874
[code]

[2021-10-18 23:21] renovate[bot] opened #1278 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] fix(deps): update dependency com.google.dagger:hilt-compiler to v2.50
 - [ ] fix(deps): update okhttp monorepo

[2021-11-29 16:50] rishavchanda commented on #1275
simply

change the daggerVersion = '2.11'  to daggerVersion = '2.28'  as previous got depreciated . It will work fine.

[2022-02-09 13:48] #976 closed, assigned to nobody

[2022-02-09 13:54] #1202 closed, assigned to nobody

[2022-02-09 13:58] #1195 closed, assigned to nobody

[2022-02-09 14:02] #1182 closed, assigned to nobody

[2022-02-09 17:44] #440 closed

[2022-02-09 17:48] #1133 closed, assigned to nobody

[2022-02-09 18:04] #706 closed

[2022-02-09 18:06] #1037 closed, assigned to nobody

[2022-02-10 06:07] #1156 closed, assigned to nobody

[2022-02-10 06:11] #1154 closed, assigned to nobody

[2022-02-10 06:15] #1106 closed, assigned to nobody

[2022-02-10 06:18] #1073 closed, assigned to nobody

[2022-02-13 11:40] #305 closed

[2022-02-13 11:42] #1015 closed, assigned to nobody

[2022-02-21 16:50] devansh-299 commented on #216
Closing this issue as #1012 solves the problem mentioned

[2022-02-21 16:50] #216 closed

[2022-02-21 16:51] devansh-299 commented on #260
Closing this as this issue has already been addressed

[2022-02-21 16:51] #260 closed

[2022-02-21 16:55] #298 closed

[2022-02-21 16:59] #669 closed

[2022-02-21 17:00] #875 closed

[2022-02-21 17:02] devansh-299 commented on #414
Closing this issue as #1012 solves the problem mentioned

[2022-02-21 17:02] #414 closed

[2022-03-09 06:22] thedroiddiv commented on #1187
Can I work on this feature?

[2022-03-09 06:33] thedroiddiv commented on #1255
Can I work on this?

[2022-03-09 13:34] devansh-299 commented on #1255
@divyansh-dxn https://github.com/openMF/mobile-wallet/pull/1257 already addresses this issue. @haran2248 will you be able to update the PR or Divyansh can continue your work?

[2022-03-09 13:49] haran2248 commented on #1255
I am busy with certain other things,divyansh can continue

[2022-03-09 14:06] DeepanshuPratik commented on #1273
If anyone is not working previously can I work over it?

[2022-03-10 09:11] thedroiddiv commented on #1273
![image](https://user-images.githubusercontent.com/69595691/157628599-b67308c6-065a-4218-920f-7c6224ef978c.png)

I think this part is has been kept intentionally, so ther would be less hassle during the dev environment.

[2022-03-10 09:14] thedroiddiv commented on #1255
I'm on it

[2022-03-10 10:08] DeepanshuPratik commented on #1241
If it is not improvised yet can I do it?

[2022-03-10 10:45] thedroiddiv commented on #1255
<img src="https://user-images.githubusercontent.com/69595691/157644157-9dbb8188-a330-478c-a868-43879788057d.jpeg" alt="drawing"  width="300px" />

I'm unable to register as a new user. First of all, the error message was not properly coming then I tweaked a bit and got the response and error from server. Any idea?

[2022-03-11 07:57] addy-zero commented on #358
I would like to work on this

@devansh-299

[2022-03-11 11:53] devansh-299 commented on #358
Okay 🚀 assigning this issue to you

[2022-03-11 11:56] addy-zero commented on #358
Thank you. Btw there's quite a lot of build errors showing up.

I have provided the screenshot and details on Slack. Please take a look.

[2022-03-11 11:57] devansh-299 commented on #358
Thanks, @adizcode!
Let me have a look and get back to you

[2022-03-14 14:39] vrajdesai78 commented on #366
Can I work on this issue ?

[2022-03-19 06:52] devansh-299 commented on #366
Sure, go-ahead

[2022-03-19 06:54] devansh-299 commented on #1275
Closing this issue as this has been fixed in the latest build

[2022-03-19 06:54] #1275 closed, assigned to nobody

[2022-03-19 14:26] vrajdesai78 commented on #366
I am not able to login into the app. I have tried self-service as username and password as the password.

[2022-03-28 12:38] alphaNewrex opened #1287 "Upgrade the Android Gradle from v4.2.2 to v7.1.2"
**Summary:**

Android Gradle version seems to be too old

[2022-04-04 17:43] shivamparihar12 commented on #1287
I would like to work on this issue.

[2022-04-05 06:53] shivamparihar12 opened #1290 "The verification button in activity_mobile_verification.xml is partly visible for small-width mobile screens."
**Summary:**

In [activity_mobile_verification.xml](https://github.com/openMF/mobile-wallet/blob/dev/mifospay/src/main/res/layout/activity_mobile_verification.xml) , button to  verify phone number is partly visible for small width screen mobile phones.

**Steps to reproduce:**

1. Open the app.
2. Click `Create one` (at the bottom) for creating a new account.
3. Make sure to uncheck the `Ease my s

[2022-04-05 06:56] shivamparihar12 commented on #1290
I want to take up this issue.

[2022-04-06 08:38] avivijay19 opened #1291 "Migration to kotlin: bank package"
**Summary:**
Migration to kotlin: bank package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 08:49] avivijay19 opened #1293 "Migration to kotlin: base and notification packages"
**Summary:**
Migration to kotlin: base and notification packages

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 08:51] avivijay19 opened #1295 "Migration to kotlin: common package"
**Summary:**
Migration to kotlin: common package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 08:53] avivijay19 opened #1297 "Migration to kotlin: data package"
**Summary:**
Migration to kotlin: data package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 08:55] avivijay19 opened #1299 "Migration to kotlin: domain package"
**Summary:**
Migration to kotlin: domain package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 08:56] avivijay19 opened #1301 "Migration to kotlin: edit profile package"
**Summary:**
Migration to kotlin: edit profile package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 08:58] avivijay19 opened #1303 "Migration to kotlin: faq package"
**Summary:**
Migration to kotlin: faq package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 09:00] avivijay19 opened #1305 "Migration to kotlin: home and merchant packages"
**Summary:**
Migration to kotlin: home and merchant packages

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 09:01] avivijay19 opened #1307 "Migration to kotlin: password package"
**Summary:**
Migration to kotlin: password package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 09:03] avivijay19 opened #1309 "Migration to kotlin: passcode package"
**Summary:**
Migration to kotlin: passcode package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 09:03] avivijay19 opened #1311 "Migration to kotlin: payment package"
**Summary:**
Migration to kotlin: payment package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 09:04] avivijay19 opened #1313 "Migration to kotlin: qr package"
**Summary:**
Migration to kotlin: qr package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 09:05] avivijay19 opened #1315 "Migration to kotlin: receipt package"
**Summary:**
Migration to kotlin: receipt package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 09:06] avivijay19 opened #1317 "Migration to kotlin: registration package"
**Summary:**
Migration to kotlin: registration package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-06 09:07] avivijay19 opened #1319 "Migration to kotlin: setting package"
**Summary:**
Migration to kotlin: setting package

**Steps to reproduce:**
Convert java code to kotlin

[2022-04-07 19:24] avivijay19 opened #1326 "Checkstyle generating error while executing gradlew check"
**Summary:**
Checkstyle generating error while executing `gradlew check`

**Steps to reproduce:**
Refactored according to requirement of documentation

**Expected behavior:**
Build the application without any warning and bugs

**Observed behavior:**

1. `mobile-wallet\core\src\main\java\org\mifos\mobilewallet\core\data\fineract\repository\FineractRepository.ja
va:243: Line is longer than 100 chara

[2022-04-07 19:32] avivijay19 commented on #1326
@devansh-299
I have code ready should create a PR?

[2022-04-08 14:04] devansh-299 commented on #1326
Yes, @avinash14022002! assigning this issue to you

[2022-04-10 13:54] #1326 closed, assigned to avivijay19

[2022-04-11 13:56] alphaNewrex opened #1329 "Window Leak in Receipt Activity"
**Summary:**

`android.view.WindowLeaked: Activity org.mifos.mobilewallet.mifospay.receipt.ui.ReceiptActivity has leaked window DecorView@1d97b30[ReceiptActivity] that was originally added here`

Receipt View - has window leak

**Steps to reproduce:**

**Device and Android version:**

Pixel 4 Emulator Running on API 29

[2022-06-18 12:24] tapaswenipathak opened #1331 "[github wiki][reduce entry points/dups] Standardize Documentation"
**Two focus/entry points:**

(Every other outdated/incomplete/contradicting/entry point can be deleted/archived).

1. end-users
2. developers
3. github wiki can have internal to org or team documentation or basic user information to redirect to user docs entry points.
4. Another option can be to create `docs/` dir in each user and/or developer facing repository.

<img width="1532" alt="Screenshot

[2022-06-18 12:26] tapaswenipathak opened #1332 "[mifos.gitbook.io] update/consolidate information as primary entry point for developers and users."
- [ ] Update/consolidate information in https://mifos.gitbook.io/docs/mifos-mojaloop/mifos-wallet-solution.
    - [ ] Read it once more, add dead/broken links
    - [ ] fix language
    - [ ] add demo
    - [ ] link to developer documentaion

- [ ] Make it primary entry point for developers and/or user.

cc @edcable.

[2022-06-28 12:01] rahul-gill opened #1334 "Wrong text field labels on edit profile screen"
**Summary:**
Instead of showing actual labels, the previous values of fields are used as labels.

**Screenshots:**
![image](https://user-images.githubusercontent.com/76812499/176173429-267c3ca1-1e10-4c79-91f3-8ad37af35c8e.png)

[2022-08-06 09:16] #1187 closed, assigned to nobody

[2022-08-06 09:18] devansh-299 commented on #1241
@Supriyo9 we don't need this change at the moment hence closing this issue

[2022-08-06 09:18] #1241 closed, assigned to nobody

[2022-08-06 09:22] #1175 closed, assigned to nobody

[2022-08-06 09:38] devansh-299 commented on #1122
@Harshad09 this issue has already been solved hence closing this issue and the linked pull request.

[2022-08-06 09:38] #1122 closed, assigned to nobody

[2022-08-06 09:42] devansh-299 commented on #1119
Closing this issue because of the reason specified above. In case we require this change later, we can re-open this issue

[2022-08-06 09:42] #1119 closed, assigned to nobody

[2022-08-06 09:55] devansh-299 commented on #1094
@Harshad09 we do not need this change right now. In case we have a requirement for this in future, we can revisit this issue and the pull request

[2022-08-06 09:55] #1094 closed, assigned to nobody

[2022-08-06 20:00] #1238 closed, assigned to nobody

[2022-08-07 13:57] Prashant830 commented on #1233
let's suppose Any person forgotten their existing passcode and he wants to create a new passcode?? and he also logged in the app??
@devansh-299  please check it..

[2022-08-07 14:21] Prashant830 commented on #1198
@deepak-prajapatii ` showclientdetails()` function is useless and still it is not used to showing client details in any mainActivity UI  so in mainActivity, mainPresenter, BaseHomeContract interface I am going to remove this function.

[2022-08-08 06:52] Prashant830 commented on #1152
@Harshad09 The bank added feature is still not be done or added. so we cant add Bank added Successfully toast message.

[2022-08-08 07:45] Prashant830 commented on #1061
it's resolved.
@devansh-299 please close this issue.

[2022-08-08 08:04] Prashant830 commented on #1135
it's resolved. please update your project.
@devansh-299 please close this issue.

[2022-08-08 20:28] luckyman20 commented on #1119
@devansh-299 Can we handle this through our efforts in mobile UI library?

[2022-08-08 20:48] #1273 closed, assigned to nobody

[2022-08-08 20:55] devansh-299 commented on #1233
No @Prashant830, adding another step of security before allowing user to make any changes to passcode or credentials makes sense. Coming to the scenario you put forward, ideally such cases should be handled via fallbacks like email/phone  verification like we do for account passwords

[2022-08-08 21:00] devansh-299 commented on #1152
Closing this issue for the same reason @Prashant830 mentioned

[2022-08-08 21:00] #1152 closed, assigned to nobody

[2022-08-08 21:10] #1290 closed, assigned to nobody

[2022-08-08 21:11] #1091 closed, assigned to nobody

[2022-08-20 05:45] #1329 closed, assigned to nobody

[2022-08-20 06:40] devansh-299 commented on #1061
Closing this issue, please refer [this message](https://github.com/openMF/mobile-wallet/issues/1061#issuecomment-1207781670)

[2022-08-20 06:40] #1061 closed, assigned to nobody

[2022-08-20 06:49] #1198 closed, assigned to nobody

[2022-08-20 09:17] Prashant830 commented on #761
this issue was solved.
@devansh-299  please close it .

[2022-08-20 09:24] Prashant830 commented on #712
it's solved.
@devansh-299  please close it.

[2022-08-20 11:04] devansh-299 commented on #761
Closing this issue as the mentioned problem has already been solved

[2022-08-20 11:04] #761 closed

[2022-08-20 11:07] #500 closed

[2022-08-20 11:10] devansh-299 commented on #643
This issue has already been solved hence closing this pull request

[2022-08-20 11:10] #643 closed

[2022-08-20 11:15] #214 closed

[2022-08-20 11:17] devansh-299 commented on #368
The issue is not relevant anymore hence closing it

[2022-08-20 11:17] #368 closed

[2022-08-20 11:19] devansh-299 commented on #397
This issue has already been solved, hence closing this issue

[2022-08-20 11:19] #397 closed

[2022-08-25 19:12] devansh-299 commented on #490
Closing as this issue has already been addressed by #692

[2022-08-25 19:12] #490 closed

[2022-08-25 19:15] devansh-299 commented on #570
@akkywadhwa we don't need this currently, hence closing this issue

[2022-08-25 19:15] #570 closed

[2022-08-25 19:20] #712 closed

[2022-08-25 19:21] devansh-299 commented on #756
Already solved

[2022-08-25 19:21] #756 closed

[2022-08-25 19:26] devansh-299 commented on #824
There's another issue pointing out the same problem... hence closing this issue

[2022-08-25 19:26] #824 closed

[2022-08-25 19:28] devansh-299 commented on #1072
@ReCodee we already have the updated screenshots [here](https://github.com/openMF/mobile-wallet/blob/dev/Screenshot.md). I am closing this issue for now but in case I missed something do let me know, will reopen this issue

[2022-08-25 19:28] #1072 closed, assigned to nobody

[2022-10-07 08:58] LukasBrilla5 commented on #1334
hello can you please assign this issue to me ?

[2022-10-07 09:08] rahul-gill commented on #1334
@LukasBrilla5 I don't have repo access. You can work on the issue btw.