[2019-11-29 18:23] #569 closed

[2019-11-29 18:27] akkywadhwa opened #570 "Feature Request: Hosting app on appetize"
**Summary:**
Appetize provides a free evaluation of the app, new contributors do not need to install/build the app to check it. Several people can manage single app using the token and the key.

Please check https://appetize.io/

Check out this [susi](https://appetize.io/app/mbpprq4xj92c119j7nxdhttjm0?device=nexus5&scale=75&orientation=portrait&osVersion=8.1) hosted app from fossasia

**Steps to r

[2019-11-29 18:52] akkywadhwa opened #571 "Layout Change in Signup Screen"
**Summary:**
1. Resizing the `TextInputEditText`
2. Changing the color of back button
3. Resizing the control being used for selecting country

**Steps to reproduce:**
Open the app and click "Create One" textview located at bottom.

**Expected behavior:**
![edited](https://user-images.githubusercontent.com/666752/69886334-73fed200-1307-11ea-82e9-fd9feb8ffa40.PNG)
Please ignore the background as th

[2019-11-29 19:32] luckyman20 commented on #570
@akkywadhwa Is it free for open source?

[2019-11-29 19:41] akkywadhwa commented on #570
![55542866-e8468e80-5702-11e9-9347-979c11abd8f5](https://user-images.githubusercontent.com/666752/69887717-53864600-130e-11ea-8211-0a0c6f663b74.png)

From that, I guess that we will not advertise appetize.io as a mainstream way to try the app, as we would quickly overflow the free tier. Setting up scripts to automatically push APKs is probably not worth the trouble.
Pushing an APK could be perfect

[2019-11-29 20:21] akkywadhwa opened #572 "Support for tablets"
**Summary:**
Merchants might want to use tablets for shops. Hence, the application should provide support for tablets.

**Steps to reproduce:**
Install the app in any tablet.

**Expected behavior:**
Adjusted design in tablet

**Observed behavior:**
![Tablet View](https://user-images.githubusercontent.com/666752/69888782-af9f9900-1313-11ea-8974-258bdeef0038.PNG)

**Device and Android version:**
All

[2019-12-01 13:01] jsahil730 commented on #569
@luckyman20
Manifest file of mifospay module has 'TransactionsHistoryActivity' which is nowhere, same goes for 'MifosPayIDInstance' service.
These files were present in redesign branch but are no more there.

[2019-12-02 00:39] vorburger opened #573 "Travis CI does not run anymore"
The Travis CI build does not run anymore for recent PRs, such as e.g. #567.

The README points to the old wrong TravisCI.org instead of TravisCI.com which is now used.

https://github.com/openMF/mobile-wallet/commits/dev has links to CloudBees Codeship, e.g. https://app.codeship.com/projects/332704/builds/b17ee1e9-ffe3-4c9f-98ea-1dc2cafcf059, but those do not appear to be public?  Also the README

[2019-12-02 00:53] vorburger commented on #573
The `master` branch currently [still passes the build on Travis](https://travis-ci.com/openMF/mobile-wallet/builds/138872442).

But the `dev` branch of this project currently does not build anymore (on Travis), see https://travis-ci.com/openMF/mobile-wallet/builds/138872225, due to `Caused by: org.gradle.api.GradleException: Checkstyle rule violations were found. See the report at: file:///home/tr

[2019-12-02 10:12] jsahil730 commented on #573
@vorburger I might try doing something, but could you please tell me how to do Travis build on my pc, I don't quite seem to get the hang of it?

[2019-12-02 10:47] luckyman20 commented on #569
You can create separate issue for that, please try avoiding merging multiple issues.

[2019-12-02 12:13] luckyman20 commented on #573
@naman14 @ankurs287 @shiv07tiwari You all might have more info about this.

[2019-12-02 15:48] vorburger commented on #573
You can't really run Travis on your PC, but all that probably needs to be
done here is to fix the Checkstyle error which Travis hits, see log on
Tarvis. You should get that same error in a regular local Gradle build as
well, no?

You can also have a look at the . travis.yml file in the root of this repo
to find the exact Gradle command which Travis actually runs.

[2019-12-02 15:49] jsahil730 commented on #573
@luckyman20 @vorburger Travis build works fine now, albeit with a lot of warnings, since I know nothing about either pmd or findbugs, also findbugs has issues with java version 13; maybe someone should change findbugs to spotbugs, as findbugs is probably deprecated?

[2019-12-02 15:55] vorburger commented on #573
Cool, thanks for #574. Who will review and merge that?

This issue can be closed (from my side) when that PR is merged.

[2019-12-03 08:50] luckyman20 commented on #573
@vorburger It is merged now. I think we can close this issue now.

[2019-12-03 08:50] luckyman20 commented on #566
Solved in #574

[2019-12-03 08:50] #566 closed

[2019-12-03 10:01] jsahil730 opened #575 "'Building the Code' steps misleading"
**Summary:**

The steps to build the code in README are as misleading as they could be.

**Steps to reproduce:**

Simply read the README :)

**Expected behavior:**
- Fork the repo
- Clone my own fork
- Set upstream to pull changes as and when needed
- No errors observed in Gradle build.

**Observed behavior:**
- Clone the original repo
- Errors will appear in Gradle build

**Device and Android ver

[2019-12-03 11:03] jsahil730 commented on #572
@akkywadhwa would you like to work on this?

[2019-12-03 11:05] akkywadhwa commented on #572
Yes, I have started working on this. Waiting for confirmation from mentor if this is relevant to work on.

[2019-12-03 15:25] Bhavnaharitsa commented on #561
@GOVINDDIXIT Are you still working on the issue?
@luckyman20 Can I tale this up?

[2019-12-03 15:36] GOVINDDIXIT commented on #561
@Bhavnaharitsa This issue is for GCI Students. You can look at other available issues. @luckyman20 Can you place a GCI label on it?

[2019-12-03 16:53] vorburger commented on #573
The Travis Badge on the README is still red.. I'm keeping this open to remember to change the Settings on Travis to build both master and dev.

[2019-12-03 16:56] vorburger commented on #573
Oh, the Build Pushed Branches was disabled (only PRs), I've fixed that, and manually triggered a build if the Dev branch, so it should turn green; thus closing this now.

[2019-12-03 16:56] #573 closed

[2019-12-04 14:13] jsahil730 commented on #575
@luckyman20 Why do we have so many branches here as redesign, dev_resign, is someone supposed to work on them?

[2019-12-04 15:50] luckyman20 commented on #575
@jsahil730 redesign branch was created when we redesigned the whole app to make it look more attractive and make sure it is according to Material guidelines, I think there are some PRs still left to merged into this branch. I don't know exactly about `dev_redesign` maybe @ankurs287 might be able to give more insights on that.

We cannot give you write access as of now, you can surely review them a

[2019-12-04 17:51] jsahil730 commented on #542
@RajaVamsi11 since your PR has been merged, please close this issue.

[2019-12-05 05:42] RajaVamsi11 commented on #542
Solved in #543

[2019-12-05 05:42] #542 closed

[2019-12-05 09:59] luckyman20 commented on #412
Solved in #436

[2019-12-05 09:59] #412 closed

[2019-12-05 10:02] luckyman20 commented on #451
Solved in #452

[2019-12-05 10:02] #451 closed

[2019-12-05 10:04] luckyman20 commented on #453
@RajaVamsi11 Our target market through this app is India so I don't we need to show other countries.

@edcable @naman14 Thoughts?

[2019-12-05 10:26] #560 closed

[2019-12-05 13:15] jsahil730 commented on #517
@RajaVamsi11 Are you still interested in this?

[2019-12-05 16:10] RajaVamsi11 commented on #517
@jsahil730 You can work on this issue after the approval of mentors.

[2019-12-05 16:32] jsahil730 commented on #517
@luckyman20 Do you find this significant?

[2019-12-05 16:35] luckyman20 commented on #517
It is a good feature to have. Sahil, please go ahead.

[2019-12-05 17:37] luckyman20 commented on #572
@akkywadhwa I agree to this issue to some extent.

This app's target market is India. Since I live in India and interact with lots of merchant in day-to-day life I find none to be using Tablets (there might be one or two with pre-installed softwares for specific purposes (mostly POS)). I would keep this issue open as of now for community to discuss.

@edcable @naman14 @ankurs287 @shiv07tiwari Thou

[2019-12-05 18:04] jsahil730 commented on #571
The green tick doesn't look good, how or where do you suppose you'll keep the 'grey arrow' button to submit mobile number? @akkywadhwa

[2019-12-06 10:12] luckyman20 commented on #346
Solved in #494

[2019-12-06 10:12] #346 closed

[2019-12-06 10:17] #509 closed

[2019-12-07 07:31] harshshinde07 commented on #562
@luckyman20 If you permit me, I can try to fix this as no one is active here

[2019-12-07 11:36] luckyman20 commented on #565
Solved in #581

[2019-12-07 11:36] #565 closed

[2019-12-08 06:56] Bhavnaharitsa opened #582 "Hint does not go after Clicking Mobile number in EditProfile"
**Summary:**
When gone into EditProfile if someone clicks on the mobile number, the hint should disappear but it stay and the user has to manually erase it and then type his/her phone number.

**Steps to reproduce:**
1. Go to profile fragment
2. Edit profile
3. Click on Mobile Number column

**Expected behavior:**
The hint should disappear

**Observed behavior:**
The hint just stays there

**Devic

[2019-12-08 10:43] rachittt opened #586 "Bug: Unnecessary Toast In FAQ Section"
**Summary:**
On clicking the list items of the FAQ section, a toast message is being displayed.

**Steps to reproduce:**
FAQ -> Click on any Question

**Expected behavior:**
No toast should be shown as it does not look good from the eyes of the user.

**Observed behavior:**
A toast is displayed with some irrelevant text in it.

**Device and Android version:**
Android 9, Mi A2
**Screenshots:**
![is

[2019-12-09 08:54] rachittt commented on #586
@luckyman20 What do you think about it ? Can i fix it ?

[2019-12-09 10:18] Bhavnaharitsa commented on #575
@jsahil730 @luckyman20 Could I work on it?

[2019-12-09 10:31] jsahil730 commented on #575
Yeah sure, please also resolve the 'google sign-in failing' issues, if any. @Bhavnaharitsa

[2019-12-09 11:16] Bhavnaharitsa commented on #575
Sure

[2019-12-09 12:06] luckyman20 commented on #586
@rachittt Go ahead!

[2019-12-09 12:32] luckyman20 commented on #575
@Bhavnaharitsa Try to modify README file accordingly.

@jsahil730 Google Sign-in issue is a different issue and we should address it separately.

[2019-12-10 06:53] luckyman20 commented on #562
Well, if the colors are complementing the theme then we can keep it as it is.

[2019-12-10 06:53] #562 closed

[2019-12-11 07:43] akkywadhwa commented on #571
I think I missed to place the button correctly in the above screenshot. Here is the revised screenshot.
![edited](https://user-images.githubusercontent.com/666752/70601388-ed57c800-1c17-11ea-9d0b-b09f51a679a4.PNG)

[2019-12-11 08:49] jsahil730 commented on #571
@luckyman20 Please review this. I recommend also removing the boundary around the 'Enter OTP' edit text to make it look better.

[2019-12-11 08:55] luckyman20 commented on #571
@jsahil730 the boundary around is part of MaterialEditText, what we can do is we can bring it a little down or shift it to another fragment or we have re-design this screen (recommended).

If anyone of you is interested in doing so then please go ahead.

[2019-12-11 08:56] jsahil730 commented on #586
Why is a toast needed here?

[2019-12-11 08:58] jsahil730 commented on #571
@luckyman20 I'd like it to be re-designed, but how do you think it should look? Anything that should be added or removed?

[2019-12-11 08:59] akkywadhwa commented on #571
@luckyman20 I was already doing this. Will make a PR for this soon.

[2019-12-11 09:05] luckyman20 commented on #586
@jsahil730 You are actually right. We can remove the toast here.

@rachittt Please modify the issue accordingly and then solve it.

[2019-12-11 09:08] luckyman20 commented on #571
@jsahil730 I don't we need any additions or deletions but we can re-arrange the views and make it look proper.

@akkywadhwa I would recommend to first post the mockup here before implementing it.

[2019-12-11 09:23] akkywadhwa commented on #571
@luckyman20 this is the UI mockup I have proposed.

[2019-12-11 09:25] luckyman20 commented on #571
@akkywadhwa This doesn't looks very intuitive if you see through the eyes of user.

Since GCI season is going on, @rachittt @laxyapahuja @OussEmaDevCode do anyone of you want to help?

[2019-12-11 09:58] jsahil730 commented on #571
@luckyman20 the button blinking idea is very good tbh

[2019-12-11 11:43] rachittt commented on #571
@luckyman20 yup, can i work on it ?

[2019-12-11 11:44] luckyman20 commented on #571
@rachittt Yes, just send mockup as of now.

[2019-12-11 11:49] rachittt commented on #571
@luckyman20 okay

[2019-12-11 11:58] akkywadhwa opened #590 "Content not clearly visible in split screen mode"
**Summary:**
Content is not clearly visible in split screen mode.

**Steps to reproduce:**
1. Open the app and login to account.
2. Switch to split screen mode.
3. Navigate to finance section
4.  Click on merchants.

**Expected behavior:**
Content must be clearly visible.

**Observed behavior:**
Screenshot Below

**Device and Android version:**
Samsung J5 Prime and 8.0.0

**Screenshots:**
![Screen

[2019-12-11 12:09] harshshinde07 opened #591 "User can continue sign in with empty OTP"
**Summary:**

The user can continue his registration even without entering the OTP

**Steps to reproduce:**

 - Open the app
 - Click on `Create one`
 - Enter mobile number and click button beside it
 - Don't enter the OTP and click on the blue `fab` to continue the signup process

**Expected behavior:**

The app should only continue the registration process if the OTP is valid and not empty

**Ob

[2019-12-11 12:17] akkywadhwa opened #592 "App crashing while switching to spilt screen"
**Summary:**
App crashing while switching to split screen from merchant screen.

**Steps to reproduce:**
1. Open the app and login to account.
2. Navigate to finance section
3. Click on merchants.
4. Switch to split screen

**Expected behavior:**
App must not crash.

**Observed behavior:**
GIF Below

**Device and Android version:**
Samsung J5 Prime and 8.0.0

**Screenshots:**
![ezgif com-video-to-

[2019-12-11 12:18] luckyman20 commented on #590
@akkywadhwa We haven't made this app compatible for split screen neither we plan to do so because I don't think any user would take risk of operating the app into split screen and do the transactions and stuff. Still, I would keep this open for discussion.

[2019-12-11 12:22] akkywadhwa commented on #590
@luckyman20 Different payment apps like PayTm keep support of split screen because these are useful in case of copying account numbers, ifsc code and other details. Usually in such cases, pasting the details is not allowed. For smooth user experience one of the both things(pasting details or split screen) should work. You thoughts?

[2019-12-11 12:36] akkywadhwa commented on #590
Also, @luckyman20 could you please let me know what type of issues we are focusing on for this project?

[2019-12-11 12:59] harshshinde07 commented on #571
@luckyman20 Here's the UI mockup I'm proposing.

<img src="https://user-images.githubusercontent.com/25999879/70623146-7b957380-1c43-11ea-998e-90f4f192a24e.png" width=350 />

The back button on actionbar and next icon on fab should be in white, I missed it.

Also the dropdown doesn't have any border, it's just that the mockup was setting the same border to dropdown icon, thus making it invisible.

[2019-12-11 18:21] jsahil730 commented on #591
@harshshinde07 Since this app is still under development, we haven't yet included APIs for sending and verifying OTPs, however if you're interested in the same, I would request you to go ahead and create a PR incase you're working on it.

[2019-12-11 18:33] jsahil730 commented on #564
@GOVINDDIXIT Since this issue has been resolved, please close this issue

[2019-12-11 18:34] jsahil730 commented on #561
@GOVINDDIXIT this issue can be closed now.

[2019-12-11 19:57] #561 closed

[2019-12-11 19:58] #564 closed

[2019-12-11 21:26] rachittt commented on #590
@akkywadhwa hey, I believe that there exists a lot of other issues that we should solve before actually worrying about the split screen mode as it is hardly used by the users for any payments app. We should right now focus more on the bug fixes, functionality and design and in later stages if the Mifos team decides, then make it compatible for split screen mode. Does it make sense to you ?

[2019-12-12 07:47] akkywadhwa opened #593 "Feature Request: Adding configurable option for fingerprint authentication"
**Summary:**
Fingerprint sensor is very common among payment apps. Now a days every smartphone is equipped with fingerprint sensor so it will be useful for all users. With this issue I want to propose adding configurable option for fingerprint authentication. So if user wants extra layer of security he can enable it.

[2019-12-12 13:39] luckyman20 commented on #591
@jsahil730 @harshshinde07 We don't have APIs available for sending OTPs right now so this issue is not relevant as of now.

[2019-12-12 13:39] #591 closed

[2019-12-12 18:43] rachittt commented on #571
Below are the designs that i would like to propose:-

Entering Mobile Number-
![Android Mobile – 9](https://user-images.githubusercontent.com/44428198/70739502-00b08380-1d3d-11ea-8b3d-ad381779a846.png)

Entering OTP-
![Android Mobile – 11](https://user-images.githubusercontent.com/44428198/70739509-0312dd80-1d3d-11ea-86b3-b8baaedbdceb.png)

creating different fragments looks like a good option to

[2019-12-12 21:58] akkywadhwa opened #597 "Bug: Profile email not validated before saving"
**Summary:**
No validation is made before saving the profile email.

**Steps to reproduce:**
1. Open the app and login to your account.
2. Navigate to profile and click "Edit Profile"
3. Click the edit text of email and type "abc@xyz"
4. Click the floating action button to save.

**Expected behavior:**
The user should be informed about the invalid email.

**Observed behavior:**
The record gets sav

[2019-12-13 03:58] Bhavnaharitsa commented on #575
I think this issue is solved so it should be closed now @jsahil730

[2019-12-13 04:10] Bhavnaharitsa opened #599 "fix: toast should appear after profile picture is changed or removed"
**Summary:**
Whenever the user changes or removes his/her profile picture a toast should appear  saying
"profile picture changed" or "profile picture removed" to indicate the user that the activity is performed

**Steps to reproduce:**
1. Go to Edit Profile
2. Change Profile pic or remove profile pic
3. You will see no toast appears

**Expected behavior:**
A toast should appear after activity is p

[2019-12-13 05:08] #575 closed

[2019-12-13 08:32] akkywadhwa opened #601 "Feature Request: Take Profile Picture"
**Summary:**
Taking profile picture while setting it is one of the standard features of android mobile application.

Screenshots of other apps having similar feature:
![Screenshot_20191213-135528_Android System](https://user-images.githubusercontent.com/666752/70785776-3727e600-1db1-11ea-85ba-bd17288a111b.jpg)

[2019-12-13 08:33] akkywadhwa commented on #601
@luckyman20 Can I start working on this issue?

[2019-12-13 10:08] akkywadhwa opened #602 "Transaction History shows empty on showing last group"
**Summary:**
Transaction History present in Home Fragment shows "HOME_HISTORY_TRANSACTIONS_LIMIT" total records. This constant is defined in the application. When "Show More" button shows last batch of records, the records get disappear.

**Steps to reproduce:**
1. Open the app and login to your account.
2. Click "Show More" under Transaction History as many times you see it there.

**Expected beh

[2019-12-13 16:16] luckyman20 commented on #571
@rachittt This looks good to me.

@akkywadhwa Since you opened the issue, do you want to work on this?

[2019-12-13 16:47] akkywadhwa commented on #571
Yes, @luckyman20 I would be happy to work on this.

[2019-12-13 16:48] akkywadhwa commented on #571
I hope we have finalized to stick with this UI. Right?

[2019-12-14 05:59] luckyman20 commented on #571
@akkywadhwa Yes, we are sticking to this UI only. We will send 6-digit OTP but we don't API for that as of now so let it be.

[2019-12-16 13:16] Bhavnaharitsa opened #606 "feat: pattern lock in app"
**Summary:**
The app has number lock. We could also have a pattern lock for users to lock

**Device and Android version:**
Any

[2019-12-16 14:14] #582 closed

[2019-12-16 16:01] rachittt opened #607 "bug: Wrong error message while sending money using Mobile Number"
**Summary:**
If you try to transfer money using Mobile Number, a Snackbar appears with a wrong error message.

**Steps to reproduce:**
Payments -> Send -> Mobile Number -> Add an amount -> Type the mobile number -> Submit

**Expected behavior:**

An error message saying "Error finding Mobile Number" should be displayed.

**Observed behavior:**

An error message saying "Error finding Virtual Paymen

[2019-12-18 14:23] Bhavnaharitsa opened #609 "fix: wrong toast appearing when no details are entered"
**Summary:**
In Finance fragment under Card section, click on add new card and don't enter details and click add
It will show "Your card expired toast"
**Expected behavior:**
Some other relevant toast like, "Please enter all details"

**Device and Android version:**

Any

**Screenshots:**

![epic](https://user-images.githubusercontent.com/37215508/71093704-b82b1700-21cf-11ea-98cc-3bce7f6619e1.jpeg

[2019-12-19 14:17] OussEmaDevCode opened #610 "UI inconsistencies in the sign up activity"
**Summary:**
As I was using the app I found multiple problems in the sign up activity :
- There is no way to toggle between seeing your password and hiding it
- address line 2 should not be mandatory (for example If you live in a house at 623 Elm Street, you will not need Address Line 2 at all)

**Steps to reproduce:**
open the app>click create one>click sign up as merchant or as customer>choose g

[2019-12-19 14:59] #609 closed

[2019-12-19 20:05] #539 closed

[2019-12-20 01:22] Bhavnaharitsa opened #612 "fix: no error message shows up when current password is same as new password"
**Summary:**
When user wishes to change password, we don't have any mechanism where the user is prompted if the current password is same as the new password where as many apps do have that.

**Steps to reproduce:**

1. Go to Edit Profile
2. Change Password
3. Type your old password in new password and repeat too

**Device and Android version:**
Any

[2019-12-20 15:34] luckyman20 commented on #295
Closing this because of unresponsiveness.

[2019-12-20 15:34] #295 closed

[2019-12-20 16:07] luckyman20 commented on #279
Solved in #466

[2019-12-20 16:07] #279 closed

[2019-12-20 16:39] #610 closed

[2019-12-21 06:29] Bhavnaharitsa opened #613 "fix: no alert box when user chooses to delete card"
**Summary:**
When the user wishes to delete card, he should be prompted if he wants to confirm about deleting the card by an alert box.

**Steps to reproduce:**

1. Go to cards
2. Try to delete a card
3. It deleted automatically

[2019-12-21 13:50] shiv07tiwari opened #616 "A utility function for all the DialogBoxes"
**GCI TASK**
The app requires a lot of confirmation and dialog boxes, which is causing a lot of repeated code throughout the codebase.
The task is to make a common function for all these dialog boxes, maybe in the utility function.
It is up to you how efficiently you can manage to get things done.

[2019-12-21 13:58] #510 closed

[2019-12-22 07:35] Bhavnaharitsa opened #618 "add travis CI commands in Readme"
**Summary:**

In Readme we don't have commands for Travic CI like spotless, check, debug which would be helpful when new contributors get stuck when Travis CI fails.
I think we should have some Travis CI commands which helps contributors fix those errors when Travis CI doesn't work

[2019-12-23 07:32] laxyapahuja commented on #618
I think the easier alternative is to add a guide on how to run a Gradle Build Check locally.
The guide can have commands like ```./gradlew check``` and can suggest ways in which a contributor can find errors.

[2019-12-23 12:07] Bhavnaharitsa commented on #618
Yes, that's what I meant🙂

[2019-12-23 21:30] rachittt opened #624 "Remove Hardcoded Text"
**Summary:**

There are some text that are hard-coded in the XML files of the project, remove them by extracting them as string resources.

**Expected behavior:**

There should be no hard-coded text.

[2019-12-26 00:18] amit6663 commented on #592
@akkywadhwa can I work on this issue?

[2019-12-26 15:34] luckyman20 commented on #590
Closing this issue as we do not support split screen as of now.

[2019-12-26 15:34] #590 closed

[2019-12-26 15:35] luckyman20 commented on #592
Closing this as discussed in #590

[2019-12-26 15:35] #592 closed

[2019-12-26 15:35] luckyman20 commented on #616
Solved in #623

[2019-12-26 15:35] #616 closed

[2019-12-26 15:38] #602 closed

[2019-12-26 19:11] jsahil730 commented on #132
@luckyman20 we need to remove clutter. Please close this issue for now, as well all the other issues mentioned here.

[2019-12-26 19:31] jsahil730 commented on #392
@tavishjain please close this issue as of now

[2019-12-27 04:04] #132 closed

[2019-12-27 08:06] #392 closed

[2019-12-27 08:17] rachittt commented on #624
Closing the issue as PR has been merged.

[2019-12-27 08:17] #624 closed

[2019-12-27 13:14] #599 closed

[2019-12-27 21:04] shiv07tiwari commented on #606
For app lock, we use https://github.com/openMF/mifos-passcode.
Please open the issue and talk to the mentors in the passcode library if you want to work on this feature.

[2019-12-27 21:04] #606 closed

[2019-12-27 21:05] #586 closed

[2019-12-27 21:06] #563 closed

[2019-12-28 06:44] akkywadhwa commented on #601
@shiv07tiwari What are your thoughts on this? Can I start working on this?

[2019-12-28 06:45] akkywadhwa commented on #593
@shiv07tiwari Can I start working on this?

[2019-12-29 12:02] luckyman20 commented on #300
This issue doesn't exists anymore because change passcode functionality isn't implemented yet.

[2019-12-29 12:02] #300 closed

[2019-12-29 12:55] luckyman20 commented on #310
Solved in #629

[2019-12-29 12:55] #310 closed

[2019-12-29 13:59] luckyman20 commented on #276
I don't think it is very necessary to add this in a payment app. If you can come up with a reason, reopen the issue.

[2019-12-29 13:59] #276 closed

[2019-12-29 14:01] luckyman20 commented on #364
@nikhil-sachdeva API is not available for this right now, hence, it looks like this.

[2019-12-29 14:01] #364 closed

[2019-12-30 06:43] Bhavnaharitsa opened #630 "feat: search option on merchants"
**Summary:**
There are too many merchants and no search option for them. When a user wants to search for a merchant, he/she has to scroll down all the way.

**Steps to reproduce:**
1. Go to merchants fragment
2. See the merchants
There is no search option

[2019-12-31 07:19] Bhavnaharitsa opened #631 "feat: Contact option and About Us in menu bar"
**Summary:**
We don't have a contact option and about us option in menu bar. We should have one contact option like in other apps( mifos-mobile)

[2019-12-31 09:46] rachittt opened #632 "Bug: Adding non-integers as Mobile Number"
**Summary:**

The app let's you add Non integers in the Mobile Number `editText`. Which is not required in an `editText` concerning Mobile Number.

**Steps to reproduce:**

Payments -> Send -> Mobile Number -> Add non-integers

**Expected behavior:**

The editText should not allow adding non-integer values.

**Observed behavior:**

The app allows adding things like decimal points.

**Device and An

[2019-12-31 10:12] Bhavnaharitsa commented on #631
@shiv07tiwari @luckyman20 Thoughts?

[2019-12-31 10:56] luckyman20 commented on #631
@Bhavnaharitsa Whose contact info you plan to give?

[2019-12-31 10:59] Bhavnaharitsa commented on #631
Like the ones we have in mifos-mobile and the same as About Us page

[2019-12-31 12:01] shiv07tiwari commented on #630
@Bhavnaharitsa This is already added in https://github.com/openMF/mobile-wallet/pull/556.

[2019-12-31 12:03] #630 closed

[2019-12-31 23:13] rachittt opened #636 "Bug: Formatting of mobile number in send fragment"
**Summary:**

Currently, the app allows entering the mobile number and they are displayed as normal integers but they should be formatted in the form of +1(###) ###-####
 for eg- +1(998) 332-3845
(as this is considered to be the most readable way to display a U.S. Phone number)

**Steps to reproduce:**

Payments -> Send -> Mobile Number -> Type the phone number

[2020-01-01 11:11] #636 closed

[2020-01-01 17:01] laxyapahuja commented on #632
@luckyman20 this can be closed now.

[2020-01-01 17:21] #632 closed

[2020-01-07 12:05] Bhavnaharitsa commented on #486
@shaliniv16 Can I work on this issue?
If you are still not working on it :)

[2020-01-07 13:52] luckyman20 commented on #486
@Bhavnaharitsa You can work on this now.

[2020-01-08 14:12] nirmalhk7 opened #643 "Bug: Edit Profile dialog crashes when its dismissed"
**Summary:**

Pretty much the heading. App crashes when Edit Profile dialog is dismissed and no details are updated.

**Steps to reproduce:**
Go to the View Profile section. Click Edit Profile.
_Do not edit any details_ (doesn't crash when you update details).
Simply press the X (dismiss) button.

**Expected behavior:**
On dismissing the dialog, the dialog should, obviously, be dismissed.

**Obser

[2020-01-08 14:12] nirmalhk7 commented on #643
I would love to take this issue.

[2020-01-08 14:47] rachittt commented on #643
hey @nirmalhk7, I am unable to reproduce this issue. The EditProfile dismissal works fine for me. Can you put a screen recording for it ?

[2020-01-08 15:37] nirmalhk7 commented on #643
Here:

![untitled](https://user-images.githubusercontent.com/25480443/71991705-da5a0700-325a-11ea-9c0f-330bfc48f94e.gif)

[2020-01-08 16:37] rachittt commented on #643
still unable to reproduce it. Did you make any changes to the EditProfile activity on your local branch?

[2020-01-08 17:43] nirmalhk7 commented on #643
That is weird,.. I didn't made no changes to Edit Profile Activity either.

[2020-01-10 06:34] refactor-droidyy opened #645 "Latest added cards are not shown first"
**Summary:**

While adding a card the latest card is shown at the top in the list.

**Steps to reproduce:**

Launch the app.
Navigate to finance section
Navigate to cards section.
Add cards

**Expected behavior:**

The list of cards should contains latest and newly added cards at the top.

**Observed behavior:**

Currently the list contains previously added cards at the top.

**Device and Android

[2020-01-12 02:42] Bhavnaharitsa commented on #535
@luckyman20  @shiv07tiwari As this is resolved, I guess we can close this now

[2020-01-12 02:43] Bhavnaharitsa commented on #522
@luckyman20 Sir, these issues are good issues which are long left. Can I take up this?

[2020-01-12 02:45] Bhavnaharitsa commented on #613
@luckyman20 @shiv07tiwari As we have a global class for Dialog box. Can I know take up this issue?

[2020-01-12 02:47] Bhavnaharitsa commented on #528
@luckyman20 @shiv07tiwari Sir, this issue is solved too. And I was wondering if we could add more questions on FAQ related to the app. If yes, I would like to take up the issue :)

[2020-01-12 04:40] luckyman20 commented on #528
@Bhavnaharitsa No, 4-5 questions are enough for now. We will add them in future if need arises.

[2020-01-12 04:40] #528 closed

[2020-01-12 04:41] luckyman20 commented on #613
You can go ahead with this.

[2020-01-12 04:48] #535 closed

[2020-01-13 19:21] nirmalhk7 commented on #172
@manddy @RajaVamsi11 @ankurs287 Given that no PR has referred this issue yet, Can I work on this issue?

[2020-01-14 08:42] luckyman20 commented on #643
@nirmalhk7 This should be reproducible for everyone. Can you please try it on other devices too?

[2020-01-14 08:50] luckyman20 commented on #172
@nirmalhk7 Please tell your approach first. I guess this issue has some blocker related to library/API.

[2020-01-14 08:52] luckyman20 commented on #522
@Bhavnaharitsa Go ahead.

[2020-01-14 08:54] #524 closed

[2020-01-15 13:52] NitishGadangi opened #649 "Log in credentials for testing the app"
**Summary:**
This might be a noob thing to ask.
Anyway, can someone please provide me test log-in credentials. So that I can log in and test the app.

[2020-01-15 15:19] Bhavnaharitsa commented on #649
Please login to the gitter channel for more info.  Issues are opened not for queries.. you can use the communication channel :)

[2020-01-15 15:29] #649 closed

[2020-01-15 15:37] Bhavnaharitsa commented on #460
@luckyman20 Can I take up this issue? We have a dialog box global class. I can use that!

[2020-01-15 17:05] 991rajat opened #650 "feat: Adding Scroll at Login Screen"
**Scroll at Login Screen**
The devices with screen size less than 5inch require to click out of the keyboard to enter credentials. Users cannot scroll down.

**Device and Android version:**
Android 7.1.2
Device Moto E2

**Screenshots:**

![GIF-200115_222206](https://user-images.githubusercontent.com/38184186/72454084-363a0800-37e6-11ea-88f5-a4884b241679.gif)

**Would you like to work on this issue

[2020-01-15 17:06] 991rajat commented on #650
I would Like to work on this issue.

[2020-01-15 17:35] OussEmaDevCode commented on #650
@991rajat The user can just click on the next button next to the space bar

[2020-01-15 17:39] #650 closed

[2020-01-15 17:53] 991rajat opened #651 "fix: UI and Input Limit in Mobile Number section in Payment"
**UI and Input Limit in Mobile Number section in Payment**

**Fixes**
Limit to the length of the mobile number must not exceed 10 digits.
Mobile No should be on the left-hand side.
**Improvements Suggested:**
Adding Ruppe symbol in Amount Input Layout.

**Device and Android version:**
Device Moto E2
Android .1.2

**Screenshots:**
![Screenshot_20200115-231509](https://user-images.githubusercontent.

[2020-01-15 17:54] 991rajat commented on #651
I would like to work on this issue.

[2020-01-15 17:59] OussEmaDevCode commented on #651
The app doesn't only handle Rupees, it handles a big number of other currencies depending on the account, so instead of "Adding Ruppe symbol in Amount Input Layout" in the issue message, it should be "Adding currency symbol in Amount Input Layout"

[2020-01-15 18:03] 991rajat commented on #651
OK @OussEmaDevCode  and what about the limit on the mobile number is it required?

[2020-01-15 18:28] refactor-droidyy opened #652 "Add limit and counter for card number"
**Summary:**

While adding a new card ,the card number does'nt have limit like CVV number has.

**Steps to reproduce:**

Navigate to Finance section
Try to add card.

**Expected behavior:**

Usuallly the card number can vary from 16 to 19 digit so the maximum length should be set as the same .Also there should be a counter that keep how much digit of card are entered.

**Observed behavior:**

Curr

[2020-01-15 18:29] OussEmaDevCode commented on #651
The International Telecommunication Union sets the maximum length to 15 digits for telephone numbers except from that the app uses OTP verification for phone numbers so it'll be useless to implement that.

[2020-01-15 18:36] 991rajat commented on #651
So fixing UI is only left out.

[2020-01-15 19:06] OussEmaDevCode commented on #651
Well, I believe there are still problems with the UI you just have to find the right one !!

[2020-01-16 11:05] luckyman20 commented on #652
We already have an utility class for validation of card number. We have just disabled it for testing purposes.

[2020-01-16 11:05] #652 closed

[2020-01-16 11:11] luckyman20 commented on #460
Go ahead @Bhavnaharitsa

[2020-01-17 07:25] 991rajat commented on #651
Yes, Mobile No should appear on left and the hint mobile number is not well balanced.

[2020-01-17 11:43] Bhavnaharitsa commented on #651
@OussEmaDevCode @991rajat The focus is not on UI anyway

[2020-01-17 11:44] Bhavnaharitsa commented on #651
We could always add a country code and alter the length according to the country code

[2020-01-17 11:45] Bhavnaharitsa commented on #631
@shiv07tiwari Please post your thoughts on this before I start working on this

[2020-01-17 14:00] 991rajat commented on #651
Yes @Bhavnaharitsa, since a person belongs to a country will transfer funds to the person residing on the same country altering length for every country is a bit hectic and not so feasible. What we could do is to add an upper limit to a mobile number (a range of length) before the person hits enter he could know he entered a wrong number @OussEmaDevCode

[2020-01-17 15:53] rachittt commented on #651
@991rajat @OussEmaDevCode hey, I am not quite sure but I remember having a word with a project maintainer where I was told that the currency symbol which we are going to use for Mifos Pay is going to be USD and/or Rupees.

[2020-01-17 15:56] rachittt commented on #651
also, the issue of input limit has been fixed in #629.

[2020-01-17 16:44] 991rajat commented on #651
@rachittt  What about the UI Mobile No should appear on left and the hint mobile number is not well balanced.

[2020-01-17 17:53] rachittt commented on #651
It has been solved in #384. Though, the maintainers have not reviewed it yet.

[2020-01-18 16:07] Bhavnaharitsa opened #654 "fix: one faq doesnt close when other is open and there is no scroll bar too"
**Summary:**

When one FAQ opens, the other should close and scroll bar should be in FAQ fragment in case many FAQs are added

**Device and Android version:**
Any

[2020-01-19 05:29] nirmalhk7 commented on #643
I can confirm that the bug can be experienced on Huawei Honor 8X with Android 9 (Pie), which is the only physical device I could test it on.

[2020-01-19 07:16] jatinsachdevame opened #655 "Fix : SHOW MORE button on home screen is not working."
**Summary:**  Show more button on the home screen's transaction history is not working.

**Expected behavior:** It should redirect to the History tab of Payments Fragment after clicking show more button.

**Device and Android version:** On every device.

[2020-01-19 07:16] jatinsachdevame commented on #655
I would like to work on this issue.

[2020-01-19 09:02] jatinsachdevame opened #656 "Fix : Limiting OTP length to 6 or 8 during registration."
**Summary:** The length of OTP is not limited during registration. So a user can enter any number of digits. It should be limited to max length of 6 or 8.

**Expected behavior:**
![Screenshot_20200119-142748_Mifos Pay](https://user-images.githubusercontent.com/22510309/72678016-12b5dc80-3ac8-11ea-8601-7a917330e085.jpg)

**Observed behavior:**

![Screenshot_20200119-140653_Mifos Pay](https://user-i

[2020-01-19 09:03] jatinsachdevame commented on #656
I would like to work on this issue.

[2020-01-19 14:31] Bhavnaharitsa opened #658 "fix: no alert box when user wants to disable account"
**Summary:**
There is no alert box when user wants to disable account
We need to have one.

[2020-01-19 15:09] Bhavnaharitsa opened #660 "fix: Convert inner class of Alert Dialog box to our class DialogBox"
**Summary:**
Our app still has some alert boxes extracted from the inner class in Android. But, since we have our own global alert box, I think all the alert boxes that was previously built using inner class can be converted.

[2020-01-19 15:15] Bhavnaharitsa opened #661 "fix: Add screen shots of the entire app in Readme.md file"
**Summary:**
The Readme of the app still misses a lot of screen shots of the app.
We can show many of our fragments.
I want to add the rest of the pages in the screenshot section of Readme

[2020-01-19 15:49] luckyman20 commented on #661
Don't add in Readme, instead make a new page and provide a link in Readme.

[2020-01-19 15:50] luckyman20 commented on #660
Go ahead.

[2020-01-19 15:53] luckyman20 commented on #656
@jatinsachdevame Go ahead. Make sure you tested this on `dev` branch.

[2020-01-19 17:15] Bhavnaharitsa commented on #661
Okay!

[2020-01-20 15:21] Bhavnaharitsa commented on #660
@luckyman20 @shiv07tiwari It is not possible to convert the code in CardFragment as it does not pass the Travis CI and the error is that the line crosses 100 lines.

[2020-01-20 15:21] Bhavnaharitsa commented on #618
@luckyman20 Sir, we can close this issue

[2020-01-20 15:21] #618 closed

[2020-01-20 15:23] Bhavnaharitsa commented on #488
@luckyman20 I can take up this issue

[2020-01-20 17:30] laxyapahuja commented on #660
You can shorten the length by either making variable names shorter or by adding a new line between the line of code.

[2020-01-20 17:51] mayankwadhwani commented on #658
I'll like to take up the issue.

[2020-01-20 17:52] mayankwadhwani commented on #607
Is the issue still open? I'll like to take this up

[2020-01-20 17:53] mayankwadhwani commented on #545
I'll like to take this up @shaliniv16

[2020-01-20 17:54] arunikayadav42 commented on #597
If this issue is still open I would like to take this up :). Please help me get started.

[2020-01-20 17:55] arunikayadav42 commented on #498
If this issue is still open I would like to take this up :). Please help me get started.

[2020-01-20 18:00] akkywadhwa commented on #597
I have already fixed it. Waiting for mentors to approve the contribution.

[2020-01-20 22:54] Bhavnaharitsa commented on #658
Theres already  a pr related to it.
Please wait until it gets reviewed

[2020-01-21 06:21] sreyans01 opened #664 "Cannot find Symbol"
**Summary:**

Cannot find symbol class NumberParseException , PhoneNumberUtil , Phonenumber
in org/mifos/mobilewallet/mifospay/payments/ui/RequestFragment.java.

**Steps to reproduce:**

Try to build the project after opening the above fragment.

**Observed behavior:**

The gradle build ended with 3 errors, when I was going to install the app on my device Lenovo Vibe K5 plus.

[2020-01-21 06:54] Bhavnaharitsa commented on #664
Are you on the dev branch?

[2020-01-21 07:11] Bhavnaharitsa commented on #498
@arunikayadav42
I think the UI is quote different now. Please check with the mentors

[2020-01-21 07:22] rachittt commented on #498
@shaliniv16 this issue does not exist anymore, so please close it. Thanks

[2020-01-21 07:23] Bhavnaharitsa commented on #249
@luckyman20 Sir, I think this issue is solved in the dev branch and hence we can close this

[2020-01-21 07:30] Bhavnaharitsa commented on #277
@luckyman20 @shiv07tiwari This issue is solved too

[2020-01-22 06:18] luckyman20 commented on #277
@Bhavnaharitsa Thank you for the heads up!

[2020-01-22 06:18] #277 closed

[2020-01-22 06:20] #249 closed

[2020-01-22 06:20] #498 closed

[2020-01-22 06:22] luckyman20 commented on #664
@sreyans01 Please make sure you are testing on dev branch.

[2020-01-22 06:23] #488 closed

[2020-01-22 06:26] luckyman20 commented on #645
@refactor-droidyy This thing can be handled by backend.

[2020-01-22 06:26] #645 closed

[2020-01-22 06:27] luckyman20 commented on #656
Fixed in #662

[2020-01-22 06:27] #656 closed

[2020-01-22 06:41] luckyman20 commented on #607
@mayankwadhwani There is already a PR for it.

[2020-01-22 13:43] sreyans01 commented on #664
Sorry , I forgot to use git stash before changing the branch.Now, it worked after stashing and changing the branch.

[2020-01-22 13:43] #664 closed

[2020-01-22 16:18] #651 closed

[2020-01-22 16:28] 991rajat opened #665 "feat: Need to add email validator in edit profile"
**Need to add email validator in edit profile:**

**Steps to reproduce:**
In Edit Profile

**Screenshots:**
![Screenshot_20200122-215631](https://user-images.githubusercontent.com/38184186/72912760-1fedf800-3d62-11ea-8054-8aee7bb0eeed.png)
**Would you like to work on this issue?**
Yes

[2020-01-22 16:39] 991rajat opened #666 "fix: Length of mobile Number"
**Length of a mobile number exceeds some limit must not be saved.**

**Steps to reproduce:**

Edit Profile > mobile number

**Screenshots:**
![GIF-200122_220228](https://user-images.githubusercontent.com/38184186/72913762-a0612880-3d63-11ea-8b39-12b809286287.gif)

**Would you like to work on this issue?**
Yes

[2020-01-22 19:45] #655 closed

[2020-01-22 19:59] jatinsachdevame commented on #665
A PR #598 is already submitted for the same and is yet to be reviewed. Make sure to test issues in PRs and issues as well.

[2020-01-22 20:40] jatinsachdevame opened #667 "fix : Change passcode in edit profile not working."
**Summary:** Change passcode button in edit profile activity is not working.

**Steps to reproduce:** Open edit profile activity and try changing passcode by clicking on the change passcode button.

**Expected behavior:** Passcode activity should open to change the passcode.

**Device and Android version:** All devices.

[2020-01-22 20:41] jatinsachdevame commented on #667
@luckyman20 I would like to work on this issue.

[2020-01-23 05:56] 991rajat commented on #665
Yep sure @jatinsachdevame

[2020-01-23 05:57] #665 closed

[2020-01-24 07:42] #666 closed

[2020-01-24 10:32] shiv07tiwari commented on #660
@Bhavnaharitsa please paste that code segment here

[2020-01-25 00:03] devansh-299 opened #668 "Blank screen while loading transactions history"
**Summary:**

Loading transaction history takes a decent amount of time on slow internet connections, till the data is loaded some sort of loading screen should be displayed. Currently a blank screen is shown which should not be there

**Steps to reproduce:**

* Open the app
* See that loading transaction history on HomeFragment takes some time

**Expected behavior:**

A loading screen should have

[2020-01-25 00:11] devansh-299 commented on #668
@shiv07tiwari @luckyman20 can I work on this issue?

[2020-01-25 00:47] devansh-299 opened #669 "SplashScreen"
**Summary:**

Currently a blank white screen is shown during the cold start. A splash screen can be added

**Steps to reproduce:**

* Open the app
* See the blank screen appearing before the passcode screen

**Observed behavior:**

A blank white screen is being shown

**Device**

Xiaomi PocoF1
Android 9
Stock rom

[2020-01-25 00:48] devansh-299 commented on #669
@shiv07tiwari @luckyman20 can I work on this issue?

[2020-01-25 12:09] jatinsachdevame opened #670 "fix : App crashes when pausing EditProfile Activity in dev branch."
**Summary:** In Edit Profile Activity (of dev branch), when user clicks on change password and change passcode button or simply press back or home button, app crashes due to dialogBox.dismiss() in onPuase() method.

This issue is in dev branch as it is using our class dialogbox. Master branch works fine since it is using inner class.
When we create DialogBox dialogBox = new DialogBox(); object in

[2020-01-25 12:09] jatinsachdevame commented on #670
I want to resolve this issue.

[2020-01-25 12:54] jatinsachdevame opened #672 "fix : Disabling save button in change password activity till password and confirm password doesn't match."
**Summary:** Disabling save button in change password activity till password and confirm password doesn't match.

**Expected behavior:**
![ss2](https://user-images.githubusercontent.com/22510309/73121404-ae9b8880-3f9f-11ea-91e3-ef0d98524a20.jpg)

**Observed behavior:**
![ss1](https://user-images.githubusercontent.com/22510309/73121409-bfe49500-3f9f-11ea-9c08-40aa1e56b037.jpg)

[2020-01-25 12:54] jatinsachdevame commented on #672
I want to work on this issue @luckyman20 @shiv07tiwari

[2020-01-25 14:21] jddeep opened #673 "bug: unfunctional Notification settings in Settings"
**Summary:**

bug: unfunctional Notification settings in Settings.

**Steps to reproduce:**

Go to Profile->Settings page

**Expected behavior:**

On clicking the notifications settings page should open up

**Observed behavior:**

Nothing happens.

**Device and Android version:**

Android 9

**Screenshots:**

<img src="https://user-images.githubusercontent.com/43133646/73122526-ff18e300-3fab-11ea-

[2020-01-25 14:21] jddeep commented on #673
@luckyman20 @shiv07tiwari thoughts? Would like to work on this.

[2020-01-26 01:47] #658 closed

[2020-01-26 01:50] Bhavnaharitsa commented on #670
@jatinsachdevame Could you share the logs at the point when app crashes?

[2020-01-26 01:52] Bhavnaharitsa commented on #669
The point of focus is not UI, but anyway please ask the mentors

[2020-01-26 01:54] Bhavnaharitsa commented on #672
Also a probable duplicate of #643

[2020-01-26 02:59] rachittt commented on #669
adding a simple animated splash screen looks like a good option to me.

[2020-01-26 04:43] jatinsachdevame commented on #670
Here you go @Bhavnaharitsa
`Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.app.AlertDialog.dismiss()' on a null object reference
        at org.mifos.mobilewallet.mifospay.utils.DialogBox.dismiss(DialogBox.java:45)
        at org.mifos.mobilewallet.mifospay.editprofile.ui.EditProfileActivity.onPause(EditProfileActivity.java:439)`

[2020-01-26 04:45] jatinsachdevame commented on #672
Hey @Bhavnaharitsa , I think you referenced on the wrong issue.

[2020-01-26 05:03] Bhavnaharitsa commented on #672
@jatinsachdevame Oops..I'm sorry!
I got confused

[2020-01-26 05:12] jatinsachdevame commented on #672
That's all right.

[2020-01-26 06:18] devansh-299 commented on #669
@Bhavnaharitsa @rachittt thank you for your opinions . Just waiting for the mentors of this repository for their views

[2020-01-26 06:20] 991rajat commented on #545
@shaliniv16 Works fine on my device.
Moto E2 Nougat 7.1.2

[2020-01-26 07:01] Bhavnaharitsa opened #674 "fix: add scroll bar in home activity under transaction history"
**Summary:**

There is no scroll bar in Transaction history as the list goes on and on, it is important to have a scroll bar.

![Screenshot_20200126-114305_Mifos Pay (1)](https://user-images.githubusercontent.com/37215508/73131812-be66ab80-4037-11ea-80b1-e0fbc0af38ac.jpg)

[2020-01-26 07:08] 991rajat opened #675 "fix: no input type in edit profile email, username etc."
**There is no input type in the email, username, VPA.**

**Steps to reproduce:**
Layout > activity_edit_profile

**Suggestions**
Need to add input type for good UX.
This will also add a minor check on the UI side.

**Screenshots:**

![Screenshot (14)](https://user-images.githubusercontent.com/38184186/73131871-8d3aab00-4038-11ea-833f-1b777d396fe9.png)

**Would you like to work on this issue?**

[2020-01-26 07:09] 991rajat commented on #675
YES

[2020-01-26 09:36] shiv07tiwari commented on #668
@devansh-299 can you please attach a screenshot of the blank screen

[2020-01-26 09:53] devansh-299 commented on #668
![GIF-200126_152055](https://user-images.githubusercontent.com/46667021/73133513-b61a6a80-404f-11ea-9246-a890d3d2ee14.gif)

@shiv07tiwari I was planning to use https://github.com/sharish/ShimmerRecyclerView library , is this a good idea

[2020-01-26 10:07] shiv07tiwari commented on #668
I think adding a simple loading icon would work. We should avoid using external libraries.

[2020-01-26 10:12] devansh-299 commented on #668
Ok thanks , working on it

[2020-01-26 11:40] laxyapahuja commented on #669
I think we all should work on a single Mifos splash screen that can be used for every Mifos app. That way, all Mifos' app will have the same splash screen which will give identity to the brand.

[2020-01-26 12:11] devansh-299 commented on #669
Nice idea ! lets see what the mentors have to say

[2020-01-26 12:20] devansh-299 opened #679 "Feature Request: Adding option to share transaction receipt"
**Summary:**

A user should be provided with the functionality to download and share the receipts of their transactions. This feature can prove useful in informing other concerned parties about the completion of a transaction .

**Steps to reproduce:**

* Go to Payments ->History tab
* Select any transaction -> View Receipt
* Here this functionality can be added

**Device and Android version:**

X

[2020-01-26 12:21] devansh-299 commented on #679
@shiv07tiwari @luckyman20 I would like to work on this issue

[2020-01-26 13:07] luckyman20 commented on #679
Please first share your approach.

[2020-01-26 13:09] luckyman20 commented on #669
@laxyapahuja That is not possible since now we have different UIs and theme of every app. I think there is already a issue on splash screen (maybe closed) please check that.

[2020-01-26 13:15] luckyman20 commented on #456
Anyone who is taking up this issue - upload a screenshot of the error and while making PR keep in mind that we have DialogBox library.

[2020-01-26 13:16] luckyman20 commented on #674
Solved in #676

[2020-01-26 13:16] #674 closed

[2020-01-26 13:17] luckyman20 commented on #545
This is working now.

[2020-01-26 13:17] #545 closed

[2020-01-26 13:20] luckyman20 commented on #673
@jddeep This is a feature that can be implemented after we get the necessary APIs.

[2020-01-26 13:25] devansh-299 commented on #679
I will add an OptionsMenu with download and share options . We already have a File object with us. I will try to provide download and share options for this only

[2020-01-26 13:27] luckyman20 commented on #672
Go ahead.

[2020-01-26 13:35] luckyman20 commented on #679
@shiv07tiwari thoughts?

[2020-01-26 13:43] devansh-299 commented on #669
Duplicate of #354 (closed)
So should I work on it ?

[2020-01-26 13:47] devansh-299 commented on #679
@luckyman20 I just synced with dev branch and it already has download feature. So only sharing function is left for implementation

[2020-01-26 16:35] Bhavnaharitsa commented on #660
![image](https://user-images.githubusercontent.com/37215508/73138321-4f18a800-4087-11ea-84fc-41da43ce9077.png)

I guess you can observe the code crossing the line..that's where the gradle error shows @shiv07tiwari @luckyman20

[2020-01-26 19:05] laxyapahuja commented on #660
@Bhavnaharitsa you can add a new line after the ',' to make it move to the next line.

[2020-01-26 23:06] laxyapahuja commented on #675
can I work on this? @luckyman20

[2020-01-27 07:12] Bhavnaharitsa commented on #490
@luckyman20 I would like to take up this issue

[2020-01-27 10:48] luckyman20 commented on #490
@Bhavnaharitsa Yes, please take up this issue but keep in mind that don't block too many issues at a time and allow other contributors to contribute too.

[2020-01-27 13:32] Bhavnaharitsa commented on #490
@luckyman20 Sure sir, I will not. I will start creating my own issues soon. And give you updated of the blocked issues too :)

[2020-01-27 13:43] devansh-299 opened #683 "Feature: Add verification for payment process"
**Summary:**

Currently there's no verification process while sending money to other person. This lead to some serious problems for the user if the app, for any reason, is left unlocked

**Steps to reproduce:**

* Go to Payments -> Send
* Fill the required details
* Click submit
* See no verification is required any where

**Expected behavior:**

Passcode verification etc  should have been there

[2020-01-27 14:45] devansh-299 opened #685 "Feature: Adding option to set maximum transaction limit"
**Summary:**

Currently user can send any amount of money (if he/she has that much amount of money) . For digital transactions, allowing transferring of large amounts is generally not suggested.

**Steps to reproduce:**

* Go to payments ->Send
* See there's no limit on entering amount

**Expected behavior:**

An upperbound must be there for any transaction made

**Observed behavior:**

Currently

[2020-01-27 14:45] devansh-299 commented on #685
@shiv07tiwari @luckyman20  what are your view about this ?

[2020-01-28 14:11] devansh-299 commented on #287
@luckyman20 can I work on this issue?

[2020-01-28 15:17] 991rajat commented on #178
@luckyman20 Is this issue still open? Can I work on this.

[2020-01-28 19:04] refactor-droidyy opened #691 "Display Toast while device not connected to internet"
**Summary:**

While login if the mobile data or wifi is off "Error while login" toast shows.

**Steps to reproduce:**

Try to login without any internet connectivity.

**Expected behavior:**

"Not Connected to Internet " toast should be shows.

**Observed behavior:**

"Error while Login " toast should be shows.

**Device and Android version:**

Android Device - Redmi 4A
Android Version - Android N

[2020-01-28 19:04] refactor-droidyy commented on #691
@luckyman20 can i work on this ?

[2020-01-28 19:20] rachittt commented on #691
duplicate of #537

[2020-01-28 19:43] #691 closed

[2020-01-29 12:56] jddeep opened #693 "bug: useless toast messages in FAQs"
**Summary:**

bug: useless toast messages in FAQs.
Toast message is shown on clicking the next question about the previous question has been collapsed whereas in reality that question's answer still remains open.

**Steps to reproduce:**

Open App -> FAQ

**Expected behavior:**

Prevent those meaningless toast messages.

**Observed behavior:**

**Device and Android version:**

Android 9

**Screens

[2020-01-29 12:57] jddeep commented on #693
@luckyman20 @shiv07tiwari I would like to work on this. Thoughts?

[2020-01-29 13:51] rachittt commented on #693
solved in #622

[2020-01-29 13:54] #693 closed

[2020-01-29 15:03] luckyman20 commented on #685
@devansh-299 This can be altered at the time of release. We are in `test` mode as of now.

[2020-01-29 15:03] #685 closed

[2020-01-30 05:39] rachittt commented on #372
@manddy the skip button is only needed if a specific passcode has not been set up. This is not an issue rather it is exactly what should ideally happen. Please close the issue.

[2020-01-30 05:46] rachittt commented on #437
@RajaVamsi11 this issue is not reproducible anymore because the screen has been redesigned. Can you confirm and close this issue? Thanks.

[2020-01-30 05:47] rachittt commented on #433
@RajaVamsi11 the screens have been redesigned. Can you confirm if the issue still persists? Please close if not. Thanks.

[2020-01-31 13:29] Bhavnaharitsa commented on #472
@luckyman20 We can close this! :)

[2020-01-31 13:30] Bhavnaharitsa commented on #470
@luckyman20 We don't have this function yet,...can I take this up?
Also, please review my recent prs

[2020-01-31 14:12] luckyman20 commented on #470
I don't think it is necessary to implement a search feature for cards as a normal user has max 5-6 cards which he/she can easily access and navigate through.

[2020-01-31 14:12] #470 closed

[2020-01-31 14:34] #472 closed

[2020-02-01 06:28] nirmalhk7 commented on #643
My PR is ready for merge. Thank you!

[2020-02-02 10:41] Bhavnaharitsa opened #695 "fix: change the color of back arrow in mobile registeration"
**Summary:**
When a new user wants to register, in the phone authentication page the back arrow has an abnormal black color which does not co ordinate with the white texts in the entire tool bar.
The black arrow should be white too and it is sometimes is not visible.

![Screenshot_20200202-104024_Mifos Pay (1)](https://user-images.githubusercontent.com/37215508/73607002-c34ad280-45d6-11ea-8a4b-efb

[2020-02-04 05:46] 991rajat opened #697 "bug: mobile length in mobile verification"
**Summary:**
Mobile No can be of variable length. Max Limit must be increased to at least 15.

**Steps to reproduce:**

Mobile Verification Activity

**Screenshots:**
![Screenshot (20)](https://user-images.githubusercontent.com/38184186/73717346-8c440080-473f-11ea-9db2-f60534244e3d.png)
**Would you Like to work on this issue?**
YES

[2020-02-04 07:25] rachittt commented on #697
@991rajat as far as I know, the countries in which our app is going to work need only 10 characters.

[2020-02-05 01:34] Bhavnaharitsa opened #698 "Fix: Go to next activity immedistely after Confirm pattern is verified"
**Summary:**
So, in the pattern screen when any user registers for th first time, it asks for a pattern. But then the second time after the user confirms the same pattern, if the pattern is verified then it should go to the next activity without user clicking proceed. That is what happens in many apps or even phone when confirming pattern.

[2020-02-05 03:11] Bhavnaharitsa opened #699 "Feat: Add logo of app on Main screen"
**Summary:**

We dont our app logo in the top of Mifos Pay. That makes the UI blant. We should have our logo in our main screen

![Screenshot_20200205-083845_Mifos Pay](https://user-images.githubusercontent.com/37215508/73807638-3761c200-47f3-11ea-8d18-b01a3e5599bf.jpg)

[2020-02-05 03:13] Bhavnaharitsa opened #700 "Feat: Multi language support"
**Summary:**
Mifos pay has only one language support till now which is english. We can add multiple language supports( of local Indian languages) for people in the rural areas who dont understand English.

[2020-02-05 03:14] #695 closed

[2020-02-05 03:21] Bhavnaharitsa opened #701 "Fix: Domt go to otp activity if google sign in fails"
**Summary:**
In the register activity, even if the google sign in fails it goes to the phone otp activity which it shouldn't if the registration fails then it should lead back to the previous activity.

[2020-02-05 08:35] refactor-droidyy opened #702 "Back button color change in various Activity"
**Summary:**

Activity like Setting , Scan QR code etc have white color icon for back arrow.

**Steps to reproduce:**

Open Setting Activity,Bank Details etc

**Expected behavior:**

Back Button Color should be black as in activity due to matching in background color and icon color

**Observed behavior:**

Back icon not visible due color variation.

**Screenshots:**

![Screenshot_2020-02-05-14-02-

[2020-02-05 08:35] refactor-droidyy commented on #702
@luckyman20 can i work on this ?

[2020-02-05 08:50] Bhavnaharitsa opened #703 "Fix: App crash when mobile number is not enetered in register activity"
**Summary:**

When the user does not enter any mobile number under customer registration, then the app crashes instead of going back to the previous activity which should not

[2020-02-05 10:14] khalidabuhayea opened #704 "api problem"
api return timeout
https://demo.openmf.org/fineract-provider/api/v1/self/authentication?username=ggg&password=rrrr

[2020-02-05 13:12] Bhavnaharitsa commented on #704
Could you specify and elaborate the issue more?

[2020-02-05 13:19] khalidabuhayea commented on #704
@Bhavnaharitsa  the api not working !

[2020-02-05 13:32] CapTen101 commented on #700
Hi there! I would like to work on this issue. @Bhavnaharitsa

[2020-02-05 14:34] Bhavnaharitsa commented on #700
No, I'm taking this up

[2020-02-05 14:35] Bhavnaharitsa commented on #704
Okay!

[2020-02-05 14:52] khalidabuhayea commented on #704
what is the problem ?

[2020-02-05 14:52] khalidabuhayea commented on #704
what is the problem?

[2020-02-05 15:30] Bhavnaharitsa commented on #704
@khalidabuhayea whose problem?

[2020-02-05 15:33] khalidabuhayea commented on #704
why there is no response from the api ?
https://demo.openmf.org/fineract-provider/api/v1/self/authentication?username=ggg&password=rrrr

[2020-02-05 15:47] Bhavnaharitsa opened #706 "fix: senseless names for ids in activity_login"
**Summary:**
<TextView
            android:id="@+id/textView2"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginStart="0dp"
            android:layout_marginLeft="0dp"
            android:layout_marginEnd="@dimen/marginBetweenWords"
            android:layout_marginRight="@dimen/marginBetweenWords"
            android

[2020-02-05 17:50] refactor-droidyy commented on #704
@khalidabuhayea there is change in current demo URL just change the API_ENDPOINT and API_ENDPOINT_SELF to "demo.mifos.io" in  .\mobile-wallet\core\src\main\java\org\mifos\mobilewallet\core\data\fineract\api\BaseURL

[2020-02-06 04:53] Bhavnaharitsa opened #709 "Feat: Conversion of png images to vector images"
**Summary:**

Till now, all our images are png based. For such heavy projects its be good if we converted png images to vector images.

[2020-02-06 07:23] #704 closed

[2020-02-06 08:15] Bhavnaharitsa commented on #654
@shiv07tiwari I think it's long time we've left it like that. Please post your views on this pr and issue

[2020-02-06 15:00] Bhavnaharitsa opened #712 "fix: no scroll bar is transaction history"
**Summary:**

When there are many transaction histories, it is good to have scroll bars so that the user will know when the history will end.

[2020-02-06 18:07] #697 closed

[2020-02-07 18:00] refactor-droidyy opened #714 "Mismatch alignment in input field for Mobile and Amount."
**Summary:**

Currently the the alignment for input text in Send Activity for Amount and Moble Number inputs are different.

**Steps to reproduce:**

Launch the app.
Navigate to Payment Section to Send Section.
Switch to mobile select transfer method as mobile.

**Expected behavior:**

Alignment should be same for both the input fields.

**Observed behavior:**

Mismatch alignment inside the input

[2020-02-07 18:00] refactor-droidyy commented on #714
@luckyman20 can i work on this ?

[2020-02-08 03:43] rachittt commented on #714
@refactor-droidyy It has been solved in #384. Though, the maintainers have not reviewed it yet.

[2020-02-08 07:33] dubeyaayush07 commented on #631
Maybe it makes more sense to add contact information in the faq section like mifos mobile because that is where people go when they want help. We could implement call and email which will fire implicit intents.

[2020-02-08 08:03] Bhavnaharitsa commented on #631
@dubeyaayush07  Perhaps, it makes more sense if we had a separate section or like a menu bar kind of thing because FAQ is clearly helping the users will something related to app. It is somehow improbable to me to thrust everything because clearly Contact is different from FAQ.
You might refer some conventional apps for clearance.

[2020-02-08 08:16] dubeyaayush07 commented on #631
@Bhavnaharitsa I see what you are saying, but even when talking about conventional app they usually have these sections grouped together into a single help section so I guess maybe we should try that also I think it is better to not clutter the UI instead separate into two chunks the help section and the functional section but its all just a suggestion I guess we should wait for the green flag fro

[2020-02-08 08:29] Bhavnaharitsa commented on #631
@dubeyaayush07  Yes sure! +1

[2020-02-08 10:18] dubeyaayush07 opened #715 "Set amount in ShowQrActivity accepts zero value"
**Summary:**
The set amount dialog in ShowQrActivity allows zero value string

**Screen Recording:**
<img src="https://user-images.githubusercontent.com/30518564/74083447-24b4ea80-4a8a-11ea-853f-0a25b19ed47c.gif" height="60%" width="60%">

[2020-02-08 10:18] dubeyaayush07 commented on #715
@luckyman20  @shiv07tiwari  I would like to work on this

[2020-02-08 14:58] Bhavnaharitsa opened #718 "feat: memory leak fixing using leak canary"
**Summary:**
I have observed a lot of memory leaks in our app and I think we should have memory detection mechanism to handle memory leaks like leak canary.
Thoughts? @luckyman20 @shiv07tiwari @droidchef

[2020-02-14 08:53] Bhavnaharitsa commented on #631
@naman14 Thoughts sir?

[2020-02-14 15:05] Bhavnaharitsa commented on #698
Closing this as I found out the library doesn't support it.

[2020-02-14 15:05] #698 closed

[2020-02-14 15:13] Bhavnaharitsa commented on #327
@shiv07tiwari Are we still working on this issue or is this even a valid issue?

[2020-02-14 15:17] Bhavnaharitsa commented on #214
@luckyman20
@RahulPrajapati97
@RajaVamsi11
@shaliniv16 This feature is not implemented and I think, this issue stands invalid

[2020-02-14 15:21] Bhavnaharitsa commented on #316
@luckyman20 @shiv07tiwari @naman14 I think this issue is not valid as the app doesn't crash but the google login fails

[2020-02-15 16:39] dubeyaayush07 opened #719 "Feat: double back press to exit"
**Summary:**
When in `HomeFragment` the app should exit if the back button is pressed twice within a certain time period.

[2020-02-15 16:39] dubeyaayush07 commented on #719
I would like to work on this

[2020-02-15 16:44] dubeyaayush07 commented on #719
@naman14  What do you think about this?

[2020-02-17 07:00] indracs97 opened #723 "feat : Add mifos logo in passcode activity"
**Summary:**

Add mifos logo in passcode activity

**Steps to reproduce:**

**Expected behavior:**

**Observed behavior:**

**Device and Android version:**

Motorola one vision
Android Q ( version 10)

**Screenshots:**
Before
![Screenshot_20200217-122518](https://user-images.githubusercontent.com/20751314/74630520-c4f0ca80-5180-11ea-96ca-8d04971afeae.png)
After
![Screenshot_20200217-122808](https:

[2020-02-17 07:13] indracs97 opened #725 "Update README.md file"
**Summary:**

Change branch name from development to dev in README.md file

[2020-02-17 08:05] #725 closed

[2020-02-17 11:03] dubeyaayush07 opened #726 "Empty field validation in SendFragment does not work properly"
**Summary:**

The logic for checking empty fields does not work work it allows submission of empty vpa field when mobile number field is filled and vice versa.

**Steps to reproduce:**

Go to `SendFragment` then go the mobile segment fill all the fields return to the vpa section and try to submit with vpa field as empty.

**Screen Recording:**

<img src="https://user-images.githubusercontent.com/3

[2020-02-17 11:03] dubeyaayush07 commented on #726
I would like to work on this

[2020-02-18 01:20] Bhavnaharitsa opened #728 "fix: Show QrActivity does not show any message when no value is enteres in reset amount"
**Summary:**

The ShowQrActivity accepts even empty value, when the user resets the amount. It should not accept. It should show an error or some toast saying the user cannot enter empty amount

[2020-02-18 06:41] #667 closed

[2020-02-18 06:42] #672 closed

[2020-02-18 17:33] dubeyaayush07 opened #729 "Feat: option to filter transactions in payment history"
**Summary:**
We can filter history based on whether the transactions are credit or debit we can also filter such that only transactions whose value is above a certain threshold are displayed

[2020-02-18 17:33] dubeyaayush07 commented on #729
I would like to work on this

[2020-02-19 00:28] #699 closed

[2020-02-19 00:34] #701 closed

[2020-02-19 01:04] Bhavnaharitsa commented on #669
@devansh-299 Are you still on this? Because, I see there is a inactivity. If else, I would like to work on it.

[2020-02-19 06:46] Grandolf49 opened #730 "App crashes on first install from Android Studio"
**Summary:**

When the app is installed for the first time from Android Studio, it crashes. When the app is restarted, it works fine

**Steps to reproduce:**

1. Uninstall current app (if installed previously)
2. Run the app from Android Studio
3. App crashes after Android Studio installs it in your phone.
4. Restart the app from phone, now it works fine

**Expected behavior:**

App should not cra

[2020-02-19 07:29] Grandolf49 opened #731 "Add account button text not visible completely"
**Summary:**

"Add Account" text in Account Fragment is not completely visible on long displays

**Steps to reproduce:**

1. Navigate to Finance - > Accounts.
2. Text on Add Account button not completely visible

**Expected behavior:**

Button text should be completely visible

**Device and Android version:**

Android 10
OnePlus 6 (Display 6.28 in)
Stock ROM

**Screenshots:**
![add account button

[2020-02-19 07:50] Grandolf49 commented on #731
i'll work on this issue

[2020-02-20 06:46] Bhavnaharitsa opened #733 "fix: Inaccurate screen shot guidelines in Contribution.xml"
**Summary:**
In the 6th point in Contribution guidelines, the screen shot is not true for every mobile above Android 4.0
In Redmi, the screen shot feature is three finger swipe and also this is not a important point that users wouldn't know and that it should be mentioned.
We might replace it with some better point or just remove it at all.

![image](https://user-images.githubusercontent.com/37215

[2020-02-20 06:59] Bhavnaharitsa opened #734 "fix: Misguidance in Contribution guidelines"
**Summary:**
Bulletin 5 says we need to add screen shots only if it is a change in design or UI.
But, we do need to add screen shots even if it a feature change, adding alert box or any change.

![image](https://user-images.githubusercontent.com/37215508/74908263-6ecb9380-53db-11ea-9e9c-3e4f04275045.png)

[2020-02-20 10:11] nirmalhk7 commented on #517
@jsahil730 are you still working on this issue?

[2020-02-21 13:16] Bhavnaharitsa commented on #730
Are you sure you are on the dev branch?

[2020-02-21 13:31] Grandolf49 commented on #730
@Bhavnaharitsa yes, i'm on dev branch

[2020-02-21 13:33] codepoet2017390 commented on #730
@Grandolf49  nice find. I was going to file the same issue. Log shows failure due to some missing firebase support class.

[2020-02-21 13:37] Grandolf49 commented on #730
@codepoet2017390 thanks. Yeah there is a missing support class. I'm not sure if we can comment that out from manifest or create that class file. If we create, what should it contain.

[2020-02-21 13:49] Grandolf49 opened #738 "Impartial text displayed to the bottom of Login Screen"
**Summary:**

The text **Don't have an account? Create one** to the bottom of the login screen is partially displayed on long devices like OnePlus 6 (6.2 inch)

**Steps to reproduce:**

Check bottom of the login screen on long devices

**Expected behavior:**

Text should be display completely irrespective of mobile device dimensions

**Device and Android version:**

Android 10
OnePlus 6
Stock ROM

[2020-02-21 13:54] codepoet2017390 commented on #730
@Grandolf49  so commenting out does work but that's like running away from the problem. I'm trying to find out why that service was needed anyway and what repercussions do commenting it out have.  What are your vies on this?

[2020-02-21 13:55] Grandolf49 commented on #730
@codepoet2017390 Yeah exactly, that's what I thought. That's why I didn't create a PR for this issue yet. That service is needed for notifications. But the corresponding classes must have to be implemented first

[2020-02-21 13:56] codepoet2017390 commented on #730
@Grandolf49 Are you able to log in?

[2020-02-21 13:59] Grandolf49 commented on #730
Yes for logging in, as @Bhavnaharitsa mentioned earlier on the gitter channel.
1. Navigate to mobile-wallet\core\src\main\java\org\mifos\mobilewallet\core\data\fineract\api\BaseURL.java
2. Change API_ENDPOINT and API_ENDPOINT_SELF from **demo.openmf.org** to **demo.mifos.io**

[2020-02-21 22:59] refactor-droidyy opened #742 "UI issue in Login Activity"
**Summary:**

Mifos text is overlapping the edit text  fields in Login Activity

**Steps to reproduce:**

Open the app

**Expected behavior:**

Normal behavior as no view overlapping.

**Observed behavior:**

Mifos text is overlapping the input fields.

**Device and Android version:**

Android Device - Redmi 4A
Android version - Nougat 7.0.1

**Screenshots:**
![Screenshot_2020-02-22-04-19-40-072_o

[2020-02-22 17:37] #731 closed

[2020-02-22 17:40] dubeyaayush07 opened #744 "Use android.support.v7.app.AlertDialog instead of android.app.AlertDialog in ShowQrActivity"
**Summary:**
The support library version provides a fallback for devices using an older version of android.

[2020-02-22 17:41] dubeyaayush07 commented on #744
I would like to work on this

[2020-02-22 18:30] #726 closed

[2020-02-23 01:21] #734 closed

[2020-02-23 01:23] Bhavnaharitsa commented on #718
@naman14 Thoughts?

[2020-02-23 01:24] Bhavnaharitsa commented on #709
@naman14 Your thoughts sir?

[2020-02-23 07:09] Grandolf49 commented on #714
@refactor-droidyy Please close this issue as it has already been solved

[2020-02-23 08:11] Grandolf49 commented on #730
@naman14 what are your views on this issue?

[2020-02-23 08:11] #744 closed

[2020-02-23 08:52] Grandolf49 opened #746 "Nothing happens if user clicks on Transaction History"
**Summary:**

Nothing happens if user clicks on Transaction History on Home Fragment

**Steps to reproduce:**

1. Navigate to Home Fragment
2. Swipe up Transaction History
3. Click on any transaction
4. Nothing happens

**Expected behavior:**

Ideally, if user clicks on any transaction, app should show transaction details as done in History Fragment

**Observed behavior:**

Nothing happens after c

[2020-02-23 09:00] Grandolf49 commented on #746
i'll work on this issue

[2020-02-23 13:36] #714 closed

[2020-02-23 13:55] AminullahTajMuhammad opened #748 "Add ScrollView in Login Screen."
**Summary:**
When the keyboard open Screen should be scrollable for good user experience.

**Expected behavior:**
When user is filled the login fields user should not have to close keyboard. It scroll up and click the login button.

**Observed behavior:**
When the user filled these field user should scroll and click the login button without closing the keyboard.

**Device and Android version:**
De

[2020-02-23 13:56] AminullahTajMuhammad commented on #748
I Want working on this issue.

[2020-02-23 15:24] #742 closed

[2020-02-23 15:31] #748 closed

[2020-02-24 08:02] dubeyaayush07 opened #750 "Redundant use of showSwipeProgress after self account error in SendFragment"
**Summary:**

When transferring money to the same account swipeProgress is activated along with the self account error and does not stop. I think there is no need to display swipeProgress.

**Screen Recording:**

<img src="https://user-images.githubusercontent.com/30518564/75136200-e49c6b80-5709-11ea-8b06-d248fa20aa42.gif" height="60%" width="60%">

[2020-02-24 08:03] dubeyaayush07 commented on #750
I would like to work on this

[2020-02-24 14:59] devansh-299 opened #752 "Specific transaction layout"
**Summary:**

Currently the specific transaction layout looks cluttered and unclear because of divider between an elements of an item(transaction) in recyclerview

**Steps to  Reproduce:**
* Go to Payments -> History Tab
* Tap on any transaction -> Bottom sheet appears
* Tap on sender/receiver image
* Specific Transaction History Fragment opens
* Observer the issue

**Expected behavior:**

This di

[2020-02-24 15:29] Grandolf49 opened #754 "Current API Endpoint for auth is not functional"
**Summary:**

Current API Endpoint `demo.openmf.org` for auth is not functional and needs to be changed to `demo.mifos.io`

**Steps to reproduce:**

1. Navigate to
**mobile-wallet\core\src\main\java\org\mifos\mobilewallet\core\data\fineract\api\BaseURL.java**
2. Check the `API_ENDPOINT` and `API_ENDPOINT_SELF` URL which is set to `demo.openmf.org`

**Expected behavior:**

The `API_ENDPOINT` and `A

[2020-02-24 15:58] devansh-299 opened #756 "TextInputLayout in set amount dialog box"
**Summary:**

The Set Amount alert dialog box uses `EditText` while at all the other places `TextInputLayout` has been used. This breaks the consistency in the app user interface

**Steps to reproduce:**

*Go to Payments
* Tap on Show code
* Tap on Set Amount

**Expected behavior:**

`TextInputLayout` should have been used to maintain consistency in app's user interface

**Screenshots:**

![WhatsA

[2020-02-24 18:04] dubeyaayush07 opened #757 "No empty field validation in MerchantTransferActivity"
**Summary:**
MerchantTransferActivity does not validate for empty amount field

[2020-02-24 18:05] dubeyaayush07 commented on #757
I would like to work on this

[2020-02-25 17:12] dubeyaayush07 opened #759 "Redundant reference to TransactionsHistoryActivity in manifest"
**Summary:**
There is an activity definition for TransactionsHistoryActivity in the manifest but the activity file does not exist.

[2020-02-25 17:12] dubeyaayush07 commented on #759
I would like to work on this

[2020-02-26 13:53] anubhav11march opened #761 "Back Button not visible in View Receipt"
**Summary:**

The back button is invisible in the view receipt activity.

**Steps to reproduce:**

Go to View Receipt in Transactions History
![WhatsApp Image 2020-02-26 at 7 20 12 PM](https://user-images.githubusercontent.com/42939575/75350894-41944f00-58cd-11ea-8b91-d8ca0e3112c1.jpeg)

**Expected behavior:**

The back button should be visible to the user.

**Device and Android version:**

Huawei

[2020-02-26 13:54] anubhav11march commented on #761
I am working on this issue.

[2020-02-26 14:10] anubhav11march opened #762 "Softkeyboard closing only on tapping close button"
**Summary:**

Softkeyboard closing only on tapping close/back/dismiss button.

**Steps to reproduce:**

Login Activity
![WhatsApp-Video-2020-02-26-at-735](https://user-images.githubusercontent.com/42939575/75352315-946f0600-58cf-11ea-8c16-8aedab4c2a21.gif)

**Expected behavior:**

The keyboard should dismiss on tapping anywhere on the screen other than the Edittext box.

**Device and Android versi

[2020-02-26 14:10] anubhav11march commented on #762
Working on this.

[2020-02-26 18:15] dubeyaayush07 opened #766 "App crashes after fetching transactions in MerchantTransferPresenter"
**Summary:**
This happens because `getTransferDetail()` produces NullPointerException for transaction values whose transfer detail attribute was not set in `onTaskSuccess`.

[2020-02-26 18:16] dubeyaayush07 commented on #766
I would like to work on this

[2020-02-27 00:44] Bhavnaharitsa opened #768 "Feat:Share QR code facility"
**Summary:**

As of now, we cant share the QR code. I think we have to add a feature to share the QR code which would help users instead of taking screen shot and sending them

[2020-02-27 00:48] Bhavnaharitsa opened #769 "Fix: Down arrow Image instead of "X" arrow"
**Summary:**

![Screenshot_20200227-061701_Mifos Pay](https://user-images.githubusercontent.com/37215508/75401651-cc566780-5928-11ea-85fc-f1db1e258e5b.jpg)
 This particular image confuses me to click it. When I click it, nothing happens. Later, I learnt it is to swipe. So we can add a swipe down arrow image so that user will swipe down.

[2020-02-27 06:42] dubeyaayush07 opened #770 "Improve Currency Formatting"
**Summary:**

Currently currency is formatted in two parts  first the amount is formatted with decimal formatter then it is concatenated with the currency code what I am proposing is that we should use number formatter with its currency set using the currency code of the transaction this way we will be able to use currency specific formatting and symbol.

[2020-02-27 06:43] dubeyaayush07 commented on #770
I would like to work on this

[2020-02-27 10:59] refactor-droidyy commented on #761
@anubhav11march this issue is solved https://github.com/openMF/mobile-wallet/pull/708
 just waiting for maintainers to review .

[2020-02-28 03:33] Bhavnaharitsa opened #773 "fix: back arrow in QRActivity not seen"
**Summary:**

Due to the change of back arrow color in signup or register activity, the QR code back arrow has also changed.
We need to add a black arrow for such activities

[2020-02-28 06:33] dubeyaayush07 opened #774 "Bottom Navigation bar moves up with keyboard"
**Summary:**

When inputting values by using keyboard the bottom navigation bar moves up cluttering the UI. I have observed this behaviour does not happen always for example when the server is not responding the navbar stays down but still it's behaviour is finicky.

<img src="https://user-images.githubusercontent.com/30518564/75516324-369f0300-5a22-11ea-9a4b-573ec2994614.jpg" height="60%" width="

[2020-02-28 06:34] dubeyaayush07 commented on #774
I would like to work on this

[2020-02-28 12:40] dubeyaayush07 opened #777 "Variable names in KYCDescriptionFragment do not follow camel case convention"
**Summary:**
Some of the names do not follow camelCase naming convention and others need to be elaborated a little bit

[2020-02-29 01:00] Bhavnaharitsa opened #779 "feat: Add Tap Targets for first time contributors"
**Summary:**

We can introduce tap targets for first time contributors as there are many views in app right now.

[2020-02-29 01:01] Bhavnaharitsa opened #780 "feat: Introduction slides granting permissions from user"
**Summary:**

Every app has some introduction slides, which makes the app not only aesthetically good but also, gives the user a rough idea about what the app exactly is.
We need to have such introduction slides as well, which would display only during the first time of app installment.

[2020-02-29 01:12] Bhavnaharitsa commented on #730
@Grandolf49 Are you able to solve the error?
I think  if not, please paste the logs so that it will be helpful to figure out

[2020-02-29 01:13] Bhavnaharitsa commented on #780
@naman14 @shiv07tiwari @luckyman20 Thoughts please?

[2020-02-29 07:06] neeraj0403 commented on #768
@Bhavnaharitsa  can i work upon this ?

[2020-02-29 08:55] Bhavnaharitsa commented on #768
Sorry, I'm taking this up.

[2020-03-01 20:43] refactor-droidyy commented on #773
@already solved in #708

[2020-03-01 21:13] Bhavnaharitsa commented on #773
@refactor-droidyy Oh, sorry! Seems like a long untouched pr

[2020-03-02 10:43] dubeyaayush07 opened #782 "Improve validation in PaymentHubActivity"
**Summary:**

Validation in PaymentHubActivity (mainly in `makePaymentfromDetails`) can be improved in the following ways

- Check for zero amount
- Check for self account transfer
- Instantiate `partyIdType` radio group with a default radio button (currently the app starts with no radio button selected and if the user clicks on the submit button the app crashes)

[2020-03-02 10:43] dubeyaayush07 commented on #782
I would like to work on this

[2020-03-02 13:20] #782 closed

[2020-03-02 15:33] Bhavnaharitsa opened #784 "feat: Refurbish Settings page"
**Summary:**

Our settings page is quite noobish and does not follow any conventional app. We need to make one like that.
I suggest to refurbish the entire settings page using PreferenceCategory in Android and make a new settings page with the same functionalities.
Here is the link about it:
https://developer.android.com/reference/android/preference/PreferenceCategory

[2020-03-02 16:32] dubeyaayush07 opened #786 "Feat: add an option to share transaction receipt deeplink"
**Summary:**
Currently clicking the receipt link just copies it to the clipboard I think it will be better if we give the user option to share this link (which will include copying it to the clipboard).

[2020-03-02 16:32] dubeyaayush07 commented on #786
I would like to work on this

[2020-03-03 15:17] Bhavnaharitsa commented on #773
@refactor-droidyy Please get your pr merged. This seems rather important

[2020-03-03 15:48] dubeyaayush07 opened #788 "Feat: add an option to view downloaded receipt in ReceiptActivity"
**Summary:**
When the receipt is downloaded in the `ReceiptActivity` only the successful download message is displayed I think I would be better if we could also give the user the option to view the downloaded receipt

[2020-03-03 15:48] dubeyaayush07 commented on #788
I would like to work on this

[2020-03-03 18:25] refactor-droidyy opened #790 "feat: Read QR from local Storage"
Currently, the user can only scan the QR code.
If a user gets an image that is present inside the local storage this would be better for the user.

[2020-03-03 19:01] refactor-droidyy opened #791 "feat: Scroll to Bottom in History Fragment"
**Description**

If there is a large amount of transaction history available the user wants to look for a previous transaction then he needs to scroll a lot of times, what if there is an option or icon for the same this would be very useful in our app.

[2020-03-04 14:48] dubeyaayush07 commented on #790
Possible duplicate #440

[2020-03-05 07:29] #508 closed

[2020-03-05 17:21] devansh-299 opened #793 "Swipe to refresh not working"
**Summary:**

The `SwipeRefreshLayout` doesn't work for most of the fragments in the application. Currently we are using the same `BaseFragment` `SwipeRefreshLayout` for all the fragments and this also leads to unnecessary fetching of data from the server when the user just wants to refresh just a particular page

(For illustration - I took `HistoryFragment`)
**Steps to reproduce:**

* Turn off mo

[2020-03-06 06:26] dubeyaayush07 commented on #793
@devansh-299 @luckyman20  @naman14 This is the problem with the app in general, swipe refresh does not work anywhere in the app it is because of how the app is designed all these different fragments (which are a subclass of BaseFragment)share the same swipe layout and as view pager loads two different fragment at once the swipe refresh listener of the visible fragment gets overridden by the listen

[2020-03-06 06:37] devansh-299 commented on #793
@dubeyaayush07 yeah, you are completely right. I think there's a need to use separate `SwipeRefreshLayout` for each fragment.

[2020-03-06 06:52] dubeyaayush07 commented on #793
@devansh-299 Yeah that seems like the way to go but that would entail changing the basic architecture of the app (modifying MainActivity) maybe we could find another fix like in InvoiceFragment's `setupSwipeRefresh`
a check to see if swipeLayout is enabled or not and proceed only if it is not enabled but then we will have to find some way to disable it too when going back. We could also try using

[2020-03-06 07:28] devansh-299 commented on #793
I will try to come up with a solution soon as I can (I have my exam tomorrow) and revert back. If you can find one please suggest

[2020-03-06 07:33] devansh-299 commented on #793
I think we

[2020-03-07 13:45] singaltanmay opened #794 "App crashes when null amount submitted in MerchantTransferActivity"
**Summary:**

Due to no null check taking place before converting a String to a Double, the app crashes when the submit button is clicked.

**Steps to reproduce:**

In MerchantTransferActivity press the Submit button without entering any amount.

**Expected behavior:**

Prompt the user to enter an amount.

**Observed behavior:**

The app crashes. Logcat :
[code]
**Device and Android version:**

An

[2020-03-07 15:51] dubeyaayush07 commented on #794
duplicate #757 please check before submitting a new issue

[2020-03-07 16:15] #794 closed

[2020-03-08 10:36] devansh-299 commented on #793
@dubeyaayush07 I have made a PR addressing this issue. What are your thoughts?

[2020-03-08 10:41] devansh-299 commented on #779
@Bhavnaharitsa do you mean ShowCaseView ?

[2020-03-08 11:51] Bhavnaharitsa commented on #779
@devansh-299 No, read about tap-targets. They come as highlights in some apps guiding the users about the features of apps. :)

[2020-03-08 12:17] dubeyaayush07 commented on #793
@devansh-299 Really great work but have you checked by turning internet on/off? Because all these fragments still share the same `swipeRefreshLayout` instance (of the `MainActivity`) so enabling it in one place enables it in every fragment that is why I think it should not work

[2020-03-08 13:37] devansh-299 commented on #793
Thanks @dubeyaayush07 and refreshing after switching off data is working but this did help me finding another bug
![GIF-200308_190443](https://user-images.githubusercontent.com/46667021/76163863-f7825780-616f-11ea-8615-07521687ccd7.gif)

[2020-03-08 13:49] devansh-299 opened #798 "Irregularity in error layouts and progress views"
**Summary:**

Currently some fragments report error in fetching data with toasts and others with dedicated view
For example `HistoryFragment` and `MerchantFragment` report error with dedicated views while
`CardFragment` and `InvoicesFragment` does with toast messages also some have `ProgressBar` for showing fetching process while others don't have

**Steps to reproduce:**

* Go to above mentioned

[2020-03-08 14:20] devansh-299 commented on #779
They seem same to me :sweat_smile:

[2020-03-08 14:36] Bhavnaharitsa commented on #779
Then, I got to read about the difference😅

[2020-03-08 18:30] dubeyaayush07 opened #800 "No cancel button in ShowQrActivity"
**Summary:**

The set amount dialog in `ShowQrActivity` only has reset and confirm button there is no option to cancel the dialog

[2020-03-08 18:30] dubeyaayush07 commented on #800
I would like to work on this

[2020-03-08 20:21] refactor-droidyy opened #802 "Set Amount Dialog 's Reset Button Behaviour in ShowQr Activity"
**Summary:**

Set Amount Dialog 's Reset Button Behaviour in ShowQr Activity is like Cancel option.

**Steps to reproduce:**

How can we reproduce again the issue?

Launch the app.
Navigate to Payment->Request->Show OR.

**Expected behaviour:**

The Neutral Button Should be renamed as Cancel Button and Toast should not be displayed "Reset Amount Successfully".

**Observed behaviour:**
The Dialog o

[2020-03-09 08:18] ankurxshukla commented on #791
Working on it

[2020-03-10 08:05] devansh-299 opened #806 "ProgressBar for transaction details fetching process"
**Summary:**

Under some conditions, users can experience noticeable time lag b/w when the  transaction details are successfully fetched and the time when they press on a transaction inside `History` Fragment
During this we can display progress bar to notify the user that app is actually fetching the details
Also currently there's no provision for notifying the user if the fetching process somehow

[2020-03-10 09:13] devansh-299 opened #808 "SpecificTransactionHistory - no progressbar and no error state view"
**Summary:**

While the app is fetching the specific transactions from the servers, a blank screen is shown which affects the user experience. Also currently there's no code to handle the case when any error occurs while fetching the specific transactions

**Steps to reproduce:**

* Go to transactions -> History
* Tap on any transaction and then tap again to see specific transactions
* Notice the

[2020-03-10 18:36] devansh-299 commented on #214
Yes, I can still reproduce this issue.

[2020-03-11 15:03] luckyman20 commented on #802
Closing this. Reason mentioned in #803

[2020-03-11 15:03] #802 closed

[2020-03-11 15:43] luckyman20 commented on #214
@devansh-299 Do we have API for this?

[2020-03-11 16:14] devansh-299 commented on #214
@luckyman20 The updating/uploading service has already been created but hasn't been used yet. I think using that service we can solve this issue.
Should I work on this?

![Screenshot from 2020-03-11 21-42-23](https://user-images.githubusercontent.com/46667021/76438692-569ad300-63e1-11ea-97dc-df9c10e4aabe.png)

[2020-03-11 17:05] luckyman20 commented on #214
In that case, go ahead!

[2020-03-11 17:45] devansh-299 commented on #214
Thanks

[2020-03-11 21:43] asraman9792 commented on #808
sir is this issue open ?

[2020-03-11 21:44] asraman9792 commented on #806
sir is this issue open can i help ?

[2020-03-12 02:59] devansh-299 commented on #808
I have already addressed this issue in #809

[2020-03-12 03:00] devansh-299 commented on #806
@asraman9792 I have already addressed this issue in #809

[2020-03-13 00:06] Bhavnaharitsa opened #812 "feat: scroll to bottom arrow in history fragment"
**Summary:**

We need to have a scroll to bottom down arrow in transaction history fragment as it will help the users to check their bottom most chats

[2020-03-13 03:46] dubeyaayush07 commented on #812
Possible duplicate #791

[2020-03-13 04:08] Bhavnaharitsa commented on #812
@dubeyaayush07 I meant the history of transactions in home page and the fragment..
To whichever the page the other issue is implementing, I shall implement the other one

[2020-03-13 10:12] harchani-ritik commented on #812
@Bhavnaharitsa can I work on this?

[2020-03-13 13:09] refactor-droidyy commented on #812
@Bhavnaharitsa the same fragments is inflated on both the activity I guess

[2020-03-13 14:28] garvit984 opened #813 "No intent for Opening Receipt Link in Receipt"
**Summary:**

On clicking the receipt link in the receipt, it does not open the webpage. Only Copy feature works.

**Steps to reproduce:**

1. Select Payments
2. Select History
3. Click on any transaction
4.View Receipt
5. Click on Receipt link
**Expected behavior:**
It should have opened the webpage for receipt
**Observed behavior:**
But it does nothing on clicking.

**Device and Android version:

[2020-03-13 14:28] garvit984 commented on #813
I'll be working on it.
@naman14

[2020-03-13 15:38] dubeyaayush07 commented on #813
duplicate #786 please check before creating a new issue

[2020-03-14 05:27] garvit984 commented on #786
@dubeyaayush07 My intentions are not to share the link but to open in browser.

[2020-03-14 05:46] garvit984 commented on #813
@dubeyaayush07 it is not a duplicate of #786 .There ,your intentions were to share it but here mine are to open in web browser.

[2020-03-14 15:57] Bhavnaharitsa opened #816 "fix: restrict amount in ShowQr"
**Summary:**
The ShowQr, in the reset amount, the tag accepts as much as amount possible without any constraint. Usually, banks have a constraint of about one lakh transaction. I think we should have that too

[2020-03-15 02:34] Bhavnaharitsa opened #818 "fix: no state shown in signup activity"
**Summary:**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/37215508/76694021-6b05f680-6693-11ea-898e-a57ea98b2102.gif)

There is no state shown on clicking state in signup activity and it does not accept state even after we type our state or place.
The states should be shown or else the user should be given an option to atleast type their own state.

[2020-03-15 02:45] Bhavnaharitsa opened #819 "fix: Many hardcoded strings in java files"
**Summary:**
There are many hardcoded strings in many java files which can be assigned string values.
For example:
1. ShowQr Activity
2. SignUpActivity
3. LinkBankAccountActivity
etc.

[2020-03-16 08:04] dubeyaayush07 opened #822 "Cursor color mismatch in SendFragment"
**Summary:**
The cursor in the editText is coloured green and does not match with the overall blue theme
<img src="https://user-images.githubusercontent.com/30518564/76735299-a3d4c700-678a-11ea-9a78-a32ec841fce3.jpg" height="60%" width="60%" >

[2020-03-16 08:04] dubeyaayush07 commented on #822
I would like to work on this

[2020-03-16 08:21] dubeyaayush07 commented on #818
Working fine for me also hyderabad and madurai are not states
<img src="https://user-images.githubusercontent.com/30518564/76736471-dc75a000-678c-11ea-9ddd-eea33a546432.jpg" height="60%" width="60%">

[2020-03-16 08:52] Bhavnaharitsa commented on #818
@dubeyaayush07 Yes, I tried with states
 Didnt work
Let me see anyway

[2020-03-16 08:59] Bhavnaharitsa opened #824 "Fix: Change Constants to strings"
**Summary:**
We have many Constants in our app which are linked to views which might cause issues when we migrate.
We need to convert them into strings.xml

[2020-03-16 09:38] ArnavGohil opened #825 "Redesign: Use TextInputLayout instead of EditText in MobileVerification Activity"
In activity_mobile_verification , EditText is used for Mobile Number and OTP instead of TextInputLayout .

[2020-03-16 09:48] ArnavGohil commented on #825
@luckyman20  Can I work on this issue ?

[2020-03-16 11:02] #822 closed

[2020-03-16 11:21] #816 closed

[2020-03-16 11:23] #808 closed

[2020-03-16 11:24] #806 closed

[2020-03-16 11:24] #798 closed

[2020-03-16 11:25] #661 closed

[2020-03-16 11:29] #762 closed

[2020-03-16 12:01] #439 closed

[2020-03-16 21:14] utsavmajhi commented on #825
I m solving this issue

[2020-03-17 06:49] #819 closed

[2020-03-17 07:26] Bhavnaharitsa opened #830 "fix: no intent to the receipt of transacton when viewed from HomeFragment"
**Summary:**

In HistoryFragment, we can view the receipt and download it too on clicking on the history. but, in Home page we cannot. We need to have that feature too in Home page

[2020-03-17 07:35] Bhavnaharitsa opened #831 "fix: mention the credential being shown in ShowQrActivity"
**Summary:**
In ShowQrActivity, we are simple displaying the email of the user. It would be nice if we mentioned with specifics like `Email : naman@mifos.io` and also will help to differentiate the credentials when more of them are added.

[2020-03-17 07:37] Bhavnaharitsa commented on #831
![Screenshot_20200317-125437_Mifos Pay](https://user-images.githubusercontent.com/37215508/76832884-430fc200-6850-11ea-81bd-5d7647ebc890.jpg)

[2020-03-17 07:41] luckyman20 commented on #723
Reason mentioned in #724

[2020-03-17 07:41] #723 closed

[2020-03-17 07:46] luckyman20 commented on #752
@devansh-299 Please provide exact steps to reproduce the bug.

[2020-03-17 07:49] #654 closed

[2020-03-17 07:52] #464 closed

[2020-03-17 07:54] #754 closed

[2020-03-17 08:08] devansh-299 commented on #752
Sir, I have updated the Issue statement

[2020-03-17 08:41] #752 closed

[2020-03-17 10:42] luckyman20 commented on #757
@dubeyaayush07 Please mention steps to reproduce.

[2020-03-17 10:44] dubeyaayush07 commented on #830
possible duplicate #746

[2020-03-17 10:52] dubeyaayush07 commented on #757
@luckyman20
Steps to Reproduce
Go to Merchant Transfer Activity do not enter anything in the amount field click submit the app crashes because null value is allowed

[2020-03-17 10:57] luckyman20 commented on #757
How to reach to MerchantTransferActivity? Detailed description is needed.

[2020-03-17 11:01] Bhavnaharitsa commented on #830
@dubeyaayush07 Oh, thank you! Didn't notice

[2020-03-17 11:01] #830 closed

[2020-03-17 11:11] dubeyaayush07 commented on #757
![Screenrecorder-2020-03-17-16-37](https://user-images.githubusercontent.com/30518564/76850779-14084900-686e-11ea-8871-0d09ddce0f91.gif)
@luckyman20

[2020-03-17 11:32] #728 closed

[2020-03-17 13:13] luckyman20 commented on #757
@dubeyaayush07 I am not able to load the merchants only. On which branch and server you are testing this?

[2020-03-17 13:21] dubeyaayush07 commented on #757
@luckyman20  I am testing on the dev branch I removed KYC fragment from view layout to test this, view layout loads two fragments at once and when fetch fails in the KYC fragment it redirects to the HomeFragment that is why you are not able to access the merchant fragment. I am currently working on fixing this problem in another issue.

[2020-03-17 15:19] Bhavnaharitsa opened #834 "Fix: Hide add cards when cards are not fetched"
**Summary:**

When the existing cards are not fetched, I think we can hide the add card option because the user might not be sure what card he/she already has and might want to see the existing cards before adding a card.

[2020-03-18 03:17] Bhavnaharitsa commented on #818
@dubeyaayush07 Somehow, I am not able to reproduce what you can. I have run and tested the app twice or even thrice. Might be, the API is not getting called.
Are the end points in your end `demo.mifos.io`? If at all, that has something to do with this

[2020-03-18 06:29] dubeyaayush07 commented on #818
Yes, I am using demo.mifos.io as my endpoint still if it is not working for you it is worth investigating maybe we can ask someone else to verify  @jawidMuhammadi @devansh-299

[2020-03-18 06:55] Bhavnaharitsa commented on #818
@dubeyaayush07 Cool, thank you

[2020-03-18 07:07] devansh-299 commented on #818
@dubeyaayush07 @Bhavnaharitsa its working fine for me too

[2020-03-18 07:13] Bhavnaharitsa commented on #818
Okay, must be some error on my end. Thank you :)

[2020-03-18 10:16] devansh-299 opened #836 "Send Fragment - swipe progress bar appears while attempting self transfer"
**Summary:**

When a user attempts to send money to himself, the swipe progress bar appears. There's no need for this and secondly, it doesn't disappear unless the user moves to another fragment

**Steps to reproduce:**

* Go to Payments -> Send Tab
* Try to send money to account same as the account you are using
* Observer the mentioned error

**Expected behavior:**

Swipe progress bar shouldn't

[2020-03-18 16:26] AntonAsmirko commented on #824
Can I work on this issue?

[2020-03-18 16:28] AntonAsmirko commented on #834
Can I work on this issue?

[2020-03-18 16:42] Bhavnaharitsa commented on #834
@AntonAsmirko Im sorry, but I'm already working on it. Please find out other issues :)

[2020-03-18 16:43] Bhavnaharitsa commented on #824
@AntonAsmirko Im sorry, but I'm already working on it. Please find out other issues :)

[2020-03-18 16:55] AntonAsmirko commented on #784
can I work on this issue?

[2020-03-18 17:46] #836 closed

[2020-03-19 08:39] luckyman20 commented on #386
This is now implemented. Thanks for the PR.

[2020-03-19 08:39] #386 closed

[2020-03-20 13:36] valkyr13 commented on #780
Can I work on this?

[2020-03-20 13:50] valkyr13 commented on #756
@devansh-299 can i work on this?

[2020-03-20 16:47] devansh-299 commented on #756
yes, please go ahead

[2020-03-21 08:14] dubeyaayush07 opened #841 "no checks for insufficient balance and self account transfer when paying by scanning QR"
**Summary:**

When paying via QR code in SendFragment the transaction is initiated directly without checking for insufficient balance and self account transfer. There is also redundant code in `onActivityResult` for showing `MakeTransferFragment`.

![Screenrecorder-2020-03-21-13-29](https://user-images.githubusercontent.com/30518564/77222526-0a3a5a80-6b7a-11ea-82c4-50a644688290.gif)

[2020-03-21 08:14] dubeyaayush07 commented on #841
I would like to work on this

[2020-03-21 18:20] devansh-299 commented on #264
@shaliniv16 @luckyman20 @shiv07tiwari can I work on this issue?

[2020-03-22 11:08] devansh-299 opened #844 "Disable bottom sheet dragging while transfer process is going on"
**Summary:**

While the transfer the process is going on the customer can drag the bottom sheet and interrupt the process.

**Steps to reproduce:**

* Go to Payments -> Send tab
* Send money
* Observe that while the transfer process is going on the user can swipe down.

**Expected behavior:**

While the transaction process is going on, the user shouldn't be allowed to drag the bottom sheet

**Obse

[2020-03-22 12:47] utsavmajhi commented on #844
Can i work on this?

[2020-03-22 12:51] devansh-299 commented on #844
I am already working on this

[2020-03-22 13:27] utsavmajhi commented on #844
ok

[2020-03-22 13:47] utsavmajhi opened #845 "Bottom Navigation Bar coming up while entering details using keyboard."
**Summary:**
while opening keyboard to input the values of amt ,the bottom navigation bar comes upward and hiding the fields

**Steps to reproduce:**
-Go to Payments -> Send tab
-Enter amount or Virtual Payment Address.
-observe the bottom navbar.

**Expected behaviour:**
-Bottom navigation should not come up while entering any input using keyboard.

**Observed behaviour**
-Bottom navbar coming up

[2020-03-22 15:22] dubeyaayush07 commented on #845
duplicate #774

[2020-03-22 16:36] luckyman20 commented on #780
As of now this addition is unnecessary since we are almost unclear about the features we are going to have at the time of release. Also, this would add to the app size too and considering utility of the app it is almost understandable what primary features we have.

[2020-03-22 16:36] #780 closed

[2020-03-22 18:29] refactor-droidyy opened #848 "UI glitch in Payment Fragment"
**Summary:**

The Tabs in Tab layout in Payment Fragment are of creating a Bad UI letting space at the right side of the screen.

**Steps to reproduce:**

On Launching the app navigate to the Payment section.

**Expected behaviour:**

There should be no blank space on the right side in the Tab layout in  Payment Fragment.

**Observed behaviour:**

There is extra space on the right side of the Tab

[2020-03-22 20:34] refactor-droidyy opened #850 "No login session save if user Skip setting the Passcode"
**Summary:**

When a user tries to login and skips Setting the Passcode the user session is not saved when the app is closed.

**Steps to reproduce:**

Login to get to the Setting Passcode Activity now press the Skip button instead of setting the passcode. Close the app and restart.

**Expected behaviour:**

The User login Session should be restored.

**Observed behaviour:**

The user has to login

[2020-03-23 07:12] refactor-droidyy opened #851 "Exapndable List View in Faq Activity are not align with the child elements"
**Summary:**

In Faq Activity, the Expandable ListView is not aligned with the child view text.

**Steps to reproduce:**

Navigate to FAQ section clicking on the overlay menu icon.expand the list by clicking on down arrow.

**Expected behaviour:**

The child view after the expanding of ListView should be the same align to each other.

**Observed behaviour:**

Currently, the child views text that s

[2020-03-23 08:22] refactor-droidyy opened #853 "Add Feature for Passcode Verification to Edit Profile Credential"
**Summary:**

Since the Edit profile section contains important data and if someone tries to edit profile user should again verify the identity.

[2020-03-24 03:39] shiv07tiwari commented on #264
@devansh-299 This will be implemented when the change passcode option is available.

[2020-03-24 03:39] #264 closed

[2020-03-24 07:12] devansh-299 commented on #264
Can I work on implementing the change passcode functionality? I have already worked on a similar functionality for Mifos Mobile

[2020-03-24 11:19] #768 closed

[2020-03-25 03:08] Bhavnaharitsa opened #857 "Fix: Show error or toast when account number is not enough"
**Summary:**
In SetupUpiPIN, the account number of debit card accepts any number of digits even 1 digit. We should give a toast when the user doesnt enter sufficient amount of digits which is usually 16 or even 15 in case of Amex.

[2020-03-25 03:08] Bhavnaharitsa commented on #857
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/37215508/77497722-035e6100-6e74-11ea-8b92-a4ccaf40a760.gif)

[2020-03-25 16:38] dubeyaayush07 opened #858 "Keyboard stays up when toggling from SendFragment to RequestFragment"
**Summary:**

When moving from SendFragment to RequestFramgment if the keyboard is up it does not go down.
![Screenrecorder-2020-03-25-21-58](https://user-images.githubusercontent.com/30518564/77561715-13faef80-6ee5-11ea-8de5-3b4a7dfcd9f9.gif)

[2020-03-25 16:38] dubeyaayush07 commented on #858
I would like to work on this

[2020-03-27 10:45] shobhit24 commented on #857
I am on it

[2020-03-27 11:21] Bhavnaharitsa commented on #857
@shobhit24 Sorry, I'm working on it! :))

[2020-03-28 09:26] ankurs287 commented on #850
Hi @refactor-droidyy , that is the whole purpose of asking the user to set up a pass-code. For reference, check out how GPay works.

[2020-03-28 09:26] #850 closed

[2020-03-28 14:37] refactor-droidyy commented on #850
@ankurs287 yes you are correct but in Gpay the user is allowed to enter the Main screen if he sets a passcode successfully there is no skip button. However, we can do is that hide the skip button. What is your view regarding this?

[2020-03-28 18:49] HaripriyaB commented on #774
I would like to work on this

[2020-03-28 18:55] dubeyaayush07 commented on #774
There is already a PR for this issue

[2020-03-28 18:57] HaripriyaB commented on #774
oh okay

[2020-03-28 19:10] HaripriyaB commented on #613
I wish to work on this

[2020-03-29 04:15] HaripriyaB opened #862 "No session for login. App asks for login whenever opened."
**Summary:**
When user closes the app and reopens the session is closed and asks to login again.
**Steps to reproduce:**
1.open app and login using test credentials: username: mifospay01 pwd: Password1
2. close the app
3. reopen. U can find that the session is closed and app asks for login again.

**Expected behavior:**
Open home page instead of login page.
**Device and Android version:**
Android

[2020-03-29 05:17] devansh-299 commented on #862
@HaripriyaB this is not a bug but actually a feature that the developers wanted to include to ensure maximum security.

[2020-03-29 05:59] HaripriyaB commented on #862
oh...so there is no need for a fix?

[2020-03-29 06:03] HaripriyaB commented on #709
Pictures you mean to say the profile pic or anyother??

[2020-03-29 06:46] Bhavnaharitsa commented on #709
@HaripriyaB No, how can we convert that!! Its what the user uploads, but the png images as clearly given in issue title

[2020-03-29 06:57] HaripriyaB commented on #709
So what images are to be converted?

[2020-03-29 07:50] devansh-299 commented on #862
yeah, according to me there's no need to work on this

[2020-03-29 09:39] #862 closed

[2020-03-29 10:44] Bhavnaharitsa commented on #709
@HaripriyaB The images already present in the app.

[2020-03-29 16:09] tacitonic opened #863 "Payment tab > Send - Appearance changes"
**Summary:**
Changes to overall layout. Added icons for improving appearance

**Steps to reproduce:**
Open Payments fragment, then open Send tab.

**Expected behavior:**
Spacing should be uniform, icons can be added to improve appearance.

**Observed behavior:**
Wrong spacing, margins, padding. No icons on TIL, buttons.

**Device and Android version:**
Samsung Galaxy S9+ running Android 10

**Scre

[2020-03-29 16:35] tacitonic opened #865 "Redundant TIL hints in "Edit Profile" Section"
**Summary:**
1 instance  of redundant hints for each TIL. Appearance changes - added icons.

**Steps to reproduce:**

Go to Profile Tab, click on profile picture.

**Expected behavior:**

Single hint is expected. Icons expected.

**Observed behavior:**

Multiple hints. Wrong TIL elements are connected to the backend for displaying hints.

Samsung Galaxy S9+ running Android 10

**Screenshots:**

![

[2020-03-29 16:38] tacitonic commented on #865
#864

[2020-03-29 16:39] tacitonic commented on #865
#864

[2020-03-29 17:18] HaripriyaB commented on #709
Can I work on it? Pls guide me through..

[2020-03-30 10:52] Bhavnaharitsa commented on #709
@HaripriyaB I have taken up the issue and am working on it. I'm sorry, but you can look for other issues :)

[2020-03-30 11:59] ankurs287 commented on #850
@refactor-droidyy I do not think it is necessary. In many other major banking apps (Ex: YONO SBI), accessing features via passcode is optional after they have logged in successfully using their original credentials.
Reason: Some users may not feel that it is as secure as logging in everytime with their username and password. I also feel a 4-digit passcode is not safe as one can withdraw/ send mone

[2020-03-30 14:50] refactor-droidyy opened #866 "Feature to add Animation for RecyclerView Item while loading"
**Feature to be added**

Adding animation for Recycler View item loading for displaying the history of transaction

[2020-04-01 04:46] Bhavnaharitsa opened #868 "Feat: Print the amount in words in receipt fragment"
**Summary:**

The receipt only displays the amount but many banks display the given amount is words too. I think we need to have that feature.

[2020-04-02 05:19] refactor-droidyy opened #869 "Feature to dowload previous transaction statements"
**Summary:**

As seen in apps like Paytm there is a feature for the user to download transaction statements that are 1week,3week or 1 month previous that are mailed to in Pdf format to the user linked mail id.

[2020-04-02 06:54] Bhavnaharitsa commented on #869
@refactor-droidyy Is it share feature basically?

[2020-04-02 06:58] dubeyaayush07 opened #870 "Incorporate the official Mifos Pay logo into the app"
**Summary:**

The official [logo](https://drive.google.com/drive/folders/1-TJ-pB3h6CvKWcR0LBcKbrypWpDnNKdo) for Mifos Pay has been designed and approved. We should start implementing this logo in the app.

[2020-04-02 06:58] dubeyaayush07 commented on #870
I would like to work on this

[2020-04-02 07:19] dubeyaayush07 commented on #869
@refactor-droidyy We already have the functionality to download and share receipts. Still if you want to implement it ask the maintainers first to avoid redundant work.

[2020-04-02 07:39] refactor-droidyy commented on #869
@Bhavnaharitsa @dubeyaayush07 u guys use Paytm then sure you can understand what I'm trying to clarify. what I'm trying to implement is that the user can get mini statements for like 1 week, 3 weeks or a month. I have not mentioned for downloading the single transaction receipt.

[2020-04-02 07:42] refactor-droidyy commented on #870
@dubeyaayush07 The official logo looks great. Apart from the login and passcode layout where else you find putting the official logo beneficial?

[2020-04-02 07:57] dubeyaayush07 commented on #869
@refactor-droidyy  Oh you mean giving the user a general statement of all of their transactions during a period. Sounds great, do ask the maintainers before implementing.

[2020-04-02 07:58] dubeyaayush07 commented on #870
@refactor-droidyy I am thinking we can use it as the app icon also

[2020-04-02 08:42] refactor-droidyy commented on #870
@dubeyaayush07 Great :+1: . It would be great if the receipt has the Mifos Pay logo I mean it will really look good.

[2020-04-02 08:43] refactor-droidyy commented on #869
@shiv07tiwari @luckyman20 is this issue valid?

[2020-04-02 08:44] dubeyaayush07 commented on #870
@refactor-droidyy Yeah you are right, thanks

[2020-04-02 10:14] rachittt commented on #870
@dubeyaayush07 implement it on the app icon for now. We can wait for the project maintainers to comment regarding other use cases.

[2020-04-03 11:00] devansh-299 opened #872 "Adds Cards: Toast message not required"
**Summary:**

Pressing the add card button without giving the complete details shows "Your card has expired" toast message. There's no need for this toast message

**Steps to reproduce:**

* Go to Finance -> Cards Tab
* Tap on Add Cards
* Enter incomplete details and click on ADD button

**Expected behavior:**

Toast message shouldn't be displayed

**Device and Android version:**

Xiaomi PocoF1
An

[2020-04-03 11:29] dubeyaayush07 commented on #872
@devansh-299 It is for the expiry date, as the date is set to the current date by default.The the toast is displayed when the user tries to add the card without modifying the default date. Although I agree the toast seems a bit out of place.

[2020-04-03 11:31] devansh-299 commented on #872
Yes, I also realised this after looking at the code. Thanks

[2020-04-04 10:30] #831 closed

[2020-04-04 14:03] #818 closed

[2020-04-04 14:04] #733 closed

[2020-04-07 11:20] vodera opened #874 "FINERACT-726"
**Summary:**
"Invalid JSON in BODY (no longer URL param; see FINERACT-726) of POST to /authentication: ",

**Steps to reproduce:**

Pull from the latest sources in the dev branch and run the code.

**Expected behavior:**
Authentication to be successful

**Observed behavior:**

ERROR: "Invalid JSON in BODY (no longer URL param; see FINERACT-726) of POST to /authentication: ", "path":"/fineract-prov

[2020-04-07 18:46] devansh-299 opened #875 "feat: Dark mode support"
**Feature Description:**

These days, most of the applications are providing an option to switch to dark mode to the users. Mifos Pay is currently based on light theme and users should be provided with an option to switch to dark mode instead.

[2020-04-07 18:47] devansh-299 commented on #875
@shiv07tiwari @naman14 can I work on implementing this feature?

[2020-04-08 02:40] Bhavnaharitsa commented on #874
@vodera Unfortunately, I am not able to reproduce the error. Could you please attach a screenshot of it?

[2020-04-08 12:31] dubeyaayush07 opened #876 "VPA labeled incorrectly as Email in ShowQrActivity"
**Summary:**
In `ShowQrActivity` VPA is incorrectly labeled as email. Also after set amount dialog the label disappears.

<img src="https://user-images.githubusercontent.com/30518564/78784331-c8574400-79c2-11ea-9519-cbdbdddfb360.jpg" height="60%" width="60%">

![Screenrecorder-2020-04-08-17-48](https://user-images.githubusercontent.com/30518564/78784431-f3419800-79c2-11ea-80b9-0d9e55a76a6a.gif)

[2020-04-09 02:37] Bhavnaharitsa commented on #870
@dubeyaayush07 @rachittt If the logo is finalized, then I would like to implement Splash screen. What say?

[2020-04-09 03:04] refactor-droidyy opened #878 "Update Readme"
**Summary:**

Since the Official logo of mifos pay is now out so replacing the old mifos logo with the new mifos pay one.

[2020-04-09 03:20] refactor-droidyy opened #880 "feat: Integrating Payments via Paytm Android SDK."
**Summary:**

Add payments to mifos pay app with Paytm SDK
Paytm Android SDK is a secure, PCI-compliant way to accept Debit/Credit card, Net-Banking, UPI and Paytm wallet payments.

[2020-04-09 03:20] refactor-droidyy commented on #880
@naman14 @shiv07tiwari can I work on adding this feature for payment option.

[2020-04-09 05:48] dubeyaayush07 commented on #870
@Bhavnaharitsa Seems like a nice idea, do ask the maintainers first

[2020-04-09 14:19] Bhavnaharitsa opened #881 "feat: Intro Splash Screen"
**Summary:**
I think we need to have an intro screen since the logo of the app is finalised and also it would look good aesthetically.
The Intro Screen would come only when the app is installed for the first time or when the user kills the app.

[2020-04-09 17:06] #870 closed

[2020-04-10 06:47] refactor-droidyy opened #883 "Add official logo in Passcode section"
**Summary:**
Currently, there was no official logo visible in the Passcode section while login , entering or setting the passcode.

[2020-04-10 13:36] dubeyaayush07 opened #885 "Feat: incorporate Mifos Pay logo in the login screen"
**Summary:**
We can use the mifospay logo in LoginActivity replacing the mifos logo and the textview

[2020-04-11 02:27] Bhavnaharitsa opened #888 "fix: Change the screenshots with new logo in it"
**Summary:**

The Screenshots.md file has the entire screenshots of the app but the logo is of the previous one. Since we have changed the logo, I think it would be better if we update the Readme as well.

[2020-04-11 04:09] dubeyaayush07 commented on #888
I think we should wait a little bit as the logo is not fully integrated yet (login, passcode, receipt, splash).

[2020-04-11 06:13] Bhavnaharitsa commented on #888
@dubeyaayush07 Yes, we can wait :)

[2020-04-11 16:12] devansh-299 commented on #365
@luckyman20 can I work on this issue as this problem hasn't been addressed from a long time?

[2020-04-11 16:47] #885 closed

[2020-04-11 16:58] devansh-299 opened #889 "LoginActivity: app crashes on tapping on background"
**Summary:**

The application crashes while attempting to hide the onscreen keyboard on the LoginActivity.

**Steps to reproduce:**

* Open the activity
* Before clicking on any of the EditTexts or buttons, tap on any background element

**Expected behavior:**
The application shouldn't have crashed

**Stack Trace:**
![sss](https://user-images.githubusercontent.com/46667021/79049979-95bc7e00-7c44-1

[2020-04-12 04:57] luckyman20 commented on #365
@nikhil-sachdeva This method can pose possible security concerns. We should have an API for uploading the image.

[2020-04-12 05:08] #889 closed

[2020-04-12 18:15] devansh-299 opened #891 "Improvements in ChooseSimDialog"
**Summary:**

* Currently, we have fixed the number of sim cards as 2 which may not be true for every device and secondly while choosing the sim, the user must be made aware of the sim he/she is selecting by mentioning the network operator
* There's no check for the case when the user doesn't select any sim

**Steps to reproduce:**

* Go to Accounts -> Tap on Add Account Chip
* Tap on any bank and

[2020-04-12 19:24] devansh-299 opened #892 "ChooseSimDialog: incorrect way of getting phone number"
**Summary:**

Currently, in `ChooseSimDialog` we are selecting the sim cards and plan to use the selected sim card to fetch the phone number for phone number verification. This approach may fail for certain mobile devices and certain network providers (as explained [here](https://stackoverflow.com/questions/5134398/telephonymanager-getline1number-failing/5134725#5134725)). Hence we should manually

[2020-04-12 19:25] #891 closed

[2020-04-12 19:26] devansh-299 commented on #892
@luckyman20 @shiv07tiwari what are your thoughts

[2020-04-14 14:00] luckyman20 commented on #883
Reason mentioned in PR #884

[2020-04-14 14:00] #883 closed

[2020-04-14 14:28] vodera commented on #874
![FINERACT-726](https://user-images.githubusercontent.com/14106148/79236096-2d081800-7e75-11ea-85c7-221edfaf84d1.PNG)

This is a screenshot of the logs, when trying to login. After investigating the issue further i found this article on FINERACT-726
https://issues.apache.org/jira/browse/FINERACT-726

[2020-04-15 11:43] shobhit24 opened #893 "Update new mifos_icon to login screen"
**Summary:**

Summarize your issue here.

**Steps to reproduce:**

How can we reproduce again the issue?

**Expected behavior:**

What did you expect the app to do?

**Observed behavior:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you encounter this on?  What Android
version (e.g., Andr

[2020-04-15 13:03] devansh-299 commented on #893
@shobhit24 duplicate of #885

[2020-04-15 13:08] shobhit24 commented on #893
Oh I see, but why the login screen still having that same old icon?

[2020-04-15 13:11] #893 closed

[2020-04-15 19:09] devansh-299 commented on #893
@shobhit24 because the PR addressing the issue was closed. You can referthe discussion over [here](https://github.com/openMF/mobile-wallet/pull/886)

[2020-04-15 19:44] shobhit24 commented on #857
We should check the length of debit card number in between 12-19, as debit card number count ranges from 12 to 19.

[2020-04-16 09:39] Bhavnaharitsa commented on #878
@refactor-droidyy I think this issue is solved as Readme contains the new logo. I think we can close it now :)

[2020-04-16 09:42] refactor-droidyy commented on #878
@Bhavnaharitsa sure I thought it would have automatically closed as the merge happens. thanks :)

[2020-04-16 09:42] #878 closed

[2020-04-16 13:46] Bhavnaharitsa opened #895 "fix: No proper toast when no amount entered in reset"
**Summary:**

When there is no amount entered, it still shows reset successful which shouldn't and it should give a toast by saying to enter some amount.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/37215508/79464197-64162f00-8017-11ea-92ed-adb5197a5945.gif)

[2020-04-16 13:53] #895 closed

[2020-04-16 14:46] HaripriyaB opened #896 "Payments section not able to type mobile number completely"
**Summary:**
While typing a mobile number in payments section, it doesn't type more than 6 numbers. Refer mocks below.
**Expected behavior:**

It should accept a 10 digit number as input.

**Observed behavior:**
It doesn't completely allow user to type the 10 digit numbers instead only 6 numbers it shows.

**Device and Android version:**
Android 9
Oppo A9 2020

**Mocks:**

![mifospayissuemobilenum

[2020-04-16 15:38] shobhit24 commented on #896
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48084596/79476306-6f248b80-8026-11ea-8034-a6af7cfcafc6.gif)

[2020-04-16 15:54] HaripriyaB commented on #896
@shobhit24 Was this working after the recent pull from the github??

[2020-04-16 15:56] shobhit24 commented on #896
Yes, yesterday only I"ve updated repo.

[2020-04-16 16:01] HaripriyaB commented on #896
@shobhit24 But I pulled few hours back and run on my android studio. And this was the bug I got.

[2020-04-16 16:21] shobhit24 commented on #896
Okay, let's wait for someone else's reply to this.

[2020-04-16 16:25] shobhit24 commented on #857
@Bhavnaharitsa , please have a look at it

[2020-04-16 16:34] dubeyaayush07 commented on #896
@HaripriyaB Its working fine for me too

[2020-04-16 16:42] HaripriyaB commented on #896
Oh!.. Then why isn't it working in mine :-( I'll wait for one more person's reply and then I'll close if it doesn't seems a genuine issue.

[2020-04-16 18:36] shobhit24 opened #897 "Keyboard hides VPA EditText View while typing"
**Summary:**
In the SendFragment, while entering the Virtual Payment Address the keyboard hides the view field.

**Expected behavior:**
It should be scrollable if the keyboard hides any EditText view

![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/48084596/79493512-3644e080-803f-11ea-9f0b-d30b0fb4770d.gif)

[2020-04-16 19:06] HaripriyaB commented on #897
Duplicate https://github.com/openMF/mobile-wallet/issues/774#issue-572555999

[2020-04-16 19:06] HaripriyaB commented on #897
And this issue has already been resolved.

[2020-04-16 19:27] rachittt commented on #896
@HaripriyaB this bug has been solved already. Kindly update your local repo with the `dev` branch of this remote repository. It will solve your problem.
**You can close this issue** and if you are unable to solve the problem on your end, just ask for help on the Mobile Wallet gitter channel. Thanks!

[2020-04-16 19:30] HaripriyaB commented on #896
ok thanks @rachittt

[2020-04-16 20:04] shobhit24 commented on #897
@HaripriyaB oh okay
I'm closing this issue.

[2020-04-16 20:04] #897 closed

[2020-04-17 06:33] #876 closed

[2020-04-17 07:01] luckyman20 commented on #892
@devansh-299 Yes, I agree on this one. There might be some inconsistencies which can create a possible blocker for the user to use our app.

[2020-04-17 07:08] devansh-299 commented on #892
Sir, can I work on this issue?

[2020-04-17 15:32] luckyman20 commented on #892
Please first describe your approach in length.

[2020-04-17 15:45] devansh-299 commented on #892
@luckyman20 , instead of relying on selecting the sim, and trying to fetch the phone numbe from the sim, we can directly use the number stored in the `PreferenceHelper`. If the user wants to change to mobile number (similar to selecting different sim card on the device), we can directly ask the user to enter the mobile number in EditText. This approach has also been followed in apps like GPay and

[2020-04-18 06:10] shobhit24 opened #899 "Set maxlength for credit card number and change the label "Credit Card number" to "Debit/Credit Card number""
**Summary:**

In Add Card feature: The label "Credit Card number" must be changed to "Debit/Credit Card number" and,
 We should set a maximum length for a user to enter "Debit/Credit Card number" i.e. 19.

**Screenshots:**

![credit_card](https://user-images.githubusercontent.com/48084596/79629700-4822a280-8169-11ea-9d2c-c83adfb29da9.gif)

[2020-04-18 07:23] #841 closed

[2020-04-18 09:20] sashank27 commented on #825
In my opinion, it is better to use `EditText` in this case than `TextInputLayout`, according to UX. The user already knows that this activity is used for input mobile number, so just a small hint for the input area would be enough.
Also, `TextInputLayout` basically has 2 elements, `TextInputLayout` and `TextInputEditText`, so using it in the minimal sense would prevent excess elements in the paren

[2020-04-19 03:20] refactor-droidyy commented on #899
@shobhit24 please refer to this #652 .

[2020-04-19 04:04] shobhit24 commented on #899
Oh, Okay.
And what do you think about label name ?

[2020-04-19 04:09] #899 closed

[2020-04-21 05:30] luckyman20 commented on #851
@refactor-droidyy To me, current margins look perfect. I don't see any reason to align the answers with questions. Thank you for your contributions :)

[2020-04-21 05:30] #851 closed

[2020-04-23 06:09] devansh-299 commented on #892
@luckyman20 should I proceed with this approach?

[2020-04-23 14:36] luckyman20 commented on #892
@shiv07tiwari @naman14 What are your thoughts?

[2020-04-26 09:46] #702 closed

[2020-04-26 09:47] rachittt commented on #773
@Bhavnaharitsa Please avoid making repetitive PRs. Will have to close it for now.

[2020-04-26 09:47] #773 closed

[2020-04-26 13:47] #863 closed

[2020-04-26 13:47] #865 closed

[2020-04-26 16:45] #857 closed

[2020-04-26 16:47] #872 closed

[2020-04-30 09:59] shobhit24 commented on #868
May I work on this feature?

[2020-04-30 13:11] #670 closed

[2020-04-30 14:01] Bhavnaharitsa commented on #868
@shobhit24 Sure, go ahead! :)

[2020-05-12 16:14] luckyman20 commented on #236
Closing this because this is a very old issue and we might have different warnings and errors now.

[2020-05-12 16:14] #236 closed

[2020-05-13 15:05] luckyman20 commented on #252
This issue can be taken up anyone now. Please comment here before you start working.

@s-ayush2903 tagging you since you asked on its closed PR.

[2020-05-13 19:01] s-ayush2903 commented on #252
Is there any plan to write the new code in Kt? As I found some kt libs. in the gradle files. If it is so then, am I allowed to change the file for textUtils to Kotlin as it is very small and won't require much efforts.
Contrarily, if we change our mind later to write that file in kt. then by that time there would've been a lot of java stuff.

So what should I do now:- Just call that required funct

[2020-05-13 20:37] s-ayush2903 commented on #252
(Taking up this issue)

[2020-05-14 07:20] luckyman20 commented on #252
@s-ayush2903 can you please open up another issue for converting the file into Kotlin?

[2020-05-14 10:37] s-ayush2903 opened #903 "chore: Convert ValidateUtil class to Kotlin Object"
**Summary:**
Currently, the ValidateUtil class is written in java, it should be translated to kotlin instead which makes the code much more legible and cleaner.

**Steps to reproduce:**
Since it is a chore issue so it can directly be seen in the codebase at
`mobile-wallet/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/utils`

**Expected behavior:**
It should be written in kotlin instead

*

[2020-05-14 10:38] s-ayush2903 commented on #252
#903 Has been opened considering the same

[2020-05-14 10:39] s-ayush2903 commented on #903
I'm seeking permission to work on this issue as soon as the verdict of #902 gets declared

[2020-05-14 13:46] #252 closed

[2020-05-14 13:46] luckyman20 commented on #903
@s-ayush2903 You can work on this issue now.

[2020-05-15 00:44] edcable opened #905 "Upgrade libraries to latest versions"

[2020-05-15 00:44] edcable commented on #905
Link to subfeature: https://mifos.productboard.com/feature-board/planning/features/4681604

[2020-05-16 12:40] devansh-299 opened #907 "Delete landscape layouts"
**Summary:**

Since the application is fixed to be used in Portrait orientation, there's no use of having separate landscape friendly layouts. Hence we can get rid of:
* `mobile-wallet/mifospay/src/main/res/layout-land/activity_login.xml`
* `mobile-wallet/mifospay/src/main/res/layout-land/scrollable_tab_layout.xml`

[2020-05-16 17:38] #858 closed

[2020-05-16 18:52] devansh-299 opened #908 "Use updated MifosPay logo in transaction receipts"
**Summary:**

Since the new MifosPay logo has been finalized, we can use the new MifosPay logo instead of the Mifos logo.

**Steps to reproduce:**

* Go to Payments -> History tab
* Tap on any transaction to view its details
* Select ViewReceipt and new Mifos logo being used in the receipt

**Expected behavior:**

<img src="https://user-images.githubusercontent.com/46667021/82127828-25b98e80-97d4-

[2020-05-16 19:00] s-ayush2903 commented on #908
I think, we can have the same tweak at the login screen as well

[2020-05-16 19:03] devansh-299 commented on #908
@s-ayush2903 after discussion we dropped this idea as the current implementation looks much more better. Read [this](https://github.com/openMF/mobile-wallet/pull/886) thread

[2020-05-16 19:13] #908 closed

[2020-05-17 06:50] #903 closed

[2020-05-17 09:52] #766 closed

[2020-05-17 12:31] rachittt opened #910 "Typo: Travis CI commands in README.md"
**Summary:**

Travis CI commands in the [README.md](https://github.com/openMF/mobile-wallet#travis-ci) file are not entirely correct.

**Expected behavior:**

the commands should be correct according to each Operating System.

[2020-05-17 12:44] rachittt commented on #910
I can confirm that only the commands with a prefix `./gradlew` can be used in windows.

Also, we can add Linux OS commands as well.

[2020-05-17 15:08] devansh-299 opened #911 "Feat: Adding Spotless plugin to the project"
**Summary:**

The [Spotless](https://github.com/diffplug/spotless) Plugin can help contributors in checking their code for formatting issues like indentation errors,  ending a file with a line or issues like unused import statements. This will also help reviewers  in reviewing code as this will minimize these sort of errors in contributor's code

**Running Spotless:**

After successful implementat

[2020-05-17 15:10] devansh-299 commented on #911
@naman14 @shiv07tiwari is this a valid issue?

[2020-05-17 15:13] s-ayush2903 commented on #911
If this turns out to be a valid one, am I allowed to take this up?

[2020-05-17 15:43] #607 closed

[2020-05-17 21:00] #844 closed

[2020-05-17 21:05] rachittt commented on #845
closing this because it is a duplicate of #774

[2020-05-17 21:05] #845 closed

[2020-05-17 21:19] #774 closed

[2020-05-18 12:45] Bhavnaharitsa commented on #910
@rachittt We can add it in the heading as "Windows and Ubuntu" and I'm not sure if it is a typo. Just an extra, OS we need to add :)

[2020-05-18 13:20] rachittt commented on #910
The typo is in the command not the OS name; written windows commands are wrong.

[2020-05-18 14:19] #750 closed

[2020-05-18 14:25] #759 closed

[2020-05-18 14:29] #612 closed

[2020-05-18 14:57] Bhavnaharitsa commented on #910
@rachittt Window commands are right as far as I know :), worked for me though in the terminal. I use both Windows and Mac.

[2020-05-18 15:14] rachittt commented on #910
My bad, I didn't mention the command line I was using. I will edit the issue accordingly. Thanks for pointing it out! 😃

[2020-05-18 19:05] s-ayush2903 commented on #730
@codepoet2017390 That service was needed for generating new tokens as soon as they get expired. And that service has now been deprecated so it is safe to remove from the manifest file and compensation of the same can be made by adding a oneliner code in the `onNewToken()` method of MessagingService.java class itself.
Reference to all that has been quoted above:
* Root Error: [FirebaseInstanceIdSer

[2020-05-18 19:07] s-ayush2903 commented on #730
After safeDeleting from manifest file and modifying the `onNewtoken()` method the app runs well and fine.

[2020-05-18 20:21] edcable opened #914 "Dynamic Client Registration"
This will allow the mobile wallet application (First Party Application) to submit a Software Statement Assertion to Account Servicing Payment Service Provider (ASPSP) - Channel NetBank, to create OAuth clients that are registered with ASPSP. This will be done by sending a POST request to api.aspsp.com/register/{ClientId} from the application. The wallet application can further send requests to ASP

[2020-05-18 20:21] edcable commented on #914
Link to subfeature: https://mifos.productboard.com/feature-board/planning/features/4700214

[2020-05-18 20:25] edcable opened #915 "Integrate more tightly with Fineract CN notifications framework"
TBD

Fineract CN framework supports sending SMS and emails to the users, notifying them for events occurring on their accounts. We can shift our Notification service from being Fineract 1.x based to being based upon Fineract CN. For an even stronger notification service, we will implement Firebase Cloud Messaging (FCM) based push notifications into our mobile application which can notify users for

[2020-05-18 20:25] edcable commented on #915
Link to feature: https://mifos.productboard.com/feature-board/planning/features/4700257

[2020-05-18 21:22] s-ayush2903 commented on #730
The PR regarding the same has been opened due to long inactivity on this issue

[2020-05-18 22:16] s-ayush2903 opened #917 "Bug: GoogleSignIn Failure Causes Stacking"
**Summary:**
Whenever the google signIn fails, an intent is generated that takes from **LoginActivity to LoginActivity itself** . If google signin is Deliberately made to fail multiple times then it leads to the piling up of the stacks which have the same LoginActivity as their all of their entries which ends up in useless consumption of resources

**Steps to reproduce:**
* Turn off the internet c

[2020-05-18 22:17] s-ayush2903 commented on #917
I would like to fix this issue

[2020-05-19 05:06] rachittt commented on #917
@s-ayush2903 go ahead

[2020-05-19 07:24] #917 closed

[2020-05-19 08:39] Bhavnaharitsa commented on #907
@devansh-299 Are you working on it?
If not, I'm ready to take up :)

[2020-05-19 08:52] devansh-299 commented on #907
@Bhavnaharitsa you can work on it

[2020-05-19 13:36] #730 closed

[2020-05-19 16:47] #866 closed

[2020-05-19 17:26] #324 closed

[2020-05-19 17:34] #327 closed

[2020-05-19 17:38] #138 closed

[2020-05-19 17:42] s-ayush2903 opened #922 "chore: Convert Utils Class to Kotlin Object"
Summary:
Currently, the Utils class is written in java, it should be translated to kotlin instead which makes the code much more legible and cleaner.

Steps to reproduce:
Since it is a chore issue so it can directly be seen in the codebase at
`mobile-wallet/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/utils`

Expected behavior:
It should be written in kotlin instead

Observed behavior:
T

[2020-05-19 17:43] #359 closed

[2020-05-19 17:44] s-ayush2903 commented on #922
Looking for approval of issue/views of collaborators and peers.
I would love to fix the same if it turns out to be a valid issue.

[2020-05-19 17:51] #389 closed

[2020-05-19 17:53] #176 closed

[2020-05-19 17:56] #453 closed

[2020-05-19 17:58] #406 closed

[2020-05-19 18:01] rachittt commented on #408
We don't need this effect on buttons.

[2020-05-19 18:01] #408 closed

[2020-05-19 18:04] rachittt commented on #790
duplicate of #440

[2020-05-19 18:04] #790 closed

[2020-05-19 18:09] #361 closed

[2020-05-19 18:17] #788 closed

[2020-05-19 18:22] #813 closed

[2020-05-19 18:37] #777 closed

[2020-05-19 18:39] #675 closed

[2020-05-19 18:41] #770 closed

[2020-05-19 18:45] #757 closed

[2020-05-19 18:51] #746 closed

[2020-05-19 18:53] #738 closed

[2020-05-19 19:03] #719 closed

[2020-05-19 19:10] #533 closed

[2020-05-19 19:12] #513 closed

[2020-05-19 19:13] #526 closed

[2020-05-19 19:15] #242 closed

[2020-05-19 19:23] rchtgpt commented on #496
we don't need scrollbars on these screens.

[2020-05-19 19:23] #496 closed

[2020-05-20 08:42] #907 closed

[2020-05-20 08:51] rchtgpt commented on #888
@Bhavnaharitsa you can work on this issue now. For splash screen GIF, refer #913

[2020-05-20 09:59] #668 closed

[2020-05-20 11:45] Bhavnaharitsa commented on #888
@rachittt Thanks, will update soon :)

[2020-05-20 12:00] #174 closed

[2020-05-20 12:00] #175 closed

[2020-05-20 12:00] #177 closed

[2020-05-20 12:01] #178 closed

[2020-05-20 12:01] #179 closed

[2020-05-20 12:01] #181 closed

[2020-05-20 12:01] #182 closed

[2020-05-20 12:01] #183 closed

[2020-05-20 12:01] #185 closed

[2020-05-20 12:01] #186 closed

[2020-05-20 12:01] #187 closed

[2020-05-20 12:01] #188 closed

[2020-05-20 12:02] #189 closed

[2020-05-20 12:02] #191 closed

[2020-05-20 12:02] #192 closed

[2020-05-20 12:02] #193 closed

[2020-05-20 12:03] rchtgpt commented on #263
@shaliniv16 This issue is already fixed.

[2020-05-20 12:03] #263 closed

[2020-05-20 12:04] rchtgpt commented on #299
fixed in #627

[2020-05-20 12:04] #299 closed

[2020-05-20 12:07] #316 closed

[2020-05-20 13:06] #800 closed

[2020-05-20 13:47] #786 closed

[2020-05-20 16:46] #881 closed

[2020-05-20 16:48] #172 closed

[2020-05-20 17:06] #515 closed

[2020-05-21 12:58] devansh-299 opened #949 "KYC fragment - user taken back to home fragment in case of fetching kyc details failure"
**Summary:**

Currently, whenever there's an error in fetching Kyc level details, a toast message - "Please try again" is shown taking him/her back to the home fragment. Since we are using `ViewPager` and loading 2 fragments at a time, this means any time there's a problem in fetching KYC details, the user won't be able to use `MerchantFragment` also. This is not desired, instead of taking user ba

[2020-05-21 13:00] devansh-299 commented on #949
@shiv07tiwari @luckyman20 can I work on this issue?

[2020-05-21 16:52] luckyman20 commented on #949
@devansh-299 Go ahead.

[2020-05-21 17:24] s-ayush2903 commented on #922
@luckyman20 @rachittt @shiv07tiwari Please look into the issue and state whether it is good enough to fix

[2020-05-21 17:30] luckyman20 commented on #922
@s-ayush2903 you can go ahead.

[2020-05-23 12:53] devansh-299 opened #953 "LoginActivity - mifosSavingsProductId parameter not used"
**Summary:**

While creating a new user, the parameter `mifosSavingsProductId` in `LoginActivity` is not bundled and passed to `MobileVerficationActivity` as it should have been to be used later for creating a new client. As a result of this, the default value of 0 is being used in place which causes error while creating a client.

<img src="https://user-images.githubusercontent.com/46667021/82731

[2020-05-23 15:21] Bhavnaharitsa opened #954 "fix: Change the logo to new logo in LoginActivity"
## Summary:

The LoginActivity has the older logo of the app. While the logo is updated now, I think it should be updated in the entire app among which the LoginActivity is missing its logo.

## Expected design:
![Group 19@2x](https://user-images.githubusercontent.com/44428198/82738213-a7b93280-9d53-11ea-8a32-150a84c38f5d.jpg)

## Link for asset (logo-outline):
https://drive.google.com/open?id=1y5

[2020-05-23 15:22] Bhavnaharitsa commented on #954
@rachittt I would not like to work on the issue. As we are giving tags, this could be a first-time contributor issue :). Please update it if you feel it is right

[2020-05-23 18:43] rachittt commented on #954
I am going to post two designs below. Kindly react to the design which you think is better for our app.

[2020-05-23 18:44] rachittt commented on #954
![WhatsApp Image 2020-05-23 at 10 58 59 PM](https://user-images.githubusercontent.com/44428198/82738186-7fc9cf00-9d53-11ea-9478-fc0851e618b6.jpeg)

[2020-05-23 18:45] rachittt commented on #954
![Group 19@2x](https://user-images.githubusercontent.com/44428198/82738213-a7b93280-9d53-11ea-8a32-150a84c38f5d.jpg)

[2020-05-25 04:34] Bhavnaharitsa opened #955 "fix: Dependency upgradation"
**Summary:**
The build.gradle file has older dependency versions. It needs to be updated to the current version.
![image](https://user-images.githubusercontent.com/37215508/82778427-058e6d00-9e6f-11ea-9c6a-8b64b5fde513.png)

I would work on it :)

[2020-05-25 04:57] s-ayush2903 commented on #955
As far as i  know, we have renovate for the same :-)

On Mon, May 25, 2020, 10:14 AM V Bhavna Haritsa <notifications@github.com>
wrote:

[2020-05-25 05:07] Bhavnaharitsa commented on #955
Could you show me where? I am not able to find out :)

[2020-05-25 08:03] rchtgpt commented on #955
we have renovate bot for all the dependency upgradations.

[2020-05-25 08:03] #955 closed, assigned to nobody

[2020-05-26 05:48] Bhavnaharitsa commented on #954
@rachittt Is anybody working on this? Or else I can take up the issue and make a pr asap

[2020-05-27 15:25] #954 closed, assigned to nobody

[2020-05-28 07:11] Bhavnaharitsa opened #961 "fix: Update Screen shot of login page with new screen shot"
**Summary:**
The Screenshots of LoginPage in Readme has the older logo. Now, the newer logo is merged and hence the screenshot there should be updated there as well.

[2020-05-28 22:51] #922 closed

[2020-05-29 19:19] s-ayush2903 commented on #961
Please change the PR and corresponding Issue title qualifier to `docs: ` in order to correctly semantify 'em.

[2020-05-29 19:35] s-ayush2903 opened #964 "Bug: Navigating Back from PasscodeActivity Exits the App"
**Summary:**
(Another BackStack Manipulation Issue)
On navigating back from the PasscodeActivity, it just exits app instead of navigating back to the
Auth Screen.

**Impact**
* Consider a scenario where user by mistake enters the login flow but mind changes and instead of continuing login flow wanna register self as a customer/merchant(now there is no way achieving it directly, i.e., without resta

[2020-05-29 19:50] s-ayush2903 commented on #964
Looking for senior peers' view on the validity of the issue and if ends in positive then, I would like to eliminate this minute bug

[2020-05-29 20:34] #961 closed, assigned to nobody

[2020-05-29 20:40] rchtgpt opened #965 "Screenshot.md file is not mobile friendly"
**Summary:**

the grids that we have used in `Screenshots.md` are not the best way to go about it IMO because we need to make it responsive.

**Steps to reproduce:**

open [this link](https://github.com/OpenMF/mobile-wallet/blob/dev/Screenshot.md) on a mobile device.

**Expected behavior:**

Screenshots should be clearly visible even on phone.

[2020-05-30 00:55] Bhavnaharitsa commented on #965
@rachittt I got the point here. I strongly feel it is because the dimensions are hardcoded which was the whole point to use this method is to not hard code. However, we can fix it by centering the images and removing the hardcoded dimensions. I'm sure it'll work :)
I would like to take up the issue

[2020-05-31 14:03] DhaneshShetty commented on #305
@luckyman20  @rachittt Can I work on it?

[2020-05-31 17:04] Bhavnaharitsa commented on #875
@devansh-299 @shiv07tiwari @rachittt @luckyman20 Is this still a valid issue? Though I think it is trivial at this stage, please voice your opinions. And if we are proceeding with working on it, @devansh-299 Can I take this up? :)

[2020-06-01 07:41] #964 closed, assigned to nobody

[2020-06-03 07:11] #834 closed

[2020-06-06 22:14] devptyagi commented on #953
If this is available, I'd like to work on it.

[2020-06-12 04:34] Bhavnaharitsa opened #974 "fix: Text aligned in center in Mobile option in Send Fragment"
**Summary**
The amount is left-aligned whereas the number in Mobile Number is center aligned which is looking odd. So, I think the text in the mobile number should also be left-aligned.

[2020-06-14 15:07] devansh-299 opened #976 "Bank Account Details - improvements in user interface"
**Summary:**

- In bank account details fragment, the options for update and forgot password are visible even when user hasn't set up UPI. On clicking on them, user is asked to set up a UPI first via a Toast message. The better approach here will be to simply hide them when UPI hasn't been setup. \
- Following the above point, the delete button should be moved to side of setup upi button as it's a

[2020-06-16 23:00] edcable opened #978 "Mojaloop: Create self-service user associated with Fineract customers in PH-EE Lab Environment"
In order to support the first two use case for Mojaloop integration via our customer-facing channels through the Payment Hub EE we need to actually authenticate and conduct transactions via self-service APIs. Self-service users need to be associated with the customers/merchants in the medium Fineract instance that have MSISDNs:

Customer 1
http://leopard.mifos.io:9002/?baseApiUrl=https://leopard.m

[2020-06-16 23:23] edcable opened #979 "Mojaloop: Update use case for peer to peer transfer with new PH-EE environment"
With the new payment hub lab environment in Azure and with the new Payment Hub EE Architecture, we need to update the use case for the peer to peer transfer.

First we need to associate the self-service users with the customers and then integrate with new endpoints for PH-EE and environment details.

[2020-06-16 23:24] edcable commented on #979
@ezolnbl can you please list the environment details and the new PH-EE endpoints to integrate with.

[2020-06-16 23:26] edcable opened #980 "Mojaloop: Update use case for merchant proximity payment (QR Code) with new Payment Hub EE architecture and lab environment"
With the new payment hub lab environment in Azure and with the new Payment Hub EE Architecture, we need to update the use case for the merchant proximity payment.

First we need to associate the self-service users with the customers and then integrate with new endpoints for PH-EE and environment details.

[2020-06-16 23:27] edcable commented on #980
@ezolnbl can you please list the environment details and the new PH-EE endpoints to integrate with.

[2020-06-16 23:29] edcable opened #981 "Mojaloop: Add support for merchant request to pay use case in mobile wallet."
We need to integrate the mobile wallet with the recently added Mojaloop request to pay API in Payment Hub EE.

[2020-06-20 10:36] devansh-299 commented on #953
Solved by #967

[2020-06-20 10:36] #953 closed, assigned to nobody

[2020-06-24 18:07] edcable commented on #978
@ezolnbl thank you for upgrading instance of Fineract. I was able to create a self-service user through the UI.

@shiv07tiwari @devansh-299 are you able to test and see if you can log in with the self service user of walletuser/password that is associated with

Customer 1
http://leopard.mifos.io:9002/?baseApiUrl=https://leopard.mifos.io:8443&tenantIdentifier=tn05

Name: InteropCustomer
Account Num

[2020-06-24 18:24] edcable commented on #978
I added user merchantuser/password for the merchant customer:

Merchant 1

http://gorilla.mifos.io:9002/?baseApiUrl=https://gorilla.mifos.io:8443&tenantIdentifier=tn06

MSISDN: 27710306999

Name: InteropMerchant
Account Numberb780411350952999709451

[2020-06-27 18:15] Anu-123-gif commented on #366
@dotrachit can I work on this issue?

[2020-06-27 19:04] devansh-299 commented on #366
@Anu-123-gif #975 already addresses this problem

[2020-06-27 19:08] devansh-299 commented on #974
Duplicate of #366

[2020-06-27 19:08] #974 closed, assigned to nobody

[2020-07-01 16:59] devansh-299 commented on #978
Yes @edcable I the credentials are working fine. Tested via Postman

[2020-07-07 15:32] #715 closed

[2020-07-22 11:51] haran2248 commented on #910
Can someone pls guide me and tell me what to do exactly?should i just change gradlew to./gradlew?Is that it?

[2020-07-22 12:13] Bhavnaharitsa commented on #910
Our project uses Travis CI for Continuous integration. Please read about <a href ="https://codeship.com/continuous-integration-essentials#:~:text=Continuous%20Integration%20(CI)%20is%20a,CI%20it%20is%20typically%20implied">Continuous integration</a>. So, your code needs to pass that in order to get merged. Sometimes, due to some errors or changes in code styles, or even indentation, the code might

[2020-07-22 14:59] haran2248 commented on #910
@Bhavnaharitsa I have opened a PR for this issue.Pls tell me if this is the right fix for this issue.If not pls let me know what changes are to be done in the README,and I will do that accordingly.

[2020-07-22 15:08] haran2248 commented on #287
Can i work on this issue?
@luckyman20

[2020-07-23 07:29] luckyman20 commented on #287
@haran2248 If it still exists, you may.

[2020-07-23 07:32] haran2248 commented on #825
Is this issue still relevant?Can i work on this issue?
@ArnavGohil @sashank27 ?

[2020-07-23 08:44] haran2248 commented on #825
I have made a PR for this issue,pls let me know if this is what you had in mind ,else pls let me what are the other changes to be done.There are no bugs or errors in my PR. './gradlew' runs perfectly in git bash

[2020-07-23 10:24] #825 closed

[2020-07-23 11:39] haran2248 commented on #825
Why was this issue closed?@ArnavGohil

[2020-07-23 11:53] haran2248 opened #1015 "Redesign: Use TextInputLayout instead of EditText in MobileVerification Activity"
**Summary:**

In activity_mobile_verification , EditText is used for Mobile Number and OTP instead of TextInputLayout .

Instead of a simple EditText with hints,It should be changed to TextInputLayout and TextInputEditText for mobile number and OTP .

[2020-07-23 12:15] ArnavGohil commented on #825
Check @sashank27's comment -

[2020-07-26 19:34] haran2248 commented on #888
@Bhavnaharitsa @dotrachit Can i work on this issue?

[2020-07-27 01:37] Bhavnaharitsa commented on #888
Go ahead :)

[2020-07-27 18:49] devansh-299 commented on #888
@Bhavnaharitsa in `README.md` we are already using the updated logo. Can you please explain the issue?

[2020-07-28 02:40] Bhavnaharitsa commented on #888
@devansh-299 Oh Snap!! I didn't realise it. Anyways, please check if we need the circular logo else we can close the issue.
Thanks for clarifying, @devansh-299

[2020-07-28 03:00] haran2248 commented on #888
The updated logo is circular in shape i guess

[2020-07-28 04:22] haran2248 commented on #868
Can i work on this issue?
Can you tell me in which activity the issue is present?

[2020-07-28 07:02] devansh-299 commented on #888
@Bhavnaharitsa @haran2248 please look at [this thread](https://github.com/openMF/mobile-wallet/pull/879#issuecomment-611618120). I think we can close this issue

[2020-07-28 07:08] devansh-299 commented on #868
@haran2248 this issue is not relevant (have a look [here](https://github.com/openMF/mobile-wallet/pull/901#issuecomment-630820747)) and thus I will have to close this issue. Feel free to work on any other open issues.

[2020-07-28 07:08] #868 closed

[2020-07-29 12:51] haran2248 commented on #756
Can i work on this issue?

[2020-07-29 16:35] valkyr13 commented on #756
Go ahead

On Wed, 29 Jul 2020, 18:21 Hariharan S, <notifications@github.com> wrote:

[2020-07-29 19:08] devansh-299 commented on #888
Closing the issue as this issue is not relevant anymore

[2020-07-29 19:08] #888 closed

[2020-07-31 17:10] haran2248 commented on #769
Is this issue solved?Can i work on this?

[2020-07-31 17:15] haran2248 commented on #729
Is this issue fixed?Can i work on this issue?

[2020-07-31 17:17] haran2248 commented on #706
Is this issue valid?Can i work on this issue?

[2020-07-31 17:32] devansh-299 commented on #706
Yes, go ahead. Also please do not limit this to `activity_login` only and do this task for all the ids for which this issue applies.

[2020-07-31 17:33] Bhavnaharitsa commented on #769
From my side, since I opened this issue it's a yes, but anyway confirm it with @devansh-299 before proceeding :)

[2020-07-31 17:33] devansh-299 commented on #729
This issue has already been addressed by multiple PRs

[2020-07-31 17:40] devansh-299 commented on #769
@Bhavnaharitsa @haran2248 Instead of having a down arrow, I think it would be better to automatically collapse the bottom sheet, let say after 3 secs.
What do you think?

[2020-07-31 17:42] Bhavnaharitsa commented on #769
@devansh-299 Yes, that sounds better tooo and also 3 seconds is ideal. But we need a timer for it.
@haran2248 If you are taking up that, please read some docs on that

[2020-07-31 17:59] haran2248 commented on #769
In that case why dont we just use a toast message for this?Why do we confuse the user with the bottom sheet?

[2020-07-31 19:45] devansh-299 commented on #769
The transaction making process is already being done using the bottom sheet

[2020-08-02 05:08] MaskedCarrot commented on #287
This issue is not yet resolved. Can I work on it?

[2020-08-03 14:00] luckyman20 commented on #287
I believe @haran2248 isn't working anymore since @haran2248 hasn't replied to this thread. In that case, @Masked-Carrot, you may. But whoever creates the pull request first would be acknowledged.

[2020-08-13 15:41] MaskedCarrot opened #1027 "Allow user to enter 10 digits of phone number"

[2020-08-13 15:42] Masked-Carrot commented on #1027
Can I work on this issue?

[2020-08-14 02:48] #1027 closed, assigned to nobody

[2020-08-18 03:01] sachin-0102 commented on #287
The issue is still open, Can I work on it?

[2020-08-18 04:35] rchtgpt commented on #287
sorry, there's already a PR for it.

[2020-08-28 05:57] darktheme74 commented on #1015
@luckyman20 can I work on this issue?

[2020-09-03 08:34] Bhavnaharitsa opened #1033 "feat: Add search option in the country above"
**Summary:**
The country in the register screen does not have an option to search for countries and the user has to scroll all the way down to find their country.
**Steps to reproduce:**
1. Go to register screen
2. Click on the drop down in the utmost top of the page

**Expected behavior:**
A search option to find the respective countries easily

**Screenshots:**
<img src="https://user-images.gith

[2020-09-04 03:33] luckyman20 commented on #1015
@devansh-299 @shiv07tiwari Is this issue still persisting?

@darktheme74 Sorry, I am not aware if this issue still persists so @devansh-299 @shiv07tiwari would help you.

[2020-09-04 04:09] Bhavnaharitsa commented on #1033
@devansh-299 @shiv07tiwari @luckyman20 Thoughts?

[2020-09-04 06:43] devansh-299 commented on #1015
@darktheme74 @luckyman20 #1018 already solves this issue but hasn't been merged yet.

[2020-09-04 06:46] devansh-299 commented on #1033
@Bhavnaharitsa since the country names are already sorted alphabetically, I personally don't think that having a search option will improve the experience by a significant margin.

[2020-09-15 14:19] refactor-droidyy commented on #1033
@devansh-299 you are right .... But instead we can add one thing let's say I know the country code and entered the same and now the flag image should refect the same for cross check... What are you thoughts? I just see this somewhere in an application...

[2020-09-16 04:12] devansh-299 commented on #1033
@Bhavnaharitsa @refactor-droidyy I just checked. In fact, we do have a searching option for countries, it's not significant before you tap on that. Maybe you can modify the issue to address this problem and make it similar to what we have for country codes for mobile numbers.

Also, @refactor-droidyy the searching option we already have has the functionality that you described.

[2020-09-16 04:44] refactor-droidyy commented on #1033
@devansh-299 👍

[2020-09-19 12:05] aksharma53 opened #1034 "Master and Development link in Readme.md"
**Summary:**

The master and development using same [**buildpassing**](https://travis-ci.com/openMF/mobile-wallet) link so we can combine them to one.

**Steps to reproduce:**

Just look into Readme.md file and access master and development through buildpassing.

**Expected behavior:**

They should be combine to access or should have different link.

**Observed behavior:**

What did you see instea

[2020-09-19 17:41] devansh-299 commented on #1034
@Alphasaurs Both the badges are using different links. The link: https://travis-ci.com/openMF/mobile-wallet is used to specify the project while the branch build status badges are being queried by ...?branch=**master**  for `master` branch and ...?branch=**dev** for `dev` branch

[2020-09-21 06:51] devansh-299 commented on #1034
@Alphasaurs I am closing this issue, as according to me the problem reported is irrelevant. If I missed something then please mention.

[2020-09-21 06:51] #1034 closed, assigned to nobody

[2020-09-21 06:52] devansh-299 commented on #1033
@Bhavnaharitsa do you want to work on the updated issue?

[2020-10-01 17:23] haran2248 commented on #1033
Can i work on this?I didnt exactly understand what is supposed to be done?Can you guide me?

[2020-10-02 05:10] haran2248 commented on #679
Is this issue already taken up?I would like to work on this.

[2020-10-02 05:12] haran2248 commented on #522
Can i work on this issue if it still relevant?

[2020-10-02 05:14] haran2248 commented on #468
Can i work on this?If it is still relevant?Can you make the issue a bit clearer?

[2020-10-02 05:17] haran2248 commented on #431
Is this issue relevant?I would like to work this

[2020-10-02 05:20] haran2248 commented on #368
I would like to work on this?Is this issue still relevant?

[2020-10-02 05:23] haran2248 commented on #320
Can i take the issue up?Is it still relevant?

[2020-10-02 05:25] haran2248 commented on #334
Can i work on this issue?

[2020-10-02 05:47] devansh-299 commented on #334
Is this issue still prevalent? I can't confirm it at the moment

[2020-10-02 05:52] devansh-299 commented on #320
Payee's `username` and `externalId` are already being shown. This issue is not relevant anymore, hence closing this issue.

[2020-10-02 05:52] #320 closed

[2020-10-02 05:57] devansh-299 commented on #522
Sure! go ahead. Also do refer the discussion over [here](https://github.com/openMF/mobile-wallet/pull/686#discussion_r378682525), it may help you

[2020-10-02 06:00] devansh-299 commented on #468
@haran2248 I don't think this issue is relevant anymore. Can you please confirm?

[2020-10-02 17:54] luckyman20 commented on #679
@devansh-299 Are you working on this, or is it open to take?

[2020-10-02 17:57] luckyman20 commented on #1033
@haran2248 I don't think there is anything to be done here as @devansh-299 mentioned that the country list is already sorted alphabetically.

[2020-10-02 17:57] #1033 closed, assigned to nobody

[2020-10-02 18:24] devansh-299 commented on #679
@luckyman20 this issue is open, @haran2248 you can work on this issue

[2020-10-03 10:01] haran2248 commented on #679
Ok i will take this up

[2020-10-04 12:51] ReCodee commented on #362
Is this issue still open?

[2020-10-04 19:45] devansh-299 commented on #362
@ReCodee currently we are using random bank accounts by simply appending them in the list, see [here](https://github.com/openMF/mobile-wallet/blob/dev/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/bank/presenter/BankAccountsPresenter.java). This functionality (_delete_) is yet to be implemented from the server side

[2020-10-05 06:26] ReCodee commented on #362
@devansh-299 Thanks, is the issue regarding the limitation of debit card no. still pertinent?

[2020-10-16 17:34] ReCodee opened #1035 "Remove redundant and unused Namespace declarations in XML files"
Summary:
There are some unused and redundant namespace declarations in XML files like `activity_link_bank_account.xml`, `activity_login.xml`, and 6 others and they are showing warnings in the android studio. My intention is to remove these declarations to keep the code clean (dev branch).

[2020-10-16 17:38] ReCodee commented on #1035
@luckyman20 can I work on this issue?

[2020-10-18 06:25] devansh-299 commented on #1035
@ReCodee sure go-ahead

[2020-10-23 07:35] Me-Abhishek-patel opened #1037 "Not checking for valid VPA string in SendFragment"
**Summary:**

In SendFragment there is no logic for VPA String pre validation . When user clicks on submit button, the app should pre validate the VPA String before sending it to SearchClient or before searching it in FineractRepository. Should be checked if the input is a valid VPA (and follows proper VPA formating) or it is just a random string. Using **Regular Expressions** to pre validate will

[2020-10-23 07:37] Me-Abhishek-patel commented on #1037
@luckyman20 @devansh-299 Can I work on this issue?

[2020-10-23 16:47] devansh-299 commented on #1037
@Me-Abhishek-patel seems valid! Please go ahead

[2020-10-29 07:33] ReCodee commented on #660
@devansh-299 @luckyman20 @Bhavnaharitsa @shiv07tiwari  if no one is working on this issue, can I take this up?

[2020-10-31 18:07] ReCodee commented on #601
@devansh-299 @luckyman20  is this issue relevant? can I work on this issue?

[2020-11-01 04:13] devansh-299 commented on #601
Seems relevant to me. But as far as I know, we still do not have the back-end integration to save the user's image, so at the moment all you can do is add `intent` for the camera

[2020-11-01 04:33] ReCodee commented on #601
Thanks, then I'll just add intent for the camera.

[2020-11-05 11:13] #1035 closed, assigned to nobody

[2020-11-09 11:10] shiv07tiwari opened #1043 "Add CI/CD GitHub Actions and remove other build checks"
**Summary:**

The project currently has Codeship, CircleCI, Travis We need to remove these and use Github actions.
Following are the requirements:-

* Generate the apk for every pull request and every commit on the dev and master branch.
* Build checks for every commit on any other branch.

[2020-11-09 11:11] s-ayush2903 commented on #1043
@shiv07tiwari SIr, I would like to work on this issue.

[2020-11-09 11:59] shiv07tiwari commented on #1043
@s-ayush2903 I see you have already added a PR, I will review it soon.
An important suggestion, For any issue, always wait to get approval from any of the maintainers before creating the PR. :-)

[2020-11-09 12:01] s-ayush2903 commented on #1043
Sorry for the inconvenience. I'll take care of it now onwards

[2020-11-11 07:14] pknotfound opened #1046 "Migration of Dagger to Hilt"
**Summary:**

The current version of the application uses Dagger for dependency injection. Google has released Hilt to simplify Dagger-related infrastructure for Android. Using Hilt eases the setup for dependency injection, and also provides easy way for bindings in various build types.

Hilt would also help reduce most of the boilerplate code generated by Dagger.

[2020-11-11 07:14] pknotfound commented on #1046
@devansh-299 @edcable
Can I take up this issue?

[2020-11-11 16:06] #1043 closed, assigned to nobody

[2020-11-11 16:21] shiv07tiwari opened #1048 "Invalid syntax in yaml file for Github actions"
@s-ayush2903 The YAML file for Github actions give syntax error at line 12. The name should go inside the build job. Kindly fix this.
jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

Ref: https://github.com/openMF/mobile-wallet/pull/1044

[2020-11-12 17:18] #1048 closed, assigned to nobody

[2020-11-12 17:54] s-ayush2903 opened #1050 "docs: Update CI badges in Readme"
**Summary:**
People willing make their initial contributions to project are welcome to fix this issue. Currently, readme file displays old CI badges from latest merge commit from travis CI, but as now we've completely migrated to [GitHub-Actions](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/introduction-to-github-actions) it'll be better if we update the badges ther

[2020-11-14 06:40] vedpatwardhan commented on #1050
I want to work on this issue, please guide me on what exactly is to be done as this is the first time I'm contributing.

[2020-11-14 06:58] s-ayush2903 commented on #1050
Hi @VedPatwardhan thanks for your interest. All you need to do in this issue is to update the url from where it is fetching the build status, currently it uses latest travis build status' URL, but few days back we've migrated to GitHub Actions so those Travis status badges are no longer of use, since we are on GH-Actions, therefore we'll be fetching latest build status' on GH-Actions, you should g

[2020-11-14 07:22] vedpatwardhan commented on #1050
I have generated the markdown for the dev branch, what should I do next, as I'm not able to do the same for the master branch?
Thank you for guiding me uptil now.

[2020-11-14 07:33] s-ayush2903 commented on #1050
Good, create a PullRequest now and then wait for a review, the reviewer will be able to help you then what to do with the `master` branch.

[2020-11-14 07:34] s-ayush2903 commented on #1050
Good, create a PullRequest now and then wait for a review, the reviewer will be able to help you then what to do with the `master` branch workflow badge.

[2020-11-14 07:37] vedpatwardhan commented on #1050
Okay.
Thanks a lot for your help.

[2020-11-16 05:51] ritish099 opened #1052 "Redesign: Hint in TextInputEditText of fragment_send.xml is not aligned"
**Summary:**

Hint in TextInputEditText of fragment_send is not aligned
**Steps to reproduce:**

Log into the app and click on payment in the bottom navigation bar

**Expected behavior:**

The Hint should be aligned in the left-center of the box

**Observed behavior:**

![Capture](https://user-images.githubusercontent.com/54978105/99219022-d21b1280-2801-11eb-9289-eddb6a63208f.PNG)

**Device and An

[2020-11-16 11:31] ReCodee opened #1054 "Every user displayed message/text should be a string resource object"
**Summary:**

 We should make a string resource object for every user displayed message/text, so that if in the future we plan to add multi-language functionality, then we can easily provide a multi-language alternative.

For eg:- we have many variables declared inside `Constants.java` which contain user displayed message/text and could be a hindrance in the future while adding multi-language func

[2020-11-16 11:33] ReCodee commented on #1054
@devansh-299 @shiv07tiwari Can I work on this issue?

[2020-11-16 19:31] #1050 closed, assigned to nobody

[2020-11-16 19:45] shiv07tiwari opened #1055 "Add Instructions to get the latest apk after github actions in README"
After migrating to Github actions, we can get the latest apk files from artifacts. We need to add instructions for the same in the README file.

[2020-11-16 19:49] shiv07tiwari commented on #1054
@ReCodee This is a good issue. In this, I would like to give a suggestion:-
As you said that we should shift to XML files because of the multi-language support. So it's better to add those strings in it that are displayed to the user. All other strings that are being used internally can be kept in Constatnts.java

[2020-11-17 08:56] #1052 closed, assigned to nobody

[2020-11-17 09:42] ReCodee commented on #1054
Thanks for the suggestion :), I'll make changes accordingly.

[2020-11-21 06:01] Sparsh1212 commented on #1055
@shiv07tiwari I would love to work on this issue. Please assign this to me.

[2020-11-21 08:19] devansh-299 commented on #1055
Sure go ahead

[2020-11-21 08:58] Sparsh1212 commented on #1055
@devansh-299 I have to write the instructions to download the zip folder from the artifacts via the **Github actions GUI.** If i am thinking in the wrong direction then please do correct me.

[2020-11-21 09:37] rutvik-panchal opened #1056 "On Failed Google Sign In Attempt new Activity is opened"
**Summary:**

If Google Sign-In option fails a new activity is opened which results on multiple LoginActivity opened.

**Steps to reproduce:**

Try SignUp with Google Sign-In option without internet.

**Expected behavior:**

If Google Sign-In fails the user should be redirected to the current Activity rather than opening a new Activity.

**Observed behavior:**

A new activity is opened if Google S

[2020-11-21 09:42] rutvik-panchal commented on #1056
I would like to work on this issue.

[2020-11-21 10:17] #1056 closed, assigned to nobody

[2020-11-22 12:16] Aman09072000 opened #1057 "Debug hardcoded XML layout . and fix the position of various Attributes."
**Summary:**

Summarize your issue here.

**Steps to reproduce:**

How can we reproduce again the issue?

**Expected behavior:**

What did you expect the app to do?

**Observed behavior:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you encounter this on?  What Android
version (e.g., Andr

[2020-11-22 12:19] Aman09072000 commented on #1057
@devansh-299 @shiv07tiwari  can I work on this issue?

[2020-11-22 13:24] devansh-299 commented on #1057
@Aman09072000 please follow the issue template describing the issue in detail

[2020-11-22 13:25] devansh-299 commented on #1055
Yes!

[2020-11-23 04:00] Aman09072000 commented on #1057
**Summary:**

when we go to the payment option the distribution between VPA and mobile number tag is not equal it seems bad as it is hardcoded and the same when we go to the history part there the text of price is very small and it is stick with a corner so it becomes difficult to find it or we say that we focus more on that and the same issue I faced when I go to finance activity the text size an

[2020-11-23 04:03] Aman09072000 commented on #1057
<img width="245" alt="Annotation 2020-11-23 093250" src="https://user-images.githubusercontent.com/64133045/99928390-e6658f00-2d6e-11eb-97d5-5791f38565e2.png">

[2020-11-23 04:03] Aman09072000 commented on #1057
@devansh-299 @shiv07tiwari  can i work on it

[2020-11-24 08:50] ReCodee commented on #1057
@Aman09072000  I guess your fork repo/branch is not up to date with the latest merged commits, as there have been some UI  changes in the latest commits.

[2020-11-24 13:40] Aman09072000 commented on #1057
@ReCodee i check there is also same problem buddy.
by the way thanks for suggestion:) bro

[2020-11-24 14:17] ReCodee commented on #1057
@Aman09072000 Can you please update the screenshots as per the latest app UI, as it would help confirm relevancy of the issue.

[2020-11-24 17:31] Aman09072000 commented on #1057
yaa buddy sure,
here is the updated screenshots.

<img width="245" alt="223" src="https://user-images.githubusercontent.com/64133045/100130593-e8cc0400-2ea8-11eb-9cd0-053e1e8ab272.png">

<img width="245" alt="Annotation 2020-11-24 225741" src="https://user-images.githubusercontent.com/64133045/100130496-c76b1800-2ea8-11eb-8591-ac1f60d9a7a3.png">
<img width="245" alt="223" src="https://user-images.

[2020-11-25 06:13] ReCodee commented on #1057
@Aman09072000  This the screenshot of UI of the `HistoryFragment.java`

<img src = "https://user-images.githubusercontent.com/59660380/100189418-4b0d1f00-2f12-11eb-9324-cea34fa0e88e.jpg" height = "500" width = "300" >

to update your branch you can rebase your branch head with upstream repo branch head.

[2020-11-25 09:26] Aman09072000 commented on #1057
Thanq very much buddy. I literally don't know about this.
in the updated App, there is also the same problem which I mentioned above.

the relevant screenshots are attached below.
<img width="202" alt="Annotation 2020-11-25 144809" src="https://user-images.githubusercontent.com/64133045/100208018-40f91980-2f2e-11eb-9dfc-e64dae777da0.png">

<img width="212" alt="Annotation 2020-11-25 144703" src="h

[2020-11-25 10:26] Aman09072000 opened #1060 "Adding a Save Button in Edit profile section to make App more user interactive."
**Summary:**

In our Mifos wallet app when we go to the edit profile part. there is not any button for saving all the details which user will change. there are only  2 buttons for change passwords and change passcode and there is not any button for saving Data.
I will add that button there and make the app more user friendly.

**Steps to reproduce:**

1- goto edit the profile section of the app.
2

[2020-11-26 19:40] rutvik-panchal opened #1061 "Back Button is not visible for all Activities"
**Summary:**

Change the color of back button, as it is not visible.
I have check the code already we are using different color for back button but is not reflected in the app.

**Steps to reproduce:**

Open Settings Activity (Back Button not visible initially)-> Click and Hold Back Button is visible

**Expected behavior:**

Back Button should be visible

**Observed behavior:**

Back Button is not

[2020-11-27 16:40] devansh-299 commented on #1057
@Aman09072000 the irregular chip sizes for "VPA" and "Mobile Number" inside the `Send Fragment` can in fact be made equal by settings the appropriate width value. But for the transaction amount and state names, I don't see any problem. Can you please explain what approach you have in mind for these?

[2020-11-27 16:58] ReCodee commented on #660
@devansh-299 can I work on this issue??

[2020-11-27 17:11] ReCodee commented on #1060
@Aman09072000 There is a save button in form of a FloatingActionButton which shows up when changes are made.

[2020-11-27 17:42] devansh-299 commented on #660
Sure go ahead

[2020-11-28 07:35] #1055 closed, assigned to Sparsh1212

[2020-11-28 07:38] #601 closed

[2020-11-28 07:53] Aman09072000 commented on #1060
@ReCodee   I know there is Button Buddy but it is not user-friendly. it is placed in an unfriendly place so most of the users facing problem to find it and its size and color is not inappropriate in comparing to other components of the app.

my idea is to make this button more interactive and user friendly so the user will easily interact with it. I will also change the size and position of the ap

[2020-11-28 08:08] Aman09072000 commented on #1057
@devansh-299  yaa, sure buddy for "VPA" and "Mobile Number" my plan is to make them equally separated so the both of them look the same and good visually good.
and my plan for transition amount I am planning to make them clickable so that when the user taps on it. it will directly go in the debited activity and the same with the credit one. I will make both of the credit and debit more attractive

[2020-11-28 09:21] devansh-299 commented on #1060
What changes do you have in mind exactly? To me personally, the floating action button looks fine

[2020-11-29 14:59] Aman09072000 commented on #1060
@devansh-299 bro I want to change the design and style and position of that button so it will look more visually good. as it is placed in the corner user faces difficulty to find it. and in my view, the button will not suit the Screen as it is not mixed with the screen properly.
I think it looks great after my implementation and modification.

[2020-11-29 15:00] Aman09072000 commented on #1057
@devansh-299  buddy ??

[2020-11-30 07:32] devansh-299 commented on #1060
Can you please attach a screenshot of your device?

[2020-11-30 16:12] Aman09072000 commented on #1060
@devansh-299 I already above attach it buddy.

[2020-12-01 18:37] EGOR-IND opened #1067 "Improvement in mobile verification OTP edittext"
**Summary:**

The otp edittext at mobile verification activity is not good as an UI component. A single character at single blank type of edittext would be good.

**Steps to reproduce:**

Go to mobile verification activity and enter mobile no. you will see an otp edittext which is not looking much good in UI aspect.

**Expected behavior:**

A single character at single blank type of edittext would

[2020-12-01 18:39] EGOR-IND commented on #1067
I'm working on this issue.

[2020-12-01 18:47] EGOR-IND commented on #1067
@shiv07tiwari can you tell me is this a good issue because it's my first issue and I'm going to solve it.

[2020-12-05 12:34] justdvnsh commented on #410
The Issue still persists. @shaliniv16 @Vipinsoni38 . Can I work on this issue, if available ?

[2020-12-06 09:32] ReCodee commented on #571
@devansh-299 can I work on this issue?

[2020-12-06 11:20] justdvnsh commented on #1046
@Priyansh-Kedia I am a new contributor to this project. It would be great if you'd let me take up this issue.

[2020-12-06 11:29] ReCodee commented on #1046
@justdvnsh Relevance of this issue is not yet confirmed, you can look for other open issues or make your own :)

[2020-12-06 11:33] justdvnsh commented on #410
@ReCodee How about this one ? Is this relevant ?

[2020-12-06 12:18] ReCodee commented on #410
@justdvnsh This functionality is yet to be implemented, I guess we don't have the necessary APIs.

[2020-12-06 12:48] justdvnsh commented on #410
@ReCodee Ohkayy 😅

[2020-12-07 13:35] Sparsh1212 commented on #643
Is this still up for grab ?

[2020-12-07 14:27] ReCodee commented on #643
@Sparsh1212 Are you able to reproduce this issue??

[2020-12-07 18:16] ReCodee opened #1072 "docs : update screenshots as per the latest UI of the app"
**Summary:**
There has been a lot of changes in the app UI and screenshots in `Screenshot.md` are not up to date.

[2020-12-08 05:47] ritish099 opened #1073 "Design of Mobile Number Field is Incorrect"
**Summary:**

Summarize your issue here.
Design of Mobile Number Field is Incorrect

**Steps to reproduce:**

Open the app and Payments->SEND->Mobile Number

**Expected behavior:**

The design should be aligned

**Observed behavior:**

The design is not aligned

**Device and Android version:**

Samsung J6, Android 10

**Screenshots:**

<img src="https://user-images.githubusercontent.com/54978105/1

[2020-12-08 05:50] ritish099 commented on #1073
Can i work on it ? @miPlodder @danishjamal104 @robustTechie

[2020-12-08 08:37] iamsh4shank commented on #1073
Hey @ritish099 go ahead and feel free to ask your doubts :)

[2020-12-08 15:08] Me-Abhishek-patel opened #1074 "App crashes while switching between SIFragment (or HistoryFragment) and SendFragment"
**Summary:**

The application crashes while executing getAllStandingInstructions in StandingInstructionsPresenter ( if SIFragment is not visible )

**Steps to reproduce:**

1. Go to Payments from Home
2. Go to SIFragment ( or HistoryFragment) by tapping on SI (or HISTORY)
3. Immediately switch back to SendFragment ( by tapping on SEND ) before SIFragment ( or HistoryFragment) can finish loading.
4

[2020-12-08 15:28] Me-Abhishek-patel commented on #1074
@shiv07tiwari @devansh-299 @robustTechie Can I work on this issue?

[2020-12-08 16:02] iamsh4shank commented on #1074
Yeah you can work on it

[2020-12-08 16:55] Me-Abhishek-patel commented on #1074
I have linked a pr please review it.

[2020-12-08 17:11] ritish099 commented on #1072
Can i take this issue ?

[2020-12-08 17:29] ReCodee commented on #1072
@ritish099 Sure but it's better to ask for the maintainer's approval on the issue first.

[2020-12-09 06:57] ritish099 commented on #1072
@ReCodee kindly mention here any of the maintainer's you know of

[2020-12-10 11:47] leoshrey commented on #1073
Hey, is this issue still open?
If not I would like to work on it.

[2020-12-10 12:19] danishjamal104 commented on #1073
Hey @leoshrey I think @ritish099 has already solved the issue.

[2020-12-10 14:06] mrudultora opened #1078 "Use of deprecated methods at many places in whole project"
**Summary:**

In the whole project, there are many statements where the deprecated approach is used.

**Steps to reproduce:**

For example, in onSimSelected method in ChooseSimDialog.java . There are many , it's one such example.

**Expected behavior:**

What did you expect the app to do?

It will as such not affect the use of the app. But switching the deprecated ones to the correct is for good.

[2020-12-10 14:08] mrudultora commented on #1078
@shiv07tiwari  Can I work on this ?

[2020-12-10 14:48] mrudultora commented on #477
@shiv07tiwari  Sir you are right. I encountered the same issue as by the steps you told. It is giving a nullpointerexception. Attaching a image of Logcat for more info.
Sir, I want to work on this issue. May I work on it?
![Crashed](https://user-images.githubusercontent.com/65870389/101786958-8d467b00-3b24-11eb-944c-d98db85e9913.png)

[2020-12-10 15:39] mrudultora commented on #477
@shaliniv16  @RajaVamsi11  When you tried it didnt't crashed (but exited from the app) because the KYCDescriptionFragment brings back you to the HomeFragment immediately due to onError callback in KYCDescriptionPresenter.java . I was able to reproduce it once after trying 7-8 times.

[2020-12-10 16:55] ReCodee commented on #1072
@ritish099 I exactly don't know who are the maintainers, I usually tag whoever does the recent merges/reviews maybe you can do the same but the best way would be to ask this in the community channel.

[2020-12-10 16:58] ReCodee commented on #679
@haran2248 are you still working on this issue?

[2020-12-10 19:24] mrudultora commented on #875
@devansh-299  @Bhavnaharitsa  Is anyone working on it ? May I take this one ?

[2020-12-13 06:50] #1057 closed, assigned to nobody

[2020-12-13 06:50] Aman09072000 commented on #1060
issue resolve

[2020-12-13 06:50] #1060 closed, assigned to nobody

[2020-12-23 20:46] Harshad09 opened #1088 "Feat: Adding Toast for Amount, Virtual Payment Address and Mobile Number in Payments."
**Summary:**

Particular empty edittext field is not mentioned by toast on pressing submit button.

**Steps to reproduce:**

1. Go to Payments.
2. Go to SEND fragment.
3. Inside SEND fragment tap on VPA Chip or Mobile Number chip.
4. There you can press the submit button without entering anything inside both (or any) of the edittext.

**Expected behavior:**

After pressing the submit button if any

[2020-12-25 18:01] deepak-prajapatii commented on #1061
@rutvik-panchal can i work on this issue?

[2020-12-25 18:03] deepak-prajapatii commented on #712
@Bhavnaharitsa can i work on this issue?

[2020-12-25 18:05] rutvik-panchal commented on #1061
@deepak-prajapatii I have already raised a PR and is under review.

[2020-12-25 18:09] deepak-prajapatii commented on #216
@RajaVamsi11 can i work on this issue?

[2020-12-27 19:43] rutvik-panchal commented on #848
@devansh-299 @luckyman20 Can i work on this issue?

[2020-12-30 17:06] Harshad09 commented on #700
@Bhavnaharitsa are you still working on this issue? Can I work on it

[2021-01-02 05:16] deepak-prajapatii opened #1090 "Remove all "Hardcoded Strings" in all XML file of this app."
**Summary:**

Remove all "Hardcoded string" by creating the strings in "strings.xml" file.

**Steps to reproduce:**

Hardcoded strings are present in "item_si.xml" and many more XML files. Simply open the file and wait for the loading of XML. You will find that there are many hardcoded strings.

**Expected behavior:**

The app should not show the "Hardcoded string" warning.

**Observed behavior:**

[2021-01-02 05:18] deepak-prajapatii commented on #1090
@naman14 @shiv07tiwari @devansh-299  please review my issue.

[2021-01-02 06:20] ritish099 opened #1091 "Extra Country Checker Code. Creating few bugs"
**Summary:**

Extra Country Checker Code. Creating a few bugs

**Steps to reproduce:**
Signup->uncheck Google Sign In->click on SignUp as Merchant or Customer

**Expected behaviour:**

Only one country code checker needed

**Observed behavior:**

Two country code checker which do not sync with each other.

**Device and Android version:**

Any

**Screenshots:**

<img src="https://user-images.github

[2021-01-02 08:49] ritish099 commented on #1091
@naman14 @shiv07tiwari @devansh-299 Kindly review it

[2021-01-02 15:29] EGOR-IND commented on #1090
@deepak-prajapatii  are you working on this issue, if not can i work on this

[2021-01-02 16:25] deepak-prajapatii commented on #1090
@EGOR-IND No, I am already working on this issue.

[2021-01-02 16:41] EGOR-IND commented on #1090
No problem, make a good contribution:).

[2021-01-02 16:47] deepak-prajapatii commented on #1090
Sure.

[2021-01-02 18:00] EGOR-IND opened #1093 "UI enhancement in activity_read_qr.xml"
**Summary:**

The UI in activity_read_qr.xml is a bit odd. The activity is used for scanning QR code.

**Steps to reproduce:**

The toolbar on top should be removed and the back button and scan code should be at a transparent frame.

**Expected behavior:**

The scan code activity should be transparent and every UI component should appear on that transparent frame

**Observed behavior:**

The issue

[2021-01-03 17:44] Harshad09 opened #1094 "Feat: Adding a security to check that device has root access or not."
**Summary:**

We can add a security check that the device has root access or not. Because rooted devices are less secure than nonrooted devices for any banking and wallet transaction.

**Expected behavior:**

The user should not get registered if the device has root access.

**Observed behavior:**

We can add a security check for rooted devices.

[2021-01-04 15:18] subhav13 opened #1097 "App crashing when data is not being fetched for a certain amount of time."
**Summary:**

Sometimes when the progress bar keeps running due to data not being fetched for any reasons it crashes the app with the below details :
   --------- beginning of crash
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.mifos.mobilewallet.mifospay, PID: 2867
    java.lang.IllegalStateException: progressBar must not be null
        at org.mifos.mobilewallet.mifospay.standinginstr

[2021-01-04 15:28] subhav13 commented on #541
@naman14 @luckyman20  Sir, since this issue is not fixed yet, can I work on it?
 EDIT: I have fixed the issue just waiting for the confirmation to make a pull request.

[2021-01-05 11:23] divyank00 commented on #892
Can I work on this issue @luckyman20 ? I also believe asking user for mobile number would be a better method rather than relying on sim settings

[2021-01-05 11:26] divyank00 commented on #791
Should I work on this @luckyman20 ?

[2021-01-05 16:45] divyank00 opened #1100 "App crashes while fetching data in SI section inside Payments"
**Summary:**
App crashes, when opening SI tab under Payments section and then switching to another section suddenly

**Steps to reproduce:**
1. Open Payments section from the bottom navigation bar
2. Open SI section
3. Open Home section by clicking on the home icon on the bottom navigation bar
4. Observe

**Expected behavior:**
Home section should open

**Observed behavior:**
Home sections open, b

[2021-01-05 18:51] divyank00 opened #1102 "Infinite loading after creating a Standing Instruction (SI)"
**Summary:**
After creating a successful Standing Instruction, the app doesn't proceed further.

**Steps to reproduce:**
1. Open Payments
2. Open SI
3. Click on the 'Add' Floating Action Button
4. Enter valid details and proceed
5. Click on confirm
6. Observe

**Expected behavior:**
After the successful creation of SI, the app should navigate back to the activity where all SI are visible

**Observ

[2021-01-05 19:00] divyank00 opened #1103 "SI refresh doesn't work"
**Summary:**
Refreshing SI page doesn't work.

**Steps to reproduce:**
1. Create a successful Standing Instruction
2. Press the back button on the toolbar
3. Refresh the SI page by pulling down
4. Go to Home Section
5. Open the SI page again

**Expected behavior:**
After refreshing the SI page, the new SI should be reflected

**Observed behavior:**
Refresh doesn't make a difference to the list. Ne

[2021-01-05 19:05] divyank00 opened #1104 "Feat: Delete SI confirmation dialog must be present"
**Summary:**
There should be a confirmation dialog before deleting an SI

**Steps to reproduce:**
1. Open SI tab inside Payments section
2. Click on one of the SI
3. Click on the three-dot at the end of the toolbar
4. Click on 'Delete Standing Instruction'

**Expected behavior:**
A confirmation dialog must be shown to the user before successfully deleting the SI

**Observed behavior:**
The SI is d

[2021-01-05 19:08] divyank00 opened #1105 "Deleted SI can not be deleted"
**Summary:**
Deletion of a deleted SI must not be possible

**Steps to reproduce:**
1. Open SI tab inside Payments section
2. Click on one of the SI whose status is Deleted
3. Click on the three-dot at the end of the toolbar
4. Click Delete Standing Instruction
5. Observe

**Expected behavior:**
There should not be any option of deleting an already deleted SI

**Observed behavior:**
User is able t

[2021-01-05 19:13] divyank00 opened #1106 "No security after the app comes to foreground from background"
**Summary:**
The security check after the app comes to the foreground after a period of inactivity must be stronger.

**Steps to reproduce:**
1. Open the app after keeping it in the background
2. App prompts for the passcode
3. Press the back button of phone
4. Observe

**Expected behavior:**
The app should close after pressing the back button

**Observed behavior:**
The user observes the screen w

[2021-01-05 19:38] divyank00 opened #1108 "App crashes when back pressed in SI detail page before data is fetched"
**Summary:**
App crashes when the user presses the back button in the detailed SI page before the data is fetched

**Steps to reproduce:**
1. Open SI tab under Payments section
2. Click on a SI
3. Press the phone's back button while the loader is visible
4. Observe

**Expected behavior:**
User should land on the previous screen

**Observed behavior:**
The user observes that he app crashes

**Devic

[2021-01-06 05:13] divyank00 opened #1116 "Infinite loader while downloading transaction receipt"
**Summary:**
An infinite loader is shown to user while downloading transaction receipt and rejecting the storage permission

**Steps to reproduce:**
1. Deny storage permissions from Phone's setting
2. Open Transfer
2. Open History
3. Click on a transaction
4. Click on 'Download' Floating action button
5. Deny the storage permission
6. Observe

**Expected behavior:**

What did you expect the app to

[2021-01-06 09:31] haran2248 opened #1119 "EditText in debit_card_fragment to be changed to TextInputLayout"
**Summary:**

Summarize your issue here.
The EditText in debit_card_fragment messes up the UI of the app.Therefore TextInputLayout has to be made instead of that to maintain uniformity in the UI.
**Steps to reproduce:**

How can we reproduce again the issue?
Finance->Accounts->linked accounts->Click Any bank account->Setup Upi pin-Debit card details

**Expected behavior:**

What did you expect the

[2021-01-06 11:02] Harshad09 opened #1122 "On pressing back button from passcode activity login activity is opening."
https://user-images.githubusercontent.com/50478348/103763353-b254dd80-503f-11eb-9f0c-95126534d8f5.mp4

**Summary:**

Pressing the back button opens the login activity.

**Steps to reproduce:**

1. Go to the passcode activity
2. Hit the back button

**Expected behavior:**

Login activity should only open when the user is logging in for the first time not when we press the back button in the passcod

[2021-01-06 11:02] EGOR-IND opened #1123 "add attr in layout files to resolve xml errors and margin between fragment_history category chips"
**Summary:**

There are many layout files that contain attr which are not supported by API lvl less than 17 and some files have widgets in constraint layout that doesn't have constraint attr, the files that contain those errors are
mifospay/src/main/res/layout/activity_faq.xml
mifospay/src/main/res/layout/activity_settings.xml
mifospay/src/main/res/layout/fragment_accounts.xml
mifospay/src/main/re

[2021-01-06 19:30] Harshad09 opened #1131 "Feature: Adding extra text to be share with QR code in android sharesheet in showQrActivity"
**Summary:**

Adding extra text to be shared with QR code with Intent in android Sharesheet in showQrActivity, for better user experience.

**Steps to reproduce:**

1. Go to Request fragment in Payments
2. Click on show code
3. Click on the share icon (located at top right)
4. Choose any app to share

**Expected behavior:**

The extra text should be share with a QR code to ease the user experience

[2021-01-07 05:27] divyank00 opened #1133 "Clicking on back button directly exits even if search results are displayed in Merchants"
**Summary:**

When a user enters merchants Fragment and search for a merchant and press back button this should first clear the search results and on the second back press it should exit that fragment

**Device and Android version:**
OnePlus 6
Android 10

**Screenshots:**

https://user-images.githubusercontent.com/50913976/103852990-170d4800-50d3-11eb-9a8c-da913ada7aec.mp4

[2021-01-07 06:08] divyank00 opened #1135 "App crashes in the merchant tab if back pressed before data is fetched"
**Summary:**
App crashes in  the merchant tab when the user pressed back button before the data is fetched

**Steps to reproduce:**
1. Open Finance Section
2. Open Merchant tab
3. Press Back Button
4. Observe

**Expected behavior:**
App should navigate back to home page

**Observed behavior:**
App crashes

**Device and Android version:**
OnePlus 6
Android 10

**Screenshots:**

https://user-images.

[2021-01-07 08:26] haran2248 opened #1137 "Heading size of activity_si_details is too big"
**Summary:**

Summarize your issue here.
Heading size of activity_si_details is too big.It makes it hard for the user to read the heading.As it spread across multiple lines.

**Steps to reproduce:**

How can we reproduce again the issue?
Payments->SI->Press the card view

**Expected behavior:**

What did you expect the app to do?
Heading was supposed to be clearly mentioned.

**Observed behavior:*

[2021-01-07 09:12] haran2248 opened #1139 "Invalid valid till dates in RecyclerViewAdapter of SI fragment"
**Summary:**

The dates in the SI fragment of the viewholder are invalid.It is in the DD/DD/DD format
![WhatsApp Image 2021-01-07 at 14 30 45](https://user-images.githubusercontent.com/56928954/103873662-2782ea00-50f6-11eb-9ea1-767d0997ef80.jpeg)

**Steps to reproduce:**
Payments->SI fragment->viewholder valid till dates

**Expected behavior:**
It is supposed to be in DD/MM/YYYY

**Observed behavi

[2021-01-08 06:22] divyank00 opened #1143 "Long click to copy is not easy for a new user to understand in receipt activtiy"
**Summary:**
Long click to copy is not easy for a new user to understand in the receipt activity

**Steps to reproduce:**
1. Open History in Payments
2. Click on a transaction and click on view receipt
3. Observe

**Expected behavior:**
Copy to clipboard and share icon to the right of receipt link

**Observed behavior:**
Long click is needed to copy the url

**Device and Android version:**
OnePlus

[2021-01-09 11:40] Harshad09 opened #1148 "Fixing warnings in xml files"
**Summary:**

There are warnings in xml files like -

- [ ] Image without contentDescription
- [ ] Hardcoded strings
- [ ] ScrollView size validation