[2017-09-20 10:00] santoshconflux opened #6 "Mifospay: Unable to send money. Showing the error : Unable to process transfer."
On Home page, tap on send button. On next page, provide the amount and VPA. Then press on Send Money and confirm.

[2017-09-20 10:03] santoshconflux opened #7 "Mifospay: Request Money page is just behaving like 'Send' Money page and throwing the same error"

[2017-09-20 10:06] santoshconflux opened #8 "Pixiepay(&Mifospay): We need to login again if we tap back button"
There should be  some time stamp before the application logs out.

[2017-09-28 12:04] luckyman000786 opened #9 "Virtual Payment Address should be of only single line"
**Observed Behavior:**
Currently, VPA is of multi-line while single line is more than sufficient for VPA input.
**Expected Behavior:**
VPA EditText should have one line and don't allow user to create multiple lines unnecessarily.
**Possible Fix:**
In fragment_payment_upi.xml, we can add android:singleLine or android:maxLines in VPA EditText

@edcable @therajanmaurya @naman14 Can I work on this iss

[2017-09-28 12:07] luckyman000786 commented on #9
@edcable Can I work on this issue ?

[2017-09-28 12:53] luckyman000786 opened #10 "Replace all the hardcoded strings with @string resource"
**Expected Behavior:**
 All strings should be added in strings.xml file which are hardcoded in other xml files.
**Observed Behavior:**
Only Some Strings are defined in strings.xml file while others are not.
**Possible Fix:**
Remaining Strings can be declared in strings.xml file of the app.
Can I go ahead on this ? @edcable @therajanmaurya

[2017-09-29 08:05] naman14 commented on #10
@luckyman000786 Yeah, you can work on this and extract the string resources. Just so you know, you can use Alt+L shortcut to automatically extract string resources, (hover over the hardcoded string in layouts and then Alt+L)

[2017-10-03 13:30] #10 closed

[2017-10-04 14:50] #9 closed

[2017-11-29 14:45] Ej-leone opened #16 "Issue when cloning the app"
Error:(4, 0) Could not get unknown property 'RblClientIdProp' for project ':app' of type org.gradle.api.Project.
<a href="openFile:/home/Ej/Mosee/peet/mobile-wallet/app/build.gradle">Open File</a>

Any help would be gladly appreciated

[2017-12-02 17:44] naman14 commented on #16
@Ej-leone I have mentioned this in the wiki [here](https://github.com/openMF/mobile-wallet/wiki/Building-the-code)
You need to add RblClientIdProp and RblClientSecretProp as environment variables.
Alternatively, you can also add both variables in `gradle.properties` file

Add the following lines in `gradle.properties`
`RblClientIdProp=randomstring`
`RblClientSecretProp=randomstring`

Let me know i

[2017-12-05 17:50] nb2998 opened #17 "Error logging in"
**Summary:**

On entering the credentials,the progressDialog keeps loading or a Toast is displayed saying 'Error logging in'.

**Steps to reproduce:**

Enter the credentials mentioned in [Wiki](https://github.com/openMF/mobile-wallet/wiki) to login.

**Expected behavior:**

Should have logged in successfully.

@naman14 Could you please help? Is it a backend issue? Thanks!

[2017-12-07 09:13] naman14 commented on #17
@nb2998 The password was expired for both pixiepay and mifospay, I have disabled the password expiry on the backend. You can use following credentials for logging in -
Pixie Pay - pixiepay, password
Mifos Pay - mifospay, password1

[2017-12-07 09:13] #17 closed

[2017-12-07 09:14] #16 closed

[2017-12-07 13:00] batbrain7 opened #18 "No action on clicking the signup button"
**Summary:**
On clicking the signup button on the login screen no action is performed.

**Steps to reproduce:**
Click on the sign up button on the login screen.
**Expected behavior:**
A new activity should open up asking for the details of a new user to sign up.
**Observed behavior:**
No action on clicking the button
**Device and Android version:**
Samsung Galaxy J2(2016) Android 6.0.1

[2017-12-07 13:03] naman14 commented on #18
@batbrain7 Can you explain the issue? You did not provide the necessary information. What do you mean by cl?

[2017-12-07 13:05] batbrain7 commented on #18
@naman14 I pressed enter by mistake while typing and incomplete issue was raised.

[2017-12-07 13:08] batbrain7 commented on #18
@naman14 I want to contribute to this issue.

[2017-12-07 14:20] naman14 commented on #18
Signup process is not feasible with the current backend system. There will have to be some changes to the Fineract platform to support user onboarding.
You can remove the signup button from Mifos Pay module and submit a pr. The signup button in PixiePay does move to some screens for collecting user information and account details

[2017-12-07 14:26] batbrain7 commented on #18
Okay, thanks.

[2017-12-11 10:23] #18 closed

[2017-12-12 01:56] srv-twry commented on #8
@santoshmath @naman14 Can i work on it if it's available ?

[2017-12-12 03:52] santoshmath commented on #8
Yes. @srv-twry

[2017-12-12 12:16] batbrain7 opened #21 "App crashes on clicking Send Button"
**Summary:**

In the transfer fragment on clicking the send money button when Amount is not entered the app crashes.

**Steps to reproduce:**

Click on Transfer or Send or Request on wallet screen and then click on Send Money button without entering any amount.

**Expected behavior:**

App should prompt the user to enter the amount or not leave the required fields empty.

**Observed behavior:**

T

[2017-12-12 12:17] batbrain7 commented on #21
May I rectify it @naman14 ?

[2017-12-12 12:35] naman14 commented on #21
@batbrain7 Sure, Feel free to work on the issue

[2017-12-12 14:28] #21 closed

[2017-12-15 10:53] batbrain7 opened #24 "On clicking Scan Code nothing is shown"
**Summary:**

On clicking "Scan Code" in the Transfer Screen nothing is shown.

**Steps to reproduce:**

Click on Transfer in Home Screen and then click on Scan Code option.

**Expected behavior:**

A barcode or QR code scanning camera should open up.

**Observed behavior:**

A blank screen with "Scan Code" written on the toolbar.

**Device and Android version:**

Samsung Galaxy J2(2016) Android V

[2017-12-15 10:54] batbrain7 commented on #24
@naman14 may I work on it?

[2017-12-23 06:06] nb2998 opened #25 "No change in brightness on viewing QR Code"
**Summary:**

There is no change in brightness of device when QR Code is shown to the user.

**Steps to reproduce:**

Transfer -> Show Code

**Expected behavior:**

The brightness of device can be maximised when clicked on "Show Code" and returned to normal when pressed back.

Can I work on this? @naman14

[2018-02-28 17:00] MartinTumusime opened #26 "What should i put on the keys. is their a special place i have to first sign up . Access keys in gradle"
**Summary:**

Summarize your issue here.

**Steps to reproduce:**

How can we reproduce again the issue?

**Expected behavior:**

What did you expect the app to do?

**Observed behavior:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you encounter this on?  What Android
version (e.g., Andr

[2018-02-28 17:04] MartinTumusime commented on #26
missing RblClientIdProp and RblClientSecretProp

[2018-06-05 04:33] naman14 opened #40 "Separate core and mifospay from pixiepay module"
Use jitpack.io to get an aar for our core library module. Use that in pixiepay and make it in a separate repository

[2018-06-05 04:36] naman14 opened #41 "Add invoicing support in mifospay"
Paying invoices created by a merchant needs to be added in mifospay.

[2018-06-05 04:39] naman14 opened #42 "Handle unique payment links"
Use intent filter and schemes to intercept unique payment links and handle them inside the app itself.

New payment links ganerated should have the same schema as the one that will be intercepted.

[2018-06-05 04:41] naman14 opened #43 "Add payment link support in core library"
For a pending invoice in fineract, corresponding payment link should be there

[2018-06-05 04:42] naman14 commented on #42
After intercepting the payment link, the app should be able to display the invoice details and payment options

[2018-06-05 04:49] naman14 opened #44 "Store person/business details of recent transactions"
App should be able to store with whom transactions have been done by a particular user.

Specifically, name of the person should also be stored in a transaction.

Further, transactions involving a specific person should also be fetched

[2018-06-05 04:52] naman14 opened #45 "Add UI for checking account balance using upi"
No changes required in core library for this

[2018-06-05 04:55] naman14 opened #46 "Differentiate between individual person and a merchant/business in user profile"

[2018-06-05 04:57] naman14 opened #47 "Add UI for initiating a new payment"

[2018-06-05 05:00] naman14 opened #48 "List all registered merchants and businesses."
When user initiates a new payment, he should be able to search from registered businesses.

Searching registered businesses should be implemented in core library

[2018-06-05 07:15] luckyman20 commented on #45
@naman14 Can I work on this?

[2018-06-05 08:55] naman14 commented on #45
@luckyman20 Thanks for your interest but these new issues are for this year's ongoing gsoc. I think I should add gsoc tag to the issues. Feel free to work on issues that don't have the gsoc tag

[2018-06-20 15:55] ankurs287 opened #51 "GCM to FCM upgrade in Fineract Back-end for notification"

[2018-06-20 16:00] ankurs287 commented on #51
assigned to @puneetkohli521

[2018-08-12 18:09] ankurs287 opened #54 "Outdated Wiki"
I've updated the wiki [here](https://github.com/ankurs287/mobile-wallet/wiki)
Updated Wiki link: https://github.com/ankurs287/mobile-wallet/wiki

To merge latest changes, follow [this](https://gist.github.com/larrybotha/10650410)

[2018-08-12 18:10] ankurs287 commented on #54
@naman14 @puneetkohli521 Kindly merge the latest wiki.

[2018-08-12 18:17] ankurs287 opened #55 "Gradle Check Throwing "Failed to run Gradle FindBugs Worker" Error"
[Link to the detailed error](https://gist.github.com/ankurs287/6c24f60f7e958478d61c7c6fa47f1bfc)
[https://gist.github.com/ankurs287/6c24f60f7e958478d61c7c6fa47f1bfc](https://gist.github.com/ankurs287/6c24f60f7e958478d61c7c6fa47f1bfc)

[2018-08-13 10:31] #42 closed

[2018-08-13 10:31] #41 closed

[2018-08-13 10:32] #43 closed

[2018-08-13 10:32] #44 closed

[2018-08-13 10:32] #45 closed

[2018-08-13 10:32] #47 closed

[2018-08-13 10:32] #48 closed

[2018-08-13 10:33] #46 closed

[2018-08-13 10:41] naman14 commented on #54
updated the wiki

[2018-08-13 10:41] #54 closed

[2018-10-20 17:27] luckyman20 opened #56 "Add Checks while storing cards"
**Summary:**

There should be some checks which are required for when we store cards. Currently, we do not have any checks.

**Steps to reproduce:**

Dashboard -> Saved Cards -> Add Card -> Try different things like leave some TextField empty or input a expired date.

**Expected behavior:**

There would be various checks while a user is adding a card like if a user has left any field empty then th

[2018-10-20 17:30] luckyman20 opened #57 "Mobile Number is not formatted"
**Summary:**

Mobile number is not correctly formatted, it is in raw form.

**Steps to reproduce:**

Go to Transfer Tab from Dashboard

**Expected behavior:**

I expected that mobile number would be well formatted according to its country code.

**Observed behavior:**

The mobile number was not formatted

**Device and Android version:**

Pixel 2 Android Marshmallow (Android Emulator)

[2018-10-20 17:39] luckyman20 opened #58 "App Crashes when trying to sign up without Google Account"
**Summary:**

The App crashed when I tried to sign up without a Google Account.

**Steps to reproduce:**

Login -> Register a Account -> Uncheck the checkbox of Google Account **_(important)_** -> Click on Register

**Expected behavior:**

I expected that it will take me to a screen where I can fill in my details and register myself.

**Observed behavior:**

The App crashed when I tried to Registe

[2018-10-20 17:42] luckyman20 opened #59 "Feature Request: Add Money"
**Summary:**

There is no option to add money whereas the wallet has a balance feature, so how would a customer add money into it.

**Expected behavior:**

There would be a Add Money option with different options like Debit/Credit Card, Netbanking and UPI.

**Observed behavior:**

There is no Add money feature.

**Device and Android version:**

Pixel 2 Android Marshmallow (Android Emulator)

[2018-10-20 17:57] luckyman20 opened #60 "Error while transferring money"
**Summary:**

When I tried to send money to other random UPI address, it is showing error in Toast ‘Error fetching Receiver’. Firstly, it should be shown in SnackBar and the error should be more clear like ‘Error finding Virtual Payment Address’ and the loader goes off in a infinite loop.

Also, the wallet balance at that time was 0 so my suggestion is that we should first check if balance is enou

[2018-10-24 19:41] drish1001 opened #61 "Inappropriate Hint Text in Change Passcode Text Field."
**Summary:**

Hint text for  Change Passcode in Edit Profile is inappropriate.

**Steps to reproduce:**

1. Go to ```Profile```.
2. Click on edit menu.

**Expected behavior:**

Hint text should be "New Passcode" in New Passcode text field.

**Observed behavior:**

Hint text shows "New Password" for a New Passcode text field.

**Device and Android version:**

Redmi Note 5 Pro (WHYRED)
MIUI Global 9

[2018-10-24 19:42] drish1001 commented on #61
May I please work on this issue?

[2018-10-25 13:32] PraneethVankayala opened #62 "In UI scrolling is very hard"
**Summary:**
When opening the App and going to bank accounts to link the bank account the scrolling is not vey smooth because we are using the Nested ScrollView and recycler View.

**Expected behavior:**

Smooth Scrolling.

**Observed behavior:**

Not smooth scrolling we have to scroll a bit hard to move to the next items in the list which will be not nice when anyone uses it.

**Device and Androi

[2018-10-25 13:33] PraneethVankayala commented on #62
Can I work on it

[2018-10-26 12:58] drish1001 opened #66 "Expedite Input Type for Change Passcode"
**Summary:**

Expediting input type for ```Change Passcode```

**Steps to reproduce:**

1. Go to ```Profile```
2. Click on ```Change Passcode```

**Expected behavior:**

On clicking Text field for ```Change Passcode``` Numeric keyboard will appear.

**Observed behavior:**

On clicking Text field for ```Change Passcode``` Alphanumeric keyboard will appear. (Where passcode can only be a numeric valu

[2018-10-26 12:58] drish1001 commented on #66
May I please work on this issue?

[2018-10-26 15:33] PraneethVankayala opened #68 "Incorrect Pin"
**Summary:**

When we press an incorrect passcode it must give a popup that it is an incorrect passcode

**Steps to reproduce:**

When we open the app it asks for the passcode

**Expected behavior:**
It must show  (Incorrect Passcode)

**Observed behavior:**

When we enter incorrect passcode nothing is shown

**Device and Android version:**

Xaiomi Redmi Note 4( Mido)
Android Version-7(Nougat)

**

[2018-10-26 15:33] #68 closed

[2018-10-26 15:39] PraneethVankayala opened #69 "Incorrect Passcode display in UI"
**Summary:**

When we open the app it must display incorrect passcode when we type the incorrect passcode

**Steps to reproduce:**

1. Open the app
2. A display appears to enter passcode

**Expected behavior:**

To show incorrect passcode when we entered incorrectly

**Observed behavior:**

When the incorrect passcode is entered nothing is displayed

**Device and Android version:**

Device-Xiaomi

[2018-10-26 15:40] PraneethVankayala commented on #69
May I work on this issue? please

[2018-10-28 05:37] drish1001 opened #70 "Adding transition effect to UI for Home Activity"
**Summary:**

Transition effect between the ```Home```, ```Profile``` and ```Transfer```

**Steps to reproduce:**

Go to ```Home```

**Expected behavior:**

On swiping left or right new activity should appear. If current activity is ```Home``` on sliding left, ```Tranfer``` activity should be displayed.

**Observed behavior:**

On sliding, doesn't switch to new activity.

**Device and Android vers

[2018-10-28 05:37] drish1001 commented on #70
May I please work on this feature?

[2018-11-03 17:45] #60 closed

[2018-11-03 23:44] m-sameer commented on #57
Do you mean the number should be formatted by E.164?
Example:
+91 753 2839486
Where +91 is the country code, 753 is area code and 2839486 is the phone number.

[2018-11-04 07:10] luckyman20 commented on #57
The correct format for a Indian Number would be: +91 9876543210

[2018-11-07 05:08] luckyman20 opened #74 "Feature Request: Remove Profile Picture Option"
**Summary:**

Currently, we are only having feature of Changing the Profile Picture. We want a Remove Profile Picture Option too. This can be achieved by when an user clicks on the profile picture a `BottomSheetDialog` comes up and shows both the option.

**Steps to reproduce:**

Dashboard -> Profile -> Edit Profile -> Change Photo.

**Expected behavior:**

App would provide me the option of Remov

[2018-11-07 05:56] luckyman20 opened #75 "Cannot change the email"
**Summary:**

There is option to change the email ID but it gives an error.

**Steps to reproduce:**

Dashboard -> Profile -> Edit Profile -> Change Email.

**Expected behavior:**

I would be able to change the email ID without any error.

**Observed behavior:**

When tried to change the email Id, error pops up.

**Device and Android version:**

Android Emulator Pixel 2 (Marshmallow)

[2018-11-07 05:59] luckyman20 opened #76 "Cannot change Mobile Number"
**Summary:**

There is option to change the mobile number but it gives an error.

**Steps to reproduce:**

Dashboard -> Profile -> Edit Profile -> Change Mobile Number.

**Expected behavior:**

I would be able to change the Mobile Number without any error.

**Observed behavior:**

When tried to change the email Id, error pops up.

**Device and Android version:**

Android Emulator Pixel 2 (Marshmal

[2018-11-07 08:35] luckyman20 opened #77 "Feature Request: Add FAQ Section"
**Summary:**

As of now, there is no FAQ section which would explain about the features of the app or organisation using it.

**Steps to reproduce:**

No steps to reproduce as feature doesn't exists.

**Expected behavior:**

There would be a FAQ section which would clarify about app's features. The FAQ section will be added under settings option in Profile Fragment. Create a button to launch an ac

[2018-11-09 08:41] letelete opened #79 "Feature Request: Disable login button if any field is empty"
**Summary:**

We could improve user experience by disabling login button if any login field is empty. PayPal

**Steps to reproduce:**

Leave any input empty

**Expected behavior:**

Disable login button

**Observed behavior:**

Login button is enabled even if Input is empty

**Device and Android version:**

Android 8.0 Huawei p10

**Screenshots:**

![preview](https://i.imgur.com/BOXFDbn.gif)

[2018-11-09 13:09] letelete opened #80 "Bug: User image and text below it, in the Profile section isn't centered because of missing margin parameter"
**Summary:**

User's profile picture and text below it aren't centered, because of missing `android:margin_right="@dimen/value_10dp"` parameter.

**Steps to reproduce:**

Dashboard -> Profile

and also

Dashboard -> Profile -> Edit Profile

**Expected behavior:**

Profile's picture and text below it should be centered.

**Observed behavior:**

Profile's picture and text below are not centered, but

[2018-11-09 19:40] letelete opened #83 "Bug: User's profile picture isn't rounded when profile image's changed"
**Summary:**

User's profile image should be always rounded.

**Steps to reproduce:**

Dashboard > Profile > Edit Profile > Change profile picture

**Expected behavior:**

Rounded profile image

**Observed behavior:**

The image is a rectangle shape.

**Device and Android version:**

Huawei p10, Android 8.0

**Screenshots:**

![44](https://user-images.githubusercontent.com/18665370/48284421-a705c7

[2018-11-09 20:51] #74 closed

[2018-11-10 08:37] #56 closed

[2018-11-10 08:42] #62 closed

[2018-11-10 08:50] ankurs287 commented on #83
@letelete Do you want to work on this issue?

[2018-11-10 08:56] ankurs287 opened #85 "Bug: Error while running gradle check"
**Summary:**

`./gradlew check` throws an error with following message:
`Task :core:findbugs
No files to be analyzed`

**Steps to reproduce:**

1. Open terminal on Android Studio
2. Run `./gradlew check`

**Expected behavior:**

`./gradlew check` to be executed successfully

**Observed behavior:**

`./gradlew check` throws an error with following message:
`Task :core:findbugs
No files to be analyz

[2018-11-10 09:01] letelete commented on #83
As soon as I finish the current GCI task I can handle this one.

[2018-11-10 14:03] MigDinny commented on #75
![image](https://user-images.githubusercontent.com/6632800/48302208-5f2f8080-e4f1-11e8-9083-6e4f8eada352.png)

I am able to change it.

[2018-11-10 14:53] #76 closed

[2018-11-10 20:41] MigDinny commented on #77
Where is supposed to be added the FAQ button? What do you mean by "under settings option"?

I would suggest to pick a question mark icon and put it next to the pencil, on its left. That button would launch the activity. What do you think?

[2018-11-11 06:30] ethan627hsu opened #89 "Edit Profile Photo Header Should Not Be Persistant"
**Summary:**

When editing the user profile, the user photo persists when scrolling downward

**Steps to reproduce:**

Go to the profile section and select the edit icon in the top right. Inflate the "change password" or "change passcode" and start scrolling, you will then see the profile picture persist, instead of scrolling away.

**Expected behavior:**

The profile picture should match the scro

[2018-11-11 06:32] #83 closed

[2018-11-11 06:37] ankurs287 opened #90 "Feature Request: Crop Image Support while changing photo in Edit Profile"
**Summary:**

Provide the support to crop an image when user tries to change the profile picture

[2018-11-11 10:31] #85 closed

[2018-11-11 10:56] ankurs287 commented on #77
@MigDinny Yes. You could do that. But don't put all the three options there. Instead create a menu button which shows three options: 1. Edit Profile, 2. Settings, 3. FAQ

[2018-11-11 14:40] #80 closed

[2018-11-11 14:46] letelete commented on #89
I agree. It really got me confused on my first time playing with app.

[2018-11-11 19:04] ethan627hsu opened #95 "Update Profile Section Does Not Handle Same Cases"
**Summary:**

When updating fields in the edit profile section, the user is not informed if they update their profile with the same data.

**Steps to reproduce:**

Visit the profile section and go to the editor by pressing the edit icon in the top right. In the editor, try updating a field with the same information. The app should have no mechanism to inform you that you have inputted the current

[2018-11-11 19:55] ethan627hsu opened #98 "Bad keyboard behavior during "new passcode" flow"
**Summary:**

When adding a new passcode, the EditTexts allow the user to type in letters (for a only number password), and an infinite amount of characters (for a 4 digit passcode).

**Steps to reproduce:**

Visit the profile section and go to the editor by pressing the edit icon in the top right. In the editor, try updating the passcode. The EditTexts should have the behavior described in the su

[2018-11-11 20:07] letelete opened #100 "Feature Request: Improve user's profile image user experience"
**Summary:**

Image should be bigger than the current one. I suggest you to change it to 96x96dp.

We should add a camera icon which should be attached to the user's profile image when in edit profile mode to let the user know he can easily modify his profile picture by clicking on it.

**Steps to reproduce:**

##### Image size:

In res/values/dimens there is a `<dimen name="user_profile_image_siz

[2018-11-11 20:29] letelete opened #101 "Bug: ./gradlew check fail on building master branch"
**Summary:**

Gradle check on the master branch doesn't pass check successfully. It's failing.

**Steps to reproduce:**

In your terminal on root directory:

[code]

**Expected behavior:**

Pass the build.

**Observed behavior:**

FAILURE: Build failed with an exception.

**What went wrong:**

[code]

[2018-11-11 20:30] letelete commented on #101
I will send a hotfix in a moment.

[2018-11-12 06:40] ankurs287 commented on #98
@ethan627hsu Thanks for your effort. But to change the passcode, we'll be directing user to mifos-passcode library. If you want to work on the task to change passcode, please visit:-https://github.com/openMF/mifos-passcode

[2018-11-12 06:44] #95 closed

[2018-11-12 06:48] #89 closed

[2018-11-12 10:38] ankurs287 commented on #98
@ethan627hsu Sure. I will.

[2018-11-16 13:45] MigDinny commented on #79
Are you working in this? If no, could I work on it? @letelete

[2018-11-16 15:21] letelete commented on #79
I've been working on this, just didn't send a pull request yet.

[2018-11-17 13:00] #100 closed

[2018-11-21 13:39] RajaVamsi11 commented on #59
@ankurs287 @luckyman20  I am interested in adding this feature. Can you please assign this to me?

[2018-11-21 13:42] luckyman20 commented on #59
@RajaVamsi11 This is a feature which is needed to be first discussed with community that how we are going to implement this and what are possible usecases. Though you can tell your approach.

[2018-11-23 12:32] luckyman20 opened #108 "Bug: Back button is not working correctly on Transfers and Profile Tab"
**Summary:**

When I click mobile's back button while I am either on Transfers or Profile Tab, it closes the app whereas in a ideal situation user should be taken to Home tab.

**Steps to reproduce:**

Open the app -> Go to either Transfers or Profile Tab -> Press back button of Mobile

**Expected behavior:**

When back button is pressed, user is taken to the Home Screen/Tab.

**Observed behavior:

[2018-11-28 00:42] hg-harshitgoyal opened #109 "Suggestions in Mifos Pay Android app"
THE 'LOG IN' PROCESS
The login process took a lot of time and needs some amendments.
Logging in is the first step of the app and the first impression on a user so it would have been more better if the app offers them something interactive and interesting.
Many a times when you log in the app shows error, but it does not display the reason for that error which annoys most of the users.

INTERFACE
I

[2018-12-04 09:52] letelete opened #112 "Redesign: Login"
Redesign the login layout to the new one.

This issue includes redesigning:

* (screen 1 of 23)
* (screen 2 of 23)

All screens can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off)

and source files here: [show repository](https://github.com/letelete/mifos-pay-app-design)

[2018-12-04 09:53] letelete opened #113 "Redesign: Prepare app for redesign"
We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mifos-pay-app-design). We will be working on the redesign implementation now.

This issue is about preparing an app for the redesign:

You'll need to up

[2018-12-04 09:55] letelete commented on #112
It's done already, just waiting for #111 merge

[2018-12-04 10:02] letelete opened #114 "Redesign: HomeActivity"
Redesign:

* bottom navigation view (change colors, icons to outlined, add new menu item)
* toolbar (change its margins, paddings, add global overflow menu, change the weight of font)
* remove the edit profile from the toolbar (this includes changes in the edit profile fragment)

This issue includes redesigning items visible on the screen:

* (screen 7 of 23) (bottom navigation view, toolbar)

All

[2018-12-04 10:04] letelete commented on #114
It's done already (https://github.com/letelete/mobile-wallet/tree/activity_home); waiting for #112 merge.

[2018-12-04 11:00] letelete opened #115 "Redesign: Home"
Redesign Home section (**NOTICE** Don't confuse with #114 It's completely different task)

This issue includes redesigning items visible on the screen:

* (screen 7 of 23)

All screens can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off)

and source files here: [show repository](https://github.com/letelete/mifos-pay-app-design)

[2018-12-04 11:00] letelete commented on #115
I'm working on it

[2018-12-04 12:49] utsavsachdeva opened #116 "App stops working"
The mifos pay app stops working when i choose the google account for the sign up.

I am using a lenovo device with android version 6.0
https://photos.app.goo.gl/zJbwjUv14zjiZH3XA

[2018-12-06 13:43] #114 closed

[2018-12-06 13:43] #113 closed

[2018-12-06 13:43] #112 closed

[2018-12-06 13:43] #115 closed

[2018-12-06 14:08] letelete opened #120 "Redesign: Profile"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-06 14:18] letelete opened #121 "Redesign: Edit Profile"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-06 14:26] letelete opened #122 "Redesign: Prepare Payments for the redesign"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-06 14:28] letelete opened #123 "Redesign: Prepare Finances for the redesign"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-08 03:59] #61 closed

[2018-12-08 16:13] letelete opened #127 "Redesign: Create connection between Profile and EditProfile"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-08 16:20] #120 closed

[2018-12-08 16:33] letelete opened #128 "Redesign: Bug in Home fragment - Transactions History fetch successfully after the second time, not on startup"
**Summary:**

Fetching transactions history is an asynchronous process, which is important for the home fragment to display history properly. For now, we're struggling with it since the user needs to refresh the home page manually to get his history.

**Steps to reproduce:**

**Expected behavior:**

Transactions History should load successfully on startup, not on the second time

**Observed behavi

[2018-12-08 16:36] letelete commented on #128
I think that creating a separated interface for retrieving data from the async task on its success / error and transfer the data to the UI might do the job

[2018-12-08 18:15] letelete opened #129 "Redesign: MemoryLeak in EditProfile fragment"
EditProfile is leaking a memory because of a progress dialog running even if the user exited an Activity.

[code]

[2018-12-09 05:24] bauripalash opened #132 "Never Recieved OTP while trying to Sign Up as Customer"
**Summary:**

While trying to sign up for Mifos Pay app as a customer, I entered my mobile number but never received OTP

**Steps to reproduce:**

* Open Up the app
* Signup as Customer
* Enter Mobile number
* Click next

**Expected behavior:**

Receive an OTP on my mobile

**Observed behavior:**

No OTP Received

**Device and Android version:**
* Google Pixel 2 : Android 9
* Samsung Galaxy S9+ :

[2018-12-09 07:08] #121 closed

[2018-12-09 08:21] #129 closed

[2018-12-09 11:18] #122 closed

[2018-12-09 11:54] #123 closed

[2018-12-09 12:00] letelete opened #134 "Redesign: /Payments/Send"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-09 12:00] letelete opened #135 "Redesign: /Payments/History"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-09 12:02] letelete opened #136 "Redesign: /Payments/Invoices"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-09 12:03] letelete opened #137 "Redesign: /Finance/Accounts"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-09 12:04] letelete opened #138 "Redesign: /Finance/Cards"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-09 12:12] letelete opened #139 "Redesign: /Finance/Merchants"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-09 12:13] letelete opened #140 "Redesign: /Finance/KYC"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

We are working on the app redesign. The prototype is done and can be found here: [show prototype](https://xd.adobe.com/view/8581e34d-8b91-49ec-7c21-000d98c8f18b-f3b0/?hints=off), and source files here: [show repository](https://github.com/letelete/mif

[2018-12-10 08:11] manddy commented on #140
@letelete  hey are you are the maintainer of this page?

[2018-12-10 08:14] letelete commented on #140
I'm just a contributor here. For any specific details, you might want to contact with @ankurs287 or @luckyman20

[2018-12-10 17:20] manddy commented on #140
@letelete hey right now the design of the app is quite different do we have to incorporate this design in the main code?

[2018-12-10 17:46] letelete commented on #140
We are working on the app redesign on the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign) branch, and so we are modifying the code there. This issue is about implementing a design from the screen, so the app might look different.

That's the latest view of the KYC tab

![400b39ad-b701-46cd-b053-b352d3ec6ad9](https://user-images.githubusercontent.com/18665370/49750659-cc2e6580-fca

[2018-12-11 13:30] letelete opened #144 "Redesign: Add cross-fade transition for bottom navigation"
**NOTICE**

**Remember to checkout and send a pull request to the [redesign](https://github.com/openMF/mobile-wallet/tree/redesign)  branch.**

---

**Summary:**

We could improve a layout by adding some transition for bottom navigation. For now, we don't have any

Google recommends cross-fade for bottom navigation

source: https://material.io/design/components/bottom-navigation.html#behavior

![e

[2018-12-11 13:45] letelete commented on #144
I'll work on this

[2018-12-12 14:59] #128 closed

[2018-12-12 14:59] #127 closed

[2018-12-12 15:21] letelete opened #146 "Redesign: Payments section has a "Finance" title"
Should be "Payments" instead

![image](https://user-images.githubusercontent.com/18665370/49879293-f9a11d80-fe29-11e8-8a6c-afa78854ac2c.png)

[2018-12-12 15:22] letelete commented on #146
I'll fix it

[2018-12-12 19:54] #146 closed

[2018-12-12 21:48] manddy commented on #140
![screenshot_2018-12-13-03-14-31-242_org mifos mobilewallet mifospay](https://user-images.githubusercontent.com/22556185/49900769-84fbcc80-fe85-11e8-9e9f-376891338a11.png
@ankurs287 @luckyman20  I have managed to integrate this tab if you could approve should I send a PR?

[2018-12-12 23:51] letelete commented on #140
Hey @manddy,

I have some comments according to your work;

First thing first: send a pull request with your submission so maintainers could take a look at your code and verify it. If there will be anything wrong, you can always commit changes and push the pull request again. Don't post the final look of the issue in the comments section just like you have done that there.

Furthermore:

1. The ba

[2018-12-13 10:34] letelete commented on #135
I'll work on this

[2018-12-15 20:45] codepoet2017390 opened #149 "Toast message should appear if PIN is wrong"
**Summary:**
A toast message should be shown if the entered PIN is wrong while logging after successfully setting up the PIN

**Steps to reproduce:**
Set up Login Through PIN and open the App. Add a wrong PIN

**Expected behavior:**
A toast should be shown saying that the entered PIN is wrong

**Device and Android version:**
OnePlus 5
Android Oreo 8.1

[2018-12-15 21:06] codepoet2017390 opened #150 "App crashes on pressing back button in Send Fragment while in Landscape Mode"
**Summary:**

App crashes on pressing back button in Send Fragment while in Landscape Mode

**Steps to reproduce:**

Click send option in Home activity while in Landscape Mode and then press back. APP CRASHES(BUG)

**Expected behavior:**

App should not crash rather return back to home activity

**Device and Android version:**
OnePlus5
Android oreo 8.1

[2018-12-15 21:06] codepoet2017390 opened #151 "App crashes on pressing back button in Request Fragment while in Landscape Mode"
**Summary:**

App crashes on pressing back button in Request Fragment while in Landscape Mode

**Steps to reproduce:**

Click request option in Home activity while in Landscape Mode and then press back. APP CRASHES(BUG)

**Expected behavior:**

App should not crash rather return back to home activity

**Device and Android version:**
OnePlus5
Android oreo 8.1

[2018-12-15 21:06] codepoet2017390 opened #152 "App crashes on pressing back button in SavedCards Fragment while in Landscape Mode"
**Summary:**

App crashes on pressing back button in SavedCards Fragment while in Landscape Mode

**Steps to reproduce:**

Click SavedCards option in Home activity while in Landscape Mode and then press back. APP CRASHES(BUG)

**Expected behavior:**

App should not crash rather return back to home activity

**Device and Android version:**
OnePlus5
Android oreo 8.1

[2018-12-15 21:06] codepoet2017390 opened #153 "App crashes on pressing back button in Trusted Merchants Fragment while in Landscape Mode"
**Summary:**

App crashes on pressing back button in Trusted Merchants Fragment while in Landscape Mode

**Steps to reproduce:**

Click Trusted Merchants option in Home activity while in Landscape Mode and then press back.
APP CRASHES(BUG)

**Expected behavior:**

App should not crash rather return back to home activity

**Device and Android version:**
OnePlus5
Android oreo 8.1

[2018-12-17 16:08] #149 closed

[2018-12-20 07:45] codepoet2017390 opened #155 "App crashes on scanning QR code if amount is empty"
**Summary:**
App crashes on scanning QR code if amount field is empty.

**Steps to reproduce:**
How can we reproduce again the issue?
1) Navigate to transfer fragment and without entering amount click Scan QR code.
2) Scan any code
3) App crashes (BUG)

**Expected behavior:**
The user should be alerted to first enter the amount

**Device and Android version:**
OnePlus 5
Android Oreo 8.1

[2018-12-20 12:37] codepoet2017390 opened #157 "Landscape mode not required"
**Summary:**
Landscape mode is not required for the app

**Expected behavior:**
The app should work only in portrait mode

**Device and Android version:**
OnePlus 5
Android Oreo 8.1

[2018-12-20 13:44] codepoet2017390 commented on #69
@luckyman20  please close this issue. It has been solved

[2018-12-20 13:51] codepoet2017390 commented on #25
@luckyman20 @naman14  Can i work on this?

[2018-12-20 17:40] #69 closed

[2018-12-20 17:42] luckyman20 commented on #25
@codepoet2017390 Please go ahead.

[2018-12-21 15:11] luckyman20 commented on #70
This has been implemented by @letelete already.

[2018-12-21 15:11] #70 closed

[2018-12-21 15:11] luckyman20 commented on #77
Has been solved in PR #104

[2018-12-21 15:11] #77 closed

[2018-12-21 15:12] luckyman20 commented on #98
@ethan627hsu It has been already reported by @drish1001

[2018-12-21 15:12] #98 closed

[2018-12-21 15:15] luckyman20 commented on #109
@hg-harshitgoyal Thank you for your suggestions, but this doesn't qualifies as a issue, so closing it.

[2018-12-21 15:15] #109 closed

[2018-12-21 22:41] shiv07tiwari commented on #139
@letelete Hello. I am willing to contribute to this resigning of the app.
Can I work on this issue ?
Also, using the demo account, it says "You haven't added any Merchants"
How can I add the merchants in Demo Account ?

[2018-12-21 23:56] letelete commented on #139
Hey @shiv07tiwari

The visible screen is nothing but a placeholder. You need to implement the functionality of adding merchants.

[2018-12-22 01:05] shiv07tiwari commented on #139
@letelete .
Can I break this issue into two parts (as I am a beginner and I might find adding functionality a bit difficult ).
First I can just fetch the Trusted Merchants and do as present in master branch of the project.
Then I can try to implement the addition functionality.(In which I might need some guidance as to how to move forward with it).

[2018-12-22 08:13] manddy commented on #140
@luckyman20 I have completed this task can i send the PR ?

[2018-12-22 10:19] manddy commented on #140
@luckyman20 @ankurs287  kindly review the PR

[2018-12-22 11:12] letelete commented on #139
Well, I think you can just go ahead with the first part (fetching merchants and redesigning the tab). Send a pr when you're ready. Implementing addition functionality will be a separated issue then :)

Btw. remember we've got an [item_casual_list.xml](https://github.com/openMF/mobile-wallet/blob/redesign/mifospay/src/main/res/layout/item_casual_list.xml) file which is a skeleton for (probably all

[2018-12-22 11:44] manddy opened #160 "LoginActivity"
**Summary:**

The text view -'don't have an account ?Create one'
is the login activity is not fully appearing on the screen which is leading to a bad user interface

**Screenshots:**

![issue1](https://user-images.githubusercontent.com/22556185/50373995-fa496900-060c-11e9-965b-52f1c5855806.png)

[2018-12-22 11:48] manddy commented on #137
@luckyman20 @ankurs287  i want to work on this issue ! kindly assign me this issue

[2018-12-22 11:49] manddy commented on #116
@utsavsachdeva  i think @luckyman20  was working on this issue

[2018-12-22 12:05] manddy opened #161 "App crashing on start"
**Summary:**

The app crashes as soon as it launches but when run again it does not crashes
The terminal shows this error
 '' java.lang.NullPointerException: Attempt to invoke virtual method 'void org.mifos.mobilewallet.mifospay.data.local.PreferencesHelper.setFirebaseRegId(java.lang.String)' on a null object reference''

[2018-12-22 22:01] shiv07tiwari commented on #139
PR #162 send. Made the changes @letelete

[2018-12-23 12:01] shiv07tiwari commented on #138
Working on this.

[2018-12-24 13:03] manddy commented on #134
@letelete
![screenshot from 2018-12-24 18-30-36](https://user-images.githubusercontent.com/22556185/50400094-19313200-07aa-11e9-955e-d1a9d4843310.png)
Why is the button background color of button appearing blue even when i have set the android:background of the button to white or any other colour

[2018-12-28 08:08] manddy commented on #134
working on this issue now

[2018-12-28 09:32] ankurs287 commented on #139
Send the screenshots for the new changes made. @shiv07tiwari

[2018-12-28 09:46] shiv07tiwari commented on #139
![image](https://user-images.githubusercontent.com/38163725/50511326-42f09e80-0ab3-11e9-9a8f-bcf13b62d2e1.png)
![image](https://user-images.githubusercontent.com/38163725/50511390-72071000-0ab3-11e9-94dc-252bbc722762.png)

Screenshots @ankurs287

[2019-01-06 10:40] codepoet2017390 commented on #136
Can i work on this @letelete  @luckyman20 ?

[2019-01-06 11:07] letelete commented on #136
Sure @codepoet2017390

[2019-01-06 12:59] #8 closed

[2019-01-06 13:09] #6 closed

[2019-01-06 13:10] #7 closed

[2019-01-06 13:10] #24 closed

[2019-01-06 13:13] #25 closed

[2019-01-06 13:14] #26 closed

[2019-01-06 13:14] #51 closed

[2019-01-06 13:14] #55 closed

[2019-01-06 13:17] ankurs287 commented on #58
@luckyman20 Try signing up again. It has been fixed now. Let me know if the issue stills occurs.

[2019-01-06 13:17] #58 closed

[2019-01-06 13:21] ankurs287 commented on #66
@drish1001 The appropriate way to change the passcode is to direct the user to mifos-passcode setup again as done while first login.

[2019-01-06 13:42] #152 closed

[2019-01-06 13:42] #151 closed

[2019-01-06 13:42] #150 closed

[2019-01-06 13:42] #157 closed

[2019-01-06 16:20] codepoet2017390 commented on #136
@letelete can u brief what all needs to be done for this issue?

[2019-01-07 10:01] manddy opened #170 "Adding "add merchants button" in the merchants tab in finance tab"
**Summary:**
As per the current code there is no add merchants button in finance tab.

What did you expect the app to do?
There should be a button in the ui for adding mechants

What did you see instead?  Describe your issue in detail here.
No button seen

[2019-01-07 10:02] manddy commented on #170
@ankurs287  I would like to work on this issue

[2019-01-07 10:04] manddy opened #171 "Adding add account button in finance tab"
**Summary:**
Currently there is no add accounts button in the accounts fragment in finance tab

**Expected behavior:**
There should be a add account button

**Observed behavior:**
No add account button seen right now

[2019-01-07 10:05] manddy commented on #171
@ankurs287  kindly assign me this

[2019-01-07 10:13] manddy opened #172 "Change Passcode in edit profile"
**Summary:**
Right now there is a button in edit profile to change passcode  in edit profile but it is not working

**Expected behavior:**
Steps to make it workable

**Screenshots:**
![canvas](https://user-images.githubusercontent.com/22556185/50762537-38908a80-1293-11e9-8c02-44bc2004326b.png)

[2019-01-07 10:15] manddy commented on #172
@ankurs287  kindly assign me this issue

[2019-01-07 10:16] #161 closed

[2019-01-07 10:16] #160 closed

[2019-01-07 17:59] codepoet2017390 commented on #171
@manddy  what do you plan on implementing on clicking the Add accounts button?

[2019-01-07 18:01] manddy commented on #171
@codepoet2017390  have a  look at the master branch code ,We have to implement a separate page for adding more accounts for users

[2019-01-07 18:15] codepoet2017390 opened #173 "Updating the Readme of the project"
**Summary:**
I will update the readme.md file of the project and make it more informative and presentable for first time contributors. The readme would also contain contribution guidelines and important links for contributing to the project.

![screenshot_20190113-174944](https://user-images.githubusercontent.com/37406965/51085243-86f2cd00-175c-11e9-9f5e-8a2324cfda4a.jpg)
![screenshot_20190113-175

[2019-01-07 18:25] codepoet2017390 commented on #173
@luckyman20  I would like to work on this

[2019-01-07 18:58] codepoet2017390 commented on #171
@manddy yes but the master branch already has a functional add account screen existing and finally the redesign branch will be merged with master so i dont think you should implement the backend part again in the redesign and also button as an UI element was a part of the redesign issue https://github.com/openMF/mobile-wallet/issues/137
So i just wanted to know if u planned on doing something diff

[2019-01-07 19:19] manddy commented on #171
@codepoet2017390  we had actually divided the merchants and account section in 2 parts one for fetching and one for adding right now i have done the fetching part adding part is still left to implement and it is not only a backend part but requires different screens after clicking the button.Implementation part of the next window is still vague to me right now .

[2019-01-08 11:23] luckyman20 commented on #173
Work on only one issue at a time. I think you have already claimed one redesign issue.

[2019-01-08 14:38] ankurs287 opened #174 "Document the files in mifopay/auth package"
**Summary:**
Document the files in mifospay/auth package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/auth

[2019-01-08 14:49] luckyman20 opened #175 "Document the files in mifopay/bank package"
**Summary:**

Document the files in mifopay/bank package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/bank

[2019-01-08 14:50] luckyman20 opened #176 "Document the files in mifopay/base package"
**Summary:**

Document the files in mifopay/base package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/base

[2019-01-08 14:53] luckyman20 opened #177 "Document the files in mifopay/common package"
**Summary:**

Document the files in mifopay/common package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/common

[2019-01-08 14:54] luckyman20 opened #178 "Document the files in mifopay/data package"
**Summary:**

Document the files in mifopay/data package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/data

[2019-01-08 14:55] luckyman20 opened #179 "Document the files in mifopay/editprofile package"
**Summary:**

Document the files in mifopay/editprofile package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/editprofile

[2019-01-08 14:56] luckyman20 opened #180 "Document the files in mifopay/faq package"
**Summary:**

Document the files in mifopay/faq package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/faq

[2019-01-08 14:57] luckyman20 opened #181 "Document the files in mifopay/home package"
**Summary:**

Document the files in mifopay/home package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/home

[2019-01-08 14:59] luckyman20 opened #182 "Document the files in mifopay/invoice package"
**Summary:**

Document the files in mifopay/invoice package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/invoice

[2019-01-08 15:00] luckyman20 opened #183 "Document the files in mifopay/kyc package"
**Summary:**

Document the files in mifopay/kyc package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/kyc

[2019-01-08 15:03] luckyman20 opened #184 "Document the files in mifopay/merchants package"
**Summary:**

Document the files in mifopay/merchants package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/merchants

[2019-01-08 15:04] luckyman20 opened #185 "Document the files in mifopay/notification package"
**Summary:**

Document the files in mifopay/notification package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/notification

[2019-01-08 15:05] luckyman20 opened #186 "Document the files in mifopay/passcode package"
**Summary:**

Document the files in mifopay/passcode package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/passcode

[2019-01-08 15:06] luckyman20 opened #187 "Document the files in mifopay/qr package"
**Summary:**

Document the files in mifopay/qr package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/qr

[2019-01-08 15:06] luckyman20 opened #188 "Document the files in mifopay/receipt package"
**Summary:**

Document the files in mifopay/receipt package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/receipt

[2019-01-08 15:07] luckyman20 opened #189 "Document the files in mifopay/registration package"
**Summary:**

Document the files in mifopay/registration package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/registration

[2019-01-08 15:08] luckyman20 opened #190 "Document the files in mifopay/savedcards package"
**Summary:**

Document the files in mifopay/savedcards package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/savedcards

[2019-01-08 15:08] luckyman20 opened #191 "Document the files in mifopay/settings package"
**Summary:**

Document the files in mifopay/settings package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/settings

[2019-01-08 15:09] luckyman20 opened #192 "Document the files in mifopay/transactions package"
**Summary:**

Document the files in mifopay/transactions package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/transactions

[2019-01-08 15:09] luckyman20 opened #193 "Document the files in mifopay/utils package"
**Summary:**

Document the files in mifopay/utils package: https://github.com/openMF/mobile-wallet/tree/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/utils

[2019-01-08 20:14] shiv07tiwari commented on #184
Hello @luckyman20 @ankurs287
I would like to work on this and similar issues.
What guidelines you want me to follow ?
How exactly do you need the documentation?

[2019-01-09 13:19] manddy commented on #178
@luckyman20  do we have to write comments in the code or make a separate document for it

[2019-01-09 13:19] luckyman20 commented on #178
Comment in the code.

[2019-01-09 17:55] shaliniv16 opened #195 "App crashes while searching in Trusted Merchants Fragment if the device is not connected to the internet"
**Summary:**

App crashes while searching in Trusted Merchants Fragment if the device is not connected to the internet

**Steps to reproduce:**

1. Disconnect your device from the internet
2. Click Trusted Merchants option in Home activity
3. Type what you want to search for in the search box
4. APP CRASHES(BUG)

**Expected behavior:**

App should display a popup message instead of crashing.

**De

[2019-01-09 20:43] manddy commented on #183
@luckyman20  Can i work on this issue?

[2019-01-10 10:41] luckyman20 commented on #183
Yes, please go ahead.

[2019-01-10 14:13] PraneethVankayala commented on #174
@ankurs287 or @luckyman20 can u elaborate this issue

[2019-01-10 14:53] PraneethVankayala commented on #174
@luckyman20 can I work on this issue

[2019-01-10 16:11] luckyman20 commented on #174
Yeah, sure. Please go ahead.

[2019-01-10 19:49] manddy commented on #179
@luckyman20 Kindly assign me this issue

[2019-01-11 02:53] luckyman20 commented on #179
Please go ahead.

[2019-01-12 13:34] manddy commented on #137
@letelete The link for the design of the screens is not opening

[2019-01-12 15:48] luckyman20 commented on #137
@manddy I don't you need, you are given design of the screen which you need to make for this issue.

[2019-01-12 20:56] #170 closed

[2019-01-12 20:59] #171 closed

[2019-01-13 04:04] shaliniv16 commented on #195
@luckyman20 please review the pull request.

[2019-01-13 05:35] shaliniv16 opened #200 "Brings to the home activity on clicking Complete KYC Fragment when there isn't any internet connection"
**Summary:**

Brings to the home activity on clicking Complete KYC Fragment when there isn't any internet connection

**Steps to reproduce:**

1. Disconnect your device from the internet
2. Click Complete KYC Fragment option in Home activity
3. Moves back to the Home Activity

**Expected behavior:**

Should open the Complete KYC Fragment

**Observed behavior:**

Moves back to the Home Activity

**

[2019-01-13 14:35] codepoet2017390 commented on #191
@luckyman20  can i work on this

[2019-01-13 14:35] codepoet2017390 commented on #187
@luckyman20  can i work on this

[2019-01-13 14:36] luckyman20 commented on #191
Go ahead :)

[2019-01-13 14:36] luckyman20 commented on #187
@codepoet2017390 Work on only one issue at a time.

[2019-01-14 09:53] aasaru opened #203 "Please add a license to repository"
**Summary:**

Please [add a license to this repository](https://help.github.com/articles/adding-a-license-to-a-repository/) and preferably also as a separate file to root of the repository and to top of every source file (with a plugin).

I would create a pull request myself but I don't know what license you have chosen for this code.

Thanks!

[2019-01-15 06:37] #173 closed

[2019-01-15 06:43] #195 closed

[2019-01-15 07:16] #184 closed

[2019-01-15 07:54] shiv07tiwari commented on #180
Working on this.

[2019-01-15 15:20] #180 closed

[2019-01-15 15:33] shiv07tiwari commented on #190
Working on this.

[2019-01-15 16:50] manddy commented on #138
@shiv07tiwari are you working on this issue now ?

[2019-01-15 16:53] shiv07tiwari commented on #138
@manddy Yes.

[2019-01-15 17:06] codepoet2017390 commented on #136
@luckyman20 please close this

[2019-01-15 17:09] codepoet2017390 commented on #155
@luckyman20 please close this

[2019-01-15 21:10] manddy commented on #132
@bauripalash  Is this issue resolved?

[2019-01-15 21:23] manddy commented on #66
@drish1001  are you working on this ?

[2019-01-16 03:11] #155 closed

[2019-01-16 03:11] #136 closed

[2019-01-16 05:58] #190 closed

[2019-01-16 06:05] #200 closed

[2019-01-16 12:26] shaliniv16 opened #214 "User's profile picture upload fails"
**Summary:**

User's profile picture upload fails.

**Steps to reproduce:**

1. Go to profile activity
2. Click on Edit Profile
3. Change profile picture
4. Go back to profile activity

**Expected behavior:**

It should upload the picture.

**Observed behavior:**

Profile picture not uploaded

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0
.

[2019-01-16 13:54] drish1001 commented on #66
Yes, I'm sorry wasn't able to update about my work. I will be doing that
soon.

On Wed 16 Jan, 2019, 2:53 AM manddy <notifications@github.com wrote:

[2019-01-16 16:03] codepoet2017390 commented on #181
ill work on this

[2019-01-17 11:45] RajaVamsi11 commented on #185
@luckyman20 Can I work on this issue?

[2019-01-17 18:19] RajaVamsi11 opened #216 "Migrate to AndroidX"
**Summary:**
Since AndroidX is released, we should migrate the support libraries to the androidx namespace.AndroidX maps the original support library API packages into the androidx namespace. Atleast migrate the stable libraries to the androidx namespace.

**Additional Context:**
Please refer this [link](https://developer.android.com/jetpack/androidx/migrate#migrate)

@luckyman20 @ankurs287 What d

[2019-01-17 18:58] RajaVamsi11 opened #217 "Increase the compile and target SDK version"
**Summary:**
The compileSdkVersion and targetSdkVersion which are set to versions 26 and 26, respectively, must be changed to 28( Android Pie)  as the latest Android APIs must be used to make use of the latest features.

@luckyman20 @ankurs287 Can you please review this issue? I will fix this.

[2019-01-18 08:39] luckyman20 commented on #217
@RajaVamsi11 That is a good idea but that might create some issues because we have quite complex project now and we have configured all things as to version 26.

What I can suggest is that you can change it in your local machine and then check if any issue is coming.

[2019-01-18 14:31] luckyman20 commented on #217
Okay, Looks fine. Go ahead.

[2019-01-18 15:11] shaliniv16 commented on #214
@luckyman20 can I work on this issue?

[2019-01-18 15:39] luckyman20 commented on #214
App is being re-designed and I think it is resovled in redesign branch. Can you please check and update?

[2019-01-18 15:41] shaliniv16 commented on #214
Yeah alright.

[2019-01-18 17:12] RajaVamsi11 opened #220 "Add ScrollView in login page"
**Summary:**
As of now, we are not able to scroll the login page.
When the user enters the username and password then he has to press back the keypad down and hit on login button. If there is scrolling he simply will scroll up and log in.

**Expected behavior:**
Login page must scroll up

**Observed behavior:**
There is no scrolling in login

**Device and Android version:**
Asus (Version 4.4.2)

*

[2019-01-18 17:16] luckyman20 commented on #220
@RajaVamsi11 I think alternatively we can move the button a little bit up so that user can click the button even if keyboard is opened.

Also, do this for redesign branch.

[2019-01-18 17:27] RajaVamsi11 commented on #220
@luckyman20 I think moving the button a little up only solves the problem for some of the devices. Adding scroll view is better than changing the button because if we change the padding between the button and password text field the gap between them becomes less and it will affect the UI.
I added the scroll view in the login page. Just take a look at it.
I scrolled up to make the login button visi

[2019-01-18 19:05] RajaVamsi11 commented on #220
@luckyman20 Can you tell me what should I implement now?

[2019-01-18 20:39] RajaVamsi11 opened #223 "Remove hardcoded texts from XML files"
**Summary:**
Using hardcoded texts in XML files is not a good practice. We need to add them in string resources and use them. By inspecting the project I found there are 93 hardcoded texts in the whole project. I am interested in adding them in string resources.

**Screenshot:**
![screenshot from 2019-01-19 01-59-19](https://user-images.githubusercontent.com/30550059/51411766-0e8e7080-1b8f-11e9-9b

[2019-01-18 21:00] RajaVamsi11 commented on #223
@luckyman20 Working on this issue.

[2019-01-19 11:15] shaliniv16 commented on #214
@luckyman20 I am getting merge conflict in redesign branch.

[2019-01-19 11:42] luckyman20 commented on #214
Create the branch from `redesign` and then make the required changes and then send the PR.

[2019-01-20 04:00] luckyman20 commented on #220
@RajaVamsi11 I get your point but this screen is static and not a list so there is no need of implementing ScrollView. Have you tried the padding solution on bigger devices?

[2019-01-20 05:20] RajaVamsi11 commented on #220
@luckyman20 I will try and inform you.

[2019-01-20 09:52] nikhil-sachdeva commented on #175
Can I work on this issue?

[2019-01-21 17:26] nikhil-sachdeva opened #229 "Problem in UI while setting up UPI PIN."
**Summary:**

Since the width of PinEntryEditText is fixed(160dp), for smaller screens, the year text goes out of bounds.
**Steps to reproduce:**

Go to Banks, select an account, setup UPI

**Expected behavior:**

The Edit Text should be within the screen.

**Observed behavior:**

The last digit goes out of bounds.

**Device and Android version:**

Redmi Note 3
**Screenshots:**

![upi](https://use

[2019-01-22 16:25] nikhil-sachdeva commented on #229
@luckyman20 can i work on this?

[2019-01-22 17:03] shaliniv16 commented on #214
@luckyman20 The user's profile picture still fails to upload in redesign branch. The Save button in edit profile fragment is not working when I try to upload a profile picture. Can I work on this issue?

[2019-01-22 18:15] shaliniv16 opened #232 "The option to change email address should be present in Edit Profile fragment"
**Summary:**

The option to change email address should be present in Edit Profile fragment

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

**Screenshots:**

![screenshot_2019-01-22-22-51-58-48](https://user-images.githubusercontent.com/32845033/51555976-ed839380-1e9e-11e9-8e02-c1809582c395.png)

[2019-01-22 18:47] theamritanair commented on #186
@luckyman20 I would like to work on this issue.

[2019-01-22 18:48] shaliniv16 opened #233 "Virtual Payment Address doesn't get updated when it's changed in Edit Profile fragment."
**Summary:**

Virtual Payment Address doesn't get updated when it's changed in Edit Profile fragment.

**Steps to reproduce:**

1. Go to profile activity
2. Click on Edit Profile
3. Change Virtual Payment Address
4. Click save
5. Go back to profile activity

**Expected behavior:**

Virtual Payment Address should have changed

**Observed behavior:**

Virtual Payment Address not changed

**Device an

[2019-01-22 18:49] shaliniv16 commented on #233
@luckyman20 can I work on this?

[2019-01-22 18:51] shaliniv16 commented on #232
@luckyman20 can I work on this?

[2019-01-23 03:44] luckyman20 commented on #229
We can resolve this issue in the redesigning part.

[2019-01-23 09:37] luckyman20 commented on #233
@shaliniv16 Can you please confirm that where we are storing VPAs?

[2019-01-23 16:54] nikhil-sachdeva commented on #229
Should I make a PR to the redesign branch or is the UI changing completely in that branch?

[2019-01-23 17:12] luckyman20 commented on #229
See, when the UI will be redesigned, we will try to fix these small bugs too. Thank you for your contribution.

[2019-01-23 17:30] RajaVamsi11 opened #235 "Remove unused Namespace declaration in XML files"
**Summary:**
There are some unused namespace declaration in XML files like `activity_faq.xml` and `menu_profile.xml` and they are showing warnings in XML files.I am interested in removing those declarations.

[2019-01-23 17:32] RajaVamsi11 commented on #235
@luckyman20 Can I Start working on this issue?

[2019-01-23 17:42] RajaVamsi11 opened #236 "Fix lint warnings and errors"
**Summary:**
We have something like 454 lint warnings and errors in our whole project.

**Steps to reproduce:**
Open the project in Android studio and click
Analyze --> Inspect code ( Whole project )

**Expected behavior:**
We need to go through them and either fix and suppress them

**Screenshots:**

![screenshot from 2019-01-23 23-04-58](https://user-images.githubusercontent.com/30550059/5162583

[2019-01-23 17:44] RajaVamsi11 commented on #236
@therajanmaurya @luckyman20 I am going to fix the warnings if it can be fixed else I will suppress the warning. Can you please assign me the task so that I can start working on this issue.

[2019-01-23 18:02] #229 closed

[2019-01-23 18:16] PraneethVankayala commented on #188
@luckyman20 I would like to work on this issue

[2019-01-24 06:41] RajaVamsi11 commented on #235
dev branch.

[2019-01-24 14:56] theamritanair commented on #189
@luckyman20 I would like to work on this issue.

[2019-01-24 16:13] luckyman20 commented on #233
@shaliniv16 Can you please check and tell where we are storing the data?

[2019-01-24 18:04] ThisIsNSH opened #242 "App crashes while registering user"
**Summary:**

App crashes when registering in app.

**Steps to reproduce:**

Click on create one (dont have an account, create one) button on login page

**Expected behavior:**

Successfully register user.

**Observed behavior:**

App crashes

**Device and Android version:**

Redmi 3S Prime, Android 6

**Screenshots:**

Nil. App crashes on login screen.

[2019-01-24 18:05] ThisIsNSH commented on #242
Please assign me this

[2019-01-25 07:39] jddeep opened #243 "Java compiler error while building."
**Summary:**
There is a Java compiler error which hinders the app during Runtime and the app crashes.

**Steps to reproduce:**
Build the application.

**Expected behavior:**
Build correctly and runs on the device.

**Observed behavior:**
The build shows error and the app crashes.

**Device and Android version:** Lenovo k8 Note, Android 8

**Screenshots:**
![screenshot 114](https://user-images.gith

[2019-01-25 07:43] jddeep opened #244 "Failed to resolve Google play services auth."
**Summary:**
Cannot resolve google play services auth.

**Steps to reproduce:**
Build the app,

**Expected behavior:**
Build correct.

What did you expect the app to do?

**Observed behavior:**

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you encounter this on?  What Android
version (e.g., Android 4.0 Ice Cream Sandwich or Android 6.0 Marshmallow) are

[2019-01-25 07:47] jddeep opened #245 "The app crashes on start."
**Summary:**
The app gets crashed just on start. This is similar to #161

**Steps to reproduce:**
Run the app.

**Expected behavior:**
App to run.

**Observed behavior:**
App crashes.
![screenshot_20190125-131351](https://user-images.githubusercontent.com/43133646/51732189-7cf99400-20a3-11e9-8409-9cbd1b481b8f.png)

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S

[2019-01-25 10:44] luckyman20 commented on #245
PR #163 is already there.

[2019-01-25 10:45] #245 closed

[2019-01-25 11:19] codepoet2017390 commented on #243
Looks like there is an issue with the project on your local machine as i'm not facing any issue like this.

[2019-01-25 11:36] codepoet2017390 commented on #243
Yes there is no FATAL exception either in dev or master. The project works fine for me. Try debugging through suggestions via android studio and if still error persists mentors and other community members are there to help :)

[2019-01-25 11:53] RajaVamsi11 commented on #236
@luckyman20 Ok. I will start fixing the warnings.

[2019-01-25 12:01] jddeep commented on #243
@codepoet2017390 Okay then I will try running it again from the initial state of the project when I forked it and see if there is a problem. Will discuss on that if there is any I find again.....Thanks.

[2019-01-25 13:53] RajaVamsi11 commented on #138
@shiv07tiwari It has been a month. Are you still working on this issue? If not I am interested in implementing this feature. Please reply asap.

[2019-01-25 14:06] RajaVamsi11 commented on #223
@luckyman20 @ankurs287 Can you please close the PR linked to this issue. I am facing some problems with Git and branches. I want to redo my fork. For redoing the fork the PR linked to this issue must be closed. So Please take a look at it. The PR is already approved by Chirag Gupta

[2019-01-25 18:50] codepoet2017390 opened #249 "Redesign: TextInputEditText fields in EditProfile activity"
**Summary:**

Presently the helper text becomes the EditText header when it is clicked.

**Steps to reproduce:**
1) Go to Profile and then Edit profile.
2) Click any of the EditText fields.

**Expected behavior:**
Title headings such as Email, Name etc. should be the EditText headers.

**Device and Android version:**
OnePlus5 and Oreo 8.1

**Screenshots:**
![screenshot_20190125-194228](https://use

[2019-01-25 18:51] codepoet2017390 commented on #249
@luckyman20 @ankurs287  can i work on this?

[2019-01-25 18:55] luckyman20 commented on #249
@codepoet2017390 I hope you have checked this in `redesign` branch and not testing on `dev` branch for this issue.

[2019-01-25 18:56] codepoet2017390 commented on #249
Yes Yes i took care of that

[2019-01-25 20:15] RajaVamsi11 commented on #223
Closing as this is solved by #225

[2019-01-25 20:15] #223 closed

[2019-01-26 05:54] jddeep opened #251 "Error while Sign Up."
**Summary:**
While Signing up an error message pops up as toast and hinders while registering.

**Steps to reproduce:**
Go to Sign up.
Enter mobile number and proceed.
Enter all details and proceed.
The error toast message pops up.

**Expected behavior:**
Sign up correctly.

**Observed behavior:**
the error toast message pops up.

What did you see instead?  Describe your issue in detail here.

**D

[2019-01-26 06:15] jddeep opened #252 "No Email validator present in the Sign Up Details page."
**Summary:**There is no validation check for correct email while filling up details.

**Steps to reproduce:**
Go to Sign up.
Proceed.
enter details.

**Expected behavior:**
To have a validation check on  the email,

**Observed behavior:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you en

[2019-01-26 06:16] jddeep commented on #252
@luckyman20 what do you think on this issue? I would like to work on this issue.

[2019-01-26 06:17] jddeep commented on #244
Closing this as fixed locally.

[2019-01-26 06:17] #244 closed

[2019-01-26 06:18] jddeep commented on #243
Resolved locally.

[2019-01-26 06:18] #243 closed

[2019-01-26 06:58] luckyman20 commented on #251
I think there is someone already working on it, moreover I was thinking that we would work on it after it the sign up screen is redesigned.

[2019-01-26 06:58] #251 closed

[2019-01-26 07:33] codepoet2017390 commented on #183
@luckyman20 I would like to work on this

[2019-01-26 13:41] ankurs287 commented on #252
@jddeep Email validation method is already defined in mifospay.utils package.

[2019-01-26 13:45] jddeep commented on #252
@ankurs287 But i did not see that implemented while i was Signing up.

[2019-01-26 13:57] ankurs287 commented on #252
@jddeep then call the method defined in mifospay.utils.ValidationUtils class

[2019-01-26 14:04] ankurs287 commented on #66
@drish1001 You are required to re-direct the user to `mifos-passcode` setup (One when user sees after logging in)

[2019-01-26 20:01] RajaVamsi11 opened #259 "Replace String with StringBuilder"
**Summary:**
As we are using String for appending [here](https://github.com/openMF/mobile-wallet/blob/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/utils/DebugUtil.java#L12) in `DebugUtil.java` and [here](https://github.com/openMF/mobile-wallet/blob/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/kyc/presenter/KYCLevel2Presenter.java#L66) in `KYCLevel2Presenter.java`.

[2019-01-26 20:02] RajaVamsi11 commented on #259
@luckyman20 @ankurs287 I would like to work on this issue.

[2019-01-27 17:21] nikhil-sachdeva opened #260 "Redesign: Use TextInputLayout instead of EditText"
**Summary:**
In activity_signup.xml EditTexts are used. TextInputLayouts are more informative and goes in accordance with the Login Page layout.

**Steps to reproduce:**

Create an account either as merchant or customer, verify mobile number.

**Device and Android version:**

Redmi Note 3

**Screenshots:**

![screenshot_2019-01-27-22-44-08-086_org mifos mobilewallet mifospay](https://user-images.g

[2019-01-27 17:42] nikhil-sachdeva commented on #192
Can I work on this? It'll help me understand the codebase better.

[2019-01-28 08:50] RajaVamsi11 commented on #192
As this is not assigned to anyone, you can start working on this @nikhil-sachdeva.

[2019-01-28 13:06] nikhil-sachdeva commented on #260
@luckyman20 Can I work on this? This is in the redesign branch.

[2019-01-30 08:50] shaliniv16 opened #263 "Redesign: It's taking two clicks to switch between Mobile Number and VPA in Select transfer method"
**Summary:**

Redesign: It's taking two clicks to switch between Mobile Number and VPA in Select transfer method, this problem occurs in the second time.

**Steps to reproduce:**

- Go to Payments Activity
- Click on Mobile Number
- Click on VPA
- Again click on Mobile Number

**Expected behavior:**

It should open Mobile Number option.

**Observed behavior:**

Nothing happen. We have to click aga

[2019-01-30 08:51] shaliniv16 commented on #263
@luckyman20 please review.

[2019-01-30 09:12] shaliniv16 opened #264 "Redesign: On clicking Change Passcode nothing is shown."
**Summary:**

Redesign: On clicking Change Passcode nothing is shown.

**Steps to reproduce:**

- Go to Profile Activity
- Click on Edit Profile
- Click on Change Passcode

**Expected behavior:**

Change Passcode option should be open up.

**Observed behavior:**

Nothing happened.

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

[2019-01-30 09:12] shaliniv16 commented on #264
@luckyman20 may I work on it?

[2019-01-30 11:06] RajaVamsi11 commented on #138
@letelete @luckyman20  As @shiv07tiwari was inactive on this issue for a month. I am interested in implementing this feature . Can I start working on this issue?

[2019-01-30 19:16] shiv07tiwari commented on #138
I was busy with some college work. I already have some parts of this issue coded in my system. I will send the PR ASAP. Sorry for the delay.

[2019-01-30 19:21] RajaVamsi11 commented on #138
Sure

[2019-01-31 09:07] RajaVamsi11 commented on #179
@luckyman20 @manddy Can I start working on this issue as manddy is inactive.

[2019-02-01 11:44] RajaVamsi11 commented on #264
@shaliniv16 In which branch are you facing this problem?

[2019-02-01 13:50] RajaVamsi11 opened #266 "Minor gradle refactor"
**Summary:**
In Gradle, versions of some dependency are mentioned directly but according to the convention it should be fetched from rootProject.

**Expected behavior:**
Dependencies version must be fetched fron root project.

**Observed behavior:**
Versions of dependencies are directly mentioned in gradle files.

[2019-02-01 13:52] RajaVamsi11 commented on #266
I am currently working on this issue.

[2019-02-01 14:15] shaliniv16 commented on #264
@RajaVamsi11 on redesign branch. I am currently working on this issue.

[2019-02-01 20:11] RajaVamsi11 commented on #220
@ankurs287 What do you think about this issue?

[2019-02-01 20:21] RajaVamsi11 commented on #179
Working on this issue.

[2019-02-02 08:52] shiv07tiwari commented on #193
Working on this @ankurs287

[2019-02-04 09:53] RajaVamsi11 opened #269 "Broken links in README file"
**Summary:**
The links in **How to Contribute** section of read me file are not working properly. Issue tracker guidelines and pull request guidelines links are outdated. We have to update the links.

[2019-02-05 01:39] shaliniv16 opened #272 "Scroll function is not available on screen rotation"
**Summary:**

In the redesign branch, the scroll function is not available on screen rotation

From the home screen, enable screen rotation

**Expected behavior:**

It should show all the options available.

**Observed behavior:**

![videotogif_2019 02 05_07 02 21](https://user-images.githubusercontent.com/32845033/52248425-601b5700-2914-11e9-8b72-cdc49cfdd2e0.gif)

**Device and Android version:**

[2019-02-05 02:07] shaliniv16 opened #273 "It brings back to the Home Activity when screen is rotated"
**Summary:**

In the redesign branch, it brings back to the Home Activity when screen is rotated

**Steps to reproduce:**

Go to any activity instead of home activity
Enable screen rotation

**Expected behavior:**

It should show this activity.

**Observed behavior:**

Brings back to the home activity.

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

**Screenshots:**

![videot

[2019-02-05 15:52] shaliniv16 commented on #273
@luckyman20 can I work on it?

[2019-02-05 15:55] shaliniv16 commented on #272
@luckyman20 can I work on it?

[2019-02-05 15:56] luckyman20 commented on #272
Same reason for closing this as issue #273

[2019-02-05 15:56] #272 closed

[2019-02-06 14:08] shaliniv16 opened #275 "Add scroll bar to Trusted Merchants screen and Link Bank Account screen"
**Summary:**

As a user,
I need scroll bar on Trusted Merchants screen and Link Bank Account screen,
so that I can be aware of the list length.

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

**Screenshots**

![videotogif_2019 02 06_20 31 07](https://user-images.githubusercontent.com/32845033/52350613-fce20f80-2a4e-11e9-8c64-a1a38d92651c.gif)

![videotogif_2019 02 06_20 31 44

[2019-02-06 14:09] shaliniv16 commented on #275
@luckyman20 can I work on it?

[2019-02-06 14:24] luckyman20 commented on #275
@shaliniv16 In which branch you are facing this issue.?

[2019-02-06 14:25] shaliniv16 commented on #275
@luckyman20 In master branch.

[2019-02-06 14:27] luckyman20 commented on #275
@shaliniv16 Please check this in redesign branch. We should focus on UI related issues in redesign branch only.

[2019-02-06 14:33] shaliniv16 commented on #263
@luckyman20 I am facing this issue in both redesign and master branch. Can you please confirm it?

[2019-02-06 15:13] shaliniv16 commented on #275
@luckyman20 Same issue with redesign branch too.

[2019-02-06 15:35] luckyman20 commented on #275
@shaliniv16 Go ahead but the scrollbar should follow the material design guidelines.

[2019-02-06 15:41] shaliniv16 opened #276 "Create About screen"
**Summary:**

As a user of the system,
I need to see more info about the app,
so that I can better understand its origins.

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

[2019-02-06 15:43] shaliniv16 commented on #276
@luckyman20 Can I work on it?

[2019-02-07 13:11] shaliniv16 opened #277 "Create confirmation dialog to logout from the app"
**Summary:**

As a user of Mobile Wallet,
I need to have an extra step to log out from the app,
so that I can be sure of the action I'm choosing.

[2019-02-07 13:12] shaliniv16 commented on #277
@luckyman20 Can I work on it?

[2019-02-07 18:15] prajurock opened #279 "Hide Popular Bank when search is pressed."
**Summary:**

Hide the Popular Bar view when search bar is editable

**Steps to reproduce:**

1.Invisible the popular screen view when the search is pressed

**Device and Android version:**
Asus Zenfone MAx m1 pro Android 8.1 (API 27)

**Branch**
Latest Mater

**Screenshots:**

![whatsapp image 2019-02-07 at 11 43 41 pm](https://user-images.githubusercontent.com/26791135/52433104-448d9780-2b32-11e

[2019-02-07 18:16] prajurock commented on #279
@luckyman20 @ankurs287

[2019-02-09 11:43] manddy opened #280 "Changing password"
**Summary:**
In the edit profile when the the change password section is opened and save button is clicked without filling any field it say incorrect password,Although it should be showing complete all fields message

[2019-02-09 11:48] manddy opened #281 "Changing passcode"
**Summary:**
In the edit profile when the the change passcode section is opened and save button is clicked without filling any field it say incorrect passcode,Although it should be showing complete all fields message

[2019-02-09 11:50] manddy opened #282 "Removing bank account section"
**Summary:**
In the  bank account section removing bank account option is not present

**Expected behavior:**
Adding a removing bank account button for better user interface

[2019-02-09 11:53] manddy opened #283 "Searching merchants"
**Summary:**
On searching the trusted merchant,on finding no results there should be a message that no results found .

**Expected behavior:**
No results message should be appearing after no results in merchants tabs is found

[2019-02-09 11:56] manddy opened #284 "Kyc Levels"
**Summary:**
In the kyc tab on selecting one level of kyc the other kyc levels apart from the next kyc level be disabled.

What did you expect the app to do?
The order of the kyc levels be corrected

[2019-02-09 11:57] manddy commented on #284
@ankurs287  kindly let me work on this

[2019-02-09 11:57] manddy commented on #283
@ankurs287  kindly let me work on this issue

[2019-02-09 11:57] manddy commented on #282
@ankurs287 kindly let me work on this

[2019-02-09 11:58] manddy commented on #281
@ankurs287 kindly let me work on this

[2019-02-09 11:58] manddy commented on #280
@ankurs287  kindly let me work on this

[2019-02-11 09:54] shaliniv16 opened #287 "Keyboard should be disappear on toggling between Virtual Payment Address and Mobile Number"
**Summary:**

Keyboard should be disappear on toggling between Virtual Payment Address and Mobile Number, in Payments Activity.

**Steps to reproduce:**

- Go to Payments Activity
- Click on Virtual Payment Address
- Click on Mobile Number

**Expected behavior:**

The keyboard should disappear

**Observed behavior:**

The keyboard didn't disappear.

**Device and Android version:**

Realme 2 Pro
An

[2019-02-11 09:54] shaliniv16 commented on #287
@ankurs287 @luckyman20 Can I work on it?

[2019-02-11 10:39] theamritanair commented on #182
@luckyman20 I would like to work on this issue.

[2019-02-11 10:59] luckyman20 commented on #287
@shaliniv16 Go ahead.

[2019-02-11 10:59] theamritanair commented on #177
@luckyman20 I would like to work on this issue.

[2019-02-11 11:02] RajaVamsi11 commented on #177
@theamritanair As  [this](https://github.com/openMF/mobile-wallet/issues/182) issue is assigned to you. @luckyman20 I would like to work on this issue.

[2019-02-11 11:24] luckyman20 commented on #177
@RajaVamsi11 Thanks for easing my work. Yes, you can go ahead. I hope you aren't working on any other issue.

[2019-02-11 11:25] luckyman20 commented on #161
@manddy May I know the reason of closing this issue?

[2019-02-11 11:29] RajaVamsi11 commented on #177
@luckyman20 I am on it. No, there are no issues assigned to me.

[2019-02-11 12:56] theamritanair commented on #176
@luckyman20 I would like to work on this issue.

[2019-02-11 15:02] codepoet2017390 opened #290 "Redesign: EditText hint should get cleared when clicked in Edit Profile"
**Summary:**

EditText hint should get cleared when the textBox is clicked in Edit Profile.

**Steps to reproduce:**

1. Open app in redesign and go to Edit Profile
2. Click on any Edit Text textbox.
3. Text hint should be automatically cleared.

**Device and Android version:**

OnePlus5 Android 9(Pie)

[2019-02-11 16:36] aasaru commented on #203
thanks!

[2019-02-11 16:36] #203 closed

[2019-02-11 16:49] aasaru opened #291 "Provide documentation about datatables configuration in fineract backend"
**Summary:**

[Documentation in wiki](https://github.com/openMF/mobile-wallet/wiki/Fineract-backend) briefly mentions that there is need to create datatables (kyc_level1_details, invoices, saved_cards, notifications) in Fineract backend. Documentation doesn't describe the exact configuration (field and their data types). The fineract backend demo environment that https://demo.openmf.org/ connects

[2019-02-11 18:55] RajaVamsi11 commented on #161
@luckyman20 I also faced this issue while the first attempt. I solved the issue by checking the mPreferenceHelper is not null and now it works fine. Can I send a PR now?

[2019-02-12 05:07] luckyman20 commented on #161
@RajaVamsi11 Yeah, you can go ahead but please open another issue (somewhat detailed) and refer it in your PR.

[2019-02-12 10:11] RajaVamsi11 opened #293 "App crashes on first build"
**Summary:**

After importing the project in Android studio, while running for the first time the app crashes throwing Null pointer expection in `MifosPayInstanceIdService.java` and works fine in next tries.

 **Steps to reproduce:**

- Build the project

- Run the app for first time ( Make sure your Internet is on )

**Expected behavior:**

App should not crash.

**Observed behavior:**

While run

[2019-02-12 10:11] RajaVamsi11 commented on #293
@luckyman20 Working on this issue.

[2019-02-12 12:34] theamritanair commented on #176
@luckyman20 I would like to work on this issue.

[2019-02-13 02:05] shaliniv16 commented on #290
@codepoet2017390 Can I work on it?

[2019-02-13 02:42] shaliniv16 commented on #233
@luckyman20

![videotogif_2019 02 13_08 10 43 1](https://user-images.githubusercontent.com/32845033/52682901-11e70300-2f67-11e9-83e8-f7d8b2acfc46.gif)

[2019-02-13 02:48] shaliniv16 opened #295 "The app doesn't let me set the Passcode once I have entered the app if I skip in the beginning"
**Summary:**

The app doesn't let me set the Passcode once I have entered the app if I skip the Passcode setting process in the beginning.

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

[2019-02-13 03:15] shaliniv16 opened #296 "Wrong type of keyboard is appearing on clicking on the text field for Mobile Number"
**Summary:**

Wrong type of keyboard is appearing on clicking on the text field for Mobile Number

**Steps to reproduce:**

Go to Payments Activity
Click on Mobile Number

**Expected behavior:**

On clicking the Text field for `Mobile Number` Numeric keyboard will appear.

**Observed behavior:**

On clicking the Text field for `Mobile Number` Alphanumeric keyboard will appear. (Where Mobile Number

[2019-02-13 03:16] shaliniv16 commented on #296
@ankurs287 @luckyman20 Can I work on it?

[2019-02-13 04:05] codepoet2017390 commented on #290
I am working on it

[2019-02-13 04:37] luckyman20 commented on #233
I was asking where this data is stored in code. In the server's database or locally?

[2019-02-13 04:39] luckyman20 commented on #296
I see that it is a numeric keyboard only. Try installing GBoard to get clear insights.

[2019-02-13 04:46] shaliniv16 commented on #233
@luckyman20 We are storing this data locally.

[2019-02-13 04:51] luckyman20 commented on #233
@ankurs287 What do you think about it?

[2019-02-13 05:35] shaliniv16 commented on #296
@luckyman20 The numeric keyboard won't show even after installing GBoard.

[2019-02-13 09:59] codepoet2017390 commented on #296
@shaliniv16  it works fine for me.
 there might be minor settings changes to be done on your device.

[2019-02-13 10:11] codepoet2017390 opened #298 "CodeStyle violated in Payments Fragment and Finance Fragment"
**Summary:**

The Code follows the concept of Dependency Injection using Dagger2 but this style has been violated in Payments Fragment and Finance Fragment of home package. Here are the links
1) https://github.com/openMF/mobile-wallet/blob/redesign/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/home/ui/FinanceFragment.java

2) https://github.com/openMF/mobile-wallet/blob/redesign/mifospay/

[2019-02-13 10:12] codepoet2017390 commented on #298
@luckyman20
please take a look

[2019-02-13 10:54] shaliniv16 opened #299 "The keyboard doesn't slide back down after clicking on the save option"
**Summary:**

The keyboard doesn't slide back down after clicking on the save option after editing in the text field in Edit Profile fragament

**Steps to reproduce:**

Go to Profile Activity
Click on Edit text in any field, edit something
Click on save button

**Expected behavior:**

Keyboard should slide down

**Observed behavior:**

The keyboard is not sliding down

**Device and Android version

[2019-02-13 10:59] shaliniv16 commented on #280
@manddy this issue is being resolved in redesign branch

[2019-02-13 11:46] shaliniv16 opened #300 "There should be a limit of 4 digits on changing Passcode in Edit Profile"
**Summary:**

There should be a limit of 4 digits on changing Passcode in Edit Profile, since the app only allows a 4 digit pin to be entered while opening the app

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

**Screenshots:**

![screenshot_2019-02-13-17-01-39-73 1](https://user-images.githubusercontent.com/32845033/52708876-4089cb80-2fb1-11e9-81f1-12a486ab4547.png)

[2019-02-13 13:28] RajaVamsi11 commented on #296
@shaliniv16 It works fine for me too.

[2019-02-13 13:32] luckyman20 commented on #296
@shaliniv16 Enough of the opinions to close this. Thank you very much for your contribution, we do appreciate it.

[2019-02-13 13:36] #296 closed

[2019-02-13 14:25] RajaVamsi11 opened #301 "Redesign : UI of buttons in SettingsActivity"
**Summary:**

The buttons ( Disable Account and Logout ) in settings activity looks odd. The buttons are not constrained to left and right. The text color of the disable account button is dark which is being mixed with the color of the button.

**Steps to reproduce:**

Open the app and go to settings activity.

**Expected behavior:**

UI of the buttons must be changed.

- Buttons should constraine

[2019-02-13 14:25] RajaVamsi11 commented on #301
@luckyman20 Can I proceed with this issue?

[2019-02-13 17:24] luckyman20 commented on #301
This issue persists in redesign branch too?

[2019-02-13 17:25] RajaVamsi11 commented on #301
@luckyman20 I am talking about Redesign branch. What should I do now? Solve in two branches or in Redesign branch.

[2019-02-13 17:28] luckyman20 commented on #301
Go ahead with solving this in redesign branch only.

[2019-02-13 17:29] RajaVamsi11 commented on #301
ok

[2019-02-14 03:36] PraneethVankayala commented on #300
@luckyman20 I will work on this issue

[2019-02-14 03:38] shaliniv16 commented on #300
@PraneethVankayala I am already working on it.

[2019-02-14 03:41] PraneethVankayala commented on #300
@shaliniv16 ok

[2019-02-14 03:42] PraneethVankayala commented on #66
@drish1001 still you are working on this issue?

[2019-02-14 05:05] luckyman20 commented on #300
@shaliniv16 We can change its design too. Instead of simple TextField, something more interactive and user-friendly should be implemented.

[2019-02-14 07:27] shaliniv16 commented on #300
@luckyman20 Can I work on its design?

[2019-02-14 07:28] shaliniv16 commented on #299
@luckyman20 Can I work on it?

[2019-02-14 08:24] RajaVamsi11 opened #305 "Change the design of SignUp Activity"
**Summary:**
Presently, sign up activity uses simple EditText fields. Instead of them, we can use TextInputEditText fields which are being used in the login activity to increase user interface of the app. Parent layout can be changed to Constraint layout and make changes in design according to it. Making these changes will be more interactive and user-friendly.

**Screenshots:**
**SignUp Layout**

[2019-02-14 08:25] RajaVamsi11 commented on #305
@luckyman20 Can I start working on this issue.

[2019-02-14 13:38] shaliniv16 opened #306 "There should be a limit of digits while entering Mobile Number"
**Summary:**

There should be a limit of digits while entering Mobile Number, in Edit Profile. We only have 10 digit mobile numbers in India, and every country has its own defined number of digits in Mobile Number.

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

**Screenshots:**

![screenshot_2019-02-14-18-24-35-28 1](https://user-images.githubusercontent.com/32845033/5278813

[2019-02-14 14:34] shaliniv16 opened #307 "It's should be "Amount" instead of "Label" in Send Fragment"
**Summary:**

It's should be "Amount" instead of "Label" in Send Fragment, which is more user-friendly and apt

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

**Screenshots:**

![screenshot_2019-02-14-19-52-20-30 1](https://user-images.githubusercontent.com/32845033/52793018-c16cc400-3092-11e9-91a7-381d4ebbfa2f.png)

[2019-02-14 15:31] shaliniv16 commented on #306
@luckyman20 Can I work on it?

[2019-02-14 15:32] shaliniv16 commented on #307
@luckyman20 Can I work on it?

[2019-02-14 15:44] luckyman20 commented on #306
Yeah, you can go ahead.

[2019-02-14 16:02] shaliniv16 commented on #295
@luckyman20 @ankurs287

[2019-02-14 16:06] luckyman20 commented on #295
Issue title could be better. Also, please explain why it is not accepting passcode. This might be the issue of the library.

[2019-02-14 16:45] RajaVamsi11 commented on #305
@luckyman20 Can I work on it?

[2019-02-15 03:52] shaliniv16 opened #310 "There should be a limit of digits while entering Mobile Number in Send Fragment"
**Summary:**

There should be a limit of digits while entering Mobile Number in Send Fragment.

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

**Screenshots:**

![videotogif_2019 02 15_09 17 35 1](https://user-images.githubusercontent.com/32845033/52833523-18aa7d00-3103-11e9-986b-8209a6bdd691.gif)

[2019-02-15 05:18] shaliniv16 commented on #306
@luckyman20 This issue is resolved in redesign branch.

[2019-02-15 05:21] shaliniv16 commented on #310
@luckyman20 This issue is present both in redesign as well as master branch

[2019-02-15 05:34] shaliniv16 commented on #296
@codepoet2017390 @RajaVamsi11 Can you please send me the screenshots of the numeric keyboard appearing, while entering Mobile Number in Send Fragments.

[2019-02-15 05:37] luckyman20 commented on #306
@shaliniv16 Should be solved in dev branch.

[2019-02-15 05:37] luckyman20 commented on #310
@shaliniv16 Solve it in dev branch.

[2019-02-15 07:01] aasaru commented on #291
demo.openmf.org is back online and I managed to create the needed screenshots. Could you please add them to wiki to this page: https://github.com/openMF/mobile-wallet/wiki/Fineract-backend

<img width="1143" alt="kyc_level1_details" src="https://user-images.githubusercontent.com/6773052/52839814-fc591100-30ff-11e9-8cb2-752de302ca3b.png">
<img width="1143" alt="invoices" src="https://user-images.gi

[2019-02-15 08:01] RajaVamsi11 commented on #305
@luckyman20 Can I work on it?

[2019-02-15 08:28] luckyman20 commented on #305
Work on this in redesign branch.

[2019-02-15 08:46] RajaVamsi11 commented on #305
@luckyman20 Ok.

[2019-02-15 09:04] RajaVamsi11 commented on #284
@manddy You are proposing to disable the other two kyc levels when the user is working on one kyc level right. If this was your issue then it was solved in redesign branch. Please take a look at there. For your convenience, I am attaching a screenshot of kyc level fragment of redesign branch.
![screenshot_2019-02-15-14-30-48](https://user-images.githubusercontent.com/30550059/52846066-a9e31900-312

[2019-02-15 09:34] manddy commented on #284
@RajaVamsi11 yes I know this thing we have change this in the master branch also  apart from the redesign

[2019-02-15 10:05] RajaVamsi11 commented on #284
@manddy If an issue is solved in any one of the branches, it is not necessary to solve that in other branches. This type of issues will be solved when mentors merge the branches. Hope you understand.
@luckyman20 What are your views on this?

[2019-02-15 11:08] RajaVamsi11 opened #313 "Fix typo in SettingsActivity"
**Summary:**

In Settings activity, the TextView must be `Notification Settings` instead of `Notification Setting`.

**Steps to reproduce:**

Open Setting Activity in the app.

**Expected behavior:**

TextView must be `Notification Settings`.

**Observed behavior:**

TextView is displayed as `Notification Setting`.

**Screenshots:**
![screenshot_2019-02-15-16-19-28](https://user-images.githubuserc

[2019-02-15 11:09] RajaVamsi11 commented on #313
@luckyman20 I am working on this issue.

[2019-02-15 15:12] #313 closed

[2019-02-15 15:16] luckyman20 commented on #284
@RajaVamsi11 You are right, our main goal is to get everything correct at the time of release.

[2019-02-15 15:16] #284 closed

[2019-02-15 19:56] shaliniv16 opened #315 "Amount column in Transfer fragment can accept .(dot or decimal) as amount."
**Summary:**

Amount column in Transfer fragment can accept .(dot or decimal) as amount. It can attain decimal value.

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

[2019-02-15 19:56] shaliniv16 commented on #315
@luckyman20 Can I work on it?

[2019-02-15 21:57] rohap97 opened #316 "App crashing on trying to signup with Google as a Customer"
**Summary**
App crashes on trying to signup with Google Account as a Customer

**Steps to reproduce:**

How can we reproduce again the issue?
1. On Login Screen, Create one account
2.  Then click on Customer in "Sign up as"
3. Choose your account to continue to Mifos pay
4. On selecting the account the App crashes.

**Expected behavior:**

The Sign up process should have been completed.

**Observe

[2019-02-16 03:23] shaliniv16 opened #317 "Select a country option is not working properly in Edit Profile"
**Summary:**

`Select a country` option is not working properly in Edit Profile

**Steps to reproduce:**

Go to Profile
Click on Edit Profile
Click on Change Mobile Number
Select a country which has an International Calling Code (+1)
Start editing Mobile Number

**Expected behavior:**

 Selected International Calling Code should be shown

**Observed behavior:**

Selected International Calling Code

[2019-02-16 04:11] luckyman20 commented on #315
It should.

[2019-02-16 04:11] #315 closed

[2019-02-16 04:39] shaliniv16 commented on #315
@luckyman20 Why did you close this issue?

[2019-02-16 04:43] shaliniv16 commented on #317
@luckyman20 Please verify this issue.

[2019-02-16 06:53] luckyman20 commented on #315
@shaliniv16 What we can alternatively do is that we would accept upto 2 decimal digits only. Make a new issue regarding that.

Why I closed this issue - Let me explain a use case for this, suppose a user has Rs. 50.25 in his account because of different discount/cashback policy and now the user wants to close the account, so he/she want to transfer this money to some other account, in this case, w

[2019-02-16 06:55] luckyman20 commented on #317
Only America/Canada have +1 international calling code.

[2019-02-16 07:07] shaliniv16 commented on #317
![screenshot_2019-02-16-12-35-06-60](https://user-images.githubusercontent.com/32845033/52895981-96e04f80-31e7-11e9-94f9-cb2abd24c128.png)

[2019-02-16 07:16] shaliniv16 commented on #317
@luckyman20 International calling codes can have length of 4 digits. The app only shows +1 for all.

[2019-02-16 07:17] luckyman20 commented on #317
@ankurs287 What are your views?

[2019-02-16 07:22] shaliniv16 commented on #315
@luckyman20 Can I make a new issue regarding 2 decimal digits only?

[2019-02-16 08:56] shaliniv16 opened #318 "Account column in Transfer fragment should accept up to 2 decimal digits in the amount"
**Summary:**

Account column in Transfer fragment should accept up to 2 decimal digits in the amount

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

[2019-02-16 10:02] codepoet2017390 commented on #317
@luckyman20 @shaliniv16  it works fine for me. There are places like the Cayman Islands and the Bahamas which also have +1 calling codes.

[2019-02-16 10:03] codepoet2017390 commented on #317
@shaliniv16  Also if you could explain this a bit more clearly?

[2019-02-16 10:44] shaliniv16 commented on #317
@codepoet2017390 please refer to this link(https://www.internationalcitizens.com/international-calling-codes/).
Please go through steps provided in Issue Description section to find the bug. You can also refer to the gif that I have uploaded for help

[2019-02-16 11:27] shaliniv16 commented on #318
@luckyman20 please verify this issue.

[2019-02-16 12:36] luckyman20 commented on #318
Why the amount length should not be greater than 7. Please explain.

[2019-02-16 12:53] shaliniv16 commented on #318
@luckyman20 Amount should not be greater than the 10 lakhs or the barrier you have set on the transfer amount.

[2019-02-16 12:57] luckyman20 commented on #318
For now, we do not have such barriers. Remove that part from the issue desc. and start working on it.

[2019-02-16 13:00] shaliniv16 opened #320 "The User Name or User Mobile Number should appear in place of Mifos when Submit option is Clicked on, in the Send Fragment"
**Summary:**

The `User Name` or `User Mobile Number` should appear in place of` Mifos` when `Submit` option is Clicked on, in the Send Fragment

**Device and Android version:**

Device Realme 2 Pro
Android version 8.1.0

**Screenshots:**

![screenshot_2019-02-16-16-35-42-29](https://user-images.githubusercontent.com/32845033/52899851-dec99b80-3214-11e9-9959-31d2a86570aa.png)

[2019-02-17 03:46] shaliniv16 opened #323 "Alphabetical order is missing in Trusted Merchants"
**Summary:**
.
Alphabetical order is missing in Trusted Merchants

**Device and Android version:**

Device Real Me 2
Android Version 8.1.0

**Screenshots:**

![videotogif_2019 02 17_09 11 14](https://user-images.githubusercontent.com/32845033/52908083-4d017300-3294-11e9-87bb-8afc547521f2.gif)

[2019-02-17 06:51] shaliniv16 commented on #323
@luckyman20 Please verify this issue.

[2019-02-17 06:52] shaliniv16 commented on #320
@luckyman20 Please verify this issue.

[2019-02-17 07:00] luckyman20 commented on #320
I think this is the username in this case. Please confirm this.

[2019-02-17 07:01] luckyman20 commented on #323
Go ahead.

[2019-02-17 07:02] luckyman20 commented on #66
This issue is resolved now.

[2019-02-17 07:02] #66 closed

[2019-02-17 07:02] luckyman20 commented on #134
Solved in Pull Request #211

[2019-02-17 07:02] #134 closed

[2019-02-17 07:03] luckyman20 commented on #137
Fixed in #169

[2019-02-17 07:03] #137 closed

[2019-02-17 07:04] luckyman20 commented on #138
@shiv07tiwari Are you still working on it?

[2019-02-17 07:05] shiv07tiwari commented on #138
@luckyman20 I am not able to properly check the implementation due to server issue. I'll send a PR as soon as the server is up.

[2019-02-17 07:08] #269 closed

[2019-02-17 07:09] luckyman20 commented on #269
Fixed in #270

[2019-02-17 07:13] luckyman20 commented on #259
Discussed in #268

[2019-02-17 07:13] #259 closed

[2019-02-17 09:48] letelete commented on #290
This is an intended action.

We don't want to clear the input on click since that would be really annoying for the user whenever he would want to change anything, he had to type all data manually.

The purposes of those hints are:

* making changes readable and noticeable for the user
* making edit actions very easy, which is important since we don't want user to do any mistakes

As you might see

[2019-02-17 17:58] letelete opened #324 "Fix: Incorrect SendFragment layout"
**Summary:**

SendFragment has an incorrect layout.

**Steps to reproduce:**

`package org.mifos.mobilewallet.mifospay.payments.ui > SendFragment.java`

**Expected behavior:**

Should look like this:

![image](https://user-images.githubusercontent.com/18665370/52916953-d8572480-32e5-11e9-80b5-a5c5dbbe3280.png)

**Observed behavior:**

Looks like this for  now:

![6956294f-5f76-4ff8-bb10-7ccbecdef1

[2019-02-17 17:59] letelete commented on #324
I'll work on this

[2019-02-18 16:37] aasaru opened #326 "Document how to configure client search to work"
**Summary:**

[Wiki](https://github.com/openMF/mobile-wallet/wiki/Fineract-backend) says a separate user (mifospayadmin) with the predefined set of roles and permission must be created to allow search client use case.

Please add to documentation wiki that the username and password of this user must be configured in org.mifos.mobilewallet.core.utilsConstants.MIFOS_PASSWORD as username:password

[2019-02-18 22:59] letelete commented on #324
Done #325

[2019-02-19 12:34] shiv07tiwari opened #327 "Add a confirmation dialog in forgot pin."
**Summary:**

When user clicks on forgot pin, he is directed to login page.

**Expected behavior:**

He should get a confirmation dialog.

[2019-02-19 12:34] shiv07tiwari commented on #327
@luckyman20 Can I work on this ?

[2019-02-19 12:36] luckyman20 commented on #327
I don't think that the user should be given an option to enter the pin again, that would be quite annoying for the user.

If you can tell a real-life application which is doing that please let me know.

[2019-02-19 12:46] shiv07tiwari commented on #327
![img_20190219_181352](https://user-images.githubusercontent.com/38163725/53015974-619b6200-3472-11e9-862f-05cef35bffa9.jpg)

I was thinking about adding this kind of feature, where its in the hand of user to select the login type.
Its the screenshot of Windows login screen.

[2019-02-19 12:53] luckyman20 commented on #327
Alternatively, what we can do is that we can show a confirmation dialog.

[2019-02-19 12:55] shiv07tiwari commented on #327
Yes that is also fine.
But IMO this feature will look good on the login screen, as well as provide a dynamic user experience to the user.

[2019-02-20 16:59] RajaVamsi11 opened #329 "Central alignment issues in Send Fragment"
**Summary:**

In Send fragment, the `Mobile Number` text and the `SUBMIT` button is not centrally aligned.

**Steps to reproduce:**

Go to Home --> Payments --> Send fragment

**Expected behavior:**

The Mobile Number text and the SUBMIT button must be centrally aligned.

**Observed behavior:**

The Mobile Number text and the SUBMIT button are not centrally aligned.

**Device and Android version:*

[2019-02-20 17:00] RajaVamsi11 commented on #329
@luckyman20 I am working on this issue.

[2019-02-20 18:17] luckyman20 commented on #329
Fixed in #330

[2019-02-20 18:17] #329 closed

[2019-02-21 02:31] shiv07tiwari opened #332 "Amount doesnt accept decimal and Phone number can be decimal in Send"
**Summary:**

Amount doesnt accept decimal and Phone number can be decimal in Send, which is logically wrong and might lead to bugs.

**Steps to reproduce:**

Send Fragment -> amount -> phone no
![videotogif_2019 02 21_07 56 02](https://user-images.githubusercontent.com/38163725/53139187-db386a80-35ae-11e9-90ff-a08dc7bce696.gif)

[2019-02-21 02:34] shiv07tiwari opened #334 "Confirmation dialog in Delete card"
**Summary:**

Delete card is an operation which should have a confirmation dialog.

[2019-02-21 03:33] shiv07tiwari opened #336 "Add reCaptcha"
**Summary:**

We can add captcha to improve the security in a sensitive app like a walket.
Similar to https://github.com/openMF/mifos-mobile/issues/844

[2019-02-21 03:34] shiv07tiwari commented on #336
@luckyman20 Can i work on this feature?

[2019-02-21 04:02] luckyman20 commented on #336
Can you suggest an example for the same?

[2019-02-21 04:07] shiv07tiwari commented on #336
@luckyman20 Example as in a real life example ?
openMF/mifos-mobile#844 their was a discussion regarding this on mifos mobile, and i think we can adf this feature here as well.

[2019-02-21 04:08] luckyman20 commented on #336
Yes, a real-life example.

[2019-02-21 04:18] shiv07tiwari commented on #336
@luckyman20 their is no real life app in my knowledge.
The mifos mobile discussion was the only reference i got.

[2019-02-21 04:20] luckyman20 commented on #336
Let's first discuss in the community and then we will implement it.

[2019-02-21 04:20] shiv07tiwari commented on #336
Yes Sure. We gonna discuss it on gitter ?

[2019-02-21 04:21] luckyman20 commented on #336
Here only. Although you can share the link of the issue and ask for opinions (on gitter).

[2019-02-21 04:23] shiv07tiwari commented on #336
Okay sure.

[2019-02-22 00:55] shaliniv16 commented on #332
@shiv07tiwari @luckyman20 This issue is already opened in #318 and #296.

[2019-02-22 00:59] shiv07tiwari commented on #332
@shaliniv16 Sorry i didn't see that. But I guess their is no PR for both the issues , right ?
This PR simultaneously solves both the issues.

[2019-02-22 01:00] shaliniv16 commented on #332
@shiv07tiwari I am working on these issues.

[2019-02-22 05:18] luckyman20 commented on #332
@shaliniv16 Yeah right, I also had this feeling that someone else has already opened this issue but was not able to find it. Thank you!

[2019-02-22 05:18] #332 closed

[2019-02-22 05:27] shaliniv16 commented on #296
@luckyman20 As mentioned in #332  someone else also found this issue. Can you please reopen it?

[2019-02-22 05:31] luckyman20 commented on #296
Your issue is entirely different, include this bug in issue #318 and then solve it.

[2019-02-22 05:39] shaliniv16 commented on #296
@luckyman20 okay

[2019-02-22 05:57] shiv07tiwari opened #338 "Profile crashes when not connected to internet"
**Summary:**

Clicking on profile leads to a crash that should be handled gracefully.

**Steps to reproduce:**

How can we reproduce again the issue?

**Expected behavior:**

Home - User profile
![videotogif_2019 02 22_11 24 41](https://user-images.githubusercontent.com/38163725/53222721-bf0ef900-3694-11e9-8940-09dd31e5245f.gif)

[2019-02-22 05:58] shiv07tiwari commented on #338
@luckyman20 can i fix this ?

[2019-02-22 06:04] shaliniv16 commented on #338
@shiv07tiwari I think this issue is similar to #293

[2019-02-22 06:22] shiv07tiwari commented on #338
@shaliniv16 I didn't check for redesign, it is present in dev. I'll cross check in redesign.

[2019-02-22 15:14] atm1504 opened #339 "Grammatical mistake is there in Readme file"
**Summary:**
Inside "Building to Code" section there is grammatical error.

**Steps to reproduce:**
By editing the file.

**Expected behavior:**
Browse to the directory where you have cloned the mobile-wallet repo and click OK.

**Observed behavior:**

Browse to the directory where you cloned the mobile-wallet repo and click OK.
<img width="1324" alt="screenshot 2019-02-22 at 8 43 52 pm" src="http

[2019-02-22 15:14] atm1504 commented on #339
I am working on it.

[2019-02-22 15:27] atm1504 opened #341 "Spelling mistake is there in ISSUE_TEMPLATE file"
**Summary:**
"Behaviour" is misspelled in ISSUE_TEMPLATE file

**Steps to reproduce:**
 Correcting the spelling.

**Expected behavior:**
The spelling should be "behaviour".

**Observed behavior:**
The current spelling is "behavior".

[2019-02-22 15:27] atm1504 commented on #341
I am working on it

[2019-02-22 15:49] atm1504 opened #344 "Cloning url is wrong in readme file"
**Summary:**
The cloning url written is wrong. The branch name should be dev not development.
**Steps to reproduce:**

By editing the file

**Expected behavior:**

the url should be "git clone -b dev --single-branch https://github.com/username/mobile-wallet.git"

**Observed behavior:**

Url observed "git clone -b development --single-branch https://github.com/username/mobile-wallet.git"

[2019-02-22 16:10] shaliniv16 opened #346 "Setting emptyview if there is no data to display."
**Summary:**

Currently, there is no empty view present in Notifications and many activities if there is no data to display. It's a good practice to put an empty view if there is no data present.

**Device and Android version:**

Device Real Me 2
Android Version 8.1.0

[2019-02-22 16:34] codepoet2017390 commented on #290
@letelete  Yes ur right, this behavior seems right

[2019-02-22 16:34] #290 closed

[2019-02-22 17:31] jasnasuresh opened #347 "Notifications activity does not display any message when there are no notifications"
**Summary:**

Notifications activity does not display any message when there are no notifications to be displayed.

**Steps to reproduce:**

- Login to the application
- Click on Notifications

**Expected behavior:**

There should be some message on the screen when there are no notifications to be displayed.

**Observed behavior:**

The Notifications activity shows a blank screen.

**Device and An

[2019-02-22 17:39] jasnasuresh commented on #347
I would like to work on this issue.

[2019-02-22 18:02] shaliniv16 commented on #347
@luckyman20 @jasnasuresh I have already opened this issue in #346

[2019-02-22 19:02] luckyman20 commented on #347
@jasnasuresh @shaliniv16 is right. Thank you for your contribution

[2019-02-22 19:02] #347 closed

[2019-02-22 19:12] jasnasuresh commented on #347
@shaliniv16 @luckyman20 sorry for not noticing. Will take care next time..Can this fix be implemented in issue #346 as it has already been made?

[2019-02-23 02:27] shaliniv16 commented on #338
@shiv07tiwari It works fine for me in dev branch too.

[2019-02-23 07:50] jasnasuresh commented on #346
@shaliniv16 are you working on this issue? If not, can I send a PR on the fix I created yesterday on issue #347 for this one?

[2019-02-23 09:17] shaliniv16 commented on #346
@jasnasuresh Yes, I am working on this issue. The PR I am sending is not only for Notifications activity but also for other activities.

[2019-02-23 09:21] jasnasuresh commented on #346
@shaliniv16 Oh that's cool :)

[2019-02-23 10:23] shiv07tiwari commented on #338
02-23 15:52:29.406 9353-9353/org.mifos.mobilewallet.mifospay E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.mifos.mobilewallet.mifospay, PID: 9353
    java.lang.StringIndexOutOfBoundsException: length=0; index=1
        at java.lang.String.substring(String.java:1971)
        at org.mifos.mobilewallet.mifospay.home.ui.ProfileFragment.showProfile(ProfileFragment.java:123)
        at org.mi

[2019-02-23 11:19] shiv07tiwari opened #350 "Remove code snippet in Credit Card Validation"
**Summary:**

Adding the card is working perfectly fine in our app. Thus we can remove
int u = 2;
        if (u - 2 == 0) {
            return true; // for backend testing. remove after testing.
        }
from the Luhn Algorithm, so as to properly validate the Credit Card Number.

[2019-02-23 11:36] luckyman20 commented on #350
We will delete it on release.

[2019-02-23 11:36] #350 closed

[2019-02-23 12:18] nikhil-sachdeva opened #352 "No validation while verifying DebitCard"
**Summary:**
Currently, there is no validation for DebitCards while this method receives Card Number, Year and Month of the card.
[code]
**Steps to reproduce:**

Add a Debit Card
**Expected behavior:**
There should at least be length validators, if not card number validators.
The length of a payment card number can be anything between 12 and 19(mostly 16). [Reference](https://en.wikipedia.org/wiki

[2019-02-23 12:49] shaliniv16 opened #353 "Alphabetical order is missing in Bank List"
**Summary:**

Alphabetical order is missing in Bank List in Link Your Bank Account fragments.

**Device and Android version:**

Device Real Me 2
Android Version  8.1.0

**Screenshots:**

![videotogif_2019 02 23_18 05 32](https://user-images.githubusercontent.com/32845033/53286571-bf8fb880-3796-11e9-9379-a8c22b5b6ba3.gif)

[2019-02-23 13:00] RajaVamsi11 commented on #338
@shiv07tiwari Due to skipping of login activity you are getting this error otherwise there will be no errors or crash.

[2019-02-23 13:47] RajaVamsi11 opened #354 "Add Splash Screen to the app"
**Summary:**

Mobile-Wallet app lacks splash screen which increases UI of the app and is very useful for preparing any app by making background API calls.

**Steps to reproduce:**

1.Open the app
2.It directly opens the login screen

**Expected behavior:**

There must be a splash screen.

**Observed behavior:**

As soon as the app is launched,login screen is launched. (There is no splash screen)

[2019-02-23 13:49] RajaVamsi11 commented on #354
@luckyman20 Can I work on this issue. As of reference, Mifos-Mobile app also contains Splash screen. You can check [here](https://github.com/openMF/mifos-mobile/blob/development/app/src/main/java/org/mifos/mobilebanking/ui/activities/SplashActivity.java).

[2019-02-23 17:13] nikhil-sachdeva commented on #352
@luckyman20  @ankurs287
Can I work on this? Just to implement length validators, further we can have validators for different companies with their logos as they are recognised. [Link for reference](https://stackoverflow.com/questions/28207252/regex-for-determining-credit-cards-in-android)

[2019-02-23 19:05] codepoet2017390 commented on #310
@shaliniv16  are u working on this

[2019-02-23 19:05] codepoet2017390 commented on #354
@RajaVamsi11  Im not sure but maybe https://github.com/openMF/mobile-wallet/issues/276 this issue tries to accomplish the same

[2019-02-23 19:13] luckyman20 commented on #354
@codepoet2017390 I think that is a different issue, for this, we do not have our app's logo yet so we can't proceed.

[2019-02-23 19:15] luckyman20 commented on #352
@nikhil-sachdeva We already that function ready, we aren't implementing it before release (we will implement it at the time of release).

[2019-02-23 19:15] #352 closed

[2019-02-23 19:30] shaliniv16 commented on #310
Yes

[2019-02-24 05:47] RajaVamsi11 commented on #354
@luckyman20, For now, can we use Mifos logo as app logo and when mobile-wallet app logo is made we can replace it with it. What are your views on this?

[2019-02-24 07:01] #232 closed

[2019-02-24 08:25] shaliniv16 commented on #316
@rohap97 It works fine for me.

[2019-02-24 11:41] shaliniv16 opened #358 "Confirm button to verify Mobile Number in Link Bank Account is not working properly"
**Summary:**

If we click on the confirm option without having selected any sim, it starts verifying Mobile Number.

**Steps to reproduce:**

- Go to Bank Account
- Click on Link Your Bank Account Button
- Click on any Bank Option
- Click on Confirm

**Expected behavior:**

A pop-up message should appear which should display `Choose a Sim`

**Observed behavior:**

It starts verify Mobile Number.

[2019-02-24 11:50] RajaVamsi11 opened #359 "Redesign : UI of button in KYC level 2 Fragment"
**Summary:**

The text color of the `BROWSE`  button is dark which is being mixed with the color of the button. We have to change the text color of the `BROWSE`  button to white.

**Device and Android version:**

Device : Samsung Galaxy S5
Android Version : 6.0.1

**Screenshots:**

![screenshot from 2019-02-24 16-41-46](https://user-images.githubusercontent.com/30550059/53298761-5cfef100-3858-11e9

[2019-02-24 12:05] shaliniv16 opened #361 "An incorrect pop-up message appears when clicked on PROCEED button in Transfer Fragment"
**Summary:**

An incorrect pop-up message appears when clicked on PROCEED button in Transfer Fragment when all fields are left empty.

**Device and Android version:**

Device Real Me 2
Android Version 8.1.0

**Gif:**

![videotogif_2019 02 24_12 41 29](https://user-images.githubusercontent.com/32845033/53296282-0d0d3380-3832-11e9-8395-56c32f7a2693.gif)

**Screenshots:**

![screenshot_2019-02-24-19-

[2019-02-24 12:25] shaliniv16 commented on #361
@luckyman20 Can I work on it?

[2019-02-24 12:26] shaliniv16 commented on #358
@luckyman20 please verify this issue

[2019-02-24 12:56] shaliniv16 opened #362 "Delete Bank Button is not working in Bank Account Details"
**Summary:**

Delete Bank Button is not working in` Bank Account Details`.

**Device and Android version:**

Device Real Me 2
Android Version 8.1.0

[2019-02-24 13:43] shaliniv16 commented on #346
@luckyman20 In which branch should I solve this problem?

[2019-02-24 14:30] RajaVamsi11 commented on #346
@shaliniv16 As this is UI related issue, you should work on redesign branch.

[2019-02-24 14:34] RajaVamsi11 commented on #362
@shaliniv16 The summary of the issue is not clear. You mentioned two problems in one issue. One issue for deleting bank account and another issue for limiting the length of the Debit Card number. If possible make another issue regarding Debit Card Number digits limit.

[2019-02-24 18:00] MukulCode commented on #354
@RajaVamsi11 I believe adding a splash screen is counted under Enhancement and is not considered as an issue.

[2019-02-24 18:15] RajaVamsi11 commented on #354
@MukulCode yes, you are right. The maintainers/ mentors will add tags according to the issue like Enhancement, bug, feature etc.,

[2019-02-25 06:51] naman14 commented on #336
There's no need to add reCaptcha on a mobile app, that's just bad user experience.

[2019-02-25 06:51] #336 closed

[2019-02-25 11:48] #275 closed

[2019-02-25 11:57] naman14 commented on #354
@RajaVamsi11 we don't make any API call or do heavy work when app is launching and splash screens are generally considered to be a bad user experience. It doesn't make sense to unnecessarily add splash screen in the app

[2019-02-25 11:57] #354 closed

[2019-02-25 13:23] nikhil-sachdeva opened #364 "Fetching linked bank accounts"
**Summary:**

Currently, a static bank account detail list is added in the Linked Bank Accounts Screen.
[code]

**Steps to reproduce:**

mifospay->java->bank->presenter->BankAccountPresenter.java

**Expected behavior:**

I believe an API call should be made to retrieve the list of linked bank accounts, I haven't studied the Fineract API, hence would like to know if a suitable call can be made.

**

[2019-02-25 14:45] nikhil-sachdeva opened #365 "User's profile image is not saved in a database."
**Summary:**

UI should be saved locally for the user.

**Steps to reproduce:**

Upload user image in edit profile tab.

**Expected behavior:**

Locally saving image will lead to just retrieving the save location and not selecting the image again.
Even the removeProfileImage() method can be applied.
[code]

**Observed behavior:**

I didn't see any local storage of user's profile image.

**Device a

[2019-02-25 14:55] shaliniv16 commented on #365
@nikhil-sachdeva This issue is similar to #214

[2019-02-25 16:13] nikhil-sachdeva commented on #365
@shaliniv16 This issue is to implement local storage of the image uploaded. If the API does not support image upload in profile data, the app must save it locally to fulfil the need.

[2019-02-25 17:00] RajaVamsi11 commented on #266
Closing this as it is solved in #267

[2019-02-25 17:00] #266 closed

[2019-02-26 06:51] manddy commented on #280
@shaliniv16
Thanks for telling me ,closing it right now

[2019-02-26 06:51] #280 closed

[2019-02-26 19:55] #283 closed

[2019-02-26 19:56] #282 closed

[2019-02-26 19:56] #281 closed

[2019-02-26 20:39] manddy opened #366 "Mobile Number"
Summary:
When the mobile number is given as a input it is centre aligned rather then being left aligned which leads to poor user interface .

Expected behavior
Input text in the mobile number field should be left aligned

Observed behavior
Input text in the mobile number field is centre aligned

Device and Android version:**
Redmi Note 4
7.0

Screenshots:
![whatsapp image 2019-02-27 at 2 07 12 am]

[2019-02-26 20:47] manddy opened #367 "App crashing"
Summary
When the internet connection is down,the app crashes on clicking the user profile tab in the home fragment.

[2019-02-26 21:00] manddy opened #368 "Redesign:Accounts Tab UI"
Summary
In the redesign branch the the accounts tab has has the add account button with a bit off text also It is slightly different from the mockups in terms of spacings between the widgets

What did you see instead?  Describe your issue in detail here.

![whatsapp image 2019-02-27 at 2 27 39 am](https://user-images.githubusercontent.com/22556185/53445822-7611c880-3a37-11e9-9d45-59cdd64d65fd.jpeg

[2019-02-26 21:01] #367 closed

[2019-02-26 21:03] manddy opened #369 "KYC error addition"
**Summary:**

Summarize your issue here.

**Steps to reproduce:**

How can we reproduce again the issue?

**Expected behavior:**

What did you expect the app to do?

**Observed behavior:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you encounter this on?  What Android
version (e.g., Andr

[2019-02-26 21:03] #369 closed

[2019-02-26 21:13] manddy opened #370 "KYC error addition"
Summary:
Currently the kyc tab does not the notify the user that the internet connection is down and the user can't use the kyc registeration feature by producing an addition pop up or notification

Expected behavior:
Show an addition message to the user when internet is down

Observed behavior
All the buttons are disabled

Screenshots:
![whatsapp image 2019-02-27 at 2 35 40 am](https://user-image

[2019-02-26 21:38] manddy opened #371 "Trusted merchants"
Summary
When searching for trusted merchants on finding no merchants to display no error message is displayed

Expected behavior
Error message should be displaced

[2019-02-27 05:11] manddy opened #372 "Passcode"
Summary
After setting the passcode (after login)  ,if the user reenters passcodes that do not match ,then the skip button does not reappear

Expected behavior:
The skip button should reappear when user re-enters the wrong passcode after the login

Observed behavior:
The skip button disappears

Screenshots:
![whatsapp image 2019-02-27 at 10 24 01 am](https://user-images.githubusercontent.com/225561

[2019-02-27 05:30] manddy opened #373 "Send and request"
Summary:
The send and the request tab has the same layout screens in the master branch,although it should be  different

Expected behavior:
layout screens of send and request tab should be different

Observed behavior:
layout screens of send and request tab are the same

[2019-02-27 05:39] manddy opened #374 "Removing passcode"
Summary:
Along with the change passcode option user should have an option for removing the passcode if the user wants to remove the passcode in any situation

Expected behavior:
Removing passcode feature should be added

Observed behavior:
No removing passcode option

[2019-02-27 07:14] shaliniv16 commented on #373
@manddy This issue is not present in redesign branch

[2019-02-27 07:18] shaliniv16 commented on #372
@manddy Why the skip button should reappear?

[2019-02-27 07:26] RajaVamsi11 commented on #373
@manddy Before opening an issue, please check dev and redesign branches. Because there are many issues which are solved in one branch and not solved in a different branch. Hope you understand.

[2019-02-27 07:33] manddy commented on #373
OK.. I will close it, didn't knew about it before

[2019-02-27 07:33] #373 closed

[2019-02-28 11:20] RajaVamsi11 commented on #301
Closing this as it is solved in #302.

[2019-02-28 11:20] #301 closed

[2019-02-28 11:28] RajaVamsi11 commented on #293
Closing this as it is solved in #294.

[2019-02-28 11:28] #293 closed

[2019-02-28 11:30] #323 closed

[2019-02-28 11:31] #318 closed

[2019-03-01 12:01] RajaVamsi11 opened #382 "PinEntryEditText is going out of LinearLayout in Debit Card Fragment"
**Summary:**

In `dev` branch while setting up UPI pin, when we enter the expiry year of the debit card in PinEntryEditText the text is going out of linear layout (The fourth digit of the year is not shown to the user) as shown in the screenshot.

**Steps to reproduce:**

Open the app and navigate to BankAccount --> click on linked bank account --> Setup UPI --> Enter debit card expiry year.

**Ex

[2019-03-01 12:01] RajaVamsi11 commented on #382
@naman14 @luckyman20 I am working on this issue.

[2019-03-01 12:06] shaliniv16 commented on #382
@RajaVamsi11 please refer to this issue #229

[2019-03-01 12:24] RajaVamsi11 commented on #382
@naman14  As this issue is persisting in redesigning branch also, I think It would be better to solve the small bugs accordingly rather than solving at once @luckyman20 . As I solved the issue I am sending a PR. If it seems unfair to you then please close the PR and issue.
Thankyou for your reference @shaliniv16

[2019-03-01 12:31] RajaVamsi11 commented on #362
@shaliniv16 Can I create an issue regarding the limitation of the length of the Debit Card Number as this contains two issues.

[2019-03-01 12:37] shaliniv16 commented on #362
@RajaVamsi11 I am working on both the issue. I am solving both the issue in the same PR.

[2019-03-01 21:38] manddy commented on #372
@shaliniv16  This is because once the user re-entered the wrong passcode he should have an option to skip at that point as well .

[2019-03-02 08:03] #370 closed

[2019-03-02 08:05] #374 closed

[2019-03-02 08:07] RajaVamsi11 opened #386 "Redesign: /Payments/Request"
**Summary:**

This issue is about implementing the design and features of REQUEST tab in the Payments section. Presently, In redesign branch the request tab is empty and my idea is to integrate the request fragment into the Payments section.

That's what we want to achieve in the Request fragment of Payments section:

![52901644_2082380511837859_4035335943136215040_n 1](https://user-images.githubu

[2019-03-02 08:08] RajaVamsi11 commented on #386
@luckyman20 @naman14 @ankurs287 I am working on this issue.

[2019-03-02 18:14] RajaVamsi11 opened #389 "Add scroll bar to Saved Cards screen"
**Summary:**

Presently, there is no scrollbar in the saved cards list. If we add scrollbar it would help the user to know the length of the list (As the cards fragment is not implemented in` redesign` branch, I will work this issue in `dev` branch ).

**Device and Android version:**

Device: Redmi 4
Version: 7.1.2

**Screenshots**

![screenrecorder201903022304](https://user-images.githubuserconte

[2019-03-02 18:16] RajaVamsi11 commented on #389
@luckyman20 Working on this issue.

[2019-03-02 18:32] tavishjain opened #390 "Even after an error, sign in is proceeding"
**Summary:**

While creating a new account and signing in with Google account, there occurs an error, still I am passed on to the next screen

**Steps to reproduce:**

As shown in the attached GIF

**Expected behavior:**

The app must not have moved to the next screen to accept the mobile number

**Observed behavior:**

I saw the error and the intent should not have been sent

**Device and Android

[2019-03-02 19:39] tavishjain opened #392 "OTP not received"
**Summary:**

When I am signing up for the app, I am not receiving the OTP, even after 5 to 10 minutes

**Steps to reproduce:**

Go to the sign up screen and create a new account, then disable the Google Sign in checkbox, and then continue to enter your mobile number

**Expected behavior:**

The OTP must have arrived within 2 to 3 minutes, or even seconds

**Observed behavior:**

When I am signing

[2019-03-02 19:50] RajaVamsi11 commented on #277
@shaliniv16 I am interested in adding this feature. Can I work on this issue as you are busy with solving other issues?

[2019-03-02 20:03] RajaVamsi11 opened #393 "Alphabetical order is missing in Linked bank accounts"
**Summary:**

Alphabetical order is missing in Linked bank accounts list.

**Steps to reproduce:**

Open app Home --> Finance --> Accounts

**Expected behavior:**

Linked bank accounts list should be alphabetically sorted.

**Observed behavior:**

Linked bank accounts list is not alphabetically sorted.

**Device and Android version:**

Device: Redmi 4
Version: 7.1.2

**Screenshots:**

![screenshot

[2019-03-03 02:07] shaliniv16 commented on #393
@RajaVamsi11 This issue is similar to #353

[2019-03-03 02:09] shaliniv16 commented on #392
@tavishjain This issue is similar to #132

[2019-03-03 02:13] shaliniv16 commented on #277
@RajaVamsi11 I am waiting for mentor to reply on this issue.

[2019-03-03 03:12] juniorjainsahab commented on #353
@droidchef  and @shaliniv16 can I take this issue?

[2019-03-03 03:19] shaliniv16 commented on #353
@juniorjainsahab I have already opened a pr for it.

[2019-03-03 04:39] tavishjain commented on #132
Has this issue been resolved ?

[2019-03-03 06:31] manddy commented on #390
@Override
    public void onActivityResult(int requestCode, int resultCode, Intent data) {
        super.onActivityResult(requestCode, resultCode, data);

        showProgressDialog(Constants.PLEASE_WAIT);
        // Result returned from launching the Intent from GoogleSignInApi.getSignInIntent(...);
        if (requestCode == 11) {
            Task<GoogleSignInAccount> task = GoogleSignIn.getSign

[2019-03-03 06:32] shaliniv16 opened #397 "Transaction dialog opens multiple times"
**Summary:**

Transaction dialog opens multiple times if opens multiple times quickly

**Device and Android version:**

Device Real Me 2
Android version 8.1.0

**Gif:**

![videotogif_2019 03 03_11 50 58](https://user-images.githubusercontent.com/32845033/53691805-5407a580-3dab-11e9-948a-adc5fdb342ee.gif)

[2019-03-03 06:33] manddy commented on #390
@tavishjain read this piece of code and see that firebase authentication is not implemented and it will signin even if there is an error in signing in

[2019-03-03 06:36] manddy commented on #392
@Override
    public void requestOTPfromServer(String fullNumber, String mobileNo) {

        mUseCaseHandler.execute(searchClientUseCase, new SearchClient.RequestValues(mobileNo),
                new UseCase.UseCaseCallback<SearchClient.ResponseValue>() {
                    @Override
                    public void onSuccess(SearchClient.ResponseValue response) {
                        mMobileV

[2019-03-03 06:37] manddy commented on #392
@tavishjain likewise this part is not implemented as of yet that is reason why you are not getting an otp

[2019-03-03 06:39] tavishjain commented on #392
@manddy Then how am I supposed to proceed onto the main application ?

[2019-03-03 06:42] manddy commented on #392
@tavishjain instead login with credentials username as mifospay01 and password as password1

[2019-03-03 06:50] RajaVamsi11 commented on #393
@shaliniv16 It is not similar to #353. This list refers to the linked bank accounts list and your issue refers to the bank list pop up when we are linking a bank account. Can you please cross check the issues.

[2019-03-03 06:53] shaliniv16 commented on #393
@RajaVamsi11 My issue is not similar to the bank list pop up when we are linking a bank account.

[2019-03-03 06:56] RajaVamsi11 commented on #353
@juniorjainsahab Please don't claim the issues in which PR is opened.

[2019-03-03 07:06] RajaVamsi11 commented on #397
@shaliniv16 Can you please refer [this](https://github.com/openMF/mifos-mobile/issues/1012) issue comment. As @therajanmaurya said this is not an issue. It is normal behavior. If you will try to click on any button in any app twice or more than twice before opening the app. It will intent twice.

[2019-03-03 07:10] RajaVamsi11 commented on #390
@tavishjain, @manddy is right, according to the code sign up process is not implemented in the app. You don't need to worry about sign up. Just use the credentials that are provided in the wiki page to login. For ease, I am providing here.

**username:** mifospay01
**password:** Password1

[2019-03-03 07:13] tavishjain commented on #390
@RajaVamsi11 I am getting an error while entering these credentials

[2019-03-03 07:13] tavishjain commented on #392
@manddy I am getting an error while entering these credentials

[2019-03-03 07:19] RajaVamsi11 commented on #393
@shaliniv16 My issue is about the list of Linked bank accouts ( which will show upon the accounts fragment) and your issue is about the list of Bank accounts ( which will show upon clicking the `Add Button` in accounts fragment). The point is that the two issues are not similar.
If not can you please tell me the steps to reproduce your issue?

[2019-03-03 07:26] manddy commented on #392
@tavishjain even i am getting this error ,what i know is ,it a server issue that happens quite frequently so you just have to wait for it to be working again properly .I am putting up this issue on gitter channel kindly come there

[2019-03-03 07:29] tavishjain commented on #392
@manddy aure

[2019-03-03 07:31] RajaVamsi11 commented on #390
@tavishjain You can ask your queries in gitter. Join gitter channel https://gitter.im/openMF/mobile-wallet

[2019-03-03 07:51] shaliniv16 commented on #393
@RajaVamsi11 You should solve this issue in dev branch.

[2019-03-03 08:13] RajaVamsi11 commented on #393
@shaliniv16 As this is a UI related issue, I solved it in redesign branch.
@naman14 @luckyman20 Where am I supposed to solve the issue?

[2019-03-03 08:14] RajaVamsi11 commented on #393
@shaliniv16 Are you convinced that the two issues are different.

[2019-03-03 08:24] RajaVamsi11 opened #398 "Adding sweet-error library support across the application"
**Summary:**
If we pull to refresh data in any  fragment or activity when internet is not connected, a snackbar or toast  shows with error message "Error loading in this fragment or activity". Instead of this, we can add sweet-error message across the app that will enhance the UI. This sweet alert  will be better than snackbar or toast . It will make UI look more attractive.
My idea is to add [Swe

[2019-03-03 08:24] RajaVamsi11 commented on #398
@luckyman20 @naman14 Can I start working on this issue?

[2019-03-03 10:26] shaliniv16 commented on #397
@RajaVamsi11 Can you please refer [this](https://github.com/openMF/mifos-mobile/issues/1013)

[2019-03-03 10:56] shaliniv16 opened #399 "There should be a limit of digits while entering Debit Card Number in Setup UPI PIN."
**Summary:**

There should be a limit of digits while entering Debit Card Number in Setup UPI PIN. And the validation check should be present.

**Device and Android version:**

Realme 2 Pro
Android version 8.1.0

[2019-03-03 11:18] RajaVamsi11 commented on #399
@shaliniv16 What should be the limit(max) length of Debit Card number?

[2019-03-03 11:22] RajaVamsi11 commented on #397
@shaliniv16 I don't know but according to @therajanmaurya, it is normal behavior as explained above. Let's leave to the mentors to review.

[2019-03-03 12:17] RajaVamsi11 opened #401 "Add missing contentDescription for ImageButtons and ImageViews"
**Summary:**

The ContentDescription for ImageButtons and ImageViews is missing in the project. This is the Accessibility feature of Android. Non-textual widgets like ImageViews and ImageButtons should use the content description attribute to specify a textual description of the widget such that screen readers and other accessibility tools can adequately describe the user interface.
My idea is to

[2019-03-03 12:18] RajaVamsi11 commented on #401
@naman14 @luckyman20 I am working on this issue.

[2019-03-03 14:27] RajaVamsi11 opened #403 "Make BaseActivity an abstract class"
**Summary:**

When I inspected the whole project in Android studio it shows this in Android Lint Correctness warnings.
For `BaseActivity.java`

![screenshot from 2019-03-03 19-39-29](https://user-images.githubusercontent.com/30550059/53696505-876b2400-3ded-11e9-9aa2-911355017b1f.png)

As our BaseActivity is simply a parent class intented to be subclassed by other activities, I am going to make it

[2019-03-04 04:06] aggarwalpulkit596 commented on #399
@RajaVamsi11 It should be 16 i guess

[2019-03-04 05:14] RajaVamsi11 opened #406 "Remove redundant castings in the project"
**Summary:**

One of the things that Google announce in IO 2017 is something that’s called ‘castaway’ :). The Android developer doesn’t have to do a manual casting for findViewById(). It’s a simple change. There are two unnecessary casting in the project.

![screenshot from 2019-03-04 10-34-12](https://user-images.githubusercontent.com/30550059/53711734-8d9ee600-3e69-11e9-9f66-5fb91cf37aa4.png)
Th

[2019-03-04 05:16] aggarwalpulkit596 opened #408 "Add ripple to Button"
**Summary:**
There should be a ripple effect for button post api 21 and should be a state pressed for below api 21

**Steps to reproduce:**
Click any primary colored button

**Expected behavior:**
Show Ripple or Pressed state

**Observed behavior:**
No Ripple

**Device and Android version:**
Device : OnePlus 3
Version : 8.0

[2019-03-04 07:05] Vipinsoni38 opened #410 "Even after Firebase Sign in is skipped Empty OTP is also Accepted !"
After firebase sign in is failed

An empty OTP is also accepted

![20190304_123319](https://user-images.githubusercontent.com/32003964/53716134-e7a7a780-3e79-11e9-9b92-0609125bb72c.gif)

[2019-03-04 07:27] Vipinsoni38 commented on #410
Currently using mEtOtp.getText().toString().trim().length()==0
if there is a fixed size otp then would change the code to
mEtOtp.getText().toString().trim().length()!=OTP_SIZE

[2019-03-04 07:34] shaliniv16 commented on #410
@Vipinsoni38 please refer to #132

[2019-03-04 07:46] Vipinsoni38 commented on #410
@shaliniv16  the issue is yet to be resolved!
also, the code to send and verify OTPis yet to be written so looking forward to resolve it.

[2019-03-04 13:07] aasaru opened #412 "Move new user role ids into Constants class"
**Summary:**

New users get role ids that are hardcoded. These should be moved to Constants class so it is made clear that they need to be changed together with other values in Constants.

[2019-03-04 16:16] aggarwalpulkit596 opened #414 "Add Support for Kotlin and Migrate to Androidx"

[2019-03-04 16:27] Vipinsoni38 commented on #365
Exactly @nikhil-sachdeva !
are you working on it or shall i proceed with it

[2019-03-04 16:30] Vipinsoni38 commented on #365
also once this is done then we can extract user profile by Google Sign in which would be more effective

[2019-03-04 18:05] RajaVamsi11 commented on #414
@aggarwalpulkit596 Please refer to this issue #216 and update the title of your issue.

[2019-03-04 18:57] nikhil-sachdeva commented on #365
@Vipinsoni38 Yes, I'm working on it, once the serves is up again, I'll be sending a PR.
@luckyman20 @naman14 @ankurs287 Any inputs regarding the approach for this issue?

[2019-03-05 03:02] Vipinsoni38 commented on #365
@nikhil-sachdeva i did resolve the issue yesterday

saved the image in device as bitmap and again extracted it

[2019-03-05 08:02] RahulPrajapati97 commented on #392
I am also facing the same error. I am not getting OTP.
When i am entering my mobile no to get otp  it give me this response

GET https://demo.openmf.org/fineract-provider/api/v1/search?query=972*****05&resource=clients&exactMatch=false http/1.1
03-05 13:24:55.411 26485-17444/org.mifos.mobilewallet.mifospay D/OkHttp: --> END GET
03-05 13:25:05.811 26485-17444/org.mifos.mobilewallet.mifospay D/OkHtt

[2019-03-05 10:52] RajaVamsi11 opened #415 "Remove Redundant or Verbose code constructs"
**Summary:**

This issue focuses on removing the redundant code constructs like:

- Unnecessary **return** statements:  This refers to remove any unnecessary **return** statements at the end of constructors and methods returning **void**. These may be safely removed.

- Redundant String operations: This refers to remove redundant String-related operations like calling
   String.toString() or Strin

[2019-03-05 19:05] RajaVamsi11 commented on #398
@droidchef What are your views on this issue?

[2019-03-05 19:10] aggarwalpulkit596 opened #418 "Use Google Confirm Credentials"
**Summary:**
The app should use Confirm Credentials for devices above API 23 as it is been used by most of apps now for devices below 23 we can continue the current security or can use keyguard manager for them
References
https://github.com/googlesamples/android-ConfirmCredential

[2019-03-06 09:51] aggarwalpulkit596 opened #419 "Support for Gradle Play Publisher"
**Summary:**
All Support for Triple t Gradle Play Publisher for automated publishing of app to play store
References
https://github.com/Triple-T/gradle-play-publisher

[2019-03-06 11:41] RajaVamsi11 commented on #419
@aggarwalpulkit596 I think it is not necessary for now as our project is still under development and many features need to be added.What are your views on this issue @luckyman20 @naman14 .

[2019-03-06 12:32] RajaVamsi11 opened #420 "Limit the digits of Credit Card Number while adding a new card to Saved Cards."
**Summary:**

There should be a limit of digits while entering a Credit Card Number (In add card dialoge box)  to Saved Cards list and a validation check should be present to check the entered Credit card number is not less than 16 digits.

**Steps to reproduce:**

Home --> SavedCards --> click on Add Card button.

**Expected behavior:**

There shoud be a limit of digits while entering Credit/Debi

[2019-03-06 12:32] RajaVamsi11 commented on #420
I am working on this issue.

[2019-03-06 13:39] RajaVamsi11 opened #422 "Use Spinner instead of simple EditText in KYC level 2 Registration"
**Summary:**

In KYC level 2 Registration, One has to enter his ID type in an EditText for the KYC verification process and browse the file and submit it for verification. Instead of using EditText my idea is to use Spinner because the documents used for KYC verification are limited. Mainly the documents used for verifications are:

- Aadhaar Card
- Pan Card
- Voter's ID Card
- Driving License
- P

[2019-03-06 13:40] RajaVamsi11 commented on #422
@naman14 @luckyman20 Can I start working on this issue?

[2019-03-06 14:21] #415 closed

[2019-03-06 14:34] naman14 commented on #419
Not required for now

[2019-03-06 14:34] #419 closed

[2019-03-06 14:53] aggarwalpulkit596 commented on #418
@naman14 What are your views for this?

[2019-03-06 20:36] RajaVamsi11 opened #423 "Add trim() method to all EditText objects in the project"
**Summary:**

Add .trim() method to all EditText objects in the whole project. This method returns a copy of the string, with leading and trailing whitespace omitted. The Unicode value of space character is ‘\u0020’. The trim() method in java checks this Unicode value before and after the string, if it exists then removes the spaces and returns the omitted string.

**Example**
For example, In the

[2019-03-06 20:37] RajaVamsi11 commented on #423
@naman14 @luckyman20 Can I work on this issue?

[2019-03-07 12:39] Vipinsoni38 opened #425 "adding receipt feature when a transaction is successful"
when a transaction is completed there is no transaction receipt, for example generally, we send the screenshot of the amount of money sent via paytm to our friend in order to confirm the money dispatched from our side
the receipt in the form of confirmation will be more convenient

![screenshot_20190307-180150](https://user-images.githubusercontent.com/32003964/53957154-a0344c00-4103-11e9-9a90-1b4

[2019-03-07 13:14] RahulPrajapati97 commented on #316
When i am try to sign in with google it give me Error of  "Goggle Sign In Fail " in android version 6,7,8,9 .
All device get this error and otp also not working.

[2019-03-07 13:20] RahulPrajapati97 commented on #316
When I am try to log in with google in device J7 prime android version 6,Moto G5 android version 7,MI Y2 android version 8 and Nokia 6.1 android version 9 all device have error of "Google Sign In Failed"

[2019-03-07 19:26] RajaVamsi11 opened #426 "Add a check for ID Type in KYC Registration Level 2"
**Summary:**

In KYC Registration Level 2, if you leave ID Type EditText empty and upload any document and click on submit button, then we must show a toast saying that ID Type cannot be empty. There must be a condition to check if the ID Type is empty or not. If empty then show a toast "Please enter ID Type".

**Steps to reproduce:**

[dev]  Home --> Complete KYC --> Level 2 . Leave ID Type field

[2019-03-07 19:27] RajaVamsi11 commented on #426
I am working on this issue.

[2019-03-08 06:19] shaliniv16 opened #430 "An error appears even if the right mobile number entered in Transfer Activity."
**Summary:

An error appears even if the right mobile number entered in Transfer Activity.

**Steps to reproduce:**

- Go to Transfer Activity
- Type wrong vpa
- Go to Mobile Number
- Type Mobile number
- Click on PROCEED button

**Expected behavior:**

Its should show transaction dialog.

**Observed behavior:**

Error message appearing.

**Device and Android version:**

Device Real Me 2
Android V

[2019-03-08 06:31] shaliniv16 commented on #430
I am working on this.

[2019-03-08 06:59] RahulPrajapati97 commented on #392
Can any one give me login credential because I am not getting Otp and I am also not able to login through Google.

[2019-03-08 07:31] RajaVamsi11 commented on #392
@RahulPrajapati97  Try these
username: mifospay01
password: Password1

[2019-03-08 07:36] RahulPrajapati97 commented on #392
@RajaVamsi11 Thank you

[2019-03-08 07:52] RahulPrajapati97 commented on #371
When we are searching for merchant then if merchant is not present then it should give me Toast or Something which tell me that merchant name is not present.

[2019-03-08 09:30] RahulPrajapati97 commented on #220
Is this issue is solved?

[2019-03-08 09:49] RahulPrajapati97 commented on #371
Is this necessary to search all data of merchant means why we are not searching merchant by their name?

[2019-03-08 09:55] RajaVamsi11 commented on #220
@RahulPrajapati97 Adding scroll view in the static page is not necessary as @luckyman20 said.

[2019-03-08 09:55] #220 closed

[2019-03-08 09:55] RahulPrajapati97 commented on #430
In this we have any demo  data for testing ?

[2019-03-08 10:59] shaliniv16 opened #431 "An incorrect pop-up message appears when clicked on ADD button in Saved Cards."
**Summary:**

An incorrect pop-up message appears when clicked on ADD button in Saved Cards.

**Device and Android version:**

Device Real Me 2
Android Version 8.1.0

**Gif:**

![videotogif_2019 03 08_16 24 50](https://user-images.githubusercontent.com/32845033/54025009-43966700-41bf-11e9-8511-cda1582dbe32.gif)

[2019-03-08 12:03] RahulPrajapati97 commented on #220
@RajaVamsi11  .k

[2019-03-08 14:48] RajaVamsi11 opened #433 "ScrollView size validation issue in XML files"
**Summary:**

When the inspection is done on the whole project, Android studio throws ScrollView size validation issue in some of the XML files.

![screenshot from 2019-03-08 19-59-46](https://user-images.githubusercontent.com/30550059/54034811-d6de9500-41dd-11e9-8c6b-685843a19439.png)
I am going to change layout_width or layout_height to wrap_content rather than match_parent or fill_parent to rem

[2019-03-09 05:56] RahulPrajapati97 commented on #214
After selecting user profile image from storage there must be a button of save then user profile set and changes are reflected.

[2019-03-09 06:07] RajaVamsi11 opened #437 "Add maxLines attribute in EditTexts of KYC Registration level 2 and 3"
**Summary:**

In KYC Registration level 2 and 3 there are two EditTexts in which maxLines attribute is not defined. This causes the UI glitch in both the fragments as shown in the screenshots.

**Steps to reproduce:**

[dev] Home --> Complete KYC --> goto Level 2 and Level 3

**Expected behavior:**

`android:maxLines` attribute should be included in EditTexts

**Observed behavior:**

`android:maxL

[2019-03-09 06:38] Vipinsoni38 opened #439 "adding sharing feature of qr code generated"
**Summary:**

Summarize your issue here.

Adding sharing QR code feature would be a great asset to the customer

[2019-03-09 06:40] Vipinsoni38 opened #440 "Scan QR code from gallery"
**Summary:**

Summarize your issue here.
Sometimes it happens that we save a QR code in our local storage
if QR code is to be scanned why not just scan it locally  :)

[2019-03-09 06:49] RahulPrajapati97 commented on #392
@RajaVamsi11 Is there any demo data from which i can test the application?

[2019-03-09 06:51] RajaVamsi11 commented on #440
@Vipinsoni38 Seems like a valid issue.

[2019-03-09 06:53] RajaVamsi11 commented on #392
@RahulPrajapati97 What do you mean by demo data? If you log in into the app, there are demo cases/data of every activity from which we can test our app.

[2019-03-09 07:39] Vipinsoni38 commented on #440
Ya! just trying to solve it    :)

[2019-03-09 07:59] RajaVamsi11 opened #442 "Add Checks while entering details in KYC Registration level 1"
**Summary:**

There should be some checks which are required for when we are entering details in KYC Registration level 1. Currently, we do not have any checks to check if the fields are empty or not.

**Steps to reproduce:**

[dev]  Home --> Complete KYC --> Level 1 --> Try different things like leave some TextField empty and click on submit button.

**Expected behavior:**

There would be various

[2019-03-09 09:01] RahulPrajapati97 commented on #431
IS this issue solve?

[2019-03-09 09:04] RahulPrajapati97 commented on #425
@Vipinsoni38  Receipt in terms of pdf? which we can share and download in our device?

[2019-03-09 09:25] RahulPrajapati97 commented on #362
@RajaVamsi11  Is this issue solve?

[2019-03-09 09:25] RajaVamsi11 commented on #431
@RahulPrajapati97 A Pull Request is made resolving this issue but not merged for now. After reviewing it mentors will merge it. I think you can leave this issue.

[2019-03-09 09:26] RahulPrajapati97 commented on #362
@RajaVamsi11 In SetUpi PIN button of One Time Password and UPI PIN Setup are not working

[2019-03-09 09:31] RajaVamsi11 commented on #362
@RahulPrajapati97 That's because the backend code is not implemented for now.

[2019-03-09 09:42] RahulPrajapati97 commented on #362
Can I work on the One Time Password?

[2019-03-09 10:06] RahulPrajapati97 commented on #279
@prajurock  yes When search is pressed popular bank should hide and if bank is not present then these should give one screen of No Bank Available

[2019-03-09 10:36] RajaVamsi11 commented on #362
@RahulPrajapati97 You should discuss with the community in the channel as it is regarding OTP. Join the gitter and discuss there.

[2019-03-09 12:22] RajaVamsi11 opened #445 "Implement Aadhaar card number validation using Verhoeff Algorithm"
**Summary:**

In KYC Registration level 3 there is a field to enter PAN id number or Aadhaar id number to complete KYC verification. In case of Aadhar card number, we can implement a method to verify that the entered card number is valid using Verhoeff Algorithm like there is a method to verify the Credit card number using the Luhn Algorithm. The method returns true if the number is valid and retu

[2019-03-09 12:22] RajaVamsi11 commented on #445
I am working on this issue.

[2019-03-09 12:48] aggarwalpulkit596 opened #447 "Add Login Validation"
**Summary:**
There is no validation of empty string when login in,there should be validation of username and password before making the network call

[2019-03-09 13:40] RajaVamsi11 commented on #447
@aggarwalpulkit596 This is is solved in redesign branch. In the redesign branch, the login button will be enabled only if you enter username and password. Please make sure you check both the branches before you open an issue and start working on this. As the issue is solved is redesign branch there is no need to solve it in dev branch.

[2019-03-09 13:52] RajaVamsi11 commented on #447
@aggarwalpulkit596 As this is solved in redesign branch, you can close this issue.

[2019-03-09 13:57] #447 closed

[2019-03-09 14:41] shaliniv16 opened #449 "Show More button in Transaction History is not working"
**Summary:**

Show More button in Transaction History is not working.

**Device and Android version:**

Device Real Me 2
Android Version 8.1.0

**Screenshots:**

![screenshot_2019-03-09-20-05-27-12](https://user-images.githubusercontent.com/32845033/54072959-774cbc00-42a7-11e9-9df5-fff6d2683015.png)

[2019-03-09 20:38] RajaVamsi11 opened #451 "Limit the digits of Mobile Number in Mobile Verification and KYC Registration level 1 Activities"
**Summary:**

 There should be a limit of digits while entering Mobile Number in Mobile Verification Activity and in KYC Registration level 1.

**Steps to reproduce:**

[dev]  Login Page --> Sign Up --> Merchant --> Mobile number filed has no limit on digits.
[dev]  Home --> Complte KYC --> level 1 --> Mobile Number field has no limit on digits.

**Expected behavior:**

There should be a limit on

[2019-03-09 20:40] RajaVamsi11 opened #453 "Select a country pop-up dialog box is showing only two countries"
**Summary:**

In Mobile Verification activity and KYC Registration level 1 activity, when we are going to select a country the pop-up dialog box shows only two countries as shown in screenshots. The pop-up dialog box should show all the countries as an options to select as it shows in edit profile activity.

**Steps to reproduce:**

[dev] Login Page --> Sign Up --> Merchant --> Select country.
[de

[2019-03-10 10:43] shaliniv16 opened #456 "Add a confirmation Dialog in Delete Bank"
**Summary:**

Create a confirmation dialog in delete Bank

[2019-03-10 13:52] RajaVamsi11 opened #458 "EditBank option is missing in Bank Account Details"
**Summary:**

There should be an option to edit a bank in Bank Account Details Activity.

**Steps to reproduce:**

[dev] Home --> BankAccount --> click on any linked bank account

**Expected behavior:**

There should be an option to edit the details of a bank account.

**Observed behavior:**

EditBank option is missing.

**Device and Android version:**

Device : Redmo note 3
Version: 6.0.1

[2019-03-10 15:02] RajaVamsi11 opened #460 "Add a confirmation dialog while disabling the account"
**Summary:**

Disable account is an operation which should have a confirmation dialog. Create a confirmation dialog when clicked on disable account button.

[2019-03-10 20:32] RajaVamsi11 opened #462 "Link Your Bank Account button is not responding on first click"
**Summary:**

In Linked bank Accounts Activity, there is a button to link a bank account (Link Your Bank Account). When it is clicked for the first time it does nothing and when clicked the second time it opens a new activity showing all the banks to link your bank account.

**Steps to reproduce:**

[dev]  Home --> Bank Account --> Link Your Bank Account  (No response on the first click) --> Click

[2019-03-11 03:52] prajurock commented on #279
Yes. I am not working on this.anyone can take this issue.

[2019-03-11 03:54] shaliniv16 commented on #279
I am working on this.

[2019-03-11 04:02] prajurock commented on #279
ok.sure

[2019-03-11 04:58] RahulPrajapati97 commented on #279
@prajurock Can I work On this?

[2019-03-11 05:56] RahulPrajapati97 commented on #279
@prajurock I have solve this issue.

[2019-03-11 09:25] RajaVamsi11 opened #464 "If statement can be simplified to a single assignment in CardsPresenter"
**Summary:**

In CardsPresenter.java file, there is a redundant [if statement](https://github.com/openMF/mobile-wallet/blob/master/mifospay/src/main/java/org/mifos/mobilewallet/mifospay/savedcards/presenter/CardsPresenter.java#L222)  which can be simplified to a single assignment.

![Screenshot from 2019-03-11 14-43-36](https://user-images.githubusercontent.com/30550059/54112968-4dada500-440d-11e9

[2019-03-11 11:38] Vipinsoni38 opened #467 "Not showing Merchants with no Virtual payment address"
**Summary:**

the merchants which do not have a VPA (Virtual Payment address ) which may be created by mistake will not be shown Thus will give user a better experience

**Screenshots:**
![image](https://user-images.githubusercontent.com/32003964/54121393-5196f280-4420-11e9-8de8-687becc0b234.png)

[2019-03-11 11:56] RajaVamsi11 commented on #467
@Vipinsoni38 I think they are added for testing purpose.

[2019-03-11 11:59] Vipinsoni38 commented on #467
Yes but what if they get added by some mistake i mean no VPA!
in that case it will omit those without VPA

[2019-03-11 12:14] shiv07tiwari opened #468 "Incorrect Phone number in various places"
**Summary:**

What I observed is that original phone number of user is +91 6352525252, but in sections such as -
- Send
- Request
It shows +44 916352525252

It should be fixed as we need proper phone number in these sections.

[2019-03-11 12:49] Vipinsoni38 opened #470 "Adding card search functionality"
**Summary:**

Adding search functionality in the cards section will help user to easily find a card saved which will improve user experience with the app.

[2019-03-11 13:55] RajaVamsi11 commented on #468
@shiv07tiwari Try dev branch once. It was working fine in the dev branch.

[2019-03-11 17:15] Vipinsoni38 opened #472 "Removing Toast messages in faq"
Removing toast messages in FAQ

![Screenshot_20190311-224421](https://user-images.githubusercontent.com/32003964/54143191-5921c000-444f-11e9-8fb4-74dba710c9a9.png)

[2019-03-11 17:34] RajaVamsi11 commented on #472
@Vipinsoni38 I think toast messages are added for testing purpose and they will be removed at the time release. Don't need to worry about the toasts.

[2019-03-11 18:30] RajaVamsi11 opened #473 "Missing inputType attribute for some EditTexts"
**Summary:**

There are some EditTexts for which inputType attribute is missing. The inspection gives the following result.

![Screenshot from 2019-03-11 23-36-09](https://user-images.githubusercontent.com/30550059/54148003-69d73380-4459-11e9-938a-7f126914a486.png)

I am going to add missing inputType attributes to those EditTexts.

[2019-03-12 11:14] RajaVamsi11 opened #475 "Change the design of KYC Activities"
**Summary:**

Presently, KYC Registration all three level activities use simple EditText fields. Instead of them, we can use TextInputEditText fields which are being used in the login activity to increase user interface of the app. Making these changes will be more interactive and user-friendly.

**Screenshots:**

**KYC Level 2 Registration Activity present**
![Screenshot_2019-03-12-16-05-49-095_o

[2019-03-12 16:00] shiv07tiwari opened #477 "App crashes in a particular situation"
**Summary:**

When the user opens KYC and presses back before loading is completed, then the app crashes.

![videotogif_2019 03 12_21 27 44](https://user-images.githubusercontent.com/38163725/54215462-f7745b00-450d-11e9-9bea-152cfe171159.gif)

[2019-03-12 16:54] shaliniv16 commented on #477
@shiv07tiwari please refer to #213 and #200

[2019-03-12 16:57] shiv07tiwari commented on #477
@shaliniv16 I think you misunderstood the issue. Its not about bringing the user to particular activity, but the app crashes which has to be handled.

[2019-03-12 17:00] shaliniv16 commented on #477
@shiv07tiwari Can you please explain how I could produce the issue again?

[2019-03-12 17:04] shiv07tiwari commented on #477
@shaliniv16 -
1. Open KYC section
2. Press back button before the loading is done
3. Again press back button

[2019-03-12 17:17] shaliniv16 commented on #477
@shiv07tiwari You have simply mentioned the obvious steps to exit the app. You will reach home activity if you press the back button before the loading is done. Pressing the back button again will allow the user to exit the app. This is not how the app will crash.
Have I misinterpreted the steps mentioned?

[2019-03-12 17:42] shaliniv16 opened #478 "Error state view is missing in card and invoices activity"
**Summary:**

Error state view is missing in card and invoices activity.

[2019-03-12 18:42] shiv07tiwari commented on #477
Pressing on back button keep the user in KYC activity, and then the back button takes him to the home activity.

[2019-03-12 19:25] shaliniv16 commented on #478
@luckyman20 Can I start working on this issue?

[2019-03-12 19:41] RajaVamsi11 commented on #477
@shiv07tiwari I tried the above mentioned steps but I did not find any crash on my mobile. @shaliniv16 Can you try the steps and tell if the app was crashing on your device.

[2019-03-12 19:53] shaliniv16 opened #479 "App crashes while uploading the document in KYC."
**Summary:**

App crashes while uploading the document in KYC.

**Steps to reproduce:**

- Click on Complete KYC
- Click on Level 2
- Click on Browse button
- Click on any File

**Expected behavior:**

It should upload the file.

**Observed behavior:**

App crashes.

**Device and Android version:**

Device Real me 2
Android version 8.1.0

**Gif:**

![videotogif_2019 03 13_01 19 20](https://user-im

[2019-03-13 10:13] Vipinsoni38 opened #480 "Once User Opts for "Forgot passcode login manually" by mistake ends up every time login via username & password"
Once if user has opted for logging "Forgot passcode login manually" even by mistake and we close the app to restart it, this time the app will demand the username and password.

PS: this happened to me when i tried to log in to the app and accidentally clicked on forgot passcode and then inconveniently had to login via username and password

[2019-03-13 12:16] RajaVamsi11 commented on #480
@Vipinsoni38 Please refer [this](https://github.com/openMF/mobile-wallet/issues/327) issue. The solution is proposed to add a confirmational dialog box when clicked on "Forgot passcode login manually" and that is implemented in [this pull request](https://github.com/openMF/mobile-wallet/pull/331). I think it is duplicate of that issue.

[2019-03-13 13:15] Vipinsoni38 commented on #480
i think that is different
because even if you give a dialogue box still it will invalidate pin login and go with only username and password which is not convenient method

[2019-03-13 13:57] RajaVamsi11 commented on #480
@Vipinsoni38 What do you propose a solution to this issue? Once a user forgot his passcode and he wants to log in, the only way to log in is using username and password. As we added a confirmational dialog box when user accidentally press the forgot paascode button he will have a chance to cancel that option.

[2019-03-13 14:19] RajaVamsi11 opened #481 "Create the Code Of Conduct.md"
**Summary:**

There should be a code of conduct file in the project.

[2019-03-14 11:10] Vipinsoni38 commented on #480
Just think it that way that you get two methods of sign in
i think this method seems more comfortable rather than showing dialog box :)

[2019-03-14 12:05] RajaVamsi11 commented on #480
If the user forgot his passcode and he saw two methods of the login in login page he obviously chooses the credentials login rather passcode because he doesn't know his passcode.

**Another example** : If a user newly installed application and he saw two methods of login. The first method is to use username and password (Which he will get at the time of registration) and the second one using passc

[2019-03-14 12:08] Vipinsoni38 commented on #480
Hmm Got it.
Cool I'll proceed with another issue
Thnx @RajaVamsi11 couldn't think that way

[2019-03-14 12:08] #480 closed

[2019-03-14 17:28] shaliniv16 opened #484 "Pop-up messages is missing in Complete KYC"
**Summary:**

When any field is empty it should show a pop-up message which is missing in Complete KYC level 3

[2019-03-14 18:33] shaliniv16 opened #486 "Clear the text of search menu."
**Summary:**

There should be a cross(x) button present in the search menu which clears the text in the search bar. It is currently missing.

[2019-03-14 19:02] RajaVamsi11 commented on #484
@shaliniv16 Please check [this issue](https://github.com/openMF/mobile-wallet/issues/442) and [this issue](https://github.com/openMF/mobile-wallet/issues/426). Checks for Registration Level 1 and Registration Level 2 are already implemented. So Can please update your issue and PR according to that.

[2019-03-16 20:06] shaliniv16 commented on #468
@RajaVamsi11 I found this same error too. @shiv07tiwari If you are not working on this issue I would like to send PR. I have already solved this issue.

[2019-03-16 20:34] shaliniv16 commented on #307
This issue is not present in dev branch.

[2019-03-16 20:34] #307 closed

[2019-03-16 20:52] shaliniv16 commented on #306
This issue is not present in dev branch.

[2019-03-16 20:52] #306 closed

[2019-03-16 21:38] RajaVamsi11 commented on #468
@shaliniv16 @shiv07tiwari Can you please add screenshots.

[2019-03-17 06:34] shaliniv16 opened #488 "Scroll bar is missing in Transactions History and Other Bank Screen."
**Summary:**

Presently there is no scroll bar in Transactions History and Other Bank Screen.

[2019-03-17 08:49] shaliniv16 opened #490 "Empty view is missing in Link Your Bank Account"
**Summary:**

There should be an empty view when no bank is found in Link Your Bank Account.

[2019-03-17 16:47] codepoet2017390 opened #493 "Adding snackbar to alert user if he's not connected to the internet"
**Summary:**

If the user is disconnected from the internet he should be notified via a prolonged Snackbar that he is not connected to the Internet. though there are toast messages showing error fetching information but none of them identifies the network connection. This issue is pretty annoying in the Passcode Activity as there is no visual indication of any errors.

**Expected behavior:**
User

[2019-03-17 16:54] RajaVamsi11 commented on #493
@codepoet2017390 Can you please refer #398. Adding sweet error library when it is not connected to internet is better than toasts and snackbars. I am presently working on this issue to show No internet screen using sweet error library which is implemented in Mifos-Mobile.

[2019-03-17 16:55] codepoet2017390 commented on #493
@RajaVamsi11 have the mentors approved the use of this library.

[2019-03-17 16:59] RajaVamsi11 commented on #493
As it is implemented in Mifos Mobile, I think there will be no problem in implementing in this project. The mentors are busy with the works and they will respond very soon.

[2019-03-17 17:00] codepoet2017390 commented on #493
@RajaVamsi11 ok i'll close this issue depending on mentors respose.

[2019-03-17 17:10] shaliniv16 commented on #493
@RajaVamsi11 what is the need of sweet error library? In redesign branch in some of the activity when not connected to the internet it is already showing an error state view.

[2019-03-17 17:11] shaliniv16 commented on #493
@codepoet2017390 Can you please once check the redesign branch for the same issue?

[2019-03-17 17:20] codepoet2017390 commented on #493
@RajaVamsi11  i just saw the library. I dont think there is some spefic use case that the library serves for our app.
@shaliniv16 the issue was found in redesign branch itself.

[2019-03-17 17:25] RajaVamsi11 commented on #493
@codepoet2017390 @shaliniv16 Yes the fragments/activities which are retrieving data to display using the internet are suitable to add the library like Saved cards, Notifications, and other fragments and activities.

[2019-03-17 17:39] codepoet2017390 commented on #493
@RajaVamsi11 the library cannot be used in passcode Activity. A snackBar is the only solution for that so i'm adding a Snackbar to passcode Activity and will be adding more checks to other activities is mentors dont find it useful to to add another third party dependency.

[2019-03-17 18:05] RajaVamsi11 commented on #493
@codepoet2017390 I think you are talking about this error message to be shown when the device is not connected to the internet. If yes, then it is implemented in dev branch, please take a look.
![Screenshot_2019-03-17-23-32-23](https://user-images.githubusercontent.com/30550059/54495798-40148580-490d-11e9-92e1-9058793a4ca1.png)

[2019-03-17 18:23] codepoet2017390 commented on #493
@RajaVamsi11 yes yes i'm sorry i didnt check in both the branches.

[2019-03-17 18:23] #493 closed

[2019-03-17 18:33] RajaVamsi11 commented on #493
@codepoet2017390 Not a problem. Just check dev, redesign branch and opened issues before opening a new issue :smiley:

[2019-03-18 10:35] shaliniv16 opened #496 "Scroll bar is missing in Notification Activity and various other."
**Summary:**

As a user,
I need scroll bar on Notification, FAQ, Invoices, Specific Transactions screen,
so that I can be aware of the list length.

**Device and Android version:**

Device Real me 2
Android version 8.1.0

[2019-03-18 11:24] shaliniv16 opened #498 "Cancel Button is not working in Edit Profile"
**Summary:**

On clicking cancel button it should clear the editText in password and passcode field.

**Device and Android version:**

Device Real me 2
Android version 8.1.0

**Gif:**

![videotogif_2019 03 18_16 43 50](https://user-images.githubusercontent.com/32845033/54526918-4a329480-499e-11e9-8c5e-d9e12c6f1736.gif)

[2019-03-18 14:03] shaliniv16 opened #500 "Search icon is not disappearing when typing anything in search box."
**Summary:**

The search icon is not disappearing when typing anything in the search box.

**Steps to reproduce:**

- Go to Merchants/Link Bank Account activity
- Type anything in the search bar

**Expected behavior:**

Search icon should disappear and a back arrow should appear.

**Observed behavior:**

The search icon is appearing.

**Device and Android version:**

Device Real me 2
Android versi

[2019-03-19 06:11] shaliniv16 commented on #242
I can't find this issue.

[2019-03-19 06:55] RajaVamsi11 commented on #242
@shaliniv16 The app is crashing in my device (Android version 6.0.1, Redmi Note 3). I will attach the GIF today evening. You can take look at the GIF.

[2019-03-19 06:56] RajaVamsi11 commented on #242
@luckyman20 I am working on this issue and will send PR to night.

[2019-03-19 07:43] Vipinsoni38 opened #501 "Add account button not working in dev_redesign"
add account in finance section is not working
![20190319_131023_rmscr](https://user-images.githubusercontent.com/32003964/54588380-d4cfce00-4a48-11e9-85e9-2f40080117a9.jpg)

[2019-03-19 07:52] Vipinsoni38 opened #502 "Add Card option in branch dev_redesign"
No add card functionality in the redesign branch

![20190319_131934_rmscr](https://user-images.githubusercontent.com/32003964/54588843-08f7be80-4a4a-11e9-800e-7f1d29b4bb24.jpg)

[2019-03-19 08:37] shaliniv16 commented on #501
@Vipinsoni38 this issue is resolved in Dev branch.

[2019-03-19 08:40] shaliniv16 commented on #502
@vipinsoni38 please refer to #337

[2019-03-19 08:52] Vipinsoni38 commented on #501
Adding these Features will simplify the process
almost everything of branch redesign is resolved in Dev
So just trying to smoothen the process :)

[2019-03-19 08:53] Vipinsoni38 commented on #502
Cool

[2019-03-19 09:02] Vipinsoni38 opened #504 "Change mobile number dont have a valid number checker"
while changing mobile number user can add any random mobile number
this can be reduced by using min and max num of digits to be entered by a user

[2019-03-19 09:05] shaliniv16 commented on #504
@vipinsoni38 please refer to#381

[2019-03-19 09:06] #504 closed

[2019-03-19 09:22] Vipinsoni38 opened #505 "Coping the VPA ID while clicking on Card of merchants"
While watching list of merchants clicking on a particular merchant card currently don't do anything adding a coping functionality will help the user to save time

[2019-03-19 09:33] shaliniv16 commented on #502
@vipinsoni38 Can you please close this issue? This one is already solved.

[2019-03-19 10:15] RajaVamsi11 commented on #502
@Vipinsoni38 Please close this issue to remove duplicate issues from the projects.

[2019-03-19 10:21] RajaVamsi11 commented on #501
@Vipinsoni38 The redesign branch is only for UI purpose. As @shaliniv16 told that implementing features that exist in dev branch does not make sense. The mentors will make decisions to add features in the redesign branch.  Minor UI issues can be solved in redesign branch rather than adding features that are already implemented in other branches. Hope you understand.

[2019-03-19 13:34] #502 closed

[2019-03-19 13:36] Vipinsoni38 commented on #501
hmm ohk got it!
thnx @RajaVamsi11

[2019-03-19 13:36] #501 closed

[2019-03-19 14:40] Vipinsoni38 opened #508 "Clicking on back button directly exits even if search results are displayed"
**Summary:**

When a user enters merchants Fragment and search for a merchant and press back button this should first clear the search results and on the second back press it should exit that fragment

![20190319_200746](https://user-images.githubusercontent.com/32003964/54614642-c1415900-4a82-11e9-9763-859c27f8cb59.gif)

[2019-03-19 15:59] shaliniv16 commented on #508
@vipinsoni308 I am already working on this issue #500

[2019-03-19 16:04] Vipinsoni38 commented on #508
mine is different @shaliniv16
will you please again explain yours issue its not clear enough

[2019-03-19 17:12] RajaVamsi11 commented on #508
@shaliniv16 I think your issue #500 and this issue is not similar. Can you please go through the summary of the issues again.

[2019-03-19 20:02] shaliniv16 commented on #508
I am trying to implement this.
![videotogif_2019 03 19_21 38 30](https://user-images.githubusercontent.com/32845033/54637947-e00a1480-4aaf-11e9-8f6a-54192186f108.gif)

[2019-03-20 08:40] Vipinsoni38 commented on #508
So that's something different
and its the work for redesign branch
you want to implement a design and I am trying to resolve onBackPressed event, I think they are pretty different

[2019-03-20 08:41] Vipinsoni38 commented on #508
@shaliniv16 that's something different
and its the work for redesign branch
you want to implement a design and I am trying to resolve onBackPressed event, I think they are pretty different

[2019-03-20 10:24] RajaVamsi11 opened #509 "Remove Redundant throws declarations"
**Summary:**

This issue focuses on removing the redundant throws clause present in the whole project. When I inspected the project I found there are 4 unnecessary throws declarations.

![Screenshot from 2019-03-20 15-35-16](https://user-images.githubusercontent.com/30550059/54676870-b096ee80-4b27-11e9-8e28-ad14cf1ef33e.png)

My idea is to remove the unnecessary throws declarations from the projec

[2019-03-20 10:25] Vipinsoni38 opened #510 "Log Out functionality Should be in Menu Option"
Logout Option should be in the menu option in the Home page

PS: currently it is in Menu Option -> Settings -> Logout

![20190320_155224_rmscr](https://user-images.githubusercontent.com/32003964/54677238-7ed25780-4b28-11e9-9941-c56065a188c2.jpg)

[2019-03-20 11:16] RajaVamsi11 opened #513 "Explicit type can be replaced with <>"
**Summary:**

This issue focuses on replacing the explicit type with diamond type <>. The inspection gives the following result.
![Screenshot from 2019-03-20 16-15-22](https://user-images.githubusercontent.com/30550059/54678628-8b0be400-4b2b-11e9-9e71-adb4216075da.png)

This line of code :

                this.accountTypeOptions = new ArrayList<AccountTypeOption>();
can be converted into:

[2019-03-22 05:52] Vipinsoni38 commented on #508
@shaliniv16  Would you please reply to the prev thread
just wanted to know should i start working on this issue

[2019-03-22 16:52] RajaVamsi11 opened #515 "Suspicious parameter name combination in GenerateQr.java file"
**Summary:**

In `GenerateQr.java` file, there is a method named encodeAsBitmap which was using this line of code in the try block.

              result = new MultiFormatWriter().encode(str,
                    BarcodeFormat.QR_CODE, WIDTH, WIDTH, null);
The third and fouth parameters are having same name WIDTH. The fourth parameter should be named HEIGHT instead of WIDTH. This is how suspicious

[2019-03-24 20:04] RajaVamsi11 opened #517 "Add static shorts for app"
**Feature Request:**

I want to introduce a feature of adding static shorts to the app for fragments/activities for quick access to users like:
- Transaction history
- Send/Recieve money
- Notifications

Implementing this feature will increase the User Experience (UX) of the app.

**Feature description**

App shortcuts were introduced in API 25 for the users to do their common tasks quickly. using

[2019-03-24 20:05] RajaVamsi11 commented on #517
@luckyman20 @naman14 Can I start working on this issue?

[2019-03-25 18:26] shaliniv16 opened #518 "Add flashlight in the QR code scanner"
**Summary:**

Adding a flashlight in the QR code scanner is helpful for the user.

**Device and Android version:**

Device Real Me 2
Android Version 8.1.0

[2019-03-25 20:54] shaliniv16 commented on #510
@Vipinsoni38 Most of the apps has log out functionality inside the Settings option.

[2019-03-26 10:09] njwardhan opened #521 "App icon missing"
**Summary:**

This issue is about the missing icon of the Mifos Mobile Wallet app.

**Expected behavior:**

It is expected that once the repo is cloned on the local device and is run, it should have the official Mifos Initiative logo to have a better and credible appearance.

**Observed behavior:**

Currently, the icon is set to the default android logo and is thus giving a poor appearance to the

[2019-03-26 10:44] shaliniv16 commented on #521
@njwardhan Can you please refer #354 once?

[2019-03-26 11:08] njwardhan commented on #521
@shaliniv16 , thanks for the concern.
I've made an issue regarding this and will wait for any of the mentor to
give a feedback. I'll accordingly make changes.
Thanks again and Happy Coding! :)

On Tue, Mar 26, 2019, 4:14 PM shaliniv16 <notifications@github.com> wrote:

[2019-03-26 12:06] shaliniv16 opened #522 "Show QR code must show Mobile Number."
**Summary:**

Show QR code must show Mobile Number in QR code details.

**Device and Android version:**

Device Real Me 2
Android version 8.1.0

[2019-03-26 14:55] njwardhan commented on #521
Sir, @droidchef , @naman14 , I would like to work on this issue. Can you please review it and give consent?

[2019-03-26 15:14] RajaVamsi11 commented on #521
@njwardhan Can I know that why did you closed the PR #520 . Any specific issue with that Pull Request? Just asking to help you if you have any problems.

[2019-03-26 15:22] njwardhan commented on #521
@RajaVamsi11 , I closed the PR #520 because it was not getting its Travis CI check cleared. I had missed out a few steps in the PR guidelines. So anticipating that to be a reason, I deleted the PR and planned to re-submit the PR after completing all the steps properly and then hopefully getting my checks cleared.
However, if you could give some info on the Travis CI check which showed my build to

[2019-03-26 15:45] RajaVamsi11 commented on #521
You can run the `./gradlew check` in the terminal of Android studio and you will know where the code is breaking the Travis build.

[2019-03-27 07:15] njwardhan commented on #521
@RajaVamsi11 , I tried the command in the android studio terminal. However, the build is still failing with some actionable tasks. This is the exact piece of the terminal which I am seeing:-

registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)

Gradle may disable incrementa

[2019-03-27 10:09] shaliniv16 opened #524 "When another item is clicked on the FAQ previous opened item won't close."
**Summary:**

When another item is clicked on the FAQ previous opened item won't close. We need only one (or zero) expanded group at a time.

**Device and Android version:**

Device Real Me 2
Android Version 8.1.0

**Screenshots:**

![Screenshot_2019-03-27-14-59-26-39](https://user-images.githubusercontent.com/32845033/55067229-5b1d8d00-50a5-11e9-8c34-7c0ac24936cb.png)

[2019-03-27 11:37] RajaVamsi11 opened #526 "Unnecessary Interface modifiers"
**Summary:**

While going through the codebase, I found there are many redundant modifiers on interfaces or interface components like modifier  public to the methods inside interface and static to the interface.

These kind of modifies can be removed as they are of no use. My idea is to remove the unnecessary interface modifiers from the project as the fields in an interface are implicitly public

[2019-03-27 14:35] RajaVamsi11 opened #528 "Inappropriate answers to questions in FAQ activity"
**Summary:**

In Frequently Asked Questions activity, the answers to the questions are not correct. The answer to all questions is showing `Answer 1`. The answers must be updated in the strings.xml file according to the question number.

**Device and Android version:**

Device: Redmi Note 3
Android version: 6.0.1

**Screenshots:**

![Screenshot_2019-03-27-19-59-19-523_org mifos mobilewallet mifosp

[2019-03-30 06:00] luckyman20 commented on #521
@njwardhan We are still in process in making a logo specific to this app.

[2019-03-30 06:14] njwardhan commented on #521
@luckyman20 , ok great!

[2019-04-11 14:54] RajaVamsi11 opened #533 "Delete all unused namespace declarations in XML files"
**Summary:**

After going through the code base of the app, I found there are some unused namespace declarations in some XML files like `dialog_choose_signup_method.xml` and `fragment_kyc.xml`.

My idea is to remove those unsed namespace declarations to clean the code.

[2019-04-11 19:14] RajaVamsi11 opened #535 "Wrong Toast messages in FAQ activity"
**Summary:**

Wrong Toast messages are popping in FAQ activity. When the question in the faq activity is expanded the toast message is displayed as "Question is collapsed" which must be changed to "Question is expanded"

**Steps to reproduce:**

Home --> FAQ --> Expand any question

**Expected behavior:**

Toast message should be correct

**Observed behavior:**

Toast message is displaying wrong

[2019-04-16 12:26] shaliniv16 commented on #535
@RajaVamsi11 Is your issue is similar to # 472?

[2019-04-16 12:30] RajaVamsi11 commented on #535
@shaliniv16 No.That issue is about removing and this is about updating the toasts.

[2019-04-16 12:38] shaliniv16 commented on #535
@RajaVamsi11 Yes, you are right, but you said that these toast messages should be removed at the time of release.

[2019-04-16 12:48] RajaVamsi11 commented on #535
@shaliniv16 I corrected the toats messages for development purpose only so that developer know that it was collapsed and expanded. It seems quite odd that toasts occurring collapsed all the time. So I updated those messages. The toasts can serve the purpose until the release of the app.

[2019-04-18 12:39] RajaVamsi11 opened #537 "Check internet connection while registering and logging in the app"
**Summary:**

While Registering and logging into the app without an internet connection, the application is simply displaying a toast showing "Error logging in " in Login activity and "Error" in Registration activity. It must alert the user displaying the toast message showing "**No internet Connection**".

**Steps to reproduce:**

Try registering and logging into the app without Internet Connecti

[2019-04-18 13:21] RajaVamsi11 commented on #537
@naman14 @luckyman20 I am working on this issue.

[2019-04-25 11:53] RajaVamsi11 commented on #172
@manddy Can I work on this issue as this is inactive?

[2019-04-25 14:43] RajaVamsi11 opened #539 "Android resources validation errors"
**Summary:**

This issue focuses on removing Android resources validation errors. The inspection gives the following result.

![Screenshot from 2019-04-25 17-37-52](https://user-images.githubusercontent.com/30550059/56742985-62fb4a80-6793-11e9-9250-b9b860b972a9.png)

There are some activities and services which are included in XML files but there are present in the codebase. My idea is to remove t

[2019-04-25 15:38] shaliniv16 opened #541 "Remove profile picture"
**Summary:**

`Remove Profile Picture` option must appear when there is already a profile picture presents

**Device and Android version:**

Device Real Me 2 Pro
Android Version 8.1.0

**Screenshots:**

![Screenshot_2019-04-25-20-01-09-35](https://user-images.githubusercontent.com/32845033/56745892-d6538b00-6798-11e9-976b-5a997c2a0271.png)

[2019-04-25 20:12] RajaVamsi11 opened #542 "Use sp instead of dp for text sizes"
**Summary:**

For declaring text sizes one must use `sp` instead of `dp` as sp respect the user preferences. When setting text sizes, you should normally use sp, or "scale-independent pixels". This is like the dp unit, but it is also scaled by the user's font size preference. It is recommended you use this unit when specifying font sizes, so they will be adjusted for both the screen density and th

[2019-04-28 18:38] shaliniv16 opened #544 "Browse button in KYC level 2 is not working properly"
**Summary:**

On clicking Browse button in KYC level 2 it should only open documents.

**Steps to reproduce:**

- Go to Complete KYC
- Click on KYC Level 2
- Click on Browse

**Expected behavior:**

All the word and pdf documents should be accessible.

**Observed behavior:**

Word documents are not accessible. Images are also shown in that list.

**Device and Android version:**

Device Real Me 2
A

[2019-04-28 18:38] shaliniv16 opened #545 "Change Profile Picture"
**Summary:**

`Change profile picture` button must show option like the gallery, google photos and camera instead of google drive.

**Steps to reproduce:**

- Go to Edit Profile
- Click on Profile Picture
- Click on Change Profile Picture

**Expected behavior:**

Its must show options like `Gallery`, `Google Photos` and `Camera`.

**Observed behavior:**

Its open google drive.

**Device and Androi

[2019-04-28 18:45] shaliniv16 commented on #544
@naman14 @luckyman20 should I start working on this issue?

[2019-04-28 18:45] shaliniv16 commented on #545
@naman14 @luckyman20 Should I start working on this issue?

[2019-04-28 18:46] shaliniv16 commented on #541
@naman14 @luckyman20 should I start working on this issue?

[2019-08-21 09:01] #518 closed

[2019-08-21 09:06] #505 closed

[2019-08-21 09:10] #467 closed

[2019-08-21 09:13] #449 closed

[2019-11-12 09:54] GOVINDDIXIT opened #560 "Remove hardcoded strings"
**Summary:**

Remove hardcoded strings. Convert them into String resource file.

**Steps to reproduce:**

Open Android Studio and Find out hard-coded text in XML file.

**Expected behavior:**

There should be no hardcoded strings

**Observed behavior:**

Few of the strings are hardcoded

**Device and Android version:**

Android 9
Redmi Note 5 Pro
MIUI 10

[2019-11-12 09:55] GOVINDDIXIT commented on #560
This issue is for GCI Students

[2019-11-12 16:52] GOVINDDIXIT opened #561 "Add frequently asked question under FAQ section"
**Summary:**

Add frequently asked question under the FAQ section
**_Check Help section of mifos mobile app for reference_**
Add question like how to add an account
How to access your payment history
How to add card etc
You can add a walkthrough statement in the answer

**Steps to reproduce:**

Open the FAQ section.

**Expected behavior:**

There should be some frequently asked question for the he

[2019-11-12 16:52] GOVINDDIXIT commented on #561
This issue is for GCI

[2019-11-13 02:38] harshshinde07 opened #562 "Set up passcode and Payments tab does not follow the color scheme of the app"
**Summary:**

The color of setup passcode screen after login and the send money screen in the payment tab does not follow the overall color scheme of the application

**Steps to reproduce:**

- Passcode screen
Login to the app to see the color difference in the passcode screen.
The passcode screen does not follow the color scheme.

- Payments screen
After login, press on the payments option in the

[2019-11-13 15:04] luckyman20 commented on #561
@GOVINDDIXIT Please be more specific as to what questions you want to get added.

[2019-11-13 18:14] GOVINDDIXIT commented on #561
@luckyman20 updated

[2019-11-16 15:39] TarunPal3551 commented on #560
I want to work on this, can I?

[2019-11-16 16:50] GOVINDDIXIT commented on #560
Issues under GCI label are for GCI Students and can be claimed by only GCI Students after Dec 2, 2019

[2019-11-16 17:12] TarunPal3551 commented on #562
I want to work on this issue

[2019-11-16 17:15] harshshinde07 commented on #562
@TarunPal3551 As you can see, this issue is tagged as GCI so you can't take up this issue

[2019-11-16 17:31] TarunPal3551 commented on #560
Ok sir, can you please help me in contribution for GSOC 2020

[2019-11-16 17:34] TarunPal3551 commented on #562
@harshshinde07 Ok can you please guide me for GSOC 2020?

[2019-11-16 21:28] GOVINDDIXIT commented on #560
@TarunPal3551 Sure, You can pick from any other open issues and ask for help if you are facing any problem.

[2019-11-17 18:34] harshshinde07 commented on #562
@TarunPal3551 Can you please elaborate what kind of guidance you need?

[2019-11-17 22:26] TarunPal3551 commented on #562
I want to contribute, so how I will start?

[2019-11-18 05:38] harshshinde07 commented on #562
First decide the technology in which you want to  work. Then start finding projects that you want to contribute to. Find and create issues and solve them. Hope this helps :)

[2019-11-19 13:28] sukhbeer opened #563 "Add margin start and end"
**Summary:**

 If minSdkVersion is less than 17, we should add both the older left/right attributes as well as the new start/end attributes. find XML file and add margin start and end.

[2019-11-19 13:29] GOVINDDIXIT opened #564 "Pressing logout button should open alert dialog box"
**Summary:**

Pressing logout should open an alert dialog box asking for confirmation of user to logout

**Steps to reproduce:**

Go to Settings and press the log out button

**Expected behavior:**

It should open an alert dialog box asking for user confirmation to log out

**Observed behavior:**

Immediate log out from the app
**Device and Android version:**

Android 9
Redmi Note 5 pro
MIUI 11

*

[2019-11-19 13:31] sukhbeer commented on #563
This issue for GCI student. @luckyman20  add GCI tag.

[2019-11-19 14:16] luckyman20 commented on #563
@sukhbeer You have told half of the solution already and guessing the other half is no-brainer. How can we add this as a task now?

[2019-11-19 14:22] sukhbeer commented on #563
@luckyman20  so can I remove the code?

[2019-11-19 14:36] luckyman20 commented on #562
@ankurs287 Can you please look into this since you were there while the redesign?

@letelete If you can help.

[2019-11-20 14:57] jddeep opened #565 "Update library dependencies and build tools, configure build variant"
**Summary:**

Update library dependencies and build tools versions to correct and latest ones.
Irradicate sync and build errors + warnings.
Issues with build variant.

**Steps to reproduce:**

Clone the project and build it.

**Expected behavior:**

The build should be successful without any dependency warnings or errors.

**Observed behavior:**

Dependency warnings, build tools outdated, build va

[2019-11-22 05:27] Bhavnaharitsa opened #566 "Lacking dependency"
**Summary:**

The Request Fragment uses a third party library for Phone number and Number Exception but initially the library is missing in gradle file and a new contributor has to manually add it.

**Steps to reproduce:**

Simple fork and clone

**Expected behavior:**

Clean build

**Observed behavior:**

Error in RequestFragment.java

**Device and Android version:**

Samsung J8

**Would you be w

[2019-11-22 16:17] shiv07tiwari commented on #562
@luckyman20 @harshshinde07 The passcode screen is basically using the passcode library. So, if we want to sync the color scheme, we'll have to do it manually. It is opening the custom screen from the library.

[2019-11-22 16:41] luckyman20 commented on #562
@shiv07tiwari I was talking about payments screen. Is that color tertiary for the app?

[2019-11-23 14:20] luckyman20 commented on #344
Fixed in #345

[2019-11-23 14:20] #344 closed

[2019-11-23 14:21] luckyman20 commented on #339
Fixed in #343

[2019-11-23 14:21] #339 closed

[2019-11-23 14:25] luckyman20 commented on #341
Invalid issue. Reason mentioned on PR #342

[2019-11-23 14:25] #341 closed

[2019-11-23 14:30] luckyman20 commented on #382
Fixed in #383

[2019-11-23 14:30] #382 closed

[2019-11-27 13:23] PiyushSharma99 commented on #565
I want to work on this as part of GCI 2019. @jddeep @luckyman20 @santoshconflux please guide me.

[2019-11-27 13:24] #521 closed

[2019-11-27 16:00] luckyman20 commented on #565
@PiyushSharma99 Let the GCI start ;)

@jddeep Please add more info and screenshots.

[2019-11-29 11:10] jsahil730 opened #569 "Issues in dev branch"
**Summary:**

There are various issues with dev branch, especially in Manifest and while building.

**Steps to reproduce:**

Simply open the folder in Android Studio, and try to build. Build fails.
If you try to install the app in your phone, errors appear.

**Expected behavior:**

Build and install completes without errors.

**Observed behavior:**

io.michaelrocks.libphonenumber.android.numberpar

[2019-11-29 14:06] luckyman20 commented on #569
This issue is already there #566

I would advice you to please check if that issue is already is reported or not.